[2021-08-24 15:50] vishalnarkhede commented on #375
@marco-ulge are you running any kind of debugger e.g., chrome debugger or reactotron? Debuggers have well know issues around file uploads on android, since they add some network interceptors. So best to test in release mode just to confirm.

[2021-08-25 16:13] streamiosupport commented on #815
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/14461'>Zendesk ticket #14461</a>:<br><br>Hello - did you have a chance to upgrade your reanimated version? If so did that solve your issue?
<br><p><em><small>°°°</small></em></p>

[2021-08-26 12:32] jaimebiernaski opened #821 "Mentions not triggered when user types @"
**Describe the bug**

Im using expo, and the mentions are not getting triggered when the user types @

**Dev environment info (please complete/provide the following information):**

- Package version
[code]
- react-native or expo version
[code]

**To Reproduce**
Steps to reproduce the behavior:
My setup

[code]

**Expected behavior**
When the user types @, appears the mention component to refers c

[2021-08-26 21:26] ZhengDao375 opened #823 "Error: You can't use a channel after client.disconnect() was called"
I just saw this Error:
"You can't use a channel after client.disconnect() was called.

**Expected behavior**
I want the original chat channel when the channel back from background to foreground.

![image_2021_08_26T21_23_46_775Z](https://user-images.githubusercontent.com/54350519/131038307-0b1ee924-f01b-47a7-8ba6-090a2c2ff9bc.png)

gz#14632

[2021-08-27 08:59] giautm opened #824 "Bug: markdown bullet render on native app"
**Describe the bug**
Message start with `- ` can't display on mobile app.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo):
[code]
- react-native or expo version: not releated
- Device/Emulator (android/ios) and OS version: all

**To Reproduce**
Steps to reproduce the behavior:

1. Send a message start wit

[2021-08-27 10:10] giautm opened #825 "Bug: unable to share user photo"
**Describe the bug**
I unable to share user photo from my app. The console log the error:

[code]

I added some console.log to get error from bellow code
https://github.com/GetStream/stream-chat-react-native/blob/8c4de979fc716a05966360be7b1280323e18e87e/package/expo-package/src/index.js#L125-L131

fileName: `Giàu Trần-employer@6-1a9b7175-fdb1-4f3f-3eee-e9b5936c4932-0.jpg`
[code]

**Dev environment

[2021-08-28 16:00] giautm opened #832 "Bug: when the connection is recovered, ChannelList did not update correctly"
**Describe the bug**

When the connection is recovered, ChannelList did not update correctly

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo):
[code]
- react-native or expo version: SDK 41
- Device/Emulator (android/ios) and OS version: iPhone 12 mini.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2021-08-30 03:51] streamiosupport commented on #832
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14665'>Zendesk ticket #14665</a>:<br><br>Hi Giautm

Thanks for the details.
We will check this and come back to you soon.

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-08-30 15:34] streamiosupport commented on #815
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/14461'>Zendesk ticket #14461</a>:<br><br>Hi - I'll close this out due to inactivity. Let us know if you have any further questions!

Regards,
Cody
<br><p><em><small>°°°</small></em></p>

[2021-08-31 06:39] streamiosupport commented on #816
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14467'>Zendesk ticket #14467</a>:<br><br>Hi

How did you go with this?

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-08-31 17:50] giautm commented on #832
Hi Seetha, any update on this issue? I really have a PR for this. Any blocking I can help?

[2021-08-31 19:16] streamiosupport commented on #823
Agent comment from Zachery Converse in <a href='https://getstream.zendesk.com/agent/tickets/14632'>Zendesk ticket #14632</a>:<br><br>Hi,

Thanks for these details. In order to use a channel, the user must be connected.

Please ensure that client.connectUser() is called with the current user after client.disconnect()

Feel free to provide more context and specifics on expected behavior vs actual.

[2021-09-01 01:23] streamiosupport commented on #832
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14665'>Zendesk ticket #14665</a>:<br><br>Hi Giau

Sorry, I couldn't reproduce this issue in Expo and in Native. The channel list loads without any issues with `{has_unread: -1}`

Our Engineer will be taking a look at your PR today.

In the meantime, can I have your complete filters/sort along with your package.json s

[2021-09-01 01:31] giautm commented on #832
You need take your app to background. Then bring it on forceground to preproduce

[2021-09-01 01:57] streamiosupport commented on #832
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14665'>Zendesk ticket #14665</a>:<br><br>Hi Giau

Ofcourse, I am taking the app to the background and then trying it, still no issues.

    const filters = {
    members: { $in: ['Seetha'] },
    type: 'messaging',
    };
    const sort = { has_unread: -1 };

This is how the ChannelListScreen looks like -

    const

[2021-09-01 06:15] giautm commented on #832
Hi Seetha, sorry because I don't explain clearly in the description. I just update your code with a  Button. Step by Step are:
1) Load the app.
2) Press "Update Sort" and see channel list changed.
3) Take the app to the background
4) Bring app to the foreground, see ChannelList not same as step 2), it reverted to step 1)

[code]

[2021-09-02 08:27] giautm commented on #832
Hi Sêtha, do you preproduce the bug success?

[2021-09-03 12:47] vishalnarkhede commented on #537
Hey @diegobugs @junminleeKS we are currently in process of addressing this issue. Please keep an eye on next few releases.

[2021-09-05 12:41] PadovaY opened #839 "Bug: OverlayProvider causes android app to crash when Updating to RN 0.65.1 and RN-reanimted 2.3.0-alpha.3"
**Describe the bug**
android app crashes instantly when using OverlayProvider
**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native): 2.8.0
- react-native version: 0.65.1
- Device/Emulator (android/ios) and OS version: Pixel 3,  android 11

**To Reproduce**
Steps to reproduce the behavior:

1.  open the app while using the Overla

[2021-09-06 02:11] streamiosupport commented on #839
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14828'>Zendesk ticket #14828</a>:<br><br>Hi

Thanks for reaching out to us.
Overlay provider was introduced as part of v3 in stream-chat-react-native.
Looks like you are at v2.8.0  Can you please upgrade to v3 and test this?
https://getstream.github.io/stream-chat-react-native/v3/

Please refer to this upgrade helper

[2021-09-06 07:12] PadovaY commented on #839
Sorry my bad, the actual version is 3.7.2

[2021-09-07 03:42] Marcoo09 commented on #148
I'm facing this issue. I tried to mark as read the channel messages manually but still not working.

[2021-09-07 07:18] streamiosupport commented on #839
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14828'>Zendesk ticket #14828</a>:<br><br>Hi

No worries, thanks for the details.
We will check this and come back to you soon.

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-09-07 11:07] #825 closed

[2021-09-07 12:14] #832 closed

[2021-09-08 09:53] giautm commented on #824
hey @vishalnarkhede, any update on this issue?

[2021-09-08 10:31] giautm opened #843 "Bug: AttachmentPicker overlap buttons on Android"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): 3.7.3
- react-native or expo version: SKDv41
- Device/Emulator (android/ios) and OS version: Android Simulator Pixel_4_XL_API_30

**To Reproduce**
Steps to reproduce the behavior:

1.

[2021-09-08 11:23] streamiosupport commented on #843
Agent comment from Guilherme Cortes in <a href='https://getstream.zendesk.com/agent/tickets/14918'>Zendesk ticket #14918</a>:<br><br>Hello,

Thanks for reaching out.
Let me check this and come back to you soon.

Best,
Guilherme Cortes
Integration Support Engineer
<br><p><em><small>°°°</small></em></p>

[2021-09-08 20:42] jaimebiernaski commented on #821
Hi, some update?

[2021-09-09 04:47] streamiosupport commented on #821
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14620'>Zendesk ticket #14620</a>:<br><br>Hi

Sorry, unfortunately, I am not able to reproduce this issue.
Can I have your package.json so I can try and replicate it?
Please refer to the package.json I used with.

Cheers
Seetha<br><a href='https://getstream.zendesk.com/attachments/token/t5rNOpSm1KhbR3ektwrBxpwg2' targ

[2021-09-10 12:39] evansibok opened #844 "Images don't display when openAttachmentPicker is clicked on MessageInput"
**Describe the bug**
After hooking up the default MessageList component, I attempted to test the chat by sending an image. On press of the default clip icon to open the attachment picker, the image gallery doesn't display the available images. The images are actually there but not visible. After clicking on an invisible square, the image returned a [Network Failure] error and failed to upload to a

[2021-09-10 12:41] streamiosupport commented on #844
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/15014'>Zendesk ticket #15014</a>:<br><br>Hi,

Thanks for reaching out! I’m looking into this for you now and will be in touch shortly. Can you please also share the network error?

Best,
Ryan
<br><p><em><small>°°°</small></em></p>

[2021-09-10 12:45] evansibok commented on #844
I have updated the issue with a screenshot of the network error. Thank you

[2021-09-10 13:50] jaimebiernaski commented on #821
Hi Seetha,

I'm trying to make it work with the [react native chat tutorial](https://getstream.io/chat/react-native-chat/tutorial/)

The mention works with the example with **no channels**  on section "Add Stream Chat to your application", but it **didn't work with the example with multi channels** on section "Multiple conversations"

[code]

package.json

[code]

[2021-09-10 16:41] streamiosupport commented on #844
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/15014'>Zendesk ticket #15014</a>:<br><br>Hi,

Thank you. Have you been able to test this on other emulators? Also, is there anything more descriptive related to the network error?

Best,
Ryan
<br><p><em><small>°°°</small></em></p>

[2021-09-10 17:32] Marcoo09 commented on #148
Any thought?

[2021-09-10 17:39] evansibok commented on #844
Hello,

I tested this on a real android device and the images show up, then I tested it again on the emulator and it still has the same issue.

The real device runs on Android OS 8.1.0

[2021-09-12 15:22] Marcoo09 opened #845 "Images sent preview not working."
**Describe the bug**
We're having a problem with the image attachments in one of our apps.
We have two get stream apps:
A production app located on Dublin and a Qa App located on Us East.
The code of both apps in the React Native application is the same, both are built on release mode.
In the QA App the image attachments are working but on Prod App not. Is it something missing on get stream apps s

[2021-09-13 03:11] streamiosupport commented on #845
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/15040'>Zendesk ticket #15040</a>:<br><br>Hi

Thanks for the details.
Sorry, this is not a bug and I have replied to your request received via support@getstream.io. We will discuss this further through emails.
Sorry, I am closing this request as the issue section of this Github repo is now reserved only for bug report

[2021-09-13 11:58] #845 closed

[2021-09-13 12:02] vishalnarkhede commented on #844
Hey @evansibok so just to confirm, is it the emulator only issue? I would suggest testing attachment picker feature in release mode. Debuggers have well known issues with upload functionality in general on react-native

[2021-09-13 12:07] vishalnarkhede commented on #843
Hey @giautm please check this article - https://getstream.io/chat/docs/sdk/reactnative/basics/troubleshooting/#image-picker-incorrect-height. Let me know if thats helpful, otherwise we can reopen this issue.

[2021-09-13 12:07] #843 closed

[2021-09-13 12:14] vishalnarkhede commented on #816
Closing this due to inactivity!!

[2021-09-13 12:14] #816 closed

[2021-09-14 05:48] streamiosupport commented on #821
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14620'>Zendesk ticket #14620</a>:<br><br>Hi

Thanks for the details.
I tried using your code and your package.json, still everything worked fine with mentions.
I have a couple of observations for you -

1. Your package.json doesn't contain references to stream-chat
2. I referred to the useHeaderHeight from @react-nav

[2021-09-14 18:40] #824 closed

[2021-09-14 19:02] vishalnarkhede commented on #795
Hey @Shaninnik would you mind setting up a bare minimum example app to replicate the issue?

[2021-09-14 19:07] vishalnarkhede commented on #745
@dakshbhardwaj this has been fixed as part of v3.8.2

[2021-09-14 19:07] #745 closed

[2021-09-15 10:46] vishalnarkhede commented on #783
Hey @jehartzog could you please upgrade to `stream-chat@4.2.0` and check if you still face this issue?

[2021-09-15 13:00] madsroskar commented on #815
This problem should be resolved when upgrading react-native-reanimated to [2.2.1](https://github.com/software-mansion/react-native-reanimated/releases/tag/2.2.1), which adds support for React Native 0.65.

[2021-09-15 13:00] #815 closed

[2021-09-15 13:01] madsroskar commented on #839
This problem should be resolved when upgrading react-native-reanimated to [2.2.1](https://github.com/software-mansion/react-native-reanimated/releases/tag/2.2.1), which adds support for React Native 0.65.

[2021-09-15 13:01] #839 closed

[2021-09-15 15:33] jehartzog commented on #783
@vishalnarkhede It seems to clear the issue on loading. I ran on a quick branch, as we won't be able to upgrade right now. When we upgrade I'll make sure to follow up if we see any more of the incorrect behavior. Thanks for the fix and the heads up.

[2021-09-15 16:41] vishalnarkhede commented on #783
Thats great to hear. I am going to close the issue for now, let's reopen in future if you face any further issue.

[2021-09-15 16:41] #783 closed

[2021-09-15 18:24] vishalnarkhede commented on #821
Hey @jaimebiernaski could you please setup a small repository/app or expo snack to replicate the issue. It will help speed up the resolution.

[2021-09-15 18:41] #511 closed

[2021-09-15 18:44] #575 closed

[2021-09-15 18:45] vishalnarkhede commented on #695
Closing this due to lack of activity!!

[2021-09-15 18:45] #695 closed

[2021-09-15 18:48] #821 closed

[2021-09-15 18:50] vishalnarkhede commented on #844
Closing this since its not related to this library,

[2021-09-15 18:50] #844 closed

[2021-09-16 09:31] vishalnarkhede commented on #537
Continuing here - https://github.com/GetStream/stream-chat-react-native/discussions/855

[2021-09-16 09:31] #537 closed

[2021-09-16 10:12] vishalnarkhede commented on #719
Hey @jaredpiedt this issues seems to be inherent with `expo-document-picker` package, which I can see in this example as well - https://snack.expo.dev/@vishalnarkhede/document-picker

So I don't think we can do much about it. Please raise it with Expo :)

[2021-09-16 10:12] #719 closed

[2021-09-16 10:16] vishalnarkhede commented on #765
Hey @alloystory we have made some improvements around connection logic as part of `stream-chat` package. Could you please try upgrading to latest version of stream-chat and check again?

[2021-09-16 11:23] vishalnarkhede commented on #691
Hey @parakramadr do you still need help with this?

[2021-09-16 14:59] vishalnarkhede commented on #823
This looks like an integration issue, so going to close this one and continue the conversation over ZD ticket.

[2021-09-16 14:59] #823 closed

[2021-09-16 15:17] luisfcofv opened #857 "TypeScript error - v3.8.2"
**Describe the bug**
TypeScript fails to pull correctly types from `stream-chat-react-native`.

**To Reproduce**
1. Import anything from `stream-chat-react-native`.

[code]

**Expected behavior**
No TS errors.

**Screenshots**

<img width="675" alt="CleanShot 2021-09-16 at 15 15 31@2x" src="https://user-images.githubusercontent.com/1128284/133638648-9c5ab901-bcc2-422a-976b-7c2b8e926d41.png">

[2021-09-16 16:59] zT0Tz opened #858 "unable to save image on android"
In ImageGallery when I click the the button on left bottom corner, the menu will pop up. In ios I have the option to save image, however in android I can only share image but not save it.

stream-chat-react-native: v3.8.0
react-native: v0.63.2

IOS:

<img src="https://user-images.githubusercontent.com/26011653/133654589-f4186722-241e-4f15-98eb-bb1f80c3adf0.jpg" width="350" height="700">   <img src

[2021-09-16 17:02] streamiosupport commented on #858
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/15173'>Zendesk ticket #15173</a>:<br><br>Hi, thank you for those details.
I'll take a look into this and get back to you as soon as I can with more info.

Regards
-Cody
<br><p><em><small>°°°</small></em></p>

[2021-09-16 17:06] vishalnarkhede commented on #857
@luisfcofv whats the version of typescript?

[2021-09-16 17:11] luisfcofv commented on #857
Sorry, forgot to mention it. we are using TS `4.3.2`.
The SDK version`3.8.0` works for us.

[2021-09-16 17:16] vishalnarkhede commented on #857
Thanks. We are working on a fix, thanks for pointing this out

[2021-09-16 17:33] zT0Tz opened #859 "Unable to close the ImageGrid popup in android"
**Describe the bug**

In ImageGallery when click the grid button on the right bottom, the ImageGrid will popup. In ios click the close button will bring we back to the previous ImageGallery view, however in android the close button doesn't work. Only way to get back is using the back navigator button of android system, this will send me back to message list. After press on an image again, it will

[2021-09-16 17:34] streamiosupport commented on #859
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/15175'>Zendesk ticket #15175</a>:<br><br>This request was closed and merged into request #15173 "unable to save image on android".
<br><p><em><small>°°°</small></em></p>

[2021-09-16 17:34] streamiosupport commented on #858
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/15173'>Zendesk ticket #15173</a>:<br><br>Request #15175 "Unable to close the ImageGrid po..." was closed and merged into this request. Last comment in request #15175:

**Describe the bug**

In ImageGallery when click the grid button on the right bottom, the ImageGrid will popup. In ios click the close button will

[2021-09-16 18:08] #857 closed

[2021-09-16 18:25] tsirlucas commented on #857
Hey, this is fixed in 3.8.3!

[2021-09-16 19:16] vishalnarkhede commented on #858
Hey @zT0Tz We use a third party dependency for share functionality - https://react-native-share.github.io/react-native-share/docs/share-single

So this is not something we can fix on our side. But if you want to modify share functionality, you can override the handler -  [`shareImage`](https://github.com/GetStream/stream-chat-react-native/blob/develop/package/native-package/src/index.js#L165). You

[2021-09-16 19:16] #858 closed

[2021-09-16 19:18] vishalnarkhede commented on #859
Hey @zT0Tz could you please check if you are able to reproduce the same issue on any one of these example apps?  https://github.com/GetStream/stream-chat-react-native/tree/develop/examples

If not, please check if you are using the right versions of dependencies.

[2021-09-21 10:22] philippeauriach opened #873 "DateHeader component not overriden by Channel prop"
**Describe the bug**
A clear and concise description of what the bug is.
DateHeader component is not used in `<Channel />`

[code]

The sticky header is replaced but the DateHeader is not taken into account? I tried setting on both Channel and MessageList.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
`

[2021-09-21 10:27] philippeauriach commented on #873
Ok my bad, I was supposed to use the "InlineDateSeparator" component to replace the one I wanted to replace. Had trouble to find it as it is not displayed in the "indicator" tabs on the doc : https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/

[2021-09-21 10:27] #873 closed

[2021-09-21 10:36] streamiosupport commented on #873
Agent comment from Luis Gereda in <a href='https://getstream.zendesk.com/agent/tickets/15271'>Zendesk ticket #15271</a>:<br><br>Hi Philippe,

Thank you for reaching out.

Please do not hesitate to contact us again if you have any other questions,

Regards,
Luis Gereda
Integration Support Engineer
<br><p><em><small>°°°</small></em></p>

[2021-09-23 21:47] vishalnarkhede opened #885 "Ability to customize autocomplete suggestions items"
- Add following new props on Channel component (similar to react sdk)

  - AutocompleteSuggestionHeader
  - AutocompleteSuggestionItem
  - AutocompleteSuggestionList

- Add an example of customizations to Guides section of docs

[2021-09-27 15:14] ANIBIT14 opened #887 "[Error: StreamChat error code 17: GetOrCreateChannel failed with error - Error on creating a new channel multi tenant config"
Getting this error on creating a channel in stream the code is
try {
    const newChannel = client?.channel('messaging', {
      team: activeSquad?.tribe_id,
      members,
      custom1Type: 'direct',
    });

    await newChannel?.watch();

    return newChannel;
  } catch (error) {
    console.log('ERROR ', error);
  }

  The error is
  ERROR [Error: StreamChat error code 17: GetOrCreateChannel

[2021-09-28 12:29] dariuscosden commented on #64
@shravyaramesh because the original question has completely been ignored and still has not been answered to this day? Perhaps for future users and customer retention it would be a good idea to provide an answer? There is nothing in the documentation explaining this very common use case. This is also the top result from google.

There had been proper documentation [for 2.x.x](https://github.com/Get

[2021-09-28 13:28] vishalnarkhede commented on #809
Hey @jeffjvick could you please try upgrading to `v3.9.0-next.6` and check?

[2021-09-28 13:29] #859 closed

[2021-09-28 13:52] vishalnarkhede commented on #64
Hey @dariuscosden in v3 of the SDK, you can provide a prop - https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#mymessagetheme

[2021-09-28 13:53] vishalnarkhede commented on #64
For any requests which haven't received attention on closed GH issues, please drop us an email at support@getstream.io to get our attention.

[2021-09-28 13:56] dariuscosden commented on #64
@vishalnarkhede thanks for the quick response. The provided solution does indeed work for v3!

[2021-09-28 17:54] vishalnarkhede commented on #792
Closing since its a duplicate of #678 . We will pick this up soon.

[2021-09-28 17:54] #792 closed

[2021-09-28 17:55] #691 closed

[2021-09-28 17:55] vishalnarkhede commented on #765
Closing due to inactivity. Please drop an email to support@getstream.io if you still need help here.

[2021-09-28 17:55] #765 closed

[2021-09-29 13:53] vishalnarkhede commented on #693
Hey @giautm we have added this to our backlog, and we will pick this up soon.

[2021-09-29 17:59] jeffjvick commented on #809
Hi @vishalnarkhede.  Sorry I hadn't updated this issue but I had "fixed" the problem by manually adding `channel.watch()` to all the of the channels I received from `client.queryChannels()`.  I was under the impression that by default the query option 'watch' is set to true when I queryChannels based on the docs: https://getstream.io/chat/docs/react-native/query_channels/?language=javascript and t

[2021-09-30 07:59] vishalnarkhede commented on #809
Hey @jeffjvick you don't need to manually add watch on channels. watch is added by default in queryChannels call - https://github.com/GetStream/stream-chat-js/blob/master/src/client.ts#L1766

Could you please confirm if you wait for `client.connectUser()` to succeed before rendering the Chat components?

[2021-10-01 07:59] gilbertl opened #897 "Crazy long network calls to channels API"
**Describe the bug**
We're seeing some network calls to stream chat that takes _minutes_ to finish responding

![image](https://user-images.githubusercontent.com/37179/135585484-0b694a97-d3a1-4920-8519-d1aaccf44382.png)

Note that 473691ms ~= 8 minutes

Same user has also complained about battery draining quickly

**Dev environment info (please complete/provide the following information):**

- str

[2021-10-01 09:44] vishalnarkhede commented on #897
Hey @gilbertl we keep the github issues only for bug reports. Please contact support@getstream.io for this issue. We will help you there with the network latency.

[2021-10-01 09:44] #897 closed

[2021-10-04 19:19] philippeauriach opened #901 "Encountered two children with the same key in channel list"
**Describe the bug**
A user with a lot of channels (> 50) gets weird channels displayed (using `ChannelList`) after scrolling a bit (he reported the bug as "conversation duplicated). Investigating in dev mode, it appears that channels pagination is working weirdly, and returning conversation already present, resulting in duplicates in the displayed list. I added logs in "usePaginatedChannels" line

[2021-10-05 05:38] jeffjvick commented on #809
Yes I await client.connectUser() before rending chat components.  I don't need to do that every time the app goes to the foreground though do I?

[2021-10-05 08:46] vishalnarkhede commented on #901
Hey @philippeauriach We have seen this issue, and the root cause in most of the cases was the `sort`. If the `last_messages_at` field on channel is null (basically empty channel), then our backend won't be able to sort those channels appropriately. So you should

- EITHER replace last_message_at sort param with `{ last_updated: -1 }`, which is also a default sort for channels api. So for this case

[2021-10-05 09:22] philippeauriach commented on #901
Hello @vishalnarkhede , we ended up removing the sort and it is working fine. Does the "last_updated" is also updated when a new message is sent in the channel ?

[2021-10-05 09:28] vishalnarkhede commented on #901
Hey @philippeauriach yes, thats correct.

[2021-10-05 09:28] vishalnarkhede commented on #901
I am closing this issue for now, but let us know if you have any more questions.

[2021-10-05 09:28] #901 closed

[2021-10-05 09:28] philippeauriach commented on #901
Perfect, thanks for the help !

[2021-10-05 12:59] RomanBob123 opened #902 "Is it possible to translate Actions into another language?"
Hi!

Is it possible to translate only the context menu and other static labels without touching user messages?

Regards!

![Screenshot from 2021-10-05 15-56-25](https://user-images.githubusercontent.com/91616406/136026930-caf63958-ddc7-4294-ade2-b4acf9a40594.png)

gz#15602

[2021-10-05 13:15] vishalnarkhede commented on #902
Hey @RomanBob123 yes it is possible. Please take a look at our internationalization documentation - https://getstream.io/chat/docs/sdk/reactnative/basics/translations/

[2021-10-05 13:29] RomanBob123 commented on #902
Thanks for the quick help!
![Screenshot from 2021-10-05 16-28-40](https://user-images.githubusercontent.com/91616406/136032364-bccb9f26-9e8e-4ca8-ac3a-922c2411af30.png)
!

[2021-10-05 13:30] #902 closed

[2021-10-11 07:20] ericzhou27 opened #911 "App Crashing on React Native 0.66 with "react-native-reanimated": "2.3.0-beta.2""
We recently upgraded to React Native 0.66 to accommodate iOS 15 and were forced to upgrade to "react-native-reanimated": "2.3.0-beta.2" as well. We found that streamchat is now consistently crashing and freezing in busy chat rooms as a result - we suspect that this has to do with the beta version of react-native-reanimated and Streamchat's use of it, which has many issues. We need a solution quick

[2021-10-11 11:34] RomanBob123 opened #913 "Can I only filter a private channel?"
Can I only filter a private channel(Channel for a List of Members)?

Or for this I need to add some kind of custom field so that I can sort the list by it in the future?

[2021-10-12 22:05] #911 closed, assigned to vishalnarkhede

[2021-10-13 10:38] madsroskar commented on #911
Hi again, Eric.

Unfortunately, I haven't been able to reproduce the same error yet on my end with React Native 0.66.0 and reanimated 2.3.0-beta.2.

If you encounter the same crash again in the future, don't hesitate to reopen this issue. I'll keep an eye out for similar crashes and give an update if I can reproduce it with our sample app.

[2021-10-13 16:53] thomasyim02 opened #924 "No real time theme change on messageSimple-content-markdown"
**Describe the bug**
When switching theme system-wise (aka. Dark Mode on/off), messageSimple-content-markdown won't apply to the change. Non-markdown stylings are okay.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native - 3.9.0)
- react-native 0.66.0
- Device/Emulator (android 11)

**To Reproduce**
Steps to reproduce the beha

[2021-10-13 19:02] madsroskar commented on #51
Just an update here, we're planning to include offline support in version `4.0.0`, which we expect to release by the end of the month. 🙂

[2021-10-13 22:23] madsroskar commented on #801
The PR linked above is expected to be part of our `4.0.0` release planned for the end of this month. 🙁

[2021-10-14 02:54] thomasyim02 commented on #51
This is exactly what I'm hoping for 💯 nice work!

[2021-10-14 03:00] nandorojo commented on #206
@vishalnarkhede are there plans to re-open this?

[2021-10-14 12:19] dmigach opened #929 "Disabling opacity animation when users tap messages"
Hello!
We'd like to disable opacity animation when users tap messages, at the moment this behaviour is hardcoded [here](https://github.com/GetStream/stream-chat-react-native/blob/584eb94cd95acec909661037b96f0539b3579880/package/src/components/Message/MessageSimple/MessageContent.tsx#L244)
Would be great to have a way of disabling it or passing custom values for `activeOpacity`.

**Dev environment

[2021-10-15 11:26] dariuscosden opened #930 "Deleting channel while on channel screen causes error"
Hey! I have encountered a bug, or at the very least I am not sure how to properly handle this case. This happens when a channel is deleted while a user has the app open and is on that channel screen. In my case, the deletion is triggered by another user in the channel (user deletes their account, all their channels get deleted)

This is the error thrown

<img src="https://user-images.githubusercon

[2021-10-15 11:32] RomanBob123 opened #931 "How to trigger a ChannelList update"
Is there a way to trigger the update of this ChannelList from the outside?

gz#15876

[2021-10-15 11:33] madsroskar commented on #930
Hey @dariuscosden, thanks for raising the issue.

I'll try this out and get back to you on how you can handle this and trigger your navigation.

[2021-10-15 11:41] madsroskar commented on #931
Hi, @RomanBob123.

In the `ChannelsContext`, there is a function exposed named [`refreshList`](https://getstream.io/chat/docs/sdk/reactnative/contexts/channels-context/#refreshlist) - would this do what you're aiming to do?

[2021-10-15 12:03] madsroskar commented on #931
Another way you could force a rerender/reload of the `ChannelList` component is to set a `key` prop on the ChannelList and update the value of this prop. For example:

[code]
In the example above, the ChannelList should reload each time `setKey` is called since `key` will have a new value.

-----

The Issue section of this Github repo is now reserved only for bug reports and feature improvements a

[2021-10-15 12:03] #931 closed, assigned to madsroskar

[2021-10-17 23:31] racsmith277 opened #933 "flagging a message twice results in error message"
**Describe the bug**
When a user tries to flag a message that has already been flagged they get an alert with a "Something went wrong" error message.

**Dev environment info (please complete/provide the following information):**

-stream-chat-react-native ^3.7.2
- react-native 0.64.1

**To Reproduce**

1. Create a message in a channel in the prebuilt UI
2. Flag the message using the prebuilt Messa

[2021-10-18 07:47] madsroskar commented on #933
Hi @racsmith277, thank you for reporting this.

I'll look into it, and get back to you as soon as we have a fix for this.

[2021-10-18 08:15] dmigach opened #934 "Mentioning more than one user doesn't work in some cases"
**Describe the bug**
When you try mentioning multiple users it won't work for the second user and further if you don't input an extra character before adding mentions.
Also it's possible to override you whole message if you tap a mention
Both issues are covered by a video below

**Dev environment info (please complete/provide the following information):**

We're using
├─ stream-chat-react-native-c

[2021-10-18 16:08] madsroskar commented on #934
Actually, it turns out to be an issue when a user only has a first name ("@John"), but it works as expected for users with two names ("@John Doe").

With names that only have the first name, I experience the same issue.

[2021-10-19 07:09] madsroskar commented on #934
I've gotten a fix that should solve the issues you're encountering working, and as soon as I know which release it will be part of, I'll update you here.

This has made clear some changes that are needed to how mentions are handled at the moment as well, but I'll make a ticket for that on our end, and limit the scope here to cover the issues you are facing so we can create a release for it soon.

[2021-10-19 14:14] philippeauriach opened #940 "Channels shown multiple times"
**Describe the bug**
A single channel is shown multiple times.

`<ChannelList/>` is shown only when the user is connected to GetStream, the following way :
[code]
`_filters` is the result of a useMemo, updated when we change the filters. Basically it is just `{type: 'messaging', members: {$in: [userIdentifier]}}`
`options` is static `= { limit: 30 }`
`ChannelItem` is a home made component followin

[2021-10-19 14:49] madsroskar commented on #940
Hi @philippeauriach, thanks for reaching out. I don't immediately know of tips, but I'll set up an app with the same version of the dependencies and test it out to try to reproduce the issue on my end.

I'm not sure I understand what's being synced in this case. Are you updating the channels with [custom data](https://getstream.io/chat/docs/javascript/channel_update/?language=javascript)? If so, i

[2021-10-19 15:03] philippeauriach commented on #940
Video sent to your email, with additional info about the app purpose and how it works! thanks again

[2021-10-20 10:49] madsroskar opened #943 "Resolve TODOs in the code base"
This is a list of the TODOs we currently have in the codebase - adding them to this issue so we can keep track of them.

This was gathered with the following command:

[code]

- [x] #1065
- [ ] [show error to user that they should wait until image is uploaded](https://github.com/GetStream/stream-chat-react-native/tree/develop/package/src/contexts/messageInputContext/MessageInputContext.tsx#L498)
-

[2021-10-21 22:32] #693 closed

[2021-10-31 19:48] #924 closed

[2021-11-01 14:08] vishalnarkhede commented on #929
Hey @dmigach actually you can just provider `additionalTouchableProps` on Channel component to override any props on underlying TouchableOpacity component - https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#additionaltouchableprops

[2021-11-01 14:08] #929 closed

[2021-11-01 15:27] vishalnarkhede commented on #933
Hey @racsmith277 we have updated this error message and it will be released as part of v4.0.0. Please keep an eye for release :) Hey @racsmith277 we have updated this error message and it will be released as part of v4.0.0. Please keep an eye for release :)

[2021-11-01 15:27] #933 closed

[2021-11-01 18:24] ericzhou27 opened #960 "[Urgent] Replies not working"
We are receiving the following error in production when sending a reply in a chat room. We haven't changed our channel settings at all - why are "quotes not enabled for this channel"?

[Error: StreamChat error code 19: SendMessage failed with error: "SendMessage failed with error: "SendMessage failed with error: "SendMessage failed with error: "SendMessage failed with error: "SendMessage failed wi

[2021-11-01 18:43] vishalnarkhede commented on #960
Hey @ericzhou27 thanks for bringing this up. Our backend team is currently working on fixing this and will get back to you as soon as possible. They will respond back on the ZD ticket!

[2021-11-01 18:43] #960 closed

[2021-11-01 19:20] #930 closed

[2021-11-01 21:30] sergeyzhukov opened #962 "doSendMessageRequest memoization"
**Describe the bug**

I have following code

[code]

Purpose of this code - do some actions before sending the actual message. The problem is that looks like doSendMessageRequest function is heavily over-memoized, because variables from other contexts inside onSend function not updating. You can even try this simple scenario and it will not work.

[code]

**Dev environment info**

- Package versio

[2021-11-02 08:13] vishalnarkhede commented on #962
Hey @sergeyzhukov heavy memoizations have been added to avoid un-necessary re-rendering of contexts, which results in re-rendering of heavy components.

If you would like to access some variables from other contexts within `doSendMessageRequest` you should make it a ref.

[code]

[2021-11-02 08:23] vishalnarkhede commented on #930
We will soon publish a patch release for this issue.

[2021-11-02 08:23] vishalnarkhede commented on #924
We will soon publish a patch release for this.

[2021-11-02 08:26] vishalnarkhede commented on #801
More broader customisation support for message action UI components and theming has been added to our planned v4 release. So I would recommend keeping an eye for it.

[2021-11-02 08:26] #801 closed

[2021-11-02 10:33] madsroskar commented on #930
:tada: This PR is included in version 3.9.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/stream-chat-react-native-core/v/3.9.2)
- [GitHub release](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.9.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 10:34] madsroskar commented on #924
:tada: This PR is included in version 3.9.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/stream-chat-react-native-core/v/3.9.2)
- [GitHub release](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.9.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-02 11:54] thomasyim02 commented on #924
@madsroskar @vishalnarkhede
Thank you for the update!

[2021-11-03 11:36] mfbx9da4 opened #973 "Query by phone number"
Sorry if this question is asked in the wrong repo, if so please direct me to the correct repo / comms channel.

Quick question around user management.

Our users sign in to our app by phone number. When Alice is adding members to a channel she should be able to see users who are both in her local phone contacts and on stream. What is the recommended way to do this setup?

Possible options
1. Use p

[2021-11-03 13:25] mfbx9da4 opened #974 "Why was ReactContext chosen for state management?"
AFIK, React Context is really not intended for state management and requires heavy amounts of memoization to avoid unnecessary re-renders. What is the justification for using ReactContext for state management?

https://blog.isquaredsoftware.com/2020/05/blogged-answers-a-mostly-complete-guide-to-react-rendering-behavior/#context-and-rendering-behavior
https://frontarm.com/james-k-nelson/react-conte

[2021-11-03 13:27] vishalnarkhede commented on #973
Hello and thanks for submitting an issue to our GitHub repository. We’re glad you’re getting hands on with the product. The Issue section of this Github repo is now reserved only for bug reports and feature improvements and suggestions. It looks like what you’re looking for is technical support using the product. For this support, we would suggest emailing our Customer Success and Engineer support

[2021-11-03 13:27] #973 closed

[2021-11-03 16:28] #974 closed

[2021-11-03 17:04] mishkeTz opened #976 "Click on a channel in ChannelList component doesn't work on Android"
**Describe the bug**
Click on a chat in ChannelList component is not triggered on Android, while it works fine on IOS.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native): ^3.8.3
- react-native: ~0.63.4
- Emulator: Android/API 30, 11.0

**Expected behavior**
The **onSelect** prop of ChannelList component gets called.

**Addit

[2021-11-03 17:30] vishalnarkhede commented on #976
Hey @mishkeTz We tried to reproduce this issue on latest version of stream-chat-react-native SDK our [TypescriptMessaging](https://github.com/GetStream/stream-chat-react-native/tree/develop/examples/TypeScriptMessaging) example application, but unfortunately couldn't.

It would really help us if you can cut a separate branch and help us reproduce the issue in this example app.

[2021-11-04 09:23] avivm commented on #148
I'm facing the same issue. Any update?

[2021-11-04 09:58] vishalnarkhede commented on #148
Hey @avivm @Marcoo09 This issue has been resolved as part of 3.9.x. I would recommend upgrading to latest version of stream-chat-react-native

[2021-11-04 10:11] avivm commented on #148
I'm using the following versions and still have the issue.
"stream-chat": "^3.13.1",
"stream-chat-expo": "^3.9.1",

For anyone with the issue I have fixed it using:
[code]

[2021-11-04 18:18] mishkeTz commented on #976
Hi @vishalnarkhede,
Thank you for fast reply, I was able to create a git with a reproducible error that happens in my case, it might be related to navigators: Stack -> Tab -> Stack (not sure);

Here's the link to the gist [https://gist.github.com/mishkeTz/b26ec44bfef1bf56614a67d036e77142](https://gist.github.com/mishkeTz/b26ec44bfef1bf56614a67d036e77142)

In the comment you can see the list of dep

[2021-11-04 23:38] alloystory opened #978 "Multiple Websockets being created"
repro:
1. open app
2. put app into background
3. put app into foreground
4. repeat 2 and 3

Hi, I recently launched a support ticket mentioning that some of my users have faced a Too many requests error. Diving deeper into the code, I realised that when the app goes from background into foreground, multiple websockets are opened.

Further diving deeper, it seems that the code at https://github.com

[2021-11-05 04:44] nextriot commented on #604
Any update on this feature? We're also very much in need of a standard way to do this.

[2021-11-05 11:07] madsroskar commented on #978
Hi @alloystory - thank you for raising this issue, and sharing the result of your investigation of this!

We will have a look at this, and get back to you once we've checked it out on our end and have a fix ready.

I really appreciate the specific information you've added here, that's really helpful!

Thanks,
Mads

[2021-11-05 11:17] madsroskar commented on #978
For our internal tracking: Issue created is CRNS-473

[2021-11-05 11:44] vishalnarkhede commented on #978
Hey @alloystory this issue has already been fixed as part of [`v3.9.0`](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.9.0).

[2021-11-05 11:46] vishalnarkhede commented on #978
Please let us know if you are facing this issue on latest version of SDK as well. I am closing this issue for now.

[2021-11-05 11:46] #978 closed

[2021-11-05 11:54] vishalnarkhede commented on #976
Thanks @mishkeTz I will check it out and get back to you

[2021-11-05 14:08] vishalnarkhede commented on #976
Hey @mishkeTz I tried to replicate the issue using the code snippet you provided in our example application, but unfortunate couldn't. There are few differences in versions of dependencies though (between our example app and gist which you shared)

- `react-native`
- `react-native-gesture-handler` (not sure what version you are using)
- `@react-navigation/stack`

Is it possible for you to upgrade

[2021-11-05 20:25] mishkeTz commented on #976
I was able to fix it! Thank you!

However I'm experiencing other weird issues now on Android. I'm not sure if it's related to GetStream or not. On the same example when I try to navigate between Channels sometimes the ChannelListScreen gets stuck, there's like this white-transparent overlay (can notice it on the picture) and sometimes when I navigate to Channel screen it's completely white but I'm

[2021-11-06 10:11] mishkeTz commented on #976
After testing it a little deeper I realised that I was using:
`import { createNativeStackNavigator } from '@react-navigation/native-stack';`
for Stack navigator, once I changed that to:
`import {createStackNavigator} from '@react-navigation/stack';`
the issue was fixed.

This issue can be closed! Thanks for the help!

[2021-11-06 10:16] vishalnarkhede commented on #976
Thanks for the update @mishkeTz :)

[2021-11-06 10:16] #976 closed

[2021-11-08 19:09] ericzhou27 opened #979 "Chat Crashing - "String contained an illegal UTF-16 sequence""
Hello, one of our chat rooms is crashing on launch with this error when running it locally. We have no idea why, but it looks like an issue under the hood with some message possibly? Please advise. All other chat rooms are working.

![simulator_screenshot_249F3E6B-9136-4DD2-9A4B-7F414D3208FA](https://user-images.githubusercontent.com/43918217/140802638-20ea8ed9-3ea2-4b41-b460-03978afb61da.png)

[2021-11-08 19:15] ericzhou27 commented on #979
I was able to fix it from the moderation dashboard by deleting a few messages. One of the messages I deleted had an image - I'm assuming that was the problem? We need to make sure that this doesn't happen again. Is there something we have to add to the blocklist or something?

[2021-11-08 19:29] madsroskar commented on #979
Hi @ericzhou27.

This is likely to be a link in a message containing a character that isn't allowed, but it's a bit tricky to know which it would be - did you happen to notice whether any of the messages contained link(s) at all?

We will look into this, and get back to you once we know more.

Thanks for raising the issue!

[2021-11-08 19:40] ericzhou27 commented on #979
Yep, I've also been speaking with support - they have my channel ID, app ID, and other relevant information. I had the same suspicion as you - I deleted the most recent message and a message containing an image, and it started working again. The image was of a pigeon. I don't think there were any links in the message but I assume the link was to the relevant picture.

[2021-11-09 07:39] vishalnarkhede commented on #962
I am closing this issue for now. I can imagine this is not a ideal solution, but it works. We will try to improve our context structure in future to accept `useCallback`ed function for `doSendMessageRequest` like prop functions.

[2021-11-09 07:39] #962 closed

[2021-11-09 12:16] claudeaparecio opened #980 "Undefined is not a function"
**Describe the bug**
When I send a message and the other user receives the message it gives an error screen saying "TypeError: undefined is not a function (near '...onStartReachedInPromise.current.finally...')"

https://user-images.githubusercontent.com/31234790/140922863-3bace0f4-3362-4a63-bc69-3c9eea193e85.mov

**Dev environment info (please complete/provide the following information):**
- "stre

[2021-11-09 12:36] vishalnarkhede commented on #678
For internal tracking purpose - https://stream-io.atlassian.net/browse/CRNS-447

[2021-11-09 12:48] madsroskar commented on #980
Hi @claudeaparecio - We'll have a look into this. Have you also tried this on react-native v0.65.1? Thinking it might have to do with changes introduced with react-native 0.66 since I haven't seen this with our example apps running 0.65.1, but we'll get back to you once we've looked into what this could come from.

Thanks for raising the issue!

[2021-11-09 12:49] claudeaparecio commented on #980
@madsroskar I would also like to add this.... I noticed that this happens on channel that has 3 or more members.

[2021-11-09 12:50] madsroskar commented on #980
Alright, thanks for the added information :)

[2021-11-09 18:07] mishkeTz opened #984 "Multiple screens with ChannelList and filters adds newly created channel to list where it doesn't comply with configured filters"
**Describe the bug**
I have two different screens where I want to render different type of chats i.e. on the first screen (X) I set the filters to type: 'messaging' and on another screen (Y) I have type: 'group'.
When I create the new channel from screen Y it gets added to the channel list on that screen, when I navigate to screen X then I also see that newly added channel - but it shouldn't be th

[2021-11-09 18:08] vishalnarkhede commented on #984
Hey @mishkeTz Please take a look at this guide - https://getstream.io/chat/docs/sdk/reactnative/guides/customize-channel-list/#customizing-event-handlers

[2021-11-09 18:46] madsroskar commented on #979
@ericzhou27  I'm having some trouble reproducing this issue, have you been able to see another message that makes this happen since?

[2021-11-09 20:54] mishkeTz commented on #984
Thank you, that solved it!

[2021-11-09 22:31] jehartzog commented on #940
We are seeing this issue also exactly the same as @philippeauriach describes. It is a rare reproduction, maybe once every 100 sessions. It often self resolves when the app is hard-killed and restarted. We could not find any way to reproduce it yet. If somebody finds the answer, we'd be happy to help test the solution and see if we can go a few weeks without any more reports of this.

[2021-11-10 07:18] #984 closed

[2021-11-10 07:20] vishalnarkhede commented on #940
@jehartzog what `sort` prop have you set on ChannelList component?

[2021-11-10 14:11] jehartzog commented on #940
@vishalnarkhede `const sort: ChannelSortBase = {last_message_at: -1};`

[2021-11-10 17:32] vishalnarkhede commented on #940
Hey @jehartzog please take a look at this. It should solve the issue - https://github.com/GetStream/stream-chat-react-native/issues/901#issuecomment-934199488

[2021-11-11 09:55] madsroskar commented on #980
Hi again, @claudeaparecio. I've identified some problems with using our SDK with React Native v0.66.x that seem to be the cause of the issue you're facing, and am working on finding a fix for this. I'll keep you updated when a fix is ready for release so you can test with that.

[2021-11-11 09:57] claudeaparecio commented on #980
Thank you for the update @madsroskar!

[2021-11-11 12:35] AnandhuSajeev commented on #980
I too got this error, I consoled on the node modules MessageList.tsx, and  got an empty object on onStartReachedInPromise.current value that's where it breaks the code.
![Screenshot 2021-11-11 at 6 02 12 PM](https://user-images.githubusercontent.com/48081012/141298563-9970bc32-40d6-46ea-bbfe-9ec037da0fe6.png)

[2021-11-11 15:19] jehartzog commented on #940
@vishalnarkhede Thank you for the pointer. We have made the code change (removing the `sort` prop since we use default anyway). Since we saw this issue very rarely in our app and we don't have a reliable reproduction, we won't be able to confirm that this clears it anytime soon, but we'll throw a note back here if we happen to see it again.

[2021-11-13 06:59] ericzhou27 commented on #979
Hi @madsroskar, I'm in communication with support about querying the original message, which I only soft-deleted. Doing so should help get to the bottom of this!

[2021-11-14 16:45] mishkeTz opened #997 "Re-render custom input"
Is there a way to re-render the Input component?
What I want to do is initially provide my custom input component and then on state change (in my component) render the default input component.

It looks like that initial component that's passed to the Channel gets memoized and it's hard to trigger the re-rendering?

gz#16703

[2021-11-14 16:58] vishalnarkhede commented on #997
@mishkeTz you could do something like this:

[code]

[2021-11-14 17:05] mishkeTz commented on #997
Nice! Works, thank you!

[2021-11-14 17:17] #997 closed

[2021-11-15 15:59] ludu12 opened #1001 "Unread (unseen) messages in MessageList"
To be clear this may be more of a question rather than a bug.

My main goal is to display an "X new messages" button at the top of the MessageList for a given Channel (similar to something like slack has). When clicked, I could then scroll to last unread message.

I believe I should be able to customize something with either the StickyHeader or DateHeader components but I'm actually not sure there

[2021-11-15 16:09] madsroskar commented on #1001
Hi @ludu12, I'll have a look into this and get back to you soon.

Thanks,
Mads

[2021-11-15 18:11] madsroskar commented on #1001
As it is currently the channel will always be marked as read when the MessageList is scrolled to the bottom, and there isn't really a good way to change that around without implementing your own MessageList component (or copying ours over to your app and use that) which I agree isn't ideal. This means that I unfortunately don't have a good suggestion for how you can go about this right now, but I'

[2021-11-15 18:34] madsroskar commented on #1001
It should be noted though, that once you open a message list with a bunch of messages, it should start out by scrolling to the oldest unread message automatically, and I might have misunderstood a bit while writing the previous comment - @ludu12 does this not happen for you in your app at all? If it does, the unread count should not be zero.

[2021-11-15 18:53] ludu12 commented on #1001
Thanks for looking into this.

So it does not scroll to the oldest unread message automatically. It goes to the bottom of the list. That would be preferable if we don't have a good way to show the "X new messages" button though so maybe there is something there that could be fixed?

I should note:

- I'm testing between two users on iOS simulators
- But I have tried setting 'noGroupByUser' to true

[2021-11-16 22:19] lucaswhitman opened #1004 "Giphys not counting as response on threads"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native): 3.9.2
- react-native or expo version: 0.65.1
- Device/Emulator (android/ios) and OS version: iOS 15

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to thread
2. Respond via message
3. R

[2021-11-16 22:41] madsroskar commented on #1004
Does this stay this way if you reload the message list? Initial testing on my end doesn't reproduce this issue, is anything logged to your console while going through the reproduction steps you've shared?

[2021-11-16 22:47] lucaswhitman commented on #1004
Hey @madsroskar, no changes when I reload (even the entire app). Nothing in the console I don't expect.

[2021-11-16 22:52] lucaswhitman commented on #1004
If it helps I'm also seeing this in the dashboard explorer:

<img width="502" alt="Screen Shot 2021-11-16 at 15 51 29" src="https://user-images.githubusercontent.com/7506979/142078963-9774a4c0-c16e-47a7-9b37-aa9349b619ff.png">

The giphy response itself seems to be labeled as a system message (we've not changed how these are delivered)

<img width="475" alt="Screen Shot 2021-11-16 at 15 51 36" src

[2021-11-16 23:59] madsroskar commented on #1004
It's odd that it doesn't have the `reply` message type, or `command: giphy` set. Afaik, we don't send anything as system messages from the SDK out of the box, so I'm a bit unsure how this would happen.

Could you send us an email at <support@getstream.io> with the app ID or API key used for your application?

[2021-11-17 00:03] lucaswhitman commented on #1004
@madsroskar sure can. Actually, I may be wrong on that second screen shot. I'm not seeing the giphy in the set of messages, at least not at first glance. I think that system message may be a red herring.

[2021-11-17 02:19] madsroskar commented on #1004
It doesn't seem like the message containing the giphy has been sent at all, but not being able to reproduce the issue makes it a bit tricky to figure out why the giphy seemingly gets rendered as if it's sent.

Are you using any custom components related to messages or attachments at all? Or a custom Giphy component?

[2021-11-17 04:25] lucaswhitman commented on #1004
@madsroskar we've got a custom `Card` component that renders different message types based on our own custom attachments. But Giphy travels down to a traditional `Card` and so the render should be all Stream code.

[2021-11-17 15:17] KarinZvereva opened #1005 "Gallery customization - add a loading indicator and make it customizable"
Hi. Unfortunately, i couldn't find information about this case. I would like to show activity indicator of image in attachment? Is there a way to do this, except pass custom gallery in `Channel`?

Like this
![example](https://user-images.githubusercontent.com/38095464/142227457-2b46cb2d-d4c0-4811-93a4-813727003262.png)

gz#16815

[2021-11-17 16:40] madsroskar commented on #1005
For internal tracking: CRNS-484

[2021-11-18 05:13] KarinZvereva commented on #1005
Thanks for your reply

[2021-11-19 08:37] RomanBob123 opened #1007 "Bug in Gallery in right to left orientation"
When I switch app localization to rtl (like Hebrew or Arabic), when I try to view images in full screen size, I get this error.
Pictures are not displayed, caption below with an error.

![Screenshot from 2021-11-17 17-22-25](https://user-images.githubusercontent.com/91616406/142591793-254ad717-3f01-41f2-bff9-01e945ff01cb.png)

gz#16880

[2021-11-19 18:46] madsroskar commented on #1007
Thanks for raising the issue, @RomanBob123. Do you get any errors in the console at all when this happens?

[2021-11-21 14:59] vishalnarkhede commented on #980
Hey @claudeaparecio @AnandhuSajeev we are unfortunately unable to reproduce this issue on our end. It seems really odd that `loadMoreRecent` is undefined, which can never be the case since its provided by Channel component. We would really appreciate if you could help us reproduce this issue in our sample app on this branch -  https://github.com/GetStream/stream-chat-react-native/pull/1003

[2021-11-22 13:06] RomanBob123 commented on #1007
@madsroskar There are no errors in the console

[2021-11-22 14:40] RomanBob123 opened #1011 "User can see "deleted message" in message preview"
User can see "deleted message" in message preview
This message should not be seen by anyone except the one who deleted the messages. But it can be seen by all users in the channel list.
![Screenshot from 2021-11-22 16-37-33](https://user-images.githubusercontent.com/91616406/142880620-d5f0d8b7-4c4c-4386-bc66-ccf30d24c837.png)

gz#16929

[2021-11-22 15:39] RomanBob123 opened #1012 "Bug with deleted thread messages"
If a users deleted their messages in the thread, the number of messages will still count for deleted messages.
If the user deletes all messages in the thread, the thread is not closed

Step to reproduce:
- Create a thread.
- Write a message in it.
- Delete this message.
- Log in as a different user and go to this thread.

![Screenshot from 2021-11-22 17-23-54](https://user-images.githubusercontent

[2021-11-22 16:01] madsroskar commented on #1011
Hi @RomanBob123 - thanks for raising the issue. We're looking into it, and will get back to you once we know more about why this is happening.

[2021-11-22 16:01] madsroskar commented on #1012
Hi @RomanBob123 - thanks for raising the issue. We're looking into it, and will get back to you once we know more about why this is happening.

[2021-11-22 16:57] sealabcore commented on #51
Really looking forward to 4.0.0 🎉 Any update on release date? A beta branch we can test? Thanks!

[2021-11-22 17:50] vishalnarkhede commented on #51
Hey guys!! So due to some technical limitations we had to abandon our development around offline caching layer on RN for stream chat. But we still have plenty of good performance fixes in v4.0.0. And we will plan on implementing offline database support soon.

[2021-11-23 05:22] thomasyim02 commented on #51
@vishalnarkhede
Thank you for the update! Any info on the approx. release date for the offline database support? Will it include encryption?

[2021-11-23 09:52] vishalnarkhede commented on #1012
Hey @RomanBob123 this is a behaviour of the API for soft deleted messages. Please take a look at the documentation for the difference between soft delete and hard delete - https://getstream.io/chat/docs/javascript/send_message/?language=javascript&q=deleteMes#delete-a-message

If you want to opt for hard delete, you can look into customizing message actions

- https://getstream.io/chat/docs/sdk/re

[2021-11-23 09:53] #1012 closed

[2021-11-23 10:10] vishalnarkhede commented on #1011
Hey @RomanBob123 thanks for bringing this up. This will require some improvements on our api side to support this behaviour and we are already looking into it. I can't say exactly the timeline about this, but I will keep you updated :)

[2021-11-23 10:16] vishalnarkhede commented on #1007
Hey @RomanBob123 we would appreciate some help reproducing this issue.

How do you switch the app localization in your codebase or application? I tried switching device language to hebrew but couldn't reproduce this issue. I am guessing that you have provided some translations for the keys using our [internationalization](https://getstream.io/chat/docs/sdk/reactnative/basics/translations/) system.

[2021-11-23 10:22] vishalnarkhede commented on #1004
Hey @lucaswhitman we are still investigating this on our end. It seems like there could be some issue with channel configuration, but we will get back to you once we have more information from our backend team

[2021-11-23 14:27] lucaswhitman commented on #1004
@vishalnarkhede thanks, just let us know. It's blocking a feature for us so I'm happy to provide any more info you need.

[2021-11-23 20:26] mishkeTz opened #1015 "Download/Share image attachment"
**Describe the bug**
Download image or share doesn't work.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native): 3.9.2
- react-native: 0.63.4
- Device (ios) and OS version: iPhone 11, 15.1

**To Reproduce**
Share image in the chat and try to download it or share it.

**Expected behavior**
Attachment can be downloaded or shared

[2021-11-24 09:18] vishalnarkhede commented on #1015
Hey @mishkeTz unfortunately I am not able to reproduce this issue. What I would recommend is adding your own native handler for share image functionality and check the javascript error. Within default handler we don't log the thrown error (which we can fix in later releases)

- How to override native handlers: https://getstream.io/chat/docs/sdk/reactnative/customization/native_handlers/#overriding

[2021-11-25 13:38] sandergo90 opened #1020 "Delete message fails when message was not able to send"
**Describe the bug**

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native@3.10.1
- react-native
- Device/Emulator --> on all operation systems

**To Reproduce**
Steps to reproduce the behavior:

- Open a channel, go offline, and send a message.
- An exclamation mark will be shown next to the message
- Go back online/ or stay off

[2021-11-25 14:14] vishalnarkhede commented on #1020
Hey @sandergo90 thanks for bringing this up. I am able to reproduce this issue and we will soon publish a fix for this :)

[2021-11-25 14:16] vishalnarkhede commented on #1020
For internal tracking - https://stream-io.atlassian.net/browse/CRNS-491

[2021-11-26 09:09] bkit4u opened #1023 "Array mentioned_users empty after message edited"
**Describe the bug**
I'm mention one account with **@name**.  But when I edited message, the array mentioned_users is empty

**Dev environment info (please complete/provide the following information):**

- "stream-chat-react-native": "^3.10.2"
- "react-native": "0.66.0"
- "react": "17.0.2"

**To Reproduce**

1.Mention one name account in your message input and send this message. Example: @yourname

[2021-11-26 14:12] vishalnarkhede commented on #1023
Thanks for bringing this up @bkit4u ! We have managed to reproduced this issue on our side and added it to our backlog. We will update you once the fix is ready :)

[2021-11-26 14:14] vishalnarkhede commented on #1023
For internal tracking purpose - https://stream-io.atlassian.net/browse/CRNS-493

[2021-11-26 14:24] sandergo90 opened #1025 "Failed to get size for image"
Describe the bug

Dev environment info (please complete/provide the following information):

Package version stream-chat-react-native@3.10.1
react-native
Device/Emulator --> All android devices
To Reproduce
Steps to reproduce the behavior:

I'm having a Channel with a lot of images inside. Sometimes 7 images uploaded at once so displaying as multiple images.
When opening my channel on Android, som

[2021-11-26 14:29] sandergo90 commented on #1025
Error comes from react native function `getSize` calling `NativeImageLoaderAndroid.getSize(url)`. So something goes wrong at the CDN while requesting a lot of images perhaps?

[2021-11-26 15:44] sandergo90 opened #1026 "Gorhom/react-native-bottom-sheet deprecation"
Hi,

Version 3 of gorhom/react-native-bottom-sheet will soon be deprecated. What is the status of upgrading to version 4 of the package?

When having a large image gallery, you are unable to scroll on older iPhone devices. On Android and on iOS, the last gallery items cannot be displayed inside the ImageGrid component.

Kind regards,
Sander

gz#17062

[2021-11-26 15:48] #1026 closed

[2021-11-28 22:25] thedewpoint opened #1028 "Unable to import stream-chat-expo into new expo app. Expo Example also fails to compile"
I installed stream-chat-expo into my expo app and tried copying the example code from the documentation. The project fails to compile with this error:

[code]
I also tried to clone the expo example and run it on my pc, but that also fails to compile with a different error

[code]

below is my package.json
[code]

[2021-11-29 02:43] thedewpoint commented on #1028
It seems the issue is that this module isn't transpiled and it contains jsx. Similar to the issue here: https://forums.expo.dev/t/expo-start-web-failed-to-compile-after-import-native-base/40826/8

I tried using the solution in the above thread, but using stream-chat-expo as the value.  But now I have a new error:

[code]
I did a little digging and see that, although the ./Touchables file is missin

[2021-11-29 09:50] madsroskar commented on #1028
Hi @thedewpoint, thanks for raising the issue!

I'll try to reproduce this on my end and get back to you once I have.

[2021-11-29 18:41] mishkeTz opened #1032 "Load more channels"
GetStream has limit of showing 30 channels in the list. I tried to implement load more button following this article https://getstream.io/chat/docs/sdk/reactnative/guides/customize-channel-list/#replacing-infinite-scroll-pagination-with-load-more-button.

I have set the following options on ChannelList:
`options={{ watch: true }}`

If I pass custom load more component then I still have old behavio

[2021-11-29 21:17] thedewpoint commented on #1028
@vishalnarkhede tagging you as well

[2021-11-30 05:49] madsroskar commented on #1028
@thedewpoint It seems to me that you're running this in browser, is that right? Do you experience the problems on Android and/or iOS as well?

[2021-11-30 11:07] Chibuzo15 opened #1034 "undefined is not an object (evaluating 'deleteanimationCopy.callback') in Expo app"
App crashes whenever I add components from 'stream-chat-expo', components such as <OverlayProvider>, <MessageList>
I am currently following the docs so I'm trying to place OverlayProvider above all navigation stacks

[code]
**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-expo^3.10.2
- expo version ~43.0.0
- Device/Emulator Android 10

**

[2021-11-30 11:38] madsroskar commented on #1034
Hi, @Chibuzo15! Thanks for raising the issue, we'll look into it and get back to you once we know more.

Just wondering, do you happen to use `npm` (as opposed to `yarn`) in your project?

[2021-11-30 12:01] Chibuzo15 commented on #1034
Alright thanks, I make use of `yarn`  (the 'expo install' command uses yarn in background ) however while trying to fix this issue , I've deleted the node_modules folder multiple times and reinstalled using `npm` but the error still persists

[2021-11-30 13:00] thedewpoint commented on #1028
@madsroskar yes browser only

[2021-11-30 16:54] #1028 closed

[2021-12-01 07:54] vishalnarkhede commented on #1032
Hey @mishkeTz its a bit hard to follow the issue from the written description. It would be really helpful to record a short loom video or something to demonstrate the issue please.

[2021-12-01 08:02] vishalnarkhede commented on #1034
@Chibuzo15 we would really appreciate if you could fork this repository and try to reproduce this issue in [ExpoMessaging](https://github.com/GetStream/stream-chat-react-native/tree/develop/examples/ExpoMessaging) example app.

[2021-12-01 08:26] Chibuzo15 commented on #1034
Alright, I'll try that soon and give the feedback

[2021-12-01 09:14] Chibuzo15 commented on #1034
I forked the repository, and ran yarn install,  however I keep getting this error after metro builds

`Android Bundling failed 7008ms
Unable to resolve module @react-native-community/netinfo from C:\projects\stream-chat-react-native\package\expo-package\src\index.js: @react-native-community/netinfo could not
be found within the project.

If you are sure the module exists, try these steps:
 1. Clea

[2021-12-01 19:10] rdjuric opened #1035 "KeyboardCompatibleView returns wrong relativeHeight in specific scenario"
There's a known bug in `KeyboardAvoidingView` where the Keyboard doesn't return to the correct height when the StatusBar is translucent. This library addresses this bug here:
https://github.com/GetStream/stream-chat-react-native/blob/e864dd20c1f936c00186cf314a9952e221a73032/package/src/components/KeyboardCompatibleView/KeyboardCompatibleView.tsx#L68-L78

But this check only works when using a nega

[2021-12-01 19:26] Chibuzo15 commented on #1034
After lots of digging, I discovered the issue was from some babel configurations I added

`module.exports = function (api) {
  api.cache(true);
  return {
    presets: ['babel-preset-expo',
      'module:metro-react-native-babel-preset',
    ],
    plugins: [
      ["module:react-native-dotenv", {
        "moduleName": "@env",
        "path": ".env",
        "blacklist": null,
        "whitelist":

[2021-12-01 19:35] madsroskar commented on #1034
Good to hear you figured it out and got it running! Thanks for getting back to us with an update. :)

[2021-12-01 19:35] #1034 closed

[2021-12-02 02:53] Marcoo09 commented on #1025
I have the same problem in **some** android devices not in all.
I'm executing on release mode without any debugger. I also checked [this](https://getstream.io/chat/docs/sdk/reactnative/basics/troubleshooting/) page to double check that any setup it's missing.

On my end on some android devices I'm not able to see the gallery images or in the message input attachement, I can send the message and in

[2021-12-02 05:16] vishalnarkhede commented on #1025
@sandergo90 could you please try setting a prop `legacyImageViewerSwipeBehaviour={false}` on Channel component?

https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#legacyimageviewerswipebehaviour

[2021-12-02 08:51] sandergo90 commented on #1025
Hi @vishalnarkhede that sadly doesn't make a difference

[2021-12-02 18:59] skam22 opened #1038 "UserResponse<LocalUserType> is not assignable to type 'UserResponse<LocalUserType & OwnUserBase<LocalChannelType, string, LocalUserType>>'"
**Describe the bug**
Typescript 4.4.4 error with v3.10.2:

Type 'UserResponse<LocalUserType>' is missing the following properties from type 'OwnUserBase<LocalChannelType, string, LocalUserType>': channel_mutes, devices, mutes, total_unread_count, and 2 more.

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native 3.10.2
- react-nat

[2021-12-02 20:29] lucaswhitman commented on #1004
@vishalnarkhede @madsroskar any updates here?

[2021-12-03 07:41] vishalnarkhede commented on #1038
Hey @skam22 could you please fork the repository and try to reproduce this issue in one of the example apps? https://github.com/GetStream/stream-chat-react-native/tree/develop/examples

[2021-12-03 07:57] vishalnarkhede commented on #1035
@rdjuric do you mind raising a PR for this change?

[2021-12-03 09:08] wangsha opened #1039 "[feature request] video/audio call integrations"
currently https://dolby.io/ example is a native ios app. Looking forward to have video/audio call capability in react-native and react sdks to build chat experience similar to microsoft teams chat.

gz#17243

[2021-12-03 09:51] vishalnarkhede commented on #1039
I would recommend you to take a look at - https://getstream.io/blog/build-a-video-conferencing-app-using-dolby-voxeet-and-stream-chat/

[2021-12-03 09:51] #1039 closed

[2021-12-03 11:43] madsroskar commented on #1004
Hi @lucaswhitman - I don't yet have an update unfortunately. I've requested some help looking into this from our backend developers, and pinged them for an update now. I'll get back to you once I have an update.

Thank you for your patience with this, I hope we'll have an answer/know what's going on here asap.

[2021-12-03 16:22] #1032 closed

[2021-12-06 06:34] ngochnvn opened #1041 "Expo app crash when adding OverlayProvider"
**Describe the bug**
Expo app crash when adding OverlayProvider. On IOS Expo just crashed, and on Android, I got this error: "Tried to synchronously call function {assign} from a different thread".

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
    "stream-chat-expo": "^3.10.2",
    "stream-chat-react-na

[2021-12-06 10:42] madsroskar commented on #1041
Hi @ngochnvn, we'll look into this, and see if we can reproduce it. The `package.json.txt` file you've attached doesn't seem to contain the contents of the package.json - could you maybe try to attach the json file directly? Also, could you add the content of your babel configuration (`babel.config.js` for example)?

[2021-12-06 13:01] madsroskar commented on #1004
It looks like the backend team is getting closer to finding the root cause of this, which is promising. I don't yet know how quickly they'll be able to have a fix for it in place yet, but I'll check back in here tomorrow at the latest with the current status of this.

[2021-12-06 17:11] lucaswhitman commented on #1004
Great. We appreciate the updates @madsroskar

[2021-12-06 18:47] ngochnvn commented on #1041
Thank you for your quick reply. I have added the package.json and babel config (Updated the original post)
https://github.com/GetStream/stream-chat-react-native/files/7662851/package.json.txt
https://github.com/GetStream/stream-chat-react-native/files/7662858/babel.config.txt

[2021-12-08 21:27] lucaswhitman commented on #1004
@madsroskar is there a backend issue I can watch?

[2021-12-08 22:16] madsroskar commented on #1004
I can only apologize for not coming back with an update when I said I would, thank you for the ping here. Unfortunately there's only an internal issue for it, but I'll ask for an update regarding this.

[2021-12-09 08:00] vishalnarkhede commented on #1041
Hey @ngochnvn we are looking into it. We will get back to you soon

[2021-12-09 08:22] vishalnarkhede commented on #1041
Hey @ngochnvn I am not sure whats the best way to reproduce this issue on our side. Although I did notice that you are using expo web with nextjs, which we currently don't support on our SDK.

Is it possible for you to test the integration **without** following babel presets?

- `module:metro-react-native-babel-preset`
- `@expo/next-adapter/babel`

[2021-12-09 10:22] vishalnarkhede commented on #1007
@RomanBob123 ping ^^

[2021-12-09 10:22] vishalnarkhede commented on #1015
@mishkeTz ping ^^

[2021-12-09 10:28] mishkeTz commented on #1015
I didn't have time to look deeper into this. The issue seems to be the URL, this line fails:
`const base64Image = await RNFS.readFile(url, 'base64');`
as the URL doesn't exist and the URL is path to the image on the device (something with catch/appname/etc) and that file doesn't exist for some reason.

[2021-12-10 08:57] bkit4u commented on #1011
Hi @madsroskar,
How can I enable or edit to show message was deleted by someone in core source code ?
I need custom some feature with message deleted, but user cannot see all message deleted except message deleted by themselves

[2021-12-10 09:12] madsroskar commented on #1011
To change the visibility of deleted messages, you can set the prop `deletedMessagesVisibilityType` on the `Channel` component to one of the following:

<table>
<tr>
	<td> `"always"`
	<td> Display deleted messages for everybody in the channel
<tr>
	<td> `"never"`
	<td> Don't display deleted messages at all in a channel
<tr>
	<td> `"sender"`
	<td> Show deleted messages only for the user that sent th

[2021-12-10 10:05] bkit4u commented on #1011
Yes, that's my question. But I cannot find any prop **deletedMessagesVisibilityType** on the **Channel** component. Can you give me the link docs or something about it prop ?

[2021-12-10 10:11] vishalnarkhede commented on #1011
FYI its only available in `v4.0.0-beta.1` - https://getstream.io/chat/docs/sdk/reactnative/4.0.0/basics/upgrading-from-v3/#deleted-messages

[2021-12-10 11:47] madsroskar commented on #1004
Hi again @lucaswhitman! This should be resolved, and my test case to reproduces it seems to confirm it. There shouldn't be anything you need to do on your end.

I'll close the issue now, but please test it in your application when you get the time, and feel free to update in this issue if you still experience the issue, then I'll reopen it. :)

[2021-12-10 23:12] lucaswhitman commented on #1004
Thanks @madsroskar, we'll push our internal issue to QA and let you know if there's anything to report.

[2021-12-11 07:26] ngochnvn commented on #1041
Hi vishalnarkhede@,

Thank you very much. We removed those two lines and it worked. It must be something with next-adapter.

[2021-12-11 07:26] #1041 closed

[2021-12-11 09:50] delantai commented on #1038
I am also experiencing this exact problem.  @skam22 did you find a work around?

I'm playing around with the stream-chat-react-native `TypeScriptMessaging` example and see the same problem there too:

![image](https://user-images.githubusercontent.com/8430216/145672183-c17c74d5-21f0-4458-af68-be8514de9bbb.png)

[2021-12-11 12:24] madsroskar commented on #1038
I can reproduce this in our sample apps. It looks like we have a couple of types that need updating, I'm looking into it. We're working on simplifying the types for the SDK at the moment, but I'll make a PR to resolve this in the sample apps in the meantime.

[2021-12-13 07:48] madsroskar commented on #1038
#This is a bit trickier to work around than I thought, so I don't have a solution just yet. For the time being, you could tell typescript to expect there to be an error reported there with `@ts-expect-error` in a comment on the line above the line it's reporting the error to suppress the error message until we have a proper solution in place.

This seems to be an issue with our js client checking

[2021-12-13 12:02] SamRichards opened #1052 "defaultValue not being passed through"
**Describe the bug**

When using the <MessageInput component, using the defaultValue inside of additionalTextInputProps, does not pass the default value down. Other values are passed down using this method, placeholder, placeholder colours, on change events, value, the only one that doesn't is default value.

According to the documentation https://getstream.io/chat/docs/sdk/reactnative/ui-componen

[2021-12-13 12:24] madsroskar commented on #1052
Thanks for raising the issue, we'll look into it and get back to you as soon as we have more information about what's going on.

[2021-12-13 23:09] lucaswhitman commented on #1004
@madsroskar our QA is still seeing this issue. There's no updates we need on our end?

[2021-12-13 23:13] lucaswhitman commented on #1004
Repro steps from our QA:

For each cancel and new search an additional count is added to the thread replies.

[2021-12-13 23:38] madsroskar commented on #1004
Thanks for getting back to me with this feedback, I'll reopen the issue so we can get to the bottom of this.
Does this also happen in a new channel created after I wrote [this comment](https://github.com/GetStream/stream-chat-react-native/issues/1004#issuecomment-990904670)?

Thanks for sharing the steps for a repro, I'll see if I can reproduce it on my end as well.

I'll double-check this with ou

[2021-12-14 00:39] lucaswhitman commented on #1004
@madsroskar I'm not sure about if it's a new channel. Regardless, that fix wouldn't work for our existing users so... It is happening on new threads created since that comment.

[2021-12-14 05:24] skam22 commented on #1038
@delantai sorry for the late reply, I actually had implemented what @madsroskar suggested, basically commenting out the typescript error since it wasn’t preventing a successful build.

[2021-12-15 01:51] delantai commented on #1038
Thanks for the replies, very helpful!

[2021-12-15 02:15] delantai commented on #1038
Side note, I'm seeing a similar thing for the `channel` typing which is being passed via context in the example app.

In the `onSelect` of `ChannelListScreen` in the example app I'm seeing this:

![image](https://user-images.githubusercontent.com/8430216/146110498-42175854-dd96-446e-be8f-86ec8e9f3c5a.png)

In my app I'm also trying to access a channel in state via hook, and having the same difficu

[2021-12-15 03:21] andreibarabas opened #1053 "Upgrade @gorhom/bottom-sheet to v4"
**Describe the bug**
v3 of the bottom sheet uses some legacy React Native APIs which are deprecated in RN 67

**Dev environment info (please complete/provide the following information):**

- "stream-chat-react-native": "~3.10.2",
- RN 0.67
- All Devices / Simulators

**To Reproduce**
Steps to reproduce the behavior:

1. Upgrade to RN 0.67.0-rc.5
2. Unmount the chat
3. when it unmounts, you should

[2021-12-15 11:54] madsroskar commented on #1053
Thanks for creating the issue!

We have a task to upgrade the dependency in our backlog, but I don't yet know how fast we'll be able to prioritize this just yet. This should not break anything in your application, and for the time being you could suppress the warning by passing it as a string in an array to the React Native LogBox (Something like `LogBox.ignoreLogs(["EventEmitter.removeListener"])

[2021-12-15 12:40] madsroskar commented on #1004
Hi again, @lucaswhitman.

The issue as described with the reproduction steps from your QA seems to have a different root cause that we weren't aware of, which is why the fix deployed on Friday didn't cover that. The message sent to our backend to initialize the giphy search seems to be counted as a response.

I'm looking into a fix for this, and will get back to you as soon as I know more.

[2021-12-15 16:25] lucaswhitman commented on #1004
@madsroskar great, thanks for reopening.

[2021-12-15 17:27] izakfilmalter commented on #1053
I just did this as a patch, lol. It does break the app forcing `@gorhom/bottom-sheet@4.1.5`. It's a fairly easy upgrade though.

I had to do the following:

1. Add `enablePanDownToClose` to both instances of BottomSheet.
2. The api for `snapTo` changed to `snapToIndex`:
[code]
3.  I also had to do the following to `ImageGallery.tsx`
[code]

That seemed to do the tick for me. I think the real upgra

[2021-12-15 17:49] madsroskar commented on #1053
Thanks for reporting back with the changes you made for it to work, that's very helpful.

The modal wrapper in v4 does look nice, we'll look into that as part of the upgrade.

[2021-12-16 09:12] rajkapoordev opened #1054 "java.lang.IndexOutOfBoundsException when try to give reactions on message."
**Describe the bug**
When try to give reaction on message in android app crash with array index out of bound. It is working good in iOS. I have checked the iMessage demo, that demo is also working good for both platform iOS/android.
`reactionsEnabled={false}`
If i turn off reactions with false as a flag then there is no crash.

**Error thrown in logcat android studio**

`java.lang.IndexOutOfBounds

[2021-12-17 07:08] andreibarabas commented on #1053
Thanks guys. @izakfilmalter for the patch

[2021-12-20 08:54] vishalnarkhede commented on #1054
Hey @rajkapoordev this issue seems to be coming from [BlurView](https://www.npmjs.com/package/@react-native-community/blur) package. We have removed this dependency from the SDK in latest release [v4.0.0-beta.1](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.0.0-beta.1).

Stable release for v4 should be published within a month or so, but feel free to upgrade and test it wit

[2021-12-20 08:56] vishalnarkhede commented on #1052
@SamRichards to set the default value on input box, please use following prop instead, on `Channel` component - https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#initialvalue

[2021-12-20 08:56] #1052 closed

[2021-12-20 11:59] rajkapoordev commented on #1054
Hello @vishalnarkhede ,
Thank you for reply
I have already added below line in app/build.gradle
` implementation('com.eightbitlab:blurview:1.6.6')`

[2021-12-20 14:15] belal-grytfit opened #1057 "Conflicting peer dependency: react@17.0.2"
**Getting Conflicting peer dependency: react@17.0.2 while installing  npm i stream-chat-react-native**

[code]

** Package.json dependencies **

[code]
**To Reproduce**
Steps to reproduce the behavior:

1. run command npm i stream-chat-react-native

**Additional context**
If I installed with --force, or --legacy-peer-deps eventually it would catch with error
`ERROR  Invariant Violation: Module App

[2021-12-20 14:55] madsroskar commented on #1057
Hi @belal-grytfit. The peer dependency of our project `react-native-fs` has an optional peer dependency defined for `react-native-windows`, which in turn has `react` and `react-native` as dependencies at version 17.0.2 and ^0.66.0 respectively as peer dependencies.

If I'm not mistaken, you're getting this error from the metro bundler. right? Can you try, after installing with `--legacy-peer-deps`

[2021-12-21 09:56] rajkapoordev commented on #1054
Hello @vishalnarkhede ,
There is still issue in  [v4.0.0-beta.1.](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.0.0-beta.1).
In [v4.0.0-beta.1.](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.0.0-beta.1) there is no flag `reactionsEnabled` So it is crashing when long press on message in android devices.

[2021-12-21 09:59] vishalnarkhede commented on #1054
@rajkapoordev https://getstream.io/chat/docs/sdk/reactnative/4.0.0/basics/upgrading-from-v3/#reactionsenabled

[2021-12-21 10:03] rajkapoordev commented on #1054
@vishalnarkhede
[code]
Above code turn off reactions correct?
But I want the reactions in my app as same as iMessage.
If you need more info please let me know.

[2021-12-21 10:14] rajkapoordev commented on #1054
@vishalnarkhede ,
I think this crash because of **react-native-svg**
In a error log there is below line
`com.horcrux.svg.GroupView.draw(GroupView.java:81)`
please check all error log details in first comment.

[2021-12-21 11:32] madsroskar commented on #1054
@rajkapoordev Have you added any customizations to the reactions, and/or the SVGs used? I'll try to reproduce it, and look into what's going on.

[2021-12-21 12:06] rajkapoordev commented on #1054
@madsroskar , No I haven't add any specific thing
I am using javascript with
**Dev environment info (please complete/provide the following information):**

stream-chat-react-native : ^3.10.2
react-native : ^0.63.4
All android devices and emulator

[code]

[2021-12-21 14:38] madsroskar commented on #1054
Thank you for adding the Chat and Channel component as well!

[2021-12-21 14:58] vishalnarkhede commented on #1054
@rajkapoordev are you using BlurView in your application by any chance?

[2021-12-22 04:33] rajkapoordev commented on #1054
@vishalnarkhede ,
I am using BlurView in the tab bar component and previously it was crash when app launch.
After adding below line in app/build.gradle this issue is fixed.
`implementation('com.eightbitlab:blurview:1.6.6')
`

[2021-12-27 14:15] KarinZvereva opened #1058 "Frozen field in firebase data template"
Hi. I am trying to pass frozen field to firebase payload, but every time I get empty line. But channel's id and type is fine. Is it possible get frozen value?

1. Go to dashboard ->  firebase
2. Click on Data Template
3. Set data
`{
    "channel": {
        "type": "{{ channel.type }}",
        "id": "{{ channel.id }}",
        "frozen": "{{ channel.frozen }}"
    }
}`

**Expected behavior**
froze

[2021-12-27 14:23] madsroskar commented on #1058
Hi @KarinZvereva, could you send us an email on <support@getstream.io> with the App ID or API key for the application you have set the data template on?

[2021-12-28 12:28] ToshKoevoets opened #1059 "Version of react native gesture not same as additional steps refer to"
Get stream examples and also when following standard install steps install an older version of react native gesture.

Which is not a problem, but the additional steps of the latest version  of react native gesture are not the same as this version, you only find this out after building for android and certain vague things like camera roll not working properly, going to the troubleshoot section it t

[2021-12-28 12:29] #1059 closed

[2021-12-29 20:38] ToshKoevoets commented on #1054
Yes this probably an svgView issue, not blurview, have it to on certain devices, for sure android 10, but not 11 I think:

https://github.com/react-native-svg/react-native-svg/issues/948

[2021-12-29 20:43] madsroskar commented on #1054
Can you try to set the color `white_snow` in the theme to something like `rgb(252, 252, 252)`? ([theming docs](https://getstream.io/chat/docs/sdk/reactnative/customization/theming/))

I think it's an issue where a hex value passed to an SVG component through `useAnimatedProps` from reanimated2 breaks, making `react-native-svg` not able to parse the color correctly

It would be `colors: { white_sno

[2021-12-29 20:48] madsroskar commented on #1054
(cc @rajkapoordev @ToshKoevoets ☝🏻 )

[2021-12-29 22:01] madsroskar commented on #1054
Seems like it is a result of changes in reanimated v2.3.x, so it should also help for the time being to downgrade `react-native-reanimated` to 2.2.x

[2021-12-30 00:31] madsroskar commented on #1004
Hi again, @lucaswhitman!

This seems to be fixed when I'm testing on my end, would you be able to see if you still experience this in your applicaiton?

[2021-12-30 00:50] lucaswhitman commented on #1004
Hey @madsroskar, our staff is on holiday but I'll throw the internal ticket back to our QA when we get back. Feel free to close and I'll comment here on the resolution.

[2021-12-30 18:14] madsroskar commented on #940
Hi @jehartzog - just wondering if you have noticed this reoccurring yet?

[2021-12-30 20:21] madsroskar opened #1065 "Add isMounted check for resetting MessageOverlayProvider state"
Originated in #943 - A [`TODO`](https://github.com/GetStream/stream-chat-react-native/blob/9c3482f0e2673dd2a216a461db28e21ef5790df1/package/src/contexts/messageOverlayContext/MessageOverlayContext.tsx#L111) was to check whether MessageOverlayProvider is still mounted before resetting its state.

[2021-12-30 22:22] diego-paired opened #1067 "Crash when list contains empty list item."
Using version `3.10.2` of the SDK.

We've had reports of users who are unable to access the chat. After investigating the matter, they are experiencing the following crash:

[code]

Specifically in this line of the code:
[code]
As item[0] is undefined.

The message text is the following:
```text: "1. Something \n2. \n3. Something "```

Notice n2 being empty.

Thanks in advance.

gz#18017

[2021-12-30 22:25] madsroskar commented on #1067
Thanks for raising the issue, and adding the info you have, that's very helpful. I'm looking into this, I'll get back to you once I have an update for you about this.

[2021-12-30 22:28] madsroskar commented on #1067
Ah yeah, that's not quite right. Adding a task to sort this out, thanks for reporting it!

[2021-12-30 22:30] diego-paired commented on #1067
@madsroskar thanks

[2021-12-31 09:01] rajkapoordev commented on #1054
Thank you so much @ToshKoevoets ,
It is working fine rgb(252, 252, 252). and react-native-reanimated version is "^2.2.4"

[2021-12-31 09:19] #1054 closed

[2021-12-31 17:19] jehartzog commented on #940
@madsroskar I've left the project and wouldn't be a good source to answer the question. @lucaswhitman would know better if the issue has reoccurred since this change.

[2022-01-03 17:06] lucaswhitman commented on #809
@vishalnarkhede is there any outcome from the investigation on your end? Unfortunately we're still seeing the issue for our users, still struggling to find a non-production repro though.

[2022-01-03 17:12] lucaswhitman commented on #940
@madsroskar I haven't had any reports, but they were few and far between in the first place so it's hard to say for sure.

[2022-01-05 06:47] vishalnarkhede commented on #1058
Closing this issue since its not related to RN Chat SDK

[2022-01-05 06:47] #1058 closed

[2022-01-05 08:47] RomanBob123 commented on #1007
@vishalnarkhede Sorry for delay. I fixed the translation problem, it was on our side. Because of custom translations. But the error still persisted in the gallery. Pictures are simply not displayed in RTL. In order for this to be played, try to set
[code]

[2022-01-06 01:09] claudeaparecio commented on #980
@vishalnarkhede @madsroskar I've investigated this for a while and the bug occurs when the chat is wrapped inside the Provider from react-redux. Let me know if this helps.

https://user-images.githubusercontent.com/31234790/148311892-02a42322-5e1e-4b57-b44f-8a659c102dc1.mov

[2022-01-06 01:19] thedewpoint opened #1070 "How to show preview count for unread messages?"
I'm using the default ChannelList component, and by default there is a preview component according to the documentation. But the channels don't show the unread count. Is there a flag to enable this? Or is there a minimal example of how to do this?

gz#18176

[2022-01-06 10:14] claudeaparecio commented on #980
I have broken down the cause of the crash...

It happens when `apiMiddleware` is implemented from `redux-api-middleware` and `persistStore` from `redux-persist`.

https://user-images.githubusercontent.com/31234790/148366941-474c35cb-0236-4111-b146-939c2239a70f.mov

.

[2022-01-06 10:23] claudeaparecio commented on #980
I was also able to reproduce the issue in SampleApp from `examples/SampleApp`

https://user-images.githubusercontent.com/31234790/148368192-04f5cbf6-2aaf-4038-a050-17f5a6e45a47.mov

[2022-01-06 21:40] lucaswhitman commented on #1004
Well, our QA kicked it back again on our end.

Worth noting we also just updated to the latest version of this lib and `stream-chat-js` too.

[2022-01-07 10:36] vishalnarkhede commented on #1070
Could you please check the dashboard to confirm that you have enabled read events?

<img width="1379" alt="Screenshot 2022-01-07 at 16 04 55" src="https://user-images.githubusercontent.com/11586388/148531618-602e360a-bb96-4c87-aede-bdb06a524b78.png">

[2022-01-07 11:26] madsroskar commented on #1004
I'm sorry to hear that, that's not great. I'm reopening this, I'll get back to you with any info I get as soon as I have it.

[2022-01-08 11:23] rajkapoordev opened #1074 "UI broken on Overlay reactions"
**Describe the bug**
When long press on message. Sometimes , Overlay Reactions screen UI is broken.
This issue only happen sometimes. When you repeatedly long press on message.

**Dev environment info**

- "stream-chat-react-native" : 3.10.2
- "react-native" :0. 63.4
- Device/Simulator only iOS

**To Reproduce**
Steps to reproduce the behavior:

Long Press on message repeatedly.

**Expected behavi

[2022-01-08 21:27] thedewpoint commented on #1070
@vishalnarkhede yes it was enabled. I was able to get help from support to do this. I had to include some preview components in the channel list. Providing the snippet here:

[code]

[2022-01-08 21:27] #1070 closed

[2022-01-10 01:21] vishalnarkhede commented on #1070
@thedewpoint thats strange, those are the default components ... so you shouldn't need to provide them explicitely!!

[2022-01-10 07:54] sandergo90 opened #1075 "How to fetch images belonging to a channel"
### Discussed in https://github.com/GetStream/stream-chat-react-native/discussions/1061

<div type='discussions-op-text'>

<sup>Originally posted by **sandergo90** December 28, 2021</sup>
Hi,

We would like to store some metadata on a channel. Tis meta data contains some plain text which is easy to store, but also contains some images.

At this moment we store the meta images on the channel using

[2022-01-10 08:30] claudeaparecio commented on #980
@vishalnarkhede @madsroskar Do you have any workaround/fxi for this?

[2022-01-10 10:50] vishalnarkhede commented on #1075
Hey @sandergo90 thanks for the reminder, we will get back to you shortly on the gh discussion.

[2022-01-10 10:50] #1075 closed

[2022-01-10 11:23] sandergo90 commented on #1075
Hi @vishalnarkhede can you already give me some idea? Is it possible or do we have to implement something ourselves? We are on a deadline for our project, so we'll have to move on fast. Thanks!

[2022-01-10 11:29] vishalnarkhede commented on #1075
@sandergo90 currently this is not possible. But I have triggered a discussion internally to look more into it, so that in future all the urls could be refreshed. Currently we only refresh attachment urls.

[2022-01-10 13:16] jaydotcom commented on #382
@lokewk can you share with us what you have done for it ?

[2022-01-10 14:30] thedewpoint commented on #1070
@vishalnarkhede thats what i thought as well, but i didn't observe unread messages until i passed them

[2022-01-12 02:22] vishalnarkhede commented on #980
Thanks for investigation @claudeaparecio . Quick question, did you reproduce this issue on SampleApp without `apiMiddleware`?

[2022-01-13 09:31] yosukapro commented on #795
This issues still happen. Does anyone have solution for this?

[2022-01-13 13:19] Shaninnik commented on #795
@yosukapro yes I've tried with updated version of react native blur and stream lib and still getting this issue in some Android device, so I am still applying my patch with `patch-package`:

[code]

It replaces a blur view overlay with solid 50% opacity overlay, but that is not a big deal for me.

[2022-01-14 13:11] madsroskar commented on #1004
Hi again Lucas, a cache issue has been deployed this morning that should address this (again), and my tests confirm that it works as expected on my end. Would you be able to see if it is resolved on your end as well when you get the chance?

[2022-01-17 06:27] claudeaparecio commented on #980
@vishalnarkhede If i removed apiMiddleware the issue doesn't appear

[2022-01-17 11:12] sandergo90 commented on #1025
Any update on this? We have a paid plan at get stream, and our customers suffer a lot from this. Thanks!

[2022-01-17 13:40] vishalnarkhede commented on #1025
Hey @sandergo90 we will soon publish next beta version of v4 (I will update you soon). This issue should be resolved as part of it.

[2022-01-17 13:46] vishalnarkhede commented on #980
Do you mind sharing the branch with us, on which you reproduced issue on SampleApp? That would be really helpful, since I am not much familiar with `apiMiddleware`!!

[2022-01-20 02:09] madsroskar commented on #1074
@rajkapoordev are you getting any errors logged to the console when this happens?

[2022-01-20 07:29] claudeaparecio commented on #980
@vishalnarkhede https://github.com/claudeaparecio/stream-chat-react-native/tree/chat_undefined_bug

[2022-01-20 13:06] madsroskar commented on #980
Thank you, I'll have a look

[2022-01-20 15:49] madsroskar commented on #980
I set up an app [here](https://github.com/madsroskar/stream-chat-redux-repro/tree/main) with the changes in your branch, and it doesn't seem to reproduce there for me. The call to `createApi` seemed to be missing the baseQuery key, but that doesn't seem to affect it either.

I'm thinking it might be a race condition where start/endReached is called before a previous check has finished, but it's so

[2022-01-21 06:40] claudeaparecio commented on #980
@madsroskar this is weird, the issue occurs on my end when i run from run this [repo](https://github.com/madsroskar/stream-chat-redux-repro/tree/main)
https://user-images.githubusercontent.com/31234790/150479015-3cac7bee-205a-44d9-a1bd-46e3a79a7b99.mov

[2022-01-21 11:56] jw-85 opened #1100 "[react-native-gesture-handler] Seems like you're using an old API with gesture components, check out new Gestures system!"
I have been having some issues implementing Stream Chat UI in my exiting RN app so I create a new project, and just installed Stream Chat SDK with dependencies as per [the guide](https://getstream.io/chat/docs/sdk/reactnative/). However, when I build the app and run it locally (both iOS and Android) I see the below warning.

[react-native-gesture-handler] Seems like you're using an old API with ge

[2022-01-21 13:54] madsroskar commented on #1100
Thank you for raising the issue, we will sort this out.

Yeah, `fbjs` is not declared as a dependency in the cameraroll library, so installing it is for now the best way to get that sorted, until react-native-cameraroll/react-native-cameraroll#367 is merged. I'll add it to our troubleshooting docs for now until a proper fix is in place.

[2022-01-21 15:23] madsroskar opened #1101 "fbjs/lib/invariant could not be found within the project"
This is a result of [react-native-cameraroll/react-native-cameraroll ](https://github.com/react-native-cameraroll/react-native-cameraroll) depending on `fbjs/lib/invariant` without declaring it as a dependency in their manifest. There is a [PR addressing this](https://github.com/react-native-cameraroll/react-native-cameraroll/pull/367) but it has yet to be merged.

To avoid this error, you can **a

[2022-01-21 15:24] madsroskar commented on #1100
I made a separate issue about this and pinned it to make this visible/easy to find

[2022-01-21 17:04] jw-85 commented on #1100
I also noticed that when I run my project on Android, I get this warning and the app crashes out. I cant quite tell if its to do with this SDK but it does only happen when navigating to a page with OverlayProvider:

` WARN  `new NativeEventEmitter()` was called with a non-null argument without the required `addListener` method.
    at Conversation (http://localhost:8081/index.bundle?platform=andro

[2022-01-21 17:59] ste7en commented on #508
Still having this issue, despite any of the above mentioned solutions.

My jest.config.js:
[code]

jest.setup.js :
[code]

and finally the error from Jest:
[code]

Any guide on how to setup Jest correctly?

[2022-01-24 01:56] linhewinner commented on #51
While this is not supported out of the box, is there any way for me build a local storage layer myself and integrate with stream-chat-react-native?

Any timeline on when official support would be available?

[2022-01-24 11:19] Marcoo09 commented on #1025
@vishalnarkhede  is there an estimated date for the release of this version? Is there any workaround? We have some users with this problem on production

[2022-01-25 08:01] ChenDimri opened #1111 "Error: undefined is not an object (evaluating 'InnerNativeModule.installCoreFunctions')"
I'm getting this error on ios, seems to be related to reanimated library.

I'm using these versions:
"react-native-reanimated": "2.3.1"
"stream-chat-react-native": "3.10.2"

gz#18853

[2022-01-25 14:15] mohofo7 commented on #1007
I had the same problem here, so I open a [PR](#1112).

After that, we can change flex-direction of the pager to row-reverse, and change slide margins.

with these changes, ImageGallery works fine with Right to Left

[2022-01-25 20:42] lucaswhitman commented on #1004
@madsroskar sorry, we're still seeing it... 😞

[2022-01-26 07:30] madsroskar commented on #1004
That's not good. :( Thanks for the update, I'll raise it internally again.

[2022-01-26 09:36] #1067 closed

[2022-01-27 22:56] maxsonm opened #1116 "ImageGalleryHeader parsedDate.fromNow is undefined when passing DateTimeParser to Streami18n"
**Describe the bug**
Passing a Moment or Dayjs instance to the Streami18n object results in ImageGalleryHeader throwing an error when parsing the date.
`parsedDate.fromNow is not a function. (In 'parsedDate.fromNow()', 'parsedDate.fromNow' is undefined)`
Call Stack: ImageGalleryHeader.tsx:116:11

**Dev environment info (please complete/provide the following information):**

- Package version (stre

[2022-01-28 08:38] madsroskar commented on #1116
Thank you for bringing this to our attention, I could reproduce this on my end as well

[2022-01-28 11:47] vishalnarkhede commented on #1111
Hey @ChenDimri We will need some more information to be able to reproduce this on our side. If you can setup a simple app with reproducible issue and share it with us, that would be great.

Also please make sure you have followed all the setup steps from here - https://getstream.io/chat/docs/sdk/reactnative/

[2022-01-28 13:49] madsroskar commented on #1116
For internal tracking: CRNS-519

[2022-01-28 15:54] madsroskar commented on #1100
@jw-85 That warning shouldn't make the app crash (but it's a warning we'll have to sort out - I'll make an issue for it in our internal issue tracker).

It might get you a better error message if you try to run something like `adb logcat -s "*:F"` when you reproduce the issue, as it should log any fatal error from the device. Could you try that and see if you get another error message with that?

[2022-01-28 18:23] ste7en commented on #1100
@madsroskar I have the same warning causing a crash.
Running the command you provided and opening my app this is the last part of debugger's output:

[code]

[2022-01-29 15:06] madsroskar commented on #1100
Hm, this seems to be related to reanimated, [and has been reported in their repo](https://github.com/software-mansion/react-native-reanimated/issues/2722) and there seems to be a [PR addressing this opened 12 days ago](https://github.com/software-mansion/react-native-reanimated/pull/2853). Which version of `react-native-reanimated` are you currently using? If you're on `2.3.x`, it's possible downg

[2022-01-30 14:20] ChenDimri opened #1119 "App crushes after long press on message"
**Describe the bug**
When I press a long press on a message in the chat to see the actions (delete, etc),
 I see it for a second and than the app crashes

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native: 3.10.2
- react-native : 0.63.3
-  Emulator on android device

**Expected behavior**
To see the available actions for a message

gz#19000

[2022-01-31 08:51] finalight commented on #508
still encountering this issue, any solutions?

[2022-01-31 15:22] ste7en commented on #1100
@madsroskar I just downgraded from ^2.3.1 to ^2.2.4 and this did not solve my issue

[2022-02-01 09:26] vishalnarkhede commented on #1119
@ChenDimri do you see some error in console?

[2022-02-01 09:26] vishalnarkhede commented on #1119
Also do you mind sharing some code around chat components in your app?

[2022-02-01 10:02] ChenDimri commented on #1119
Hi,
I don't see any error/warning in the console.
I just started using the chat so most of the code is similar to the
examples that are shown in the documantain in your website.
I have a problem with reanimated library on IOS which I'm trying to solve
with one of your colleagues. It might be related somehow?

On Tue, Feb 1, 2022 at 11:26 AM Vishal Narkhede ***@***.***>
wrote:

[2022-02-01 11:10] mfbx9da4 opened #1200 "Persist and restore state"
I would like to implement caching of channels and messages in react-native. Are there any guides for persisting and restoring the client state to local storage? How might I go about it?

gz#20444

[2022-02-02 05:44] rajkapoordev commented on #1074
@madsroskar Not get any error or log.

[2022-02-02 09:32] ben-wright commented on #1119
Hello, I'm also getting same issue
- stream-chat-react-native: 3.10.2
- react-native : 0.67.2

I've applied patch mentioned here: https://github.com/GetStream/stream-chat-react-native/issues/549#issuecomment-796974121
and gradle edit suggested here: https://getstream.io/chat/docs/sdk/reactnative/basics/troubleshooting/#android-5

But still getting following native error when message actions are di

[2022-02-02 16:05] vishalnarkhede commented on #1119
Hey guys, unfortunately we are not able to reproduce this issue on our side. Would you please mind setting up an example app and share it with us where we can reproduce this issue and investigate on our side?

[2022-02-02 16:43] thedewpoint opened #1121 "Unable to select channel from channel list after upgrading to expo 44"
I have an app written in expo sdk 42 that was working fine, and then after upgrading to expo sdk 44 and navigating to my messages tab, i try to select a channel from the list and nothing happens. I added a console.log to the onSelect and it's not firing at all. Something weird with detecting onpress maybe?

gz#19129

[2022-02-02 16:59] thedewpoint commented on #1121
Additional information. I set the channel programmatically and it loaded all of the messages, however when i try to send a new message, the send button is also unresponsive. Additionally if I try to reply in a thread or react to a message it crashes. Any insight would be greatly appreciated

[2022-02-02 21:18] vishalnarkhede commented on #1074
Hey @rajkapoordev I would like to request you to test it on v4 of stream-chat-react-native as well. We are still currently in beta version right now, but you can give it a try using this upgrade helper guide - https://getstream.io/chat/docs/sdk/reactnative/4.0.0/basics/upgrading-from-v3/

You can upgrade to [`v4.0.0-beta.4`](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.0.0

[2022-02-03 12:50] ao-alexi commented on #1119
Hi, we've had this same issue and it got fixed by downgrading react-native-reanimated to 2.2.4. hope this helps.

[2022-02-03 13:04] gogolubev commented on #1119
Hi there, I have the same issue.
I've removed reactions by adding `reactionsEnabled={false}` to the Channel component and it works fine now.

[2022-02-03 13:17] vishalnarkhede commented on #1119
@ben-wright BlurView dependency has been removed from v4 of SDK. Currently we are still in beta, but you can still use the upgrade helper guide to test it out
- Beta version - https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.0.0-beta.4
- Upgrade Helper - https://getstream.io/chat/docs/sdk/reactnative/4.0.0/basics/upgrading-from-v3/

[2022-02-03 17:05] ben-wright commented on #1119
Will give v4 a test at some point. Thanks @vishalnarkhede.

I can confirm downgrading to react-native-reanimated 2.2.3 also resolved our issue. Thanks

[2022-02-04 07:56] sandergo90 commented on #148
@vishalnarkhede We are facing the same issue in our application on Android. The problem does only occur when the message list in the chat is no longer than your screen size. When having a lot of messages the screen will scroll, and the message read event is dispatched.

An example can be found in the video below.

https://user-images.githubusercontent.com/1516413/152492398-6b9d7955-9fc2-4f72-8323-

[2022-02-04 17:59] thedewpoint commented on #1121
bump!

[2022-02-07 10:44] qsdamar opened #1126 "Custom styles for unread channels"
Hello and thanks for an amazing library.

I would like to know if there's a way to add custom styles for unread channels in `ChannelList`? For example, I would like to add some borders to unread channels in `ChannelList`. I was hoping that there's a special prop for unread channels inside `DeepPartial<Theme>`, but I did not manage to find it. Any help would be appreciated.

Best regards.

[2022-02-07 20:19] madsroskar commented on #1121
Hi, @thedewpoint - I just built [this small app](https://github.com/madsroskar/stream-chat-expo-with-channel-list) with Expo 44 to try to reproduce the issue, but it doesn't seem to happen there for me. Could you see if you face the same issue if you clone it and build it on your end?

I'll keep trying to reproduce it, and will get back to you when I figure out more about this.

[2022-02-08 01:10] micahgoodman opened #1127 "MessageFooter doesn't have access to the message object prop"
**Describe the bug**
Author names weren't showing up under messages automatically, so I tried to implement it myself. I found that I couldn't access the props.message object for the MessageFooter component. In the code snippet below, the output is "message object is undefined". Whereas when I pass the same custom component to MessageHeader, it correctly outputs the message object. The other props

[2022-02-08 09:00] vishalnarkhede commented on #1127
Hey, to access message you should use the `MessageContext`

[code]

[2022-02-08 12:46] vishalnarkhede commented on #1116
This has been fixed and been included in `v4.0.0-beta.5` release.

[2022-02-08 14:54] cleandevcode opened #1129 "Bug: Enumerated List"
Hi, talented.
First of all, I wanna appreciate your wonderful SDK.
I develop a mobile application using this SDK and I found a bug when trying to make an enumerated list in chat with ". ".
This is the screenshot.
- without Space after dot, seems it is working well (i.e. `1.`)

- with Space after dot and trying to make the enumerated list, it happens the unexpected results. (i.e. `1. `)

This is th

[2022-02-08 22:29] madsroskar commented on #1129
Hi, @cleandevcode, could I ask which version of the SDK you're using?

What's happening here is that the empty list item (meaning there isn't any text following the space you add after `1.`) makes the following indexed number considered a new list, and therefore reindexed from 1.

We've made some changes to lists in messages in the version currently published as beta version `4.0.0-beta.5` -- coul

[2022-02-08 23:13] vishalnarkhede commented on #114
@himanshi7046 https://getstream.io/chat/docs/sdk/reactnative/guides/message-input-customization/#replacing-attachmentpicker-with-native-image-picker

[2022-02-09 01:33] micahgoodman commented on #1127
I see, thank you!

[2022-02-09 08:57] #1127 closed

[2022-02-09 10:08] 2maleek opened #1131 "Navigation goBack() not working when using OverlayProvider"
When im using <OverlayProvider> navigation.goBack() isn't working on android device, and there some different to navigate another screen, the oppacity of screen gets blurry. but in ios working well.

This Video Using OverlayProvider and navigation goBack not work, just blank screen.

<img width="645" alt="Screen Shot 2022-02-08 at 11 35 49" src="https://user-images.githubusercontent.com/56329434/1

[2022-02-09 10:14] 2maleek opened #1132 "Navigation goBack() not working when using OverlayProvider"
When im using <OverlayProvider> navigation.goBack() isn't working on android device, and there some different to navigate another screen, the oppacity of screen gets blurry. but in ios working well.

This Video Using OverlayProvider and navigation goBack not work, just blank screen.

<img width="645" alt="Screen Shot 2022-02-08 at 11 35 49" src="https://user-images.githubusercontent.com/56329434/1

[2022-02-09 11:05] danielkariti commented on #1057
Hi,
Same issue here:
[code]
The npm install works after trying to install legacy peers deps but it is not a valid solution,
is there anything else I can do or that you guys are doing that can fix this issue?

[2022-02-09 14:06] sandergo90 commented on #148
Can this issue be reopened? it's still occurring on Android.

[2022-02-09 21:28] vishalnarkhede commented on #1132
Closing since its a duplicate!!

[2022-02-09 21:28] #1132 closed

[2022-02-10 10:35] pimenvibritania commented on #1131
Same issue!

[2022-02-10 12:08] ChenDimri commented on #1001
Is there any update regarding showing "X new messages" inside a channel?

[2022-02-10 12:42] ChenDimri commented on #64
Is this also can be used not in ts?

[2022-02-10 14:40] danielkariti opened #1134 "Invariant Violation: Tried to register two views with the same name GestureHandlerRootView"
The error i'm getting when trying to user OverlayProvider or any of the UI components from the library
[code]

Package.json
[code]

I tried anything to fix it including fixes suggested here:
https://github.com/software-mansion/react-native-gesture-handler/issues/457
is there anything I can do to fix it on my end?

gz#19426

[2022-02-11 05:50] anle1991 opened #1135 "Reanimated 2 error from OverlayProvider"
**Describe the bug**
My app hasn't made any change for chat functionality and I implemented the same as the example. It has been running until recently. I checked the docs for update but there isn't any. When I commented out OverlayProvider, things started to work normally without the chat functionality from Stream Chat.

**Dev environment info (please complete/provide the following information):*

[2022-02-11 06:01] anle1991 commented on #1135
This is solved by upgrading expo to latest 44.

[2022-02-11 06:01] #1135 closed

[2022-02-13 21:30] dpark4574 opened #1140 "Overlay not clickable"
IOS works fine, but on Android, the message action after long-pressing on a message is not clickable. Same with image picker. The images in the bottom sheet are not clickable for Android.

Package version:
-  "stream-chat": "^5.4.0",
    "stream-chat-react": "^6.12.2",
    "stream-chat-react-native": "^4.0.0-beta.5",
React-native version:
- "react-native": "0.66.3",

Device/Emulator (android/ios)

[2022-02-13 21:43] jr00n opened #1141 "TypeError: setMaxNumberOfFiles is not a function."
[code]

is producing this error:

TypeError: setMaxNumberOfFiles is not a function. (In 'setMaxNumberOfFiles(maxNumberOfFiles != null ? maxNumberOfFiles : 10)', 'setMaxNumberOfFiles' is undefined)

Just try to follow this tutorial: https://getstream.io/chat/react-native-chat/tutorial/#setup

using   "stream-chat-react-native": "3.10.2"

gz#19512

[2022-02-14 05:30] #1140 closed

[2022-02-14 10:50] ChenDimri opened #1143 "Can't see last massage sender name in channels list"
**Describe the bug**
Is there a way to see the name of the sender of the last massage of each channel in channels list?
I'm only able to see "you" if the last message was sent by me:

**Dev environment info (please complete/provide the following information):**

- Package version: stream-chat-react-native 3.10.2
- react-native: 0.63.3
- Emulator

**To Reproduce**
Go to channel list screen

**Scree

[2022-02-14 14:19] ChenDimri opened #1146 "Translation not applying on channels list"
**Describe the bug**
Hi, I added a translation file in Hebrew because our app is in Hebrew.
I followed the steps regarding the translation that are mentioned in the documentation and I see Hebrew in the channel,
but in the channels list I still see the text in English (adding screenshots).

This is what I did in the code:

const streami18n = new Streami18n();
streami18n.registerTranslation('he', h

[2022-02-15 11:41] vishalnarkhede commented on #1141
@jr00n I think you missing the OverlayProvider component - https://getstream.io/chat/docs/sdk/reactnative/basics/hello_stream_chat/#overlay-provider

[2022-02-15 11:54] vishalnarkhede commented on #1143
Hey you can customize `ChannelPreviewMessage` component to implement the required UI - https://getstream.io/chat/docs/sdk/reactnative/ui-components/channel-preview-message/

[2022-02-15 12:01] vishalnarkhede commented on #1146
For internal tracking - https://stream-io.atlassian.net/browse/CRNS-522

[2022-02-15 12:57] ChenDimri commented on #1143
I looked at it but the data that comes from preview object doesn't contain a sender name but an empty string instead when the sender is someone else..
Is this data exists at all? If not then the UI adjustments that I would implement won't matter

[2022-02-15 16:32] ChenDimri commented on #1143
Updating: There must be more than 2 members in the channel in order to see the sender name.
Watcher user is not enough..

[2022-02-15 16:32] #1143 closed

[2022-02-15 18:13] bryceredd opened #1148 "Image Gallery will occasionally not show the modal on image attachment tap"
**Describe the bug**
The image gallery will sometimes incorrectly hide the UI.  Buttons are still tappable, but the only the half-opacity black background is visible

**Dev environment info (please complete/provide the following information):**

- Package version
`"stream-chat-react-native": "4.0.0-beta.5`

- react-native or expo version
`"react-native": "^0.66.4",`

- Device/Emulator (android/ios

[2022-02-16 17:31] m-lce opened #1150 "Invalid hook call error"
Hello,
I tried the 4.0.0 beta versions and I have an Invalid hook call error since 4.0.0.beta.3 at app starting.
It’s ok with 4.0.0.beta.1 version.
I am using react-native-expo package.
Here the detailed error.
[code]
Do you have any idea of what could be the source of this error ?
Thanks.

gz#19706

[2022-02-16 19:07] vadimT-blanket commented on #1111
We had the same issue - it was related to incorrect RN upgrade.
The problem is in this Reanimated code:
`const InnerNativeModule = global.__reanimatedModuleProxy;`
Reanimated sets `global.__reanimatedModuleProxy` correctly only if RNBridge is initialized via initWithDelegate (AppDelegate.m), like:
`RCTBridge *bridge = [[RCTBridge alloc] **initWithDelegate**:self launchOptions:launchOptions];`
but

[2022-02-17 11:07] vishalnarkhede commented on #1141
Hey I am going to close this issue for now.

[2022-02-17 11:07] #1141 closed

[2022-02-17 11:13] vishalnarkhede commented on #1134
Hey could you please check your yarn.lock file to confirm if you have two different versions of RNGH installed by any chance?

[2022-02-17 16:20] vadimT-blanket commented on #1111
@ChenDimri , created a new RN project and checked how bridge initialization works now, in my case I changed:
1. AppDelegate.h - added RCTBridgeDelegate
@interface AppDelegate : UIResponder <UIApplicationDelegate, **RCTBridgeDelegate**, UNUserNotificationCenterDelegate>
2. AppDelegate.m - moved bundle URL logic to a separate method, like:
`
- (NSURL *)sourceURLForBridge:(RCTBridge *)bridge
{
#if DE

[2022-02-18 09:12] DenizKucukozturk commented on #148
I am having this issue on react client too. Marking messages as read feature is definitely working inconsistently. Sometimes it just works correctly, sometimes you need to open and close channel  and sometimes it just doesn't work at all. I also set up a web push hook and listening those message.read events and I could not figure out what triggers those events or when message is marked as read.

[2022-02-19 23:31] danstepanov opened #1155 "yarn start is not an available command, project won't start"
**Describe the bug**
A clear and concise description of what the bug is.

The docs indicate to run `yarn && yarn start` to run the project; however, `start` is not an available script.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
- react-native or expo version
- Device/Emulator (android/ios) and OS ver

[2022-02-20 12:24] vishalnarkhede commented on #1155
Hey, root directory is not exactly yarn runnable project. If you want to run some example application, then you should `cd` into one of the example directories and then do `yarn && npx pod-install && npx react-native run-ios`

[2022-02-20 12:24] #1155 closed

[2022-02-21 00:21] Rappo-Ghad commented on #1121
Hello, @madsroskar. I'm having the same problem, but with the stream-chat-expo package. Expo SDK 44 is what I'm using. Because the channels are unclickable for whatever reason, the onSelect function is not invoked.

[2022-02-21 03:44] danstepanov commented on #1155
@vishalnarkhede worth updating the README to reflect that?

[2022-02-21 12:36] ChenDimri commented on #1111
 @vadimT-blanket  Thank you, it works for me too!

[2022-02-21 12:36] #1111 closed

[2022-02-21 23:32] vishalnarkhede commented on #1121
Hey @Rappo-Ghad can you confirm if you have followed the installation steps for RN Gesture handler - https://docs.expo.dev/versions/latest/sdk/gesture-handler/#api

[2022-02-22 00:45] Rappo-Ghad commented on #1121
Hello, @vishalnarkhede. I appreciate your taking the time to notice my problem. I followed the RN Gesture Handler installation instructions, but the channels do not appear to be clickable.

[2022-02-22 09:25] ChenDimri commented on #1146
@vishalnarkhede Is there any anticipation for when this fix will happen?
I managed to fix it on ChallengeList in the library to see if it's possible/complicated to do.
But If I'm understanding right then I can't send a custom ChallengeList and have to use the default one..

[2022-02-22 11:07] vishalnarkhede commented on #1121
@Rappo-Ghad https://github.com/GetStream/stream-chat-react-native/issues/1121#issuecomment-1031881781

If you are not able to reproduce this issue in app shared by @madsroskar , then could you please setup a new simple expo app and share it with us, where we can reproduce this issue.

[2022-02-22 11:16] Rappo-Ghad commented on #1121
Hello, @vishalnarkhede , I forgot to mention that I am using Typescript.

[2022-02-22 11:23] Rappo-Ghad commented on #1121
Hello, @vishalnarkhede, the issue persists. Is it likely that the error comes from one of my node's or yarn's versions?
Versions:
Yarn - 1.22.17
Node - 14.18.3

[2022-02-24 15:14] ChenDimri commented on #1119
@ao-alexi worked for me, thanks!

[2022-02-24 15:14] #1119 closed

[2022-02-24 22:10] estampscvt opened #1159 "Messages not being auto marked as read while inside chat on iOS"
When you open a channel, it immediately marks all messages as read. However, if you stay in that channel and talk to someone, all of the messages that get sent in that channel will stay marked as 'unread' until you make a scroll action on the screen or close/reopen.

Dev environment info (please complete/provide the following information):

Package version. 3.8.2
Device/Emulator (iOS): iPhone 12 -

[2022-02-24 23:40] lucaswhitman commented on #1004
@madsroskar?

[2022-02-25 03:01] JSimai opened #1161 "Issue with stream-chat-expo compatibility with Expo 44"
Hi!
I'm simply trying to install stream-chat-expo in my new expo project, but there is a dependency error coming up that I can't figure out regarding my expo version.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo):
v3.10.2
Latest
on 24 Nov 2021

- react-native or expo version:
SDK 44

**To Reproduce**
St

[2022-02-25 08:49] vishalnarkhede commented on #1161
@JSimai could you please try `expo install stream-chat-expo` instead?

[2022-02-25 09:30] vishalnarkhede commented on #1159
Hey @estampscvt I would recommend you to upgrade to v3.10.2, since we made some fixes around this in recent versions.

[2022-02-25 09:31] vishalnarkhede commented on #1159
Please let me know if you are able to reproduce this on latest version.

[2022-02-25 09:32] vishalnarkhede commented on #1161
Also you may need to use `--legal-peer-deps` in this case, since yarn 2 added strict rules for peer dependencies.

[2022-02-25 14:49] estampscvt commented on #1159
@vishalnarkhede Thanks for the quick response. It is still persisting on the latest version unfortunately. I updated my comment with a bit more information about the test device I am using

[2022-02-25 15:25] vishalnarkhede commented on #1159
Hey @estampscvt could you please check if the read events are enabled on your dashboard?

<img width="1122" alt="Screenshot 2022-02-25 at 16 24 36" src="https://user-images.githubusercontent.com/11586388/155741307-dd73a27a-d850-42e2-980e-29120da609c3.png">

[2022-02-25 15:42] estampscvt commented on #1159
@vishalnarkhede read events are working when I make a scroll action on the messages list or exit/return. It is also working as expected on Android

[2022-03-01 09:27] vishalnarkhede commented on #678
Hey @jehartzog we have published our next major version of RN Chat SDK - `v4.1.0` 🎉.

This release includes the fix for this issue. Please take a look at [**Release Notes**](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.1.0) for details.

[2022-03-01 09:28] vishalnarkhede commented on #1020
Hey @jehartzog we have published our next major version of RN Chat SDK - `v4.1.0` 🎉.

This release includes the fix for this issue. Please take a look at [**Release Notes**](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.1.0) for details.

[2022-03-01 09:29] vishalnarkhede commented on #1023
Hey @bkit4u  we have published our next major version of RN Chat SDK - `v4.1.0` 🎉.

This release includes the fix for this issue. Please take a look at [**Release Notes**](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.1.0) for details.

[2022-03-01 09:29] vishalnarkhede commented on #1116
Hey @maxsonm  we have published our next major version of RN Chat SDK - `v4.1.0` 🎉.

This release includes the fix for this issue. Please take a look at [**Release Notes**](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.1.0) for details.

[2022-03-01 09:32] vishalnarkhede commented on #1065
Fixed in v4.1.0

[2022-03-01 09:32] #1065 closed

[2022-03-01 09:34] vishalnarkhede commented on #940
I am going to close this issue for now.

On side note, we have published our next major version of RN Chat SDK - `v4.1.0` 🎉.

This release includes plenty of improvements and fixes. Please take a look at [**Release Notes**](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.1.0) for details.

[2022-03-01 09:34] #940 closed

[2022-03-01 11:23] andreibarabas commented on #1053
Yes. I can confirm it's upgraded and working now. Thanks @vishalnarkhede

[2022-03-01 11:23] #1053 closed

[2022-03-01 12:05] vishalnarkhede commented on #1148
Hey @bryceredd we have managed to track down this issue and we will soon publish a patch for this!!

[2022-03-01 14:03] vishalnarkhede commented on #1148
For internal tracking - https://stream-io.atlassian.net/browse/CRNS-532?atlOrigin=eyJpIjoiMzBlY2IyMDRkYmFmNDRjMDhiMGYzMGQ3OGE5MTlmNTUiLCJwIjoiaiJ9

[2022-03-01 15:02] andreibarabas commented on #1148
For me it happens every time. I tap and see the backdrop, no matter how slow I tap on it. Can it be related @vishalnarkhede ?

[2022-03-01 15:02] andreibarabas commented on #1148
<img width="444" alt="Screenshot 2022-03-01 at 17 02 47" src="https://user-images.githubusercontent.com/2101405/156193234-71554d01-6ae9-48e6-9b56-1f0af5dc1e78.png">

[2022-03-01 18:43] #1023 closed

[2022-03-01 20:09] madsroskar commented on #1161
I think that was a typo, `--legacy-peer-deps` should be the flag to use. Alternately `--force`. These are also hinted at at the bottom of the screenshot you added.

The error is raised since a new expo project set up with `expo init` right now will use expo version `~44.0.0` and the SDK has set version `~41.0.1`, I'll make a PR to update this in the SDK to allow version 44 of expo once I've been a

[2022-03-01 21:51] raksahb commented on #1159
Read events are enabled for our app
![Stream___Channel_Type](https://user-images.githubusercontent.com/2277664/156254869-fdce487c-b5dd-4ff0-8327-2298777e7ce6.png)
d

[2022-03-02 08:04] #1020 closed

[2022-03-02 08:08] sandergo90 opened #1170 "Messages not auto marked as read while inside channel"
@vishalnarkhede We are facing the same issue in our application on Android. The problem does only occur when the message list in the chat is no longer than your screen size. When having a lot of messages the screen will scroll, and the message read event is dispatched.

An example can be found in the video below.

https://user-images.githubusercontent.com/1516413/152492398-6b9d7955-9fc2-4f72-8323-

[2022-03-02 08:08] sandergo90 commented on #1170
Because no response on the original issue, I've created a new one for it.

[2022-03-02 12:10] vishalnarkhede commented on #1170
Hey @sandergo90 are you using native stack navigator by any chance?

[2022-03-02 12:12] sandergo90 commented on #1170
Hi! No, we are using the javascript stack navigator.

[2022-03-02 12:44] vishalnarkhede commented on #1170
Hey @sandergo90 after some testing, I think I am able to reproduce this issue. We will get back to you once we publish a patch.

[2022-03-02 13:38] sandergo90 commented on #1170
Alright, thanks!

[2022-03-02 15:16] vishalnarkhede commented on #1159
@raksahb could you share some screenrecording?

[2022-03-02 15:53] #1170 closed

[2022-03-02 16:59] treyshedrick opened #1173 "ChannelPreviewMessage incorrect props in documentation"
**Describe the bug**
Docs say to use lastMessagePreview as props for the ChannelPreviewMessage component. The correct props are latestMessagePreview

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [docs page](https://getstream.io/chat/docs/sdk/reactnative/ui-components/channel-preview-message/)
2. Log correct props in console when creating component
3. Compare

[2022-03-02 21:32] estampscvt commented on #1159
https://user-images.githubusercontent.com/91638012/156452717-56ce359a-12df-4e7d-9560-678a5b92dbd9.mov

@vishalnarkhede Here is a video with an iOS device on the right and android device on the left. You will see that when a chat is sent to the iOS device that the read receipt doesnt update. Event after I am typing send a follow up. The read receipt updates correctly from the opposite scenario. The

[2022-03-02 21:41] vishalnarkhede commented on #1159
@estampscvt thanks for the screenrecording. Could you please confirm one more scenario for me?

I can see from the screen recording that the messages length is lesser than visible screen. Could you also please test it for the case when you have more messages than the visible screen height (basically when list is scrollable)?

[2022-03-02 21:46] estampscvt commented on #1159
@vishalnarkhede same issues in that scenario unfortunately

[2022-03-02 23:19] madsroskar commented on #1004
Hi again Lucas. I'm terribly sorry for the lack of response here. I just tested this, and it seems like the giphys are being counted properly at the moment. Are you still experiencing issues with this?

[2022-03-02 23:51] lucaswhitman commented on #1004
I'll send it back to our QA again, but every time I have it's still experiencing the same issue. I'll get back to you soon.

[2022-03-03 00:35] madsroskar commented on #1004
I understand - and I'm sorry for the extra frustration about that. I've tried to test it out myself to reproduce the issues as described before but at the moment those seem to work fine after the last time I talked to our backend team about this. If your QA still encounters issues - I'd be very thankful for any information and/or steps to reproduce that are available.

If you still encounter issue

[2022-03-03 09:49] vishalnarkhede commented on #1148
Hey @andreibarabas @bryceredd we have added a fix for this in `v4.1.1-beta.2`. If you can upgrade and test it, that would be really helpful :)

[2022-03-03 12:50] khushal87 commented on #1101
I faced this issue recently while setting up an app from scratch. Adding `fbjs` as a dependency works as a fix.

[2022-03-03 13:57] #678 closed

[2022-03-03 13:58] #1025 closed

[2022-03-03 14:01] sandergo90 opened #1178 "No push notification to firebase when app is still in foreground"
Hi,

We are trying out the new v2 push notifications, but are having trouble implementing foreground notifications.

As the new docs are saying, it shouldn't matter anymore if a user is online or offline to receive notifications.
When looking at the Webhook & Push Logs dashboard on the stream website, there is no push log when my application is still in foreground.

When I go to the background, an

[2022-03-03 14:13] vishalnarkhede commented on #1173
Thanks for bringing this up @treyshedrick !! We have updated our docs!

[2022-03-03 14:13] #1173 closed

[2022-03-03 14:14] vishalnarkhede commented on #1150
Closing for now, but I would recommend you to re-check the installation steps again.

[2022-03-03 14:14] #1150 closed

[2022-03-03 14:15] #1134 closed

[2022-03-03 14:16] vishalnarkhede commented on #1129
Hey @cleandevcode we have fixed alot of issues around list markdown. So I would recommend you to upgrade you to v4 of stream-chat-expo
- Releases - https://github.com/GetStream/stream-chat-react-native/releases
- Upgrade Helper guide - https://getstream.io/chat/docs/sdk/reactnative/basics/upgrading-from-v3/

[2022-03-03 14:16] #1129 closed

[2022-03-03 15:20] robrechtme opened #1179 "[Android][v4] Bottom Sheet randomly appearing"
**Describe the bug**
On Android, the bottom sheet from the Attachment picker is sometimes appearing when opening/closing the keyboard or changing between keyboards. This issue occurred since the v4 upgrade.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): **4.1.0**
- react-native or expo version: **RN 0.6

[2022-03-03 17:17] lucaswhitman commented on #1004
Here's a replay, the area that the issue occurs in is pretty generic Stream UI.

https://user-images.githubusercontent.com/7506979/156616623-b4daaaff-40a7-4c50-a8fa-cc49c51c0e8f.MP4

[2022-03-03 20:24] #1116 closed

[2022-03-03 23:40] bryceredd commented on #1148
Tested this for a few minutes on an iOS simulator and device, both worked perfectly.  Thanks @vishalnarkhede!

@andreibarabas make sure your OverlayProvider is in the correct place, for us it was just above our `<Tab.Navigator />`

[2022-03-03 23:40] #1148 closed

[2022-03-04 07:19] JSimai commented on #1161
Thanks for the help! I installed it, then also forced the subsequent package installs as outlined at https://getstream.io/chat/docs/sdk/reactnative/
Running the app after that resulted in some more errors which seem quite scary
![Screen Shot 2022-03-04 at 6 18 16 pm](https://user-images.githubusercontent.com/67139031/156717434-f1460ca4-90c2-4c36-9327-67dbf3f29e24.png)
Should I just leave this unti

[2022-03-04 07:23] khushal87 commented on #1146
@ChenDimri Did you go through this guide - https://getstream.io/chat/docs/sdk/reactnative/basics/translations/#overriding-datetime-format and added the translations for `he` language?

[2022-03-04 08:18] vishalnarkhede commented on #1161
Hey @JSimai reanimated dependency requires you to add additional babel plugin as mentioned in their docs - https://docs.expo.dev/versions/latest/sdk/reanimated/#installation

[2022-03-04 10:15] GustantoC commented on #1134
Hello I have the same problem and I have checked in the yarn.lock file I only have one version of RNGH

![image](https://user-images.githubusercontent.com/89672487/156744378-7ff76295-1be3-4890-9ec7-51dacf188f99.png)

Notice that the version is old because this is an old project and I'm trying to start it back up using RN 0.61.5 and Nodejs 12

Any help would be appreciated :)

P.S: Oh yeah I also h

[2022-03-04 14:54] treyshedrick opened #1182 "Unable to change border radius of top borders of messages"
**Describe the bug**
Related to this [discussion](https://github.com/GetStream/stream-chat-react-native/discussions/614). The top border radius of messages don't seem to change when editing either `borderRadiusS` or `borderRadiusL`

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native 4.1.0
- react-native
- ios 14.4

**To Reproduce**
Steps to re

[2022-03-04 15:27] buneme commented on #51
Hello @vishalnarkhede , are there any updates on this? And are there any possible work around that we could use in the meantime?

[2022-03-04 15:38] treyshedrick opened #1183 "Attachment Picker Bottom Sheet custom color"
**Describe the bug**
The bottom sheet does not change its background color when adding to the the custom theme.

**Dev environment info (please complete/provide the following information):**

stream-chat-react-native 4.1.0
react-native
ios 14.4

**To Reproduce**
Steps to reproduce the behavior:

1. Add custom theme to chat
2. Add the following in the custom theme.
[code]
3. Observe the bottom shee

[2022-03-06 08:52] ChenDimri commented on #1146
@khushal87 Yes, but it's not working for channel list component as I mentioned and as @vishalnarkhede said, it's a bug that's going to be fixed

[2022-03-07 06:45] andreibarabas opened #1186 "useOwnCapabilitiesContext is not exported"
**Describe the bug**
When you have a custom InputButtons component, you need to access the useOwnCapabilities to follow a similar logic to the default implementation

gz#20289

[2022-03-07 09:19] santhoshvai commented on #1101
yup i can confirm.. i did the same

[2022-03-07 09:32] vishalnarkhede opened #1189 "Customise the Editing Box Header"
### Discussed in https://github.com/GetStream/stream-chat-react-native/discussions/1185

<div type='discussions-op-text'>

<sup>Originally posted by **andreibarabas** March  5, 2022</sup>
In the MessageInput, just like we can customise the InputButtons, we just need to make small tweaks to the "Reply to Message" header. Currently, we made a patch but that will soon break.

<img width="337" alt="Sc

[2022-03-07 09:32] vishalnarkhede commented on #1189
Hey @andreibarabas we have added it to our backlog, and we will try to work on it within next 2-3 weeks (or earlier if possible) :)

For internal tracking - https://stream-io.atlassian.net/browse/CRNS-535

[2022-03-07 09:33] #1186 closed

[2022-03-07 12:19] vishalnarkhede commented on #1015
Hey @mishkeTz we have fixed this issue as part of v4 of our SDK. Please upgrade to get the fix - https://github.com/GetStream/stream-chat-react-native/releases

[2022-03-07 12:19] #1015 closed

[2022-03-08 02:19] jordanj77 opened #1191 "Cannot start new direct chat: "You can't send messages in this channel""
**Describe the bug**
Can't start a new chat with an individual - it says "You can't send messages in this channel".  See Screenshot below.

**Dev environment info:**

- Package version: stream-chat-react-native v4.1.2
- Device/Emulator: iOS Simulator - iPhone 13 - iOS 15.0

**To Reproduce**
1. Clone & install this repo, launch the Sample App
2. Click the pencil icon in the top right to start a new

[2022-03-08 02:34] andreibarabas commented on #1186
Thanks @vishalnarkhede

[2022-03-08 03:27] andreibarabas opened #1192 "ChannelList "Pull to refresh" no longer works in v4"
**Describe the bug**
You have a channel list, and then you do a pull to refresh, the channels will not actually be queried.

**Dev environment info (please complete/provide the following information):**

- Package version: stream-chat-react-native@4.1.1
- react-native
- device & emulator

**To Reproduce**
It's a little bit harder to reproduce as your example has event listeners that automatically

[2022-03-08 04:34] andreibarabas opened #1193 "useChannelUpdated removes "own_capabilities" from channel.data in v4"
**Describe the bug**
Go in a channel, you will see the Message Input is there. Go back to the channel list. On a different device, update that channel so that the first devices receives the 'channel.updated' event.

On the first device, if you go now back to the channel, you will see
<img width="308" alt="156983346-031cd5e0-cd03-4816-b741-55c63295344e" src="https://user-images.githubusercontent.co

[2022-03-08 08:16] khushal87 commented on #1146
From what I can find, the `he` language of the DayJS package doesn't support AM/PM maybe because the language `he` doesn't have AM/PM - https://github.com/iamkun/dayjs/blob/dev/src/locale/he.js. I checked the same using `hi`(Hindi) language and it works fine.

Anyways we have a configuration that can be done in languages as:

[code]

The following works because the language `hi` supports `A`(https

[2022-03-08 10:02] vishalnarkhede commented on #1192
Thanks alot @andreibarabas for bringing this up and doing a thorough investigation as well. We will try to publish a patch for this ASAP :)

[2022-03-08 21:09] treyshedrick opened #1194 "Avatar component breaks inside react-native-paper Portal component"
**Describe the bug**
When using react-native-paper with this library. If a stream chat `Avatar` is placed inside a Portal, we receive the error

[code]

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native 4.1.0
- react-native
- ios 14.4

**To Reproduce**
Steps to reproduce the behavior:

1. Download other react-native-paper
2. Place Avatar comp

[2022-03-08 22:41] treyshedrick commented on #1183
Found this issues. When placing the custom styles in the `Chat` component, it does not cover the bottom sheet. Styles must go in the `OverlayProvider` `value` prop. This ticket can be closed.

[2022-03-08 22:41] #1183 closed

[2022-03-09 13:35] vishalnarkhede commented on #1194
@treyshedrick Is the Portal/Modal getting rendered outside the OverlayProvider/Chat component tree? In that case chat components won't have access to the ThemeProvider context.

[2022-03-09 14:48] #1193 closed

[2022-03-09 14:48] #1192 closed

[2022-03-09 22:34] treyshedrick commented on #1194
Yes it is. Makes sense now. Went ahead and wrapped ThemeProvider around the `react-native-paper` Provider so it can be accessible in the Portal component if anyone else does run into this issue.

Let me know if you can think of any issues this may cause. Thanks!

[code]

[2022-03-10 06:24] khushal87 commented on #1146
Hey @ChenDimri, the following attached snippet would work for you.

[code]

Please don't forget to add your language translations in `meridiem`, `meridianHour`, and `meridiemParse`. I have used `Hindi(hi)` as the language to test. The problem here was that, the `he` language doesn't have meridian in their format by default so you have to customize it as above(note I have added `A` along with `hh:m

[2022-03-10 08:17] vishalnarkhede commented on #1146
@ChenDimri pardon me for confusion, but what @khushal87 suggested is correct :)

[2022-03-10 08:24] vishalnarkhede commented on #1194
It should be fine :)

[2022-03-10 08:24] #1194 closed

[2022-03-10 08:55] vishalnarkhede commented on #1200
@mfbx9da4 currently we don't have any guide for this. It's on our roadmap to implement offline storage for chat, but I can't give any timeline for it yet.

[2022-03-10 08:55] #1200 closed

[2022-03-10 11:09] #1161 closed

[2022-03-10 15:44] gavinv opened #1202 "Unable to interact with message reactions and add members overlays on Android"
**Describe the bug**
On Android, long-pressing a message will open the reactions context menu but unable to interact. This seems to happen with other overlays in the demo app such as the "Add Members to Channel" overlay menu. Must use device back button to close the overlay. No errors logged.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native

[2022-03-10 22:56] estampscvt commented on #1159
@vishalnarkhede We are just wondering if you have everything you need to determine if this is a bug

[2022-03-11 05:03] khushal87 commented on #1202
@gavinv This is solved in 4.1.1. Can you please try updating the app and try again?
Go through the upgrade helper guide - https://getstream.io/chat/docs/sdk/reactnative/basics/upgrading-from-v3/
Let us know if it doesn't work after the upgrade. Thanks, hope this helps 😄

[2022-03-11 06:58] sergeyzhukov commented on #1178
Same issue, background / foreground not receiving pushes. But stream chat:push:test --user_id works fine, so everything connected correctly. But no push on any of new message inside the channel @vishalnarkhede

[2022-03-11 10:26] khushal87 commented on #1191
@jordanj77 I have fixed this in #1203. Thanks for reporting 😄

[2022-03-11 10:45] vishalnarkhede commented on #1202
Also what version of react-native-gesture-handler are you using?

[2022-03-11 11:10] vishalnarkhede commented on #1178
@sergeyzhukov could you confirm if all the following requirements are matched for the channel/user? https://getstream.io/chat/docs/sdk/reactnative/guides/push-notifications-v2/#requirements

[2022-03-11 11:47] sandergo90 commented on #1178
@vishalnarkhede can you verify if foreground notifications are broken?

[2022-03-11 14:10] sergeyzhukov commented on #1178
@vishalnarkhede yes. User is member of the channel, user not muted, user device is added to user (test push from CLI working fine), no skip_push, user have only one device

[2022-03-11 14:14] sergeyzhukov commented on #1178
And, you know, push V1 was absolutely great, templates were amazing and fill all necessary use cases. The only thing missing there - push notifications for online users.

Now its completely broken, in order to display push notification from background app should wake up and try to load data from server, which consumes battery and not working correctly all the time (low power mode, disabled backgro

[2022-03-11 19:09] vishalnarkhede commented on #1178
@sergeyzhukov we are working on including more information about message in push v2 at the moment, so that network calls won't be necessary

[2022-03-11 20:46] jordanj77 commented on #1191
Great, fix confirmed, thanks!

[2022-03-11 20:46] jordanj77 commented on #1191
Great, fix confirmed, thanks!

[2022-03-11 20:46] #1191 closed

[2022-03-13 19:46] cleandevcode opened #1205 "Error: Component Exception"
`increaseSubscriberCount is not a function.(In 'increaseSubscriberCount({cid: cid})', 'increaseSubscriberCount' is not undefined.`

![image](https://user-images.githubusercontent.com/52365167/158076031-0d5a971c-d652-49f6-bdc6-11e8dbcc6bed.png)

My stack:
stream-chat: 6.1.0
stream-chat-expo: ^4.1.0
expo: ^40.0.0

Now I could see `Channel List` items.
When I try to go `thread`, I see this error.

Pl

[2022-03-13 21:54] vishalnarkhede commented on #1205
@cleandevcode have you configured OverlayProvider component?

[2022-03-14 08:13] sergeyzhukov commented on #1178
@vishalnarkhede any updates? customers are already angry without working push notifications. And maybe you have more info why getstream service are even not trying to send push?

[2022-03-14 08:18] cleandevcode commented on #1205
@vishalnarkhede Thank you. After wrapping with OverlayProvider, it works well.

[2022-03-14 08:19] #1205 closed

[2022-03-14 09:32] sandergo90 commented on #1074
Hi @vishalnarkhede the layout is also broken on v4 version. We didn't have problems on v3, but v4 is now broken (see screen recording).

https://user-images.githubusercontent.com/1516413/158144459-18e955b3-b43d-460b-9327-27136da8de1b.MP4

[2022-03-14 09:51] vishalnarkhede commented on #1178
@sergeyzhukov btw we are not planning to drop support for v1 push notifications. We recommend to move to v2 in case you need more control over the notifications, but v1 will stay as well if thats working well for you. So if v1 worked well for you without issues, I would suggest you switch back to it.

[2022-03-14 09:59] vishalnarkhede commented on #1074
@sandergo90 by broken UI, do you mean you are not able to see reactions?

Could you please share some code around Channel and OverlayProvider component?

[2022-03-14 11:01] sandergo90 commented on #1074
I mean that the position of the message in overlay with its actions is not position well and at random so it seems?

[2022-03-14 11:08] sandergo90 commented on #1178
But as stated in the changelog, a couple of issues we are having with v1 should be resolved in v2, so we would rather use the v2 version of course. But not only will v2 version not work for foreground notifications, how would you suggest we implement notifications if the application is killed? I've already tried logging an issue for it at fresh desk, but no response...

I would like to raise anoth

[2022-03-14 12:32] vishalnarkhede commented on #1178
@sandergo90 I will update you on this part soon :)

[2022-03-14 12:34] vishalnarkhede commented on #1178
@sandergo90 quick fyi about this, we now allow push notification v1 also for online users. It's enabled by default for new apps. For your case, if you can drop us a request on support@getstream.io with your app id, we can enable it for your app as well.

[2022-03-14 13:34] cleandevcode opened #1207 "undefined is not an object (evaluating 'message.type')"
My stack:
stream-chat: 6.1.0
stream-chat-expo: ^4.1.0
expo: ^40.0.0

I am going to customize the message component by using `MessageSimple`
This Customized `MessageSimple` component will be rendered in `MessageList`.

But I see this error.
![image](https://user-images.githubusercontent.com/52365167/158182599-3fe59ade-b178-4a34-b039-35d91504790b.png)

Can you please help me?

gz#20612

[2022-03-14 13:41] vishalnarkhede commented on #1207
@cleandevcode could you please share some code around customization?

[2022-03-14 14:00] cleandevcode commented on #1207
@vishalnarkhede
For sure.

- CustomMessageList
`
<MessageList
 TypingIndicator={CustomTypingIndicator}
 DateDeparator={CustomDateSeparator}
 //Message={(props) => <CustomMessage {...props} />}
/>
`

- CustomMessage
`
<MessageSimple
{...props}
message={message}
enableMessageGroupingByUser
style={customStyle}
groupStyles={[`middle`]}
UrlPreview={CustomUrlPreview}
showMessageStatus={false}
)}
/>
`

A

[2022-03-14 19:30] sergeyzhukov commented on #1178
@vishalnarkhede in push v1 APN badge is empty for some reason, but in template we are using

        "badge": "{{ unread_count }}",

APP ID 86661

[2022-03-15 13:19] sergeyzhukov commented on #1178
@vishalnarkhede please correct documentation here https://getstream.io/chat/docs/react/push_template/, section Defaults
<img width="564" alt="Screen Shot 2022-03-15 at 17 19 28" src="https://user-images.githubusercontent.com/1446268/158386394-ccad8b0c-295a-40c0-9710-06ec47be5f00.png">

[2022-03-15 14:18] vishalnarkhede commented on #1207
@cleandevcode couple of things:

- You should be providing prop `MessageSimple` instead of `Message`.
- This prop should be provided to `Channel` component
- Also message object should be accessed from `MessageContext` context.

For reference, please follow our docs https://getstream.io/chat/docs/sdk/reactnative/guides/message-customization/#messagesimple

[2022-03-15 14:23] vishalnarkhede commented on #1178
@sergeyzhukov thanks for pointing it out, we have updated it.

[2022-03-15 14:27] sandergo90 commented on #1170
I will check it out, thanks!

[2022-03-15 19:34] sergeyzhukov commented on #1178
@vishalnarkhede I tried the following case related to allowing push notifications in V1 for online users and looks like its not working.

I logged in as a same user both on web and iOS. Selected different channels as an active on the web and iOS. No push notifications in mobile at all. If I will close web version - push notifications will be received.

[2022-03-16 07:21] vishalnarkhede commented on #1178
@sergeyzhukov we haven't enabled it (push for online users) yet for your app. Just needed confirmation about it. I will ask the backend team to do so now

[2022-03-16 15:25] sergeyzhukov commented on #1178
@sandergo90 for V1 library https://github.com/wix/react-native-notifications working perfectly for both foreground / background / killed mode.

[2022-03-16 19:44] cleandevcode commented on #1207
@vishalnarkhede Thank you for your message.
Yeah, I could fix the issues by following the guideline.

[2022-03-16 19:44] #1207 closed

[2022-03-16 19:51] cleandevcode opened #1213 "Unable to use sendMessage function when customizing Message Input"
Hello, talented.
My tech stack:
stream-chat: 6.1.0
stream-chat-expo: ^4.1.0
expo: ^40.0.0

This is my code (brief updated):
[code]

But I could not send a message.

Please help me.
Thank you

gz#20701

[2022-03-16 19:56] monstaro commented on #1213
Hi @cleandevcode - what version of stream-chat-react-native are you on? And are you getting any errors when attempting to send the message?

[2022-03-16 20:10] cleandevcode commented on #1213
@monstaro I did not use `stream-chat-react-native`.
I`ve used `stream-chat-expo`: ^4.1.0

[2022-03-16 20:17] sergeyzhukov commented on #1213
@cleandevcode do not forget to pass props to custom input like this

`Input={props => <ChatInput {...props} />}`

and be sure that CustomMessageInput is inside all necessary providers / contexts

[2022-03-16 20:44] cleandevcode commented on #1213
Thank you for your quick response.
I could fix by setting `text` and `onChange` in `useMessageInputContext`
[code]

Thanks all, again.

[2022-03-16 20:44] #1213 closed

[2022-03-17 07:21] sandergo90 commented on #1178
Yes, for v1 library no problem. But as the v2 documentation suggested, this should be possible but no notifications received when in foreground.

[2022-03-17 12:51] vishalnarkhede commented on #1178
@sandergo90 are you atleast able to receive data notification while in foreground? Can you see the console.log in following code:

[code]

[2022-03-17 12:54] sandergo90 commented on #1178
@vishalnarkhede Well no, that's the problem. When app is still in foreground, no data message is received.

[2022-03-17 12:54] vishalnarkhede commented on #1178
@sandergo90 whats your app id?

[2022-03-17 12:55] sandergo90 commented on #1178
1153899

[2022-03-17 18:21] hankwz opened #1216 "Date separator remain when all messages have been deleted"
We have a customization that hides all the deleted messages in chat using the following in the Channel component from `stream-chat-react-native`

When all the messages have been deleted by the user, the date separator still show up on the message list.

- Package version stream-chat-react-native: 4.1.4
- react-native: 0.66.4
- iOS 15.2 simulator and Android 11 emulator

**To Reproduce**
1. Send a

[2022-03-21 11:10] vishalnarkhede commented on #1216
Hey @hankwz please use instead https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#deletedmessagesvisibiltytype. MessageDeleted prop is only for customization purpose.

[2022-03-21 11:10] #1216 closed

[2022-03-21 11:12] vishalnarkhede commented on #1202
Going to close this issue for now. But I would recommend you to check the version of gesture handler dependency and follow the necessary installation steps - https://getstream.io/chat/docs/sdk/reactnative/#additional-steps

[2022-03-21 11:12] #1202 closed

[2022-03-23 14:26] vishalnarkhede commented on #1100
@jw-85 this issue is coming from [bottom-sheet](https://github.com/gorhom/react-native-bottom-sheet) actually. It doesn't exactly break anything functionalitywise, but we are looking into a workaround this issue. For now I am closing this issue since its not exactly blocking.

[2022-03-23 14:26] #1100 closed

[2022-03-23 14:27] #1101 closed

[2022-03-23 14:28] #1121 closed

[2022-03-25 08:01] madsroskar opened #1222 "Support photo albums in the AttachmentPicker"
The current implementation gets photos from [the camera roll](https://github.com/react-native-cameraroll/react-native-cameraroll#getphotos).

We could also allow users to navigate their [albums](https://github.com/react-native-cameraroll/react-native-cameraroll#getalbums) and upload photos that way.

[2022-03-25 14:53] sandergo90 commented on #1074
@vishalnarkhede any update on this?

[2022-03-26 23:12] andrewbeckman commented on #684
@lucaswhitman I've tried passing null to markdownRules and it hasn't fixed it for me. Is that what worked for you? @vishalnarkhede any pointers on how to disable this? Supporting markdown by default was very surprising to us as we're building a social app for a non-technical consumer audience.

[2022-03-27 02:16] lucaswhitman commented on #684
@andrewbeckman here's what we did:

[code]

[2022-03-27 04:07] andrewbeckman commented on #684
Thanks @lucaswhitman!

[2022-03-28 07:59] cheejiayuan512 opened #1226 "ExpoMessaging Example not running"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- stream-chat-expo 4.2.0
- react-native 17.0.1 , expo version 44
- Android and iOS device

**To Reproduce**
Steps to reproduce the behavior:

1. Followed instructions in example readme
2.  Ran into a bundling error
[code]
3. Follow this [link to t

[2022-03-28 08:08] cheejiayuan512 opened #1227 "TypeError: undefined is not an object (evaluating 'updated_at.toISOString') when trying to send a message"
**Describe the bug**
A clear and concise description of what the bug is.
On sending a message using default components, I am getting an error as follows
**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
- ```"expo": "~44.0.0",
    "expo-apple-authentication": "~4.1.0",
    "expo-application": "^4.0.2",
    "

[2022-03-28 08:36] vishalnarkhede commented on #1074
Hey @sandergo90 you can customize the overlay background by theming, to choose lower opacity
- https://github.com/GetStream/stream-chat-react-native/blob/master/package/src/contexts/themeContext/utils/theme.ts#L25
- https://getstream.io/chat/docs/sdk/reactnative/customization/theming/#dark-mode

For now we don't have any plans for changing this behaviour. But I will give it some thought and add it

[2022-03-28 09:25] cheejiayuan512 commented on #1227
After deleting node-modules and yarn.lock, removing stream-chat and stream-chat-react-native-core from package.json, runs perfectly again.

[2022-03-28 12:30] rajkapoordev commented on #1227
This thing won't help me

[2022-03-29 01:37] terrynip506 commented on #1178
hi @vishalnarkhede, i am having the same problem after migrating to v2. My notification works fine on v1 (with nicely customise the notification content) , except i am wondering v1 only supports pushing to first 100 members in a channel? that's something pushing me to upgrade to v2

[2022-03-29 08:37] vishalnarkhede commented on #1227
Hey @rajkapoordev please upgrade to `v4.3.0-beta.4`.  This issue has been fixed, we will publish the stable version soon :)

[2022-03-29 12:20] exhilaratedguy opened #1232 "Channels in ChannelList aren't clickable (?)"
**Describe the bug**
The channels visible under ChannelList aren't clickable. Or rather, I hear a clicking noise on the emulator, but nothing happens. Passing the `onSelect` prop to the ChannelList component as `onSelect={ (channel) => { console.log("pressed"); }}` produces no output in the terminal.

**Dev environment info (please complete/provide the following information):**

- stream-chat-expo

[2022-03-29 12:45] vishalnarkhede commented on #1232
@exhilaratedguy Is this an option for you? https://github.com/GetStream/stream-chat-react-native/issues/976#issuecomment-962428909

[2022-03-29 13:06] vishalnarkhede opened #1233 "Video Attachment Support"
Linked to Zendesk issue

gz#21173

[2022-03-29 13:06] exhilaratedguy commented on #1232
@vishalnarkhede I am not using any Navigators at all. I put a Pastebin link to my App.tsx on the issue, [this link](https://pastebin.com/xhzFcrF1). You can see my only structure is SafeAreaProvider -> OverlayProvider -> Chat -> ChannelList (as according to the Hello Stream Chat docs).

[2022-03-29 13:08] vishalnarkhede opened #1234 "Support video uploads via image picker"

[2022-03-29 13:09] vishalnarkhede opened #1235 "Adding static video thumbnail and image gallery rendering"
### Acceptance Criteria:

- [x] Allow video file type to be displayed in the message list.
- [x] Create a video thumbnail for the video files(static for now).
- [x] Video attachment should render a static thumbnail in the message list within `Gallery`, with a play button
- [x] On press, it should open the video inside the image gallery.
- [x] The image gallery allows the rendering of the video. Ad

[2022-03-29 13:10] vishalnarkhede opened #1236 "Replace static video thumbnails with actual thumbnails"
Linked to Zendesk issue

gz#21176

[2022-03-29 13:56] mattlennon3 commented on #1227
Seeing this too. Thanks for the fix :)

[2022-03-29 14:18] vishalnarkhede opened #1237 "Audio Attachment Support"

[2022-03-30 10:30] vishalnarkhede commented on #1232
@exhilaratedguy is this Android only issue? Or can you see this on iOS as well

[2022-03-30 10:31] exhilaratedguy commented on #1232
I only have means to test this on Android. Sorry, I forgot to mention that detail. I'm on a Windows machine and have no access to Macs or iPhones really.

[2022-03-30 11:06] mfbx9da4 commented on #1178
Something I am missing from v2 is how to set app badge count, this no longer seems to be in the payload? Any guidance on this?

[2022-03-30 13:28] santhoshvai commented on #1226
Hello, @cheejiayuan512 thanks for raising this issue. `@babel/runtime` is already provided by the core package. So you don't need to add that. The core package has been locally linked in the example app and hence I suspect in your case that the core package and expo package's dependencies need to be installed first. Can you please try the following after reverting your changes to the package.json

[2022-03-30 15:14] santhoshvai commented on #1226
@cheejiayuan512 I am closing this issue as I have verified that this step was missing in the README file. I have also merged an easier way to do this in the current develop branch via #1248 . Feel free to reopen this issue if this does not fix it for you.

[2022-03-31 08:50] exhilaratedguy commented on #1232
@santhoshvai This worked perfectly, thank you. I hadn't found the troubleshooting docs page when googling before opening the issue (I think I googled something like 'stream chat components not clickable/pressable'), an oversight on my part. Maybe you can add a footnote linking to that solution on the Hello Stream docs :)

Thanks once again.

[2022-03-31 08:50] #1232 closed

[2022-03-31 11:10] vishalnarkhede opened #1250 "Push Notification v2 on Sample App"
- Implement push notifications v2 for [SampleApp](https://github.com/GetStream/stream-chat-react-native/tree/develop/examples/SampleApp)
- Update the docs accordingly for background/quit state handling - https://getstream.io/chat/docs/sdk/reactnative/guides/push-notifications-v2/

[2022-03-31 11:44] vishalnarkhede opened #1251 "RTL Support for SDK"
- 3 customers using RTL support (numeric)
- Customers understand how to use and configure the functionality, Less than 5 support tickets in the first period (numeric)
- LTR customers have little to no side-effects, Less than 5 support tickets in the first period (numeric)

[2022-04-05 09:11] vishalnarkhede opened #1254 "Use app setting for permitted attachment types"
App settings can be accessed from `/app` endpoint, which provides configured/allowed attachment (image/file) types. This setting should be used within SDK to only show the allowed attachment types within image picker and file picker.

[2022-04-05 09:12] madsroskar opened #1255 "Add support for automatic translations"
Add support for automatic translations of messages, currently the SDK doesn't support it.

This will affect MessageText and ChannelPreview

[2022-04-05 09:14] vishalnarkhede opened #1256 "Tutorial Improvements"
Linked to Zendesk issue

gz#21453

[2022-04-05 09:14] madsroskar opened #1257 "Broken URL expansion with the V3 wiki tutorial"

[2022-04-05 09:15] madsroskar opened #1258 "Broken URL expansion with the v3 wiki tutorial"
When following [this tutorial](https://github.com/GetStream/stream-chat-react-native/wiki/Tutorial-v3.0), a customer has reported an issue where switching from the example API key used to their own API key, URLs aren't expanded as expected.

[2022-04-05 09:15] vishalnarkhede commented on #604
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/604?planning-poker) with ZenHub @khushal87 @madsroskar @santhoshvai @Enigma-I-am

[2022-04-05 09:27] vishalnarkhede commented on #1235
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1235?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar @santhoshvai

[2022-04-05 09:34] vishalnarkhede commented on #1255
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1255?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar @santhoshvai

[2022-04-05 09:47] #1146 closed

[2022-04-05 09:50] vishalnarkhede commented on #1189
This has been released as part of v4.3.0!! Please check the PR  for details - https://github.com/GetStream/stream-chat-react-native/pull/1208

[2022-04-05 09:50] #1189 closed

[2022-04-05 12:10] vishalnarkhede commented on #1007
Hey @RomanBob123 please check the solution suggested by @mohofo7 !! The PR has been merged and released as part of `v4.1.1`!!

[2022-04-05 12:10] #1007 closed

[2022-04-05 13:25] santhoshvai commented on #1178
@sandergo90 In your app "1153899", I do see that the push notification is only enabled for offline users. If you can drop us a request on [support@getstream.io](mailto:support@getstream.io) with your app id, we can enable push notifications for online users as well. Then you should get the push notification while in foreground (for the online user).

To be clear, we enable push notifications for o

[2022-04-05 13:26] santhoshvai commented on #1226
Hey @cheejiayuan512 , I am closing this issue as I believe the issue has been resolved as part of https://github.com/GetStream/stream-chat-react-native/pull/1248.  If you are still facing any more problems in the future, please don't hesitate to contact us.

[2022-04-05 13:41] sandergo90 commented on #1178
Hi,

Thanks, I've requested it now.

[2022-04-05 15:10] mfbx9da4 opened #1260 "No option to configure APNS payload with mutable-content to activate the notification service extension (for Firebase)"
I am trying to configure a notification service extension with stream. This is possible for the [swift SDK](https://getstream.io/chat/docs/sdk/ios/guides/push-notifications/#notification-service-extension).

As far as I can see, there is no way to configure the APNS payload and enable `mutable-content` neither with v1 push notifications nor with v2 push notifications. Could you please confirm ther

[2022-04-05 20:18] vishalnarkhede opened #1261 "Use improved 2-way pagination api"
- Remove the functions queryBeforeMessage and queryAfterMessage in Channel component

- Remove all the complicated login from `loadChannelAtFirstUnreadMessage` function in Channel component

- Use the channel query params around_id and created_at_around to implement channel loading

![Screenshot 2021-10-25 at 14.23.15.png](https://images.zenhubusercontent.com/6225c906dd38b85c7d6f0f8e/84bb9036-6921

[2022-04-06 09:08] diego-paired opened #1264 "Investigate crashes related to bottom sheet in chat"
Using React Native 67, stream chat 4.3.0.

We have been seeing lots of crashes coming from the BottomSheet library, which is only used by Stream in our project. The errors only seem to happen on Android and look like this:

![image](https://user-images.githubusercontent.com/55058765/161939189-ebc30e14-4266-45a4-8955-aaf9b452f23f.png)

[code]

The snap point value changes (there are a few different

[2022-04-06 09:29] madsroskar commented on #1264
Thanks for reporting this, @diego-paired. I'm trying to reproduce this issue at the moment. Could you check your `yarn.lock` or `package-lock.json` and check which version of `@gorhom/bottom-sheet` that is installed?

[2022-04-06 09:47] mattlennon3 commented on #1227
Can't see this mentioned in the latest `4.3.0` release notes, but it appears to be fixed 🤞
Thanks @vishalnarkhede

[2022-04-06 09:53] KROSF opened #1265 "Allow to change RefreshControl tintColor"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `stream-chat-react-native-core@4.2.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

gz#21513

[2022-04-06 10:09] diego-paired commented on #1264
@madsroskar

[code]

[2022-04-06 11:43] mattlennon3 commented on #1179
We are seeing this too, android only, fresh integration of Stream components.

![Screenshot_20220406-123124_ Dev  Mana](https://user-images.githubusercontent.com/9389496/161967281-b7bf2974-dbbc-49e6-8e0f-5c1e65da3cf2.jpg)

**Details**
"stream-chat-react-native": "4.3.0",
"react-native": "0.66.4",

Devices:
Pixel 6, Samsung S10.

You can get rid of the drawer by pulling it up and then down, it will

[2022-04-06 22:06] vishalnarkhede opened #1266 "Giphy shuffle is broken on v4.3.0"
**Describe the bug**

Pressing "Shuffle" button on giphy doesn't update the giphy image

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo) - `v4.3.0`
- react-native or expo version [all]
- Device/Emulator (android/ios) and OS version [all]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any chan

[2022-04-07 08:01] vishalnarkhede commented on #1264
@diego-paired do you have device info as well, on which users were facing this issue? That would be helpful for us to reproduce it on our end. We are having a little hard time reproducing it on our side

[2022-04-07 09:17] diego-paired commented on #1264
These are the top devices affected, doesn't seem to be device related:
![image](https://user-images.githubusercontent.com/55058765/162164705-aed59f3d-2973-45e8-aa55-4cef4779371d.png)

I have seen Android 9, 10 and 12 so that might not help narrow down either.

We are using react-native-screens with native screens in the app, the chat screen is inside a stack and the root component is the `OverlayP

[2022-04-07 10:10] ChenDimri commented on #1134
Also had this problem and using version 1.10.3 fixed it

[2022-04-07 12:59] santhoshvai commented on #1260
@mfbx9da4 , thanks for raising this issue. We will need to clarify regarding customization in our documentation.

A new default APNS template is being deployed soon by our backend team with ` "mutable-content" : 1`, We would enable further APNS template customization through updating app settings via our backend SDKs. Via template customization, you would be able to customize the APNS payload.

Ou

[2022-04-07 14:40] mfbx9da4 opened #1268 "Push notifications v2 will never work reliably for iOS"
After much digging I've come to the conclusion that the current proposal for push notifications v2 will never work reliably for iOS.

`setBackgroundMessageHandler` is super unreliable for iOS. It is [only called when the payload is data-only](https://github.com/invertase/react-native-firebase/discussions/6182#discussioncomment-2510043). Data-only remote notifications are [considered very low prior

[2022-04-07 16:59] luigicr18 opened #1269 "I got this error when I put a DM"
<img width="398" alt="Screen Shot 2022-04-07 at 10 58 14" src="https://user-images.githubusercontent.com/9205551/162257186-00bcd1a0-b594-4866-99dd-ef41976c3e32.png">

The message is saved, but every time that I send a message fails

gz#21591

[2022-04-07 17:16] madsroskar commented on #1269
Hi, @luigicr18 - this was fixed in version [4.3.0](https://github.com/GetStream/stream-chat-react-native/releases/tag/v4.3.0) - could you try to upgrade to this version and see whether it resolves the issue on your end?

[2022-04-07 17:33] luigicr18 commented on #1269
I changed to 4.3.0 on my package.json and reinstall all, but the error continues.

[2022-04-07 17:45] #1269 closed

[2022-04-07 17:45] luigicr18 commented on #1269
Issue resolved! Thanks!

[2022-04-08 08:10] ghiculescualexandru commented on #801
This issue shouldn't be close as it doesn't solve the request. I can't overwrite the MessageOverlay component and I would like to change it as a whole, not only the MessageActionList or the MessageActionListItem.

[2022-04-08 11:54] vanGalilea commented on #1258
A lot of links are broken, in the short term let's fix it, and in the long term discuss having one source of truth for the tutorial via Stream's website or such

[2022-04-08 11:59] vanGalilea opened #1270 "Deprecate v3 Tutorial"
### Motive

- Having one source of truth
- Broken links

https://github.com/GetStream/stream-chat-react-native/wiki/Tutorial-v3.0#setup

### Acceptance Criteria:

- Add deprecated note on wiki pages
- Fix the links on v3 docs

[2022-04-08 13:36] vanGalilea opened #1272 "Create a More Consistent Link Preview Component"
At the moment there is a difference between a Youtube shared URL and another URL.

Let's make this more consistent by following [Stream's Chat Design Kit](https://www.figma.com/file/oeHiSMDoutuVbJ9WiVyhcG/Chat-Design-Kit-1.5-Android---In-Progress?node-id=17497%3A140906)

![simulator_screenshot_CC842245-1AC4-4EAA-9C7F-AFEF00AC057B.png](https://images.zenhubusercontent.com/624ef90ddad7ba759bd39665/1

[2022-04-12 06:43] ato237 commented on #51
Are there any updates for offline support?

[2022-04-12 07:50] santhoshvai opened #1277 "Improve handling of external links in android"
Currently, the opening of external links is not working by default in Android if `targetSdkVersion >= 30`.

We in fact have a [troubleshooting](https://getstream.io/chat/docs/sdk/reactnative/basics/troubleshooting/#external-link-not-opening) setup where we instruct to add extra permission.

This seems to be improvable. `await Linking.openURL(url)`  should work out the box.

Android official docs:

[2022-04-12 08:15] santhoshvai commented on #1268
Hey, @dmitriiivashko @mfbx9da4. Many thanks for sharing your concern here. We would need to update our documentation regarding the ios/android platform limitations and the docs will be updated soon.

I did setup a sample app to test it and got `setBackgroundMessageHandler` to work on a mixed payload (data + notification) when I enabled "background fetch" and "background processing". Additionally t

[2022-04-12 09:26] vishalnarkhede commented on #1270
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1270?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar @santhoshvai @vanGalilea

[2022-04-12 09:28] mfbx9da4 commented on #1268
Yes I did. I also had enabled those capabilities. Were you running iOS 15?

[2022-04-12 10:20] santhoshvai commented on #1268
Hi @mfbx9da4,  yes I am using iOS 15.

if apns payload is present, it will [override](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#apnsconfig) the notification, and you [should not be using camelCase](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification#2943363) for `content-available`. And

[2022-04-12 11:40] dmitriiivashko commented on #1268
The problem is that getstream seems to send an `aps` payload with both `content-available` and `alert`

If both are specified, `setBackgroundMessageHandler` is never triggered on iOS and the content from `alert` is displayed by iOS. Yes, you can implement an iOS notification extension, but I'd prefer to deal with it with what rnfirebase has to offer.

Examples

This will wake up the app and will t

[2022-04-12 13:53] diego-paired commented on #1264
[code]

[2022-04-12 14:19] santhoshvai commented on #1268
Hey, @dmitriiivashko I did try out the exact payload that you sent and the `setBackgroundMessageHandler` and it did work.

However, as per the [apple docs](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification#2943363), alert should not be used along with `content-available`. So this really unreliable I think.

So I thi

[2022-04-12 14:56] vishalnarkhede commented on #1264
Hey @diego-paired yeah if you set negative value it does result into crash. We are just trying to figure out what devices will this value result into a negative

[2022-04-13 20:01] vishalnarkhede commented on #51
Hey guys, we don't have any solid update on this one yet. But we are re-picking this epic now so probably in a month or so we will have some specific timeline and plan for it.

[2022-04-14 07:17] rajkapoordev opened #1283 "ModalPopup or BottomSheetPopup showing randomly on anyscreen."
Hello @vishalnarkhede @madsroskar
**Describe the bug**
Some strange modal showing randomly on any screen. I have attach the screenshots of inspect on that modal. It is something regarding to **AttacmentPickerBottomSheet**.

**Dev environment info**

- stream-chat-react-native version : ^4.3.1
- react-native version : 0.63.4
- only android devices

**To Reproduce**
 The popup shown randomly on any

[2022-04-14 09:20] vanGalilea opened #1284 "urls without http/s aren't opening an in app browser"

[2022-04-14 09:52] vanGalilea opened #1285 "urls without http/s aren't opening in an in app browser"
**Describe the bug**
URLs without http/s aren't opening in an in app browser.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a Channel.
3. Type "getstream.io" and send this message.
4. This will result in a message with a URL preview.
5. Click on the URL preview.

**Expected behavior**
A browser should open

**Additional context**
Link.canOpenURL supports only urls contain a http/s p

[2022-04-14 09:59] vanGalilea opened #1286 "URLs without http/s aren't opening in an in app browser."
Describe the bug
URLs without http/s aren't opening in an in app browser.

To Reproduce
Steps to reproduce the behavior:

Go to a Channel.
Type "getstream.io" and send this message.
This will result in a message with a URL preview.
Click on the URL preview.
Expected behavior
A browser should open

Additional context
Link.canOpenURL supports only urls contain a http/s prefix.

The behavior might be

[2022-04-14 20:46] vanGalilea opened #1287 "Refactor getLatestMessageDisplayText function"
At this moment the function is not readable, easily modifiable, or tested.
This function is pure and needs to be tested and refactored.

Try to apply TDD

gz#21861

[2022-04-15 07:38] khushal87 opened #1288 "Migrate TouchableOpacity and other related touchable components to Pressable"
We use `TouchableOpacity` in most places. Ideally, this is not a good user experience for Android users. Therefore, we should plan to migrate the current Touchables into Pressable API which was released by React Native. The second option could be conditionally handling the case for Android and iOS. Something like:

[code]

gz#21875

[2022-04-15 07:38] ayush-shta commented on #1227
Seeing similar issue when sending a message in thread.

[2022-04-15 17:08] vanGalilea opened #1289 "Bug in tutorial- TypeError: imageProp.includes is not a function."
**Describe the bug**
https://github.com/GetStream/react-native-chat-tutorial/issues/5
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version- stream-chat-react-native
- react-native
- Emulator and related to both OS's

**To Reproduce**
Steps to reproduce the behavior:

1. Go to our [tutorial on the websi

[2022-04-16 19:45] jeffbonasso-ambifi opened #1290 "Unread count not increasing when reply or mention in a thread"
**Describe the bug**
I believe this is a bug, but maybe it is default behavior? When a user reply's to a thread that you are on in, should the unread count not increase and be part of an event that gets generated? Also, if they are mentioned it doesn't seem to increase the count either. Also on the events that get generated there is no unread attributes as part of them, probably because it is not

[2022-04-16 20:04] jeffbonasso-ambifi opened #1291 "Not receiving push notifications on Android when app is in the background for a long time"
**Describe the bug**
When putting the app in the background on Android, even waiting many minutes, no push notifications are generated. On iOS these seem to work instantly. I am using the new V2 push notifications and firebase. I have the messaging().setBackgroundMessageHandler setup and this works if I completely close the app, but not when it is in the background. I tried managing this myself wi

[2022-04-16 20:16] jeffbonasso-ambifi commented on #1266
I noticed in Version 4.3.1 for me it works in a normal message, but if I am in a Thread tapping Shuffle does not update the image, but when I tap Send it does have a different image, so it seems like it does shuffle but you don't see it. Also the Cancel button is unresponsive as well.

[2022-04-18 03:24] denizmersinlioglu commented on #1227
@vishalnarkhede  we use `"stream-chat-react-native": "^4.3.1"` and have the same problem with @ayush-shta

`Seeing similar issue when sending a message in thread.`

[2022-04-18 07:24] cleandevcode opened #1292 "How to custom Message Text Press event?"
### Discussed in https://github.com/GetStream/stream-chat-react-native/discussions/1282

<div type='discussions-op-text'>

<sup>Originally posted by **cleandevcode** April 13, 2022</sup>
My tech stack:
`stream-chat`: `6.1.0`
`stream-chat-expo`: `^4.1.0`
`react`: `16.15.1`
`expo`: `^40.0.0`
`react-natve`: `0.63.4`
By default, pressing message text which is detected as a link will open the web brows

[2022-04-19 08:21] khushal87 opened #1294 "Giphy Shuffle is broken in Thread Reply Screen"
When you try to click on the shuffle button on the Giphy for the Thread screen, the new giphy doesn't rerender on the screen.

Ref - https://github.com/GetStream/stream-chat-react-native/issues/1266#issuecomment-1100748452

gz#21984

[2022-04-19 09:19] Enigma-I-am commented on #1254
We currently can't tell the file/image type before sending it to the client on iOS implying we can't tell if the file is supported or not using appSettings.
We are currently implementing this feature be updating the state of the app based on the response from backend informing us whether a file/image is not supported.

[2022-04-19 09:26] vishalnarkhede commented on #1266
This has been released as part of `v4.3.1`. For thread screen we have created a separate issue - https://github.com/GetStream/stream-chat-react-native/issues/1294

[2022-04-19 09:26] #1266 closed

[2022-04-19 11:08] claudeaparecio opened #1295 "Tapping on message avatar without doing a long press returns an empty MessageAvatarProps"
I was using the MessageAvatar component to customize it with an onPress functionality but the Channel wrapper passes an empty MessageAvatarProps to the MessageAvatar when I was accessing it. And if do a long press on the message or avatar and selecting the MessageAvatar it is working fine.

`
            <Channel
              MessageAvatar={CustomizedMessageAvatar}
              ....
`

The "prop

[2022-04-19 11:44] vishalnarkhede commented on #1295
Hey @claudeaparecio I don't think I understand the issue exactly from the description. But I would recommend you to not access `message` from props. You should access it from `MessageContext`.

[code]

If that doesn't solve the issue, could you please rephrase the description?

[2022-04-19 19:17] vanGalilea opened #1296 "Explore React 18 and it's ramifications on our RN SDK"
React 18 has been released for the web and introduces significant features such as concurrent rendering and automatic batching.

At the moment of writing this task, React 18 relies on the new RN architecture to benefit from the new capabilities at the moment of writing this. This means that React 18 will ship in a future version of RN.

Until that moment, we would like to explore the possibilities

[2022-04-19 19:43] vanGalilea opened #1297 "useChannelPreviewDisplayName returns ', +1' when charachterLength is limited"
**Describe the bug**
`useChannelPreviewDisplayName` returns ', +1' when `charachterLength` is limited
This seems to happen on 1 on 1 channels.

**To Reproduce**
Steps to reproduce the behavior:

1. Call func `useChannelPreviewDisplayName(channel, 15)`
2. Make sure you use a low amount of `charachterLength`
3. This will result in the func returning ',+1'

**Expected behavior**
the display name is b

[2022-04-20 05:29] JSimai commented on #1161
Hey @madsroskar is there any update on the progress of making stream chat compatible with Expo 44?

[2022-04-20 07:06] vishalnarkhede commented on #1297
@vanGalilea  Screenshot seems broken

[2022-04-20 12:57] GregAtFramework commented on #1179
We've been experiencing this too on Android. It's frustratingly intermittent. But when it does occur, it obscures our app's primary navigation (tabs along the bottom of the screen).

"stream-chat-react-native": "4.3.0",
"react-native": "0.66.4",

[2022-04-21 13:12] jeffbonasso-ambifi commented on #1266
Yes, tested with stream-chat 6.5.0 and stream-chat-react-native 4.3.1. Only
happens when using a Giphy in a Thread. Here is a quick video showing...

https://vimeo.com/701655994/f492b9428b

Also, another minor issue, when clicking the Giphy command, the keyboard
disappears and you need to click in the input box again to get it back to
type your giphy query.

Thanks,
Jeff

On Thu, Apr 21, 2022 at 9

[2022-04-21 15:32] jeffbonasso-ambifi commented on #1266
Sorry, waiting didn't help. Waited a minute and nothing. Also wouldn't
explain why Cancel button not working either.

On Thu, Apr 21, 2022 at 9:24 AM Khushal Agarwal ***@***.***>
wrote:

--
*Jeff Bonasso*
Founder / CEO

http://www.ambifi.com

[2022-04-21 21:50] denizmersinlioglu commented on #1179
@vishalnarkhede this problem happens in iOS too, FYI ✋

[2022-04-22 02:54] mattlennon3 commented on #1179
@denizmersinlioglu can you provide some basic info about your ios build? 🙄

[2022-04-22 07:01] vanGalilea opened #1299 "Bottom sheet modal covers icons when attaching a file"
**Describe the bug**
When trying to attach a file the bottom sheet modal covers some icons (camera etc.)

**Dev environment info (please complete/provide the following information):**
- Package version (stream-chat-react-native/stream-chat-expo)
- react-native AND expo version
- Device/Emulator Android on several devices

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a channel
2. Cli

[2022-04-22 07:50] santhoshvai opened #1300 "Version Compabilities part of the docs, misses react native 0.68"
**Description**
The [version-compabilities](https://getstream.io/chat/docs/sdk/reactnative/#version-compabilities) part of the docs miss react native 0.67 and 0.68

**Acceptance criteria**
- Add the minimum stream sdk version needed for 0.67 and 0.68
- Add the minimum reanimated version needed for 0.67 and 0.68

[2022-04-22 07:53] vanGalilea commented on #1299
A thought here let's fix it by having a constant snap point to the modal/drawer. I assume it is calculated base on screen height

[2022-04-22 17:49] Blargel opened #1306 "Incompatible with react-native v0.68"
**Describe the bug**
Adding stream-chat-react-native to a freshly created react-native project causes a runtime error:
[code]

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native v4.3.1
- react-native v0.68.1
- Simulator, iPhone 13, iOS 15.4

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new react-native project: `npx react-nat

[2022-04-22 17:50] vishalnarkhede commented on #1161
@JSimai the sdk is already compatible with expo 44. Please check our example app - https://github.com/GetStream/stream-chat-react-native/blob/develop/examples/ExpoMessaging/package.json#L14

[2022-04-22 18:25] madsroskar commented on #1227
I'll reopen this issue - I think the fix that was merged didn't cover all cases where this could happen, I'm guessing doing a similar fix for threads should be possible.

[2022-04-22 23:14] Blargel commented on #1306
It seems like a newer version of npm actually is not correctly installing peer dependencies automatically. This might not actually be a problem with this package.

[2022-04-22 23:23] Blargel commented on #1306
So, when npm automatically installed the peer dependencies for me, it seems like the Podfile was not updated. This is strange because I could've sworn it *did* update the Podfile the last time I tried this, but I might just be remembering incorrectly now.

[2022-04-22 23:24] #1306 closed

[2022-04-23 06:09] vishalnarkhede commented on #1179
Is it possible for anyone to share a minimal example app with us, where we can reproduce these issue?

[2022-04-25 14:02] mattlennon3 commented on #1179
Hi @vishalnarkhede, I don't have time to make an example app for you. But I am happy to share my screen and you can take a look at some of the code behind our app if you like?

[2022-04-25 20:21] semmons99 commented on #1255
Hey all. Just wanted to say that this would be a huge unlock for our user base if you could get this implemented soon.

For reference, we are an edtech startup that provides administration and communication services for everything outside of the classroom. huge swaths of our users are unable to communicate with their kids coaches because of the language barrier. this feature would all parents to f

[2022-04-26 05:50] #1299 closed

[2022-04-26 09:09] vanGalilea commented on #1294
@khushal87 couldn't reproduce the issue

[2022-04-26 09:15] vanGalilea commented on #1297
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1297?planning-poker) with ZenHub @vishalnarkhede

[2022-04-26 09:15] vanGalilea commented on #1297
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1297?planning-poker) with ZenHub @madsroskar @Enigma-I-am @khushal87

[2022-04-26 09:15] vanGalilea commented on #1297
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1297?planning-poker) with ZenHub @santhoshvai

[2022-04-26 09:27] vanGalilea commented on #636
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/636?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar

[2022-04-26 09:28] vanGalilea commented on #636
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/636?planning-poker) with ZenHub @santhoshvai

[2022-04-26 09:28] vanGalilea commented on #636
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/636?planning-poker) with ZenHub @vishalnarkhede

[2022-04-26 09:34] vanGalilea commented on #1005
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1005?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar @vishalnarkhede

[2022-04-26 09:34] vanGalilea commented on #1005
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1005?planning-poker) with ZenHub @santhoshvai

[2022-04-26 09:38] vanGalilea commented on #1005
We agreed to add:
- loading indicator TBD
- customize the whole grid item

[2022-04-26 09:50] vanGalilea commented on #1222
Let's suggest[this](https://getstream.io/chat/docs/sdk/reactnative/guides/message-input-customization/#replacing-attachmentpicker-with-native-image-picker) in the meanwhile

[2022-04-26 09:56] vanGalilea commented on #1265
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1265?planning-poker) with ZenHub @Enigma-I-am @khushal87 @madsroskar @vishalnarkhede

[2022-04-26 09:56] vanGalilea commented on #1265
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/React-Native-SDK-62285abeb7c8e800229effc5/issues/GetStream/stream-chat-react-native/1265?planning-poker) with ZenHub @santhoshvai

[2022-04-26 16:13] vanGalilea opened #1310 "Support theming of chevron icon color in scroll to bottom button"
**Describe what you would like to achieve**
Changing the chevron icon in the scroll to bottom button

**Expected behavior**
Chevron will change color, after specifying it in the theme object

**Additional context**
Only options at the moment are

[code]

**Screenshots**

<img src="https://images.zenhubusercontent.com/624ef90ddad7ba759bd39665/326d0cb9-a161-487b-9053-d28a3742262a" width="100px" />
<

[2022-04-26 18:19] chompasina commented on #1255
Hey Stream folks, big +1 to @semmons99's post above. We've tracked down where we can see the translation coming back from Stream, and for some reason it's just not getting rendered in the chat. Let us know if we can provide any other documentation or pair with y'all as you move forward with this. We're really excited to bring this to our users.

[2022-04-28 09:20] vanGalilea opened #1314 "Restructure the repo to have more better naming"
The structure will be:
packages/
    core/
     native/
     expo/

gz#22643