[2019-05-30 06:58] MuGGYStyle opened #21 "npm i stream-chat-react-native can't import chat ui components"

[2019-05-31 04:31] #21 closed

[2019-05-31 04:34] MuGGYStyle opened #22 "How to fix this error"
<img width="350" alt="Screen Shot 2019-05-31 at 12 31 40 PM" src="https://user-images.githubusercontent.com/12180195/58681714-304efe00-83a0-11e9-944b-28e1617c5310.png">

when i send link message

[2019-06-05 15:12] vishalnarkhede commented on #22
@MuGGYStyle its fixed in latest versions. You can use v0.1.3 or latest one.

[2019-06-05 15:12] #22 closed

[2019-07-05 03:51] aniciom opened #24 "Bug Reports"
Hello @jaapbakker88 i want to report some issues those are not working good in iPhone X OS 12.3 (I didn't try it on android or other iPhone versions)

I'm running example two

First one related to the initialization of the app, it shows the next error:
![unnamed](https://user-images.githubusercontent.com/5354596/60696995-770fa680-9ebe-11e9-9abf-ff958d351acc.jpg)

I fixed it upgrading to react nati

[2019-07-29 15:22] jaapbakker88 commented on #24
i can't seem to replicate this issue:

steps I took:
- `git clone repo`
- `yarn start`
- `cd native-package`
- `yarn start`
- `cd ../examples/two`
- `react-native run-ios`

Can you confirm these are the steps you took?

[2019-07-29 15:47] aniciom commented on #24
Are you trying on iPhone X?

[2019-07-30 06:41] jaapbakker88 commented on #24
Yeah I was trying iOS. I'll try and test again today and see if I can get someone else to test as well.

[2019-07-30 10:46] aniciom commented on #24
There's no warning about those contraints i posted on the XCode's debug? weird :(

[2019-07-30 11:16] aniciom commented on #24
I just tried it with xcode 10.3 and got the same error

2019-07-30 08:16:18.011695-0300 two[2772:1122968] [LayoutConstraints] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want.
	Try this:
		(1) look at each constraint and try to figure out which you don't expect;
		(2) find the code that added the unwanted constraint

[2019-07-30 14:12] gfpacheco opened #39 "Use PropTypes.elementType instead of PropTypes.func"
The current props that expect a React element (rendered or not) require it to be either `node` or `func`:

[code]

But a React component wrapped in `React.memo` (or [redux connected](https://github.com/reduxjs/react-redux/issues/1223#issuecomment-481308079)) is actually an `object`. I wonder if you could change their propType to expect `elementType` instead of `func`:

[code]

That would fix a lot

[2019-07-31 08:42] vishalnarkhede commented on #39
@gfpacheco thanks for bringing this up. We will look into it and get back to you as soon as possible :)

[2019-08-02 00:41] ian opened #40 "MessageInput not working correctly with SafeAreaView on Android"
Working fine on iOS but on Android the message box gets covered by the keyboard.

![Screenshot_20190801-193458](https://user-images.githubusercontent.com/19853/62336054-1ad77c80-b494-11e9-8c08-196f52506e37.png)

Code is straight out of the example on https://getstream.io/chat/react-native-chat/tutorial/

[code]

[2019-08-02 08:15] vishalnarkhede commented on #40
Hey @ian

Can you give us following details about your dev environment?

- React native version
- Android emulator version
- Version of `stream-chat-react-native` that you are using

[2019-08-02 14:02] ian commented on #40
Hey @vishalnarkhede

- Android device, Google Pixel 3
- react-native@0.59.8
- expo@33.0.7
- stream-chat-expo@0.1.15
- stream-chat-react-native-core@0.1.15

[2019-08-05 14:45] jaapbakker88 commented on #24
@aniciom We can't seem to replicate this issue on our end. Can you give a step by step how you get to the error?

[2019-08-06 23:10] aniciom commented on #24
Jaap i did the next steps:

git clone https://github.com/GetStream/stream-chat-react-native.git
cd stream-chat-react-native
make
cd examples/two

Then i open XCode and build it and run it in my real iphone X device, even i used the same react native version that the library is using

[2019-08-08 01:05] earthlingstd opened #45 "RNCNetInfo.getCurrentConnectivity is not a function"
**How to reproduce**
[code]
**Environment**
RN: 0.60.4
@react-native-community/netinfo: 4.1.4
**Screenshot**
![img](https://i.imgur.com/02cwd8G.png)

[2019-08-09 07:03] hongsa opened #48 "Realtime is not working"
react-native: 0.59.10
stream-chat-react-native: 0.1.17
@react-native-community/netinfo: 2.0.7

`
<SafeAreaView>
        <Chat
          style={theme}
          client={chatClient}

          <Channel
            client={chatClient}
            channel={channel}

            <View style={{ display: 'flex', height: '100%' }}>
              <MessageList />
              <MessageInput />
            <

[2019-08-09 09:00] vishalnarkhede commented on #40
Hey @ian

Thank you for information. Will look into it get back to you!!

[2019-08-09 09:09] hongsa commented on #45
I think netinfo only 2 version is available..
Why??

[2019-08-12 09:35] jaapbakker88 commented on #24
@aniciom I tried once more the way you've been running this, can't replicate the issue. I'm going to close this right now but I'll keep an eye out on this specific issue and I'll reopen if I find out more.

[2019-08-12 09:35] #24 closed

[2019-08-12 11:35] vishalnarkhede commented on #48
Hey @hongsa ,

Can you share a bit more code on how you have initialized client and created the channel? That will help us with debugging.

[2019-08-12 12:20] vishalnarkhede commented on #40
Hey @ian

This issue is now fixed in **v0.1.18**. Thank you for brining this up.

Please reopen the issue if it doesn't work for you :)

[2019-08-12 12:20] #40 closed

[2019-08-12 12:51] vishalnarkhede commented on #45
Hey @earthlingstd

We don't support RN 0.60 yet (due to linking behavior). I think the issue is coming from linking issue of NetInfo library.

Can you try the same app on RN 0.59 please and let us know if it works for you?

[2019-08-12 12:58] hongsa commented on #48
` const channelId = `${targetClazz.id}-${teacher.id}-${parent.id}`;
    const conversation = await chatClient.channel('messaging', channelId, {
      name: `${teacher.name} / ${parent.name}`,
      image: targetClazz.profile_image,
      members: [userInfo.id, receiver.id],
      clazz: {
        name: targetClazz.name,
        profile_image: targetClazz.profile_image,
      },
    });`
await conv

[2019-08-12 13:02] hongsa commented on #45
I use rn 0.59
and only support netinfo 2.0.7 right?

[2019-08-12 16:59] ian commented on #40
Verified working, thanks for the fix.

[2019-08-12 23:34] aniciom commented on #24
Sure, no problem

[2019-08-13 11:21] vishalnarkhede commented on #48
Hey @hongsa ,

It's quite hard to say whats going wrong here. But we have some debug/logging capabilities on JS client.

When you initialize the client, please pass the logger function as part of options object (3rd parameter):
e.g.,

[code]

This shall log all the activities in js client. Please check this for more details about `logger` function. - https://github.com/GetStream/stream-chat-js/blo

[2019-08-13 11:38] vishalnarkhede commented on #45
Hey @hongsa ,

Yes currently we have support for 2.0.7, for compatibility reasons with RN 0.57 and 58.

We haven't upgraded it yet. What version are you looking to use?

[2019-08-13 15:38] hongsa commented on #48
sender
<img width="699" alt="스크린샷 2019-08-13 오후 10 37 04" src="https://user-images.githubusercontent.com/8157631/62955281-f5932880-be1a-11e9-8e76-c7665da32f05.png">

receiver
<img width="709" alt="스크린샷 2019-08-13 오후 10 37 11" src="https://user-images.githubusercontent.com/8157631/62955289-f926af80-be1a-11e9-80cf-2f328feb5557.png">

[2019-08-13 23:45] leanderlee opened #49 "Compatibility with expo 33"
Hi there, I'm getting this warning when using your library:

[code]

And
[code]

[2019-08-14 09:09] vishalnarkhede commented on #48
@hongsa

Thanks. Ok so from the logs I can see that, you are receiving the `message.new`event. So there is no issue with watching the channel.

Is it possible for you to paste entire piece of code (related to stream ... you can leave api_key and secret keys blank) here or send us via email?

[2019-08-14 12:16] vishalnarkhede commented on #49
Hey @leanderlee

Can you please specify version of `expo-cli` and version of our SDK that you are using?

[2019-08-14 15:02] hongsa commented on #48
chatting container

import React, { Component } from 'react';
import { View, SafeAreaView } from 'react-native';
import PropTypes from 'prop-types';
import {
Chat,
Channel,
MessageList,
MessageInput,
} from 'stream-chat-react-native';
import { Navigation } from 'react-native-navigation';

import { chatClient } from '~/utills/stream';
import { popScreen } from '~/utills/router';

const theme = {
co

[2019-08-14 21:53] leanderlee commented on #49
expo-cli: v3.0.9
[code]
For more info about the expo 33 migration, I believe it's explained at https://blog.expo.io/expo-sdk-v33-0-0-is-now-available-52d1c99dfe4c#16e1

[2019-08-15 11:44] vishalnarkhede commented on #48
Hey @hongsa ,

Did you remove the code?

[2019-08-15 12:10] hongsa commented on #48
I sent you by email!

[2019-08-15 12:18] hongsa commented on #48
Re send

[code]

[2019-08-15 12:20] vishalnarkhede commented on #49
@leanderlee

Yeah I saw the documentation. But weird thing is that I am not able to reproduce those warnings somehow. I tried our library in app with Expo SDK 33 as well as 34.

[2019-08-15 14:08] leanderlee commented on #49
Not sure if this helps, but the warnings don’t appear until you try to use the module, like when you try to pick an image or file.

[2019-08-15 15:59] hongsa commented on #48
I solve this problem...
In chat screen, I need to get channel again by query!!!

Why example is give to params??
This is not working in real time.

Please update your example

[2019-08-15 16:09] vishalnarkhede commented on #48
Hey @hongsa

You shouldn't need to query the channel again actually. I have a suspicion that something is going wrong when you pass the channel via param to Channel screen. In our examples we use `react-navigation` (which still works). But in your case, you are using `react-native-navigation`.

I tried to do the setup for `react-native-navigation` library in our app example, just to test it out. B

[2019-08-15 16:19] emielvanliere commented on #45
FWIW, I can use `stream-chat-react-native` on RN 0.60.4 just fine. The only thing I need to do is to manually upgrade NetInfo to 4.1.4. What is the timeframe for support RN 0.60?

In the meantime, I could build stream-chat-react-native myself. Are there any instructions for doing that?

thanks

[2019-08-15 16:54] hongsa opened #50 "Message Input bug"
When I open channel.
In no message, Message input box is dissappear!

react-native:0.59.10
stream-chat-react-native": "0.1.17" || 0.1.18

<img width="310" alt="스크린샷 2019-08-15 오후 11 53 23" src="https://user-images.githubusercontent.com/8157631/63111518-0e851080-bfb8-11e9-9903-aa9a7aefb3b0.png">

[2019-08-16 03:21] earthlingstd commented on #45
The lib works fine with RN 0.60. I dont have any problem with auto linking. The only issue is with NetInfo library. It'd be very great if you increase NetInfo version in your dependency package to the latest version

[2019-08-16 15:43] vishalnarkhede commented on #48
@hongsa So I managed to setup the example with `react-native-navigation` and reproduced the issue about real time. As it turns out, when props are passed as parameters, they get totally modified. All the immutables properties and ws connections are disturbed. So yeah ... for now you will have to query the channels when u open channel screen. This is not the case for `react-navigation` though.

[2019-08-17 07:33] vishalnarkhede commented on #48
Closing this issue for now. Solution would be to just pass channel id via params and then query the channel corresponding to channel id on channel screen.

[2019-08-17 07:33] #48 closed

[2019-08-19 12:56] vishalnarkhede commented on #45
Hey @emielvanliere @earthlingstd

Now I am working on fixing these issues with external dependencies for upgrade to RN 0.60. We shall publish it in next couple of days. I will keep you updated here!!

[2019-08-22 10:04] EJohnF commented on #45
We are considering you lib as an alternative to move out from sendbird, and from the very beginning meet this problem. Not cool :-(

[2019-08-22 12:15] EJohnF opened #51 "Support offline mode"
I don't see it in the docs, but maybe you have some caching and offline support?
So that once user loaded messages, he can access(see) them later without an internet connection?

I know that it's possible to do using such tools as Redux or Apollo. But I wonder might be there is support for that out of the box. Thanks!

[2019-08-22 12:18] vishalnarkhede commented on #51
Hey @EJohnF,

Thanks for reaching out to us. Currently we don't have offline support OOTB. Its currently in pipeline, and will be available in future, although I can't really give any timeline about it.

[2019-08-22 20:05] syntax-e opened #53 "StreamChat.createToken(id) throws `TypeError: Cannot read property 'sign' of null`"
Repro steps:
1) Create new react native project via react-native init
2) Add stream-chat-react-native per directions on this github repo
3) Create new StreamChat client via `const chatClient = new StreamChat(key, secret)`
4) Call `chatClient.createToken(userId)`

Result:
- Throws `TypeError: Cannot read property 'sign' of null` on line 2848 of `stream-chat/dist/browser.js`
- Debugger shows `jwt` i

[2019-08-23 10:10] EJohnF commented on #45
with 0.59 I was able to run the tutorial code successfully.
with 0.60, even though I overcome this NetInfo problem, there are constantly other errors happens somewhere inside, like `this.messages.flatMap is not a function` and some similar. resulting that I couldn't send messages to channel or thread.

Big hopes on the new update

[2019-08-23 20:33] agustif commented on #49
I hadn't this the issue and haven't fully tested my solution but I think this https://github.com/GetStream/stream-chat-react-native/pull/54 should fix it

[2019-08-24 09:32] harrisonschwartz opened #55 "Other member name and avatar is not displayed when using ChannelList with ChannelPreviewMessenger"
Repro steps:
1) Create new react native project via react-native init
2) Add stream-chat-react-native per directions on this github repo
3) Set current user via:
[code]
`userId` is a guid permanently associated with the current user that users will never see. `userName` and `userAvatar` are what we expect to see in the channel list channel preview

4) Create a channel via:
[code]
where `user.id` i

[2019-08-26 14:27] vishalnarkhede commented on #55
Hey @harrisonschwartz

Thanks for bringing this up. This is now fixed  as part of `v0.1.19`. Please reopen the issue if it doesn't work for you :)

[2019-08-26 14:27] #55 closed

[2019-08-26 14:29] vishalnarkhede commented on #45
@EJohnF Can you tell me what android version and emulator are you using for testing?

[2019-08-26 19:53] tbarbugli commented on #51
re-opening this so that people can +1 / subscribe to this for updates

[2019-08-27 16:03] vishalnarkhede commented on #45
Hey @emielvanliere @earthlingstd @EJohnF @hongsa

I have published v0.2.0 for our react native sdk, which comes with support for React Native 0.60. It should get rid of issues with netinfo package altogether.
I had to take out external dependencies like netinfo, image picker and document picker from hard dependencies to peerDependencies. Please give it a try and let me know your feedback or issues

[2019-08-28 06:53] EJohnF commented on #45
Sorry about my last comment, I figured out that the problem was in the integration of your Chat framework with react-native-navigation (found another issue here, which gave me a hint that object is not correctly transferred via props)

I'll definitely give a shot for a new version today (even though we already made it works with the old one)

[2019-08-28 07:34] EJohnF opened #57 "Latest message time"
When implementing custom ChannelPreview component, need to display the time since last message

we have two fields:
1) latestMessage.createdAt
pre-formatted, so that it's quite tricky to convert to a normal date format (to supply it to moment lib and make something like "1min ago"
2) channel.data.last_message_at
But this value is not getting updated when a new message arrived.

Am I doing somethin

[2019-08-28 07:42] EJohnF commented on #50
We have around the same issue. But I can see like 10 pixels messageInput at the bottom

I'd suggest checking on Android - in our case MessageInput is there

From code perspective what I can see that the problem is how the height of a component is calculated. You made it calculate and perform the animation on the keyboard opens.
But it leads 1) to issues like this
2) not perfect UX - if you compare

[2019-08-28 08:17] vishalnarkhede commented on #45
Hey @EJohnF ,

Yeah, passing a channel via prop in `react-native-navigation` won't work. It messes up with the prop completely. @hongsa had the similar issue as well - https://github.com/GetStream/stream-chat-react-native/issues/48#issuecomment-522055164

[2019-08-28 08:56] EJohnF commented on #45
about integration with 0.60RN and 0.2.x of chat
After the update works fine for me. just two notices:
1) it worked before also since I added NetInfo manually. But good that not we can use a newer version
2)  not sure, need to warn people who use react-native-navigation or not. That autolink for android is not working there yet, so need to link dependencies of Chat library manually.

[2019-08-28 12:24] vishalnarkhede commented on #45
@EJohnF
Thanks for the feedback. We will add the concerns regarding `react-native-navigation` to documentation :)

[2019-08-30 11:51] EJohnF commented on #57
resolved it buy subscribing to channel's changes, and take manually extract this info from channel.state.messages

[2019-08-30 11:51] #57 closed

[2019-09-02 08:35] vishalnarkhede commented on #49
@agustif @leanderlee I have just released v0.2.1 of our sdk, which has compatibility for expo 33 and 34 both. Please test it and let me know the feedback or any issues! :)

[2019-09-02 10:26] EJohnF opened #59 "How to get the list of channels user invited to"
Hi,

I need to display the list of channels user participate in (easy -> using channels query, with filter)

But how to get the list channels user invited to? There is not built-in query here https://getstream.io/chat/docs/#query_channels for it. It says I can filter by any custom fields but it's unclear how to do.

[2019-09-02 16:11] agustif commented on #49
Image-Picker is working for me, Document Picker is not, not sure if it's related to the same issue or not though.

I can't make it work nor in the iOS Simulator or my own iPhone. on the phone when trying for a second time I get this.

[Unhandled promise rejection: Error: Different document picking in progress. Await other document picking first.]

In the Simulator I just get an empty screen with a

[2019-09-06 13:49] agustif commented on #49
This issue has been resolved, Thank you @vishalnarkhede for all the help!

[2019-09-09 07:46] EJohnF commented on #59
@vishalnarkhede may be you have just a small hint where/how I can find it pls?

[2019-09-09 10:45] EJohnF opened #61 "Push notification preferences"
How the setup specific push notification preferences (like mute specific channel, or send push only when @mentioned)

[2019-09-10 09:42] thesyncim commented on #59
Hi @EJohnF we are about to introduce a new filter parameter **{$invited:true}** it should be deployed in the upcoming days. stay tuned i will ping you once is live

[2019-09-13 13:21] agustif commented on #49
@leanderlee can you confirm you don't have any warnings also? Maybe this can be closed! since #58

[2019-09-13 15:18] EJohnF commented on #59
so, basically now I couldn't send invites at all

[2019-09-16 07:14] earthlingstd opened #62 "Theming Message Text"
How do we change message text color and font size? Looks like the text is render using a separate Markdown lib?

[2019-09-16 07:59] #45 closed

[2019-09-16 09:29] vishalnarkhede commented on #62
Hey @earthlingstd , in our latest sdk `0.2.4`, I have added support for `MessageText` UI component as prop - https://github.com/GetStream/stream-chat-react-native/commit/1491461b2f3e5d81ac4babcf144c9241a345539d#diff-df86b4a4ee3e5ab9fd106229b6ae8b75R35

This prop is on `MessageSimple` level. I will soon move it to `MessageList` or `Channel` level, but for now you can just do the following:

[code]

[2019-09-16 11:41] earthlingstd commented on #62
Thank you for your answer, it perfectly works. Is there anyway that I can handle custom tag and display Attachment as a Card before the message?

[2019-09-16 13:27] vishalnarkhede commented on #62
Hey @earthlingstd  Glad to hear that it worked.

1. What do you mean by custom tag?

2. Attachment are handled by default by `MessageSimple` component, and will be displayed before the `MessageText` component. Images are displayed as gallery, files are displayed are list of files and rest (giphy, external url preview etc) are displayed as cards -

MessageContent - https://github.com/GetStream/stre

[2019-09-17 04:01] earthlingstd commented on #62
Thanks @vishalnarkhede it can solve my issue now

[2019-09-17 04:01] #62 closed

[2019-09-17 04:06] earthlingstd opened #63 "Could not receive push notification"
Hi team,

I can receive push notification using stream CLI `stream chat:push:test --user_id 'user_123'`. But I could not receive any notification when a new message is sent to a channel that I'm a member. Can you suggest if there is any further step that I need to setup?

Regards.

[2019-09-17 16:06] tbarbugli commented on #59
the `invites` fields is reserved; I really recommend waiting for @thesyncim change to API to land in production instead of rolling your own invite system

[2019-09-18 08:04] vishalnarkhede commented on #49
There will be some warnings on expo 32 and 33 I think. They don't break anything, everything will work smoothly. But they are currently unavoidable (since we want to support expo 32, 33 and 34), so can't do much about it. They only exist in dev mode.

[2019-09-19 20:01] leanderlee commented on #49
@agustif I can confirm it's fixed now in 0.2.4. Thank you!

[2019-09-19 20:01] #49 closed

[2019-09-23 16:21] Nekuromento commented on #63
Hello @earthlingstd,

Could you provide your stream application ID?
I am looking into your issue and will get back to you as soon as possible.

Thanks.

[2019-09-23 21:52] earthlingstd commented on #63
@Nekuromento the app ID is

[2019-09-24 15:21] sregg opened #64 "Different background and text colour for your own messages"
I'd like to customize the MessageList component to look something like this:

![chat](https://user-images.githubusercontent.com/1479283/65525219-2a37dc80-debd-11e9-8427-a36723257ed5.png)

The current user's message should have a dark background and white text.

I tried to use the `theme` functionality but didn't find a solution.

It'd be great if most of the colors where named in `theme.colors` li

[2019-09-24 15:43] sregg commented on #64
Also, changing anything in `theme.messageInput.container` doesn't seem to affect the MessageInput at all.

I have this in my theme:

[code]

and nothing changed.

other theme stuff work like
[code]

[2019-09-24 15:53] vishalnarkhede commented on #64
Hey @sregg

Correct use of custom styles is as following:

[code]

[2019-09-24 15:56] sregg commented on #64
Thanks it worked great!
It's weird that `message.text` worked without `css`...

[2019-09-25 08:23] tbarbugli commented on #63
@earthlingstd can you post the full output that you get from the CLI test command here?

[2019-09-26 03:56] earthlingstd commented on #63
@tbarbugli
[code]

[2019-09-26 04:31] earthlingstd commented on #63
ah, I understand now, it looks like that you only allow to modify the notification object. What I'am trying to do is add the **data** object to the notification message, so that the app can handle the notification while it's on foreground.

[2019-09-26 04:32] earthlingstd commented on #63
can you change the notification template to

[2019-09-26 04:32] hongsa opened #66 "Cannot receive push notification"
First, stream chat document(ios push) need to update!!
https://getstream.io/chat/docs/#rn_push_ios

Because push notification ios library is updated.
Android is also different code in Manifest.
So Document need to be updated or tell me version

I do all document. But I cannot receive push.

app id = 56395
user_id = chatdemo01

please help me..

[2019-09-26 07:14] earthlingstd commented on #63
[code]

[2019-09-26 15:13] vishalnarkhede commented on #50
@EJohnF @hongsa  I am not able to replicate the issue unfortunately. Can you tell me the version of emulator/device that you are using?

[2019-09-26 17:30] Nekuromento commented on #63
@earthlingstd we will be deploying a feature allowing users to specify `data` template along with `notification` template before the end of the week. Thank you for your patience

[2019-09-26 17:33] Nekuromento commented on #66
@hongsa We will investigate any inconsistencies in the notification setup for ios
Also we are aware that at the moment it is impossible to specify `data` for Firebase notifications and will be releasing a fix before the end of the week.

Could you specify which parts of our documentation were not clear or didn't work for you?

[2019-09-26 22:08] earthlingstd commented on #63
@Nekuromento @tbarbugli can you advise on this?

[2019-09-27 02:32] hongsa commented on #66
<ios>
stream chat document: PushNotificationIOS(react native)
react-native-push-notification: @react-native-community/push-notification-ios
-> It is different
<android>
stream chat document AndroidManifest.xml and
https://github.com/zo0r/react-native-push-notification#android-manual-installation

[2019-09-27 06:52] tbarbugli commented on #63
can you post the output of the test push based on a message and template?

[2019-09-27 10:34] earthlingstd commented on #63
@tbarbugli
Here is the rendered Firebase notification that will be sent to your devices:
[code]

[2019-10-01 08:16] vishalnarkhede commented on #64
Hey @sregg ,

Ideally following should work as well
 `'message.text': 'background-color: white; padding: 20px 20px 12px 20px; box-shadow: 0px 2px 0px #000000;'`. But there was some bug in our sdk because of which it didn't for you. But it has been fixed now as part of v0.3.2

So now, both of the following should work fine:

[code]

[code]

Please let me know if that works for you and feel free to

[2019-10-01 15:47] sharifMedici opened #69 "user information does not update even if client.updateUser() executed successfully in client side"
Hi i am facing a problem in getstram api (chat). when i use update user information, i see **client.updateUser()**  executed successfully. but we do not get update user information in client.user.it remain previous old information. right now i am trying to update image url. It remains the old info until we reload the whole application (_cdm+R in ios, RR android simulator)_. but channel update work

[2019-10-02 16:06] aniciom commented on #69
I've no idea what might be happening, but it would be possible that the backend is collisioning with same usernames in different apps and updating them wrong? Lets say APP1 with their credentials is creating User A and APP2 with their credentials is creating the same User A, but of course in a different scope.

[2019-10-02 16:10] sharifMedici commented on #69
hi thank you for your reply, there is no collisioning. all usernames are different. i strongly ask you just after client.updateUser. did your get the update value in  get client.user ?

[2019-10-02 16:22] vishalnarkhede commented on #69
Moving this issue to `stream-chat-js`

[2019-10-07 05:00] socceroos commented on #63
@Nekuromento What is the status of the `data` feature in push notifications?

[2019-10-07 08:42] tbarbugli commented on #50
@EJohnF @hongsa ping

[2019-10-07 09:50] mattdamon108 opened #72 "When stream api send a notification?"
I implemented APNs and FCM for push notification for my react native app. It works fine and gets notifications in the foreground/background/when the app is closed. I tested it with APNs notification send utility and stream CLI push:test.

But, in the case of iOS, It seems the push notification is sent when the app is closed. When I test with stream CLI, it gets a push notification when the app is

[2019-10-07 15:42] EJohnF commented on #50
@tbarbugli sorry, I already hardly remember details of this issue, since we managed to fix it about a month ago...

[2019-10-08 01:28] aniciom opened #73 "Connection on background / locked screen"
I've a question i didn't test it, maybe any of the developers did and can answer it, in case i launch my app in android or ios and leave it in background, and i lock the screen, and i leave the app hanging around in the bg, my question is the socket connection keeps alive or gets closed? from what i've seen if its get closed it tries to connect again, another question related to this, once the con

[2019-10-08 08:34] vishalnarkhede commented on #64
Closing this issue!! Please reopen if you have some concern :)

[2019-10-08 08:34] #64 closed

[2019-10-08 13:36] Nekuromento commented on #61
@EJohnF at the moment we do not support configuring notification conditions. We have plans to provide ways of configuring this but I am not aware if this is scheduled for next releases.
Please contact Stream support for feature requests.

[2019-10-08 13:36] #61 closed

[2019-10-08 14:08] Nekuromento commented on #63
@socceroos Feature is ready and is going through QA at the moment

[2019-10-09 10:07] vishalnarkhede commented on #73
Hey @aniciom

When the app goes to background, sock connection will stay alive for 5-10 seconds (currently we are not controlling it), after that it breaks. And once app comes to foreground, we recover the socket connection and re-query the channels.

Let me know if that answers your question.

[2019-10-09 12:48] aniciom commented on #73
Yep it does, Thanks

[2019-10-09 12:50] aniciom commented on #73
Sorry @vishalnarkhede I reopen it for a second thing, i'm using stream-chat-js outside stream-chat-react-native, what you described above its the behaviour of the library or the behaviour of the app?

[2019-10-09 14:57] vishalnarkhede commented on #73
Connection/reconnection logic is in `stream-chat-js` or js client. It is not aware of AppState, but after 10-15 seconds in background, operating system breaks the network connection for the app automatically - and thus socket connection breaks. After this, js client keeps trying to connect at regular interval.

When app comes to foreground, app is given access to internet again - `NetInfo` detects

[2019-10-09 15:51] aniciom commented on #73
Yep i've been digging a little bit into the internals, but since i'm using my own app i think i'd have to implement a similar logic inside of it, because i'm not using the stream's chat app only the js's library, but having the stream chat react native as main example i think i can get out some features like the one i need.

Thanks @vishalnarkhede

[2019-10-09 15:51] #73 closed

[2019-10-10 07:41] tbarbugli commented on #61
@EJohnF the current behavior is that we don't send push messages when the user is muted; when the message is added to a thread we only send the push message if the user has at least a message in the thread or if it was mentioned

[2019-10-14 09:15] vishalnarkhede commented on #50
Closing this issue now !!

[2019-10-14 09:15] #50 closed

[2019-10-14 11:45] vishalnarkhede commented on #72
Hey @mattdamon108 ,

Currently we send push notification only when ws connection is NOT active for a particular user/device. We have plans to improve this behavior in our roadmap, so that you will be able to handle it on client side. I will keep you posted.

[2019-10-14 11:59] mattdamon108 commented on #72
Hi @vishalnarkhede ,

Well noted. I'm happy to hear your plan. But can I get any recommendations to connect/disconnect ws to handle the trigger for a notification? As per the doc, I found `client.disconnect()`, but it seems heavy to use it while my app is running and between screens. (I'd like to handle the notification trigger while my app is even foreground.)

[2019-10-16 13:04] vishalnarkhede commented on #53
Hey @harrisonschwartz,

Client generated using secret key is only meant to be used on serverside.  Seems like you are using it on clientside (on browser or mobile - react-native)

[2019-10-18 01:28] Pranav-Dakshina opened #76 "Warning: Failed prop type: Invalid prop `editing` of type `boolean` supplied to `MessageInput`, expected `object`."
`editing` of type boolean throws an error in both `MessageList` and `MessageInput`.

[code]

[2019-10-18 03:23] earthlingstd commented on #63
@Nekuromento  have you looked at the issue with #eq tag in the template?

[2019-10-18 08:36] vishalnarkhede commented on #76
Hey @Pranav-Dakshina which version of `stream-chat-expo` are you using?

[2019-10-18 13:27] Nekuromento commented on #63
@earthlingstd we have `if` tag for checking if value is true and `equal` tag for comparing values

[2019-10-30 19:04] cenzovit opened #78 "ImagePicker fails to open"
pickImage in registerNativeHandlers passes null to ImagePicker.showImagePicker which causes an error in React-Native-Image-Picker. For now, should probably pass and empty object or allow for users to pass their own options to the image picker.

[2019-11-03 19:11] barczaG opened #80 "Can‘t find variable:Buffer"
I'm using expo. For some reason the `Buffer` polyfill wasn't included in the build.  I was able to fix it by installing `buffer` and adding the following line to `node_modules/stream-chat/dist/browser.js`
`global.Buffer = global.Buffer || require('buffer').Buffer`

[2019-11-12 21:27] cenzovit opened #85 "Crash caused by events 'member.added' and 'member.removed' in ChannelInner of a channel with no messages"
If the active channel has no messages and a 'member.added' or 'member.removed' event occurs, ChannelInner.addToEventHistory() attempts to get the id of the last message (which is undefined), causing a crash.

[2019-11-22 10:22] vishalnarkhede commented on #85
Thanks @cenzovit for brining this up. We will address/fix this issue as soon as possible!

[2019-11-25 09:48] EJohnF opened #89 "Does stream support iOS 13 push notifications?"
Push notifications were working on friday. Today morning we updated testing phone to iOS 13+ and push notifications stops working:
seems to be related to https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns?language=objc

In the dashboard I see that push notification claims to be delivered, but I don't see them on

[2019-11-25 16:39] EJohnF commented on #89
Some my findings which might be helpfull:
I don't see in dashboard push notification logs the entities for Push notifications to ios 13 (no error, not row for this user)
And I made sure that this user is offline - I killed the app where he was logged.

[2019-11-26 09:48] EJohnF commented on #89
from this issue: https://github.com/GetStream/stream-chat-swift/issues/31

I tried to add `"apns-push-type":"alert"` to the template.

And now I see logs, but it says:

<img width="574" alt="Screenshot 2019-11-26 at 10 47 34" src="https://user-images.githubusercontent.com/8780514/69618449-30bc0f00-103a-11ea-8f20-c0d268774178.png">

I thought it's because of the wrong key or team ID -> double-check

[2019-11-26 12:01] Bogdan-D commented on #89
Hi, @EJohnF, we are having support for new apns push type. It shoudn't be added to the template directly, it's done on backend side.

Are you using development or production push settings?

[2019-11-27 10:20] EJohnF commented on #89
Hi @Bogdan-D, thanks for looking up
okey, I've removed this field from the template

I'm uploading .p8 auth key -> which should work for both, development and productions
And the toggle in ios settings -> I tried in both states (on and off for development toggle)

for testing, I'm using AdHoc production build

One more I've noticed, that I'm receiving logs now, about the error during push sending,

[2019-11-27 12:41] Bogdan-D commented on #89
Hi @EJohnF

We are currently having the issue with p8 keys you are talking about, working on fix for that.
I recommend you temporary to use .p12 key instead.

Can you check push notifications are working now?

[2019-11-27 15:48] EJohnF commented on #89
Hm, I did nothing special (all settings still the same, and still with p8 key) - and notification start to come on ios13 as expected :/

Seems the issue with p8 is resolved? Or I shouldn't rely on this way?

[2019-11-27 16:38] Bogdan-D commented on #89
Issue with p8 is different issue, not related to the topic.

Closing this one

[2019-11-27 16:38] #89 closed

[2019-12-03 15:16] vishalnarkhede commented on #85
Hey @cenzovit this has now been fixed as part of `v0.3.12`

[2019-12-03 15:16] vishalnarkhede commented on #78
Hey @cenzovit this has now been fixed as part of `v0.3.12`

[2019-12-03 17:28] AlexUzan opened #95 "How can I fork this repo ?"
Hi, I am trying to setup Stream in a react native app, but for customization issues I need to fork it and change some components. From what I understand this repo actually contains 3 npm packages, and the changes I need are in the `stream-chat-react-native-core` package. But then when I add the url to the fork in my `package.json`, I am stuck because yarn fetches `stream-chat-react-native-core` in

[2019-12-05 14:42] vishalnarkhede commented on #95
Hey @AlexUzan ,

this is how your package.json should look like:

[code]

Also you will need to blacklist the node_modules directories of `stream-chat-react-native`  folder via metro config to avoid conflict. Here is the metro.config.js file that I have.  you will see blacklisted directories on lines 141-146 in following snippet,

[code]

Hope that helps :)

[2019-12-06 14:19] AlexUzan commented on #95
Hi @vishalnarkhede, thank you for your help !
I am having trouble installing the dependencies from a github repo the way you suggested:
[code]
Above is what I have right now in my package.json, but yarn does not find it (404 error). From my understanding neither yarn nor npm support linking subdirectories of github repos as dependencies (https://github.com/yarnpkg/yarn/issues/4725).
How do you do

[2019-12-12 12:23] DobritoiuBogdan747 opened #96 "React-native-web dependencies"
Yo GetStream!
Kudos to your Sass.

I am trying to make a react-native-web app with stream-chat-react-native. I know there is a separate react-web repo for the chat but I am trying to use only the react-native implementation for my needs.

My problem is one dependencies which I'm trying to use for the rest of the app which is
styled-components that tells this:

"It looks like there are several inst

[2019-12-12 14:50] familywiser1 opened #97 "Chat not working with Expo SDK 36.0.0 due to missing NetInfo dependencies"
`
Invariant Violation: NetInfo has been removed from React Native. It can now be installed and imported from 'react-native-netinfo' instead of 'react-native'. See https://github.com/react-native-community/react-native-netinfo
This error is located at:
    in Chat (created by Context.Consumer)
    in ThemeProvider (created by Context.Consumer)
    in ThemedChat (at ChannelScreen.js:31)
    in RCTSa

[2019-12-13 15:57] farukyazici opened #98 "Still getting notification from muted user"
Hi,

There is an issue with the muted users. The documentations says that the messages from muted users are not sent. However a user is still receiving messages and push notifications from a user that he muted.

The **muteUser** function provided in the API is used and it's successfully called. Is there anything else needed to mute a user? Because this function is called and still messages and not

[2019-12-13 16:38] Bogdan-D commented on #98
it's not fully correct.
From muted users you are not receiving notifications, but messages are coming as usual.
Is this issue related to react-native only?

[2019-12-16 20:24] cenzovit opened #100 "Longpress on attachment (image) in chat locks app in unusable state"
If you press on an image attachment and have it open the viewer, if you then long press on the image (which most users believe will let you copy the image to the clipboard), the app gets stuck in an unusable state.

[2019-12-16 20:57] cenzovit opened #101 "MessageInput with imagepicker and filepicker doesn't open actionsheet to choose properly"
When hasImagePicker and hasFilePicker are both set to true for the MessageInput component, attempting to do either action often fails to properly open their respective action sheets (opens and then closes immediately). Seems to be some sort of race condition between the intermediate menu closing the the action sheets opening.

[2019-12-17 08:14] tbarbugli commented on #100
thank you for reporting this; I just tried reproducing this on my end but I did not get the same outcome (nothing happens for me when I long-press). We will keep try to reproduce this as well, in the meantime if you can share more information on how you test this that would be great (simulator/real phone, SDK, relevant code if applicable, ...)

[2019-12-18 10:42] vishalnarkhede commented on #95
Hey @AlexUzan

Hey @AlexUzan , for me, I just have clone of these repos on my local machine. So I use them as following for development.
[code]
And for sample apps, I replace them with their corresponding npm packages

[code]

[2019-12-18 10:43] vishalnarkhede commented on #95
@AlexUzan  Can you give me an update if `gitpkg` tool worked for you?

[2019-12-18 11:10] vishalnarkhede commented on #101
Thanks for raising this @cenzovit . I will look into it and get back to you !!

[2019-12-18 11:13] vishalnarkhede commented on #100
Thanks for reporting this. I managed to reproduce this on my device. I will look into it and get back to you :)

[2019-12-18 11:22] vishalnarkhede commented on #96
Hey @DobritoiuBogdan747 , Thanks for reporting this.

Tbh I haven't yet tried using our sdk with react-native-web app. I will give it a try soon to see if I can resolve these issues. I am aware of Expo issue regarding netinfo package, and I will fix it as priority by end of this week or in next week. But styled components issue may need some deeper investigation.

If you can publish small/sample r

[2019-12-18 11:23] vishalnarkhede commented on #78
Hey @cenzovit , can you confirm if the issue is fixed for you. In that case I would like to close this issue :)

Thanks

[2019-12-18 11:23] vishalnarkhede commented on #85
Hey @cenzovit, can you confirm if the issue is fixed for you, I would like to close this issue in that case. :)

Thanks

[2019-12-19 17:05] AlexUzan commented on #95
@vishalnarkhede Yes, `gitpkg` has been working great for production builds, thank you for your help !

[2019-12-20 09:47] vishalnarkhede commented on #95
Thanks really great to hear @AlexUzan :)

Closing this issue now!!

[2019-12-20 09:47] #95 closed

[2019-12-23 09:30] tbarbugli commented on #98
@farukyazici can you provide more information on this? probably best if you can reach out to our support so that you can share more info about your setup (sharing api keys and user ids on Github is not OK)

[2019-12-23 15:28] vishalnarkhede commented on #76
@Pranav-Dakshina ping!!

[2019-12-23 15:32] #76 closed

[2019-12-23 15:53] vishalnarkhede commented on #101
Hey @cenzovit I haven't been able to replicate the issue so fat. Can you give us the following details:

1. Version of `stream-chat-react-native` that you are using
2. Device/emulator that you are testing on
3. Version of react-native or expo that you are using

That will really help us resolve this quickly :)

[2019-12-23 16:19] vishalnarkhede opened #104 "Can't open thread - TypeError: undefined is not an object (evaluating 'this.props.eventHistory.none.forEach')"
**Describe the bug**
When I try to press `replies` button under message component, it gives me error.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native (0.4.0)
- react-native (0.60.0)
- iPhone 11

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Channel screen
2. Click on `2 replies` button under message
3. See error

**Expected b

[2019-12-23 16:19] vishalnarkhede commented on #104
This will be fixed as part of v0.5.0 :)

[2019-12-24 13:20] vishalnarkhede commented on #104
This has been fixed as part of [`v0.5.0`](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.5.0)!!

[2019-12-24 13:20] #104 closed

[2019-12-24 13:22] vishalnarkhede commented on #100
@cenzovit this has been fixed as part of [`v0.5.0`](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.5.0). We are disabling long press on image viewer for now to avoid freezing of UI. When we implement the functionality to save images on device, we will re-enable it!

Please let us know if that solves the issue for you!!

[2019-12-24 13:23] vishalnarkhede commented on #97
Hey @familywiser1 , thanks for brining this to our attention. We have fixed this issue and made the sdk compatible with Expo36 as part of  [v0.5.0](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.5.0). Cheers :)

Please let us know if that works for you!!

[2019-12-24 13:24] vishalnarkhede commented on #39
Hey @gfpacheco , sorry for the delays. We have fixed this as part of [v0.5.0](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.5.0). Please let us know if it works for you :)

[2019-12-24 13:26] vishalnarkhede commented on #53
@syntax-e ping. Any update on this?

[2019-12-24 22:27] familywiser1 commented on #97
Yes, it works!!! thanks so much for fixing before holidays :)

[2019-12-24 22:27] #97 closed

[2020-01-02 22:17] JJ-Kidd commented on #98
@tbarbugli if you want to stop communication from a user you can use something like
`channel.update({
        frozen: true,
      })`

Apologies if that isn't what you are looking for

[2020-01-03 16:20] mckenziefiege opened #108 "Open ReactionPicker on Message LongPress, without opening the context menu first"
We are looking to rewrite the existing functionality of the openReactionSelector in the MessageContent component. Instead of the long press to open the menu and then having to click on “Add Reaction”, we would like to have the longPress immediately open the reaction picker.

In order to achieve this - we have tried creating a custom component for MessageSimple and MessageContent where our custom M

[2020-01-03 17:25] vishalnarkhede commented on #108
Hey @mckenziefiege thanks for bringing this to our attention. Let me get back to you on this one in few hours!!

[2020-01-06 12:09] JJ-Kidd opened #110 "When Cancelling add attachment app crashes"
**Describe the bug**
Application throws an unhandled error due to a rejected promise.
When a user clicks to add an attachment, then clicks 'Upload a file', then 'Cancel' I receive "mimeType.startsWith is not a function".
The error is surfaced from stream-chat-react-native-core.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native-core: v0.5.1
-

[2020-01-06 13:29] vishalnarkhede commented on #110
Thanks for reporting ti @JJ-Kidd . We will look into it and fix it asap!!

[2020-01-06 18:07] vishalnarkhede commented on #110
We will publish a fix for this tomorrow :)

[2020-01-06 18:10] vishalnarkhede commented on #108
Hey @mckenziefiege , we will be publishing a change tomorrow. With that change you will be able to customize the required onLongPress or onPress behaviour as following:

[code]

[2020-01-06 23:29] cenzovit commented on #78
Appears to be fixed!

[2020-01-06 23:29] #78 closed

[2020-01-07 14:43] vishalnarkhede commented on #110
Hey @JJ-Kidd fixed -[v0.6.0](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.0)

Please confirm if it works for you!!

[2020-01-07 14:44] vishalnarkhede commented on #108
Hey @mckenziefiege ,

This has been been published - [v0.6.0](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.0)

Please let us know if it solves your issue!! :)

[2020-01-07 20:02] mckenziefiege commented on #108
@vishalnarkhede Works great! Thank you! :)

[2020-01-07 20:04] #108 closed

[2020-01-09 21:49] cenzovit commented on #100
Appears fixed!

[2020-01-09 21:49] #100 closed

[2020-01-13 23:49] tschellenbach opened #113 "ChannelList doesn't perform queryChannels when filters or sort change"
The channelList component doesn't update correctly when the filter or sort props change.
When props change you should perform queryChannels to update results automatically. Currently it ignores the prop change.

As a temporary workaround users can change the `key` value of the component to force a componentDidMount event.  As an example:

You would expect this to work. So if you change the array o

[2020-01-14 05:04] charltongroves opened #114 "App Crashed when uploading photo / taking photo on android"
**Describe the bug**
Reactive Native: 0.61.5

App is crashing on android (both emulator (pixel 3) and physical (samsung s10)) when i attempt to attach a photo or take a photo in a conversation
I've made a few changes to the styles of some of your stock components but otherwise no changes, so i believe this is to do with code in this package.

Gif example:
![crashing](https://user-images.githubuser

[2020-01-14 05:18] charltongroves commented on #114
On further analysis, it looks like its not 'crashing' the app, but its instead just not returning to the app correctly. It instead just minimises the app.

[2020-01-14 15:16] shodgetts commented on #114
Hey, Charlton thanks for bringing this up. Always happy to get feedback and bug reports.

@jaapbakker88 might this bug be related to our most recent release?

[2020-01-14 15:59] #113 closed

[2020-01-15 19:23] stokesbga opened #116 "RN - Arguments[0].indexOf is not a function"
**Describe the bug**
When rendering ChannelList, I get this error.

**Dev environment info (please complete/provide the following information):**

- Package version:  stream-chat-react-native -> 0.6.1
- Device/Emulator: ios emulator iphone 11 -> 0.65

**To Reproduce**
Steps to reproduce the behavior:

1. Render ChannelList as provided by example documentation

**Screenshots**
![Screen Shot 2020-01

[2020-01-15 20:53] bscharfstein opened #117 "System message displays current time, not sent time"
**Describe the bug**
When we send a system message is displays the time sent as the current time, not the time the message was sent.

- Package version: 0.6.0
- react-native
-iOS and android

**To Reproduce**
Steps to reproduce the behavior:

1. send a system message
2. observe that time always displays current time

**Expected behavior**
Time displays time sent

[2020-01-16 01:21] #116 closed

[2020-01-20 19:25] renanmav opened #119 "Custom attach icon of MessageInput component"
**Describe the feature**
I would like to provide a custom attach icon to the `MessageInput` component

Currently its hard coded, see:
- https://github.com/GetStream/stream-chat-react-native/blob/fa5e2b60df3fcaaf186cc85a047436e301900043/src/components/MessageInput.js#L762
- https://github.com/GetStream/stream-chat-react-native/blob/fa5e2b60df3fcaaf186cc85a047436e301900043/src/components/MessageInpu

[2020-01-20 19:46] renanmav opened #120 "Missing SendButton prop of MessageInput on typescript type definition"
This prop exists but isn’t declared on the `.d.ts` file.
https://github.com/GetStream/stream-chat-react-native/blob/fa5e2b60df3fcaaf186cc85a047436e301900043/src/components/MessageInput.js#L179-L182

https://github.com/GetStream/stream-chat-react-native/blob/fa5e2b60df3fcaaf186cc85a047436e301900043/types/index.d.ts#L198

[2020-01-22 08:59] tbarbugli commented on #120
thank you for reporting this; we are doing a major update to improve TS support. Jaap will either patch this on current version or include it on the next release

[2020-01-24 19:44] familywiser1 opened #121 "Support date in MM/DD/YY format"
**Describe the bug**
Channel Preview currently shows date in `DD/MM/YY` format. unfortunately, this date format does not work for US based users.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): stream-chat-expo
- react-native or expo version: expo
- Device/Emulator (android/ios) and OS version: all

**To

[2020-01-24 19:48] familywiser1 opened #122 "Latest message only show first 20 chars"
**Describe the bug**
Latest message only show first 20 chars. I want to show more than 20 chars.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): stream-chat-expo
- react-native or expo version: expo
- Device/Emulator (android/ios) and OS version: all

**To Reproduce**
Steps to reproduce the behavior:

Fo

[2020-01-24 23:15] cenzovit commented on #117
Appears MessageSystem references message.received_at (which is undefined) causing Moment.js to create a Moment object for the current time. MessageSystem should instead reference message.created_at.

[2020-01-27 08:37] vishalnarkhede commented on #122
Hey @familywiser1 , thanks for bringing this up. We will add the required feature to our ChannelPreview component soon :)

[2020-01-27 08:45] vishalnarkhede commented on #121
@familywiser1 thanks for brining this up. We will add a props to customize date format!!

[2020-01-27 08:51] vishalnarkhede commented on #119
Hey @renanmav Thanks for brining this up. We will add a prop for this feature soonish :)

[2020-01-27 10:15] vishalnarkhede commented on #117
@bscharfstein thanks for reporting this. I will look into it and get back to you soonish !!

[2020-01-27 11:27] familywiser1 opened #123 "Avatar initials are not displayed in ChannelList"
**Describe the bug**
A clear and concise description of what the bug is.
Avatar initials are not displayed in ChannelList. Channel Screens shows the avatar initials correctly.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): latest stream-chat-expo
- react-native or expo version: expo
- Device/Emulator (a

[2020-01-27 11:30] familywiser1 opened #124 "Feature Request: (optionally) show unread count for each channel in ChannelList"
I want to show the unread count for each channel. I am able to do that by customizing `ChannelPreviewMessenger` the as suggested in https://getstream.io/chat/react-native-chat/tutorial/.

However, it would be nice to have an option in ChannelList component to show the unread count.

[code]

[2020-01-29 16:16] vishalnarkhede commented on #122
@familywiser1 this has been published - [v0.6.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.3)

Please let us know if it works for you :)

[2020-01-29 16:21] vishalnarkhede commented on #121
@familywiser1 this has been published - [v0.6.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.3)

You can use the prop `formatLatestMessageDate` in `ChannelPreviewMessenger` component.

Please let us know if it works for you :)

[2020-01-29 16:21] vishalnarkhede commented on #120
@renanmav fix has been published - [v0.6.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.3)

[2020-01-29 16:23] vishalnarkhede commented on #119
@renanmav this has been published - [v0.6.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.3)

You can pass `AttachButton` prop to `MessageInput` component. Check our default AttachButton component to build your own - https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/AttachButton.js

Please let us know if it works for you :)

[2020-01-29 16:23] vishalnarkhede commented on #117
@bscharfstein  @cenzovit  Fix has been published - [v0.6.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v0.6.3)

Please let us know if it works !!

[2020-01-29 16:27] vishalnarkhede commented on #53
Closing this for now. Please reopen if you have more questions!!

[2020-01-29 16:27] #53 closed

[2020-01-29 16:28] #39 closed

[2020-01-29 16:28] #85 closed

[2020-01-29 16:28] #110 closed

[2020-01-29 16:28] vishalnarkhede commented on #101
@cenzovit ping!!

[2020-01-29 20:56] familywiser1 commented on #121
@vishalnarkhede  - Sorry, this may be a dumb question but how do I pass props to ChannelPreviewMessenger?

This is how I am using `ChannelList`

[code]

[2020-01-30 09:18] vishalnarkhede commented on #124
Hey @familywiser1 this will be added soon on our end!!

[2020-01-30 09:19] vishalnarkhede commented on #123
@familywiser1 Thanks for reporiting this. We will fix it as soon as possible!!

[2020-01-30 22:42] #123 closed

[2020-01-31 11:36] familywiser1 commented on #121
Hi @vishalnarkhede  - Thanks so much for fixing it so quickly. I will really appreciate if you can let me know how to pass props to `ChannelPreviewMessenger`. This is how I am using ChannelList

[code]

I am not how to pass custom props to `ChannelPreviewMessenger`. Any code example or link to documentation would be really helpful

[2020-02-06 23:53] fbartho opened #134 "Minor Bug: SendButton component receives an improper prop 'title'"
**Describe the bug**
The SendButtonProps are documented (in TypeScript) as receiving a `title`, `editing`, `sendMessage()`

The the value in the title, appears to be related to a camera image picker however as seen in this screenshot:

<img width="641" alt="Screenshot of the title rendered into our button" src="https://user-images.githubusercontent.com/209712/73988679-3f575a00-48f8-11ea-9978-099c2

[2020-02-07 02:40] fbartho commented on #134
@vishalnarkhede Found the line of code here: https://github.com/GetStream/stream-chat-react-native/blob/ec248a0d2bffd7e96595c44b5a5f8769c7e6e7f9/src/components/MessageInput.js#L830

[2020-02-12 00:09] type commented on #121
@familywiser1 Here's what I suggest trying:

[code]

[2020-02-12 06:16] charltongroves commented on #114
Hey i finally found what cause this.

I had some dodgy code that terminated our app whenever it was suspended. Since the camera / image picker 'suspends' the app while it picks, it meant that our app got terminated in the background.

We fixed it and everything works fine now, not a problem with this package :)

[2020-02-12 06:16] #114 closed

[2020-02-12 10:54] BrantApps opened #136 "Channel List update events apparently stop upon customising the Preview component"
**Describe the bug**
Upon adding a custom `Preview` component to the `ChatList` component the channel deleted, channel added callbacks don't appear to work.

**Dev environment info (please complete/provide the following information):**

[code]
- Non device specific.

**To Reproduce**
Steps to reproduce the behavior:

1. Customise the `ChatList` preview component with your own chat preview componen

[2020-02-12 11:39] #121 closed

[2020-02-12 11:42] #122 closed

[2020-02-12 12:09] familywiser1 opened #137 "Help wanted: is "channel.watch" needed with react native component?"
react native tutorials at https://getstream.io/chat/react-native-chat/tutorial/#stream-app is using "`channel.watch()`"

[code]

However, the examples provided in your github repo ( https://github.com/GetStream/stream-chat-react-native/blob/master/examples/ExpoMessaging/App.js#L81 ) does not mention `"channel.watch"`

I am not sure if we need to use `"channel.watch"` with react native component. I

[2020-02-12 12:32] familywiser1 opened #138 "Help needed: How to put "SendButton" outside of MessageInput?"
I want to put SendButton outside of MessageInput.

This is similar to how other chat platforms such as WhatsApp/Telegram do.   I also think it is a better user experience since having a large button outside with extra padding helps with sending messages quickly.

I tried this but I am not sure how to use existing "`sendMessage" `method from `MessageInput`

[code]
I will really appreciate it if you

[2020-02-12 13:19] BrantApps commented on #136
This didn't make any sense to me when i saw it & it's not the fault of the library. We are migrating off a home-brew solution and the hot-reloading combined with the in-app switch to use Stream's components was causing the inconsitencies.

[2020-02-12 13:19] #136 closed

[2020-02-12 17:24] familywiser1 opened #139 "Avatar initials are not displayed in ChannelList for one-one converstations"
**Describe the bug**
A clear and concise description of what the bug is.
Avatar initials are not displayed in ChannelList for one-one converstations. Channel Screens shows the avatar initials correctly.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): latest stream-chat-expo
- react-native or expo version

[2020-02-14 14:14] jparkrr opened #141 "Potential issue with KeyboardCompatibleView"
**Describe the bug**
In my app I was having an issue where, when I focused on MessageInput and the keyboard came up, the Channel didn't animate to a smaller height to accommodate the keyboard.

Not sure exactly why this doesn't happen in all apps. For example, I couldn't reproduce it in the example expo app. I've created a fix that works for me, see "Additional context below".

**Dev environment i

[2020-02-18 20:24] vishalnarkhede commented on #141
Hey @jparkrr , thanks for brining this up. I will look into it and get back to you :)

[2020-02-18 20:30] vishalnarkhede commented on #139
@familywiser1 thanks for bringing this up. We will fix this in next release :)

[2020-02-18 22:07] vishalnarkhede commented on #138
@familywiser1 Currently its not easily possible to keep send button outside MessageInput component. We kept send button inside MessageInput to avoid HOC mess. Although your use-case can easily be achieved by tweaking some styles.

[code]

Hope that helps. Let us know if you have any followup question!

[2020-02-18 22:10] vishalnarkhede commented on #137
Hey @familywiser1 , you don't really need to do `channel.watch()` before providing it to Channel component. We initialize/watch the channel in Channel component anyways - https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/ChannelInner.js#L165

[2020-02-18 22:11] vishalnarkhede commented on #134
Hey @fbartho thanks for brining this to our attention. I will fix this in next release :)

[2020-02-18 22:17] #120 closed

[2020-02-18 22:17] #119 closed

[2020-02-18 22:17] #117 closed

[2020-02-20 16:52] familywiser1 commented on #138
Thanks for the suggestion. I am able to modify the send button style that's fine for now.

[2020-02-20 16:52] #138 closed

[2020-02-20 16:56] familywiser1 opened #143 "MessageInput shows AttachButton even when both hasFilePicker and hasImagePicker are set to false"
**Describe the bug**
`MessageInput` shows `AttachButton` even when both `hasFilePicker` and  `hasImagePicker` are set to false. Clicking on this button does not do anything (which is fine). However, the `MessageInput` should not show `AttachButton` .

**Dev environment info (please complete/provide the following information):**
- Package version (stream-chat-react-native/stream-chat-expo): stream-

[2020-02-20 18:55] vishalnarkhede commented on #141
Hey @jparkrr , I have published one fix in `v0.6.6`. Can you please check and let me know if its working for you?

[2020-02-20 18:55] vishalnarkhede commented on #139
@familywiser1 this has been fixed as part of `0.6.6`. Please let us know if it works for you!

[2020-02-20 18:56] vishalnarkhede commented on #134
@fbartho this has been fixed as part of `0.6.6`. now!

[2020-02-20 18:57] vishalnarkhede commented on #101
Going to close this issue now due to inactivity. Please reopen if you still need help with this!

[2020-02-20 18:57] #101 closed

[2020-02-20 18:59] vishalnarkhede commented on #143
Hey @familywiser1 , thanks for bringing this up. We will take care of this in next release :)

[2020-02-20 20:52] jparkrr commented on #141
it's working! thanks!

[2020-02-20 20:52] #141 closed

[2020-02-21 17:00] familywiser1 commented on #139
Thanks. it is working now.

[2020-02-21 17:00] #139 closed

[2020-02-21 17:00] #137 closed

[2020-02-24 01:55] charltongroves opened #145 "Bug · ChannelList not always up to date"
**Describe the bug**
Hello,
We've released our Chat app to a bunch of users and they have all reported that sometimes new messages / Channels are not appearing in the app (in this case, ChannelList)

I believe there seems to be some issue where ChannelList isn't rerendering with the latest data. So while the app is minimised, new messages come through, but channelList ignores them and doesn't rere

[2020-02-24 02:00] charltongroves opened #146 "Dev UX Bug · Knowing how many unread messages there are"
**Describe the bug**
I have had to jump through an insane amount of hoops to get a simple 'unread notificaiton' badge count working in my app.

Here is all the code i've had to write.

(promise in this case is the promise that's returned from 'setUser' which i need to be resolved in order to figure out the initial 'total_unread_count')
[code]
A bit of an explanation as to whats going on:
Currently

[2020-02-24 02:12] charltongroves opened #147 "Feature Request · Show name of user who sent message"
**Describe the feature**
Hey,
Some feedback we've gotten from our chat app is that you should be able to see the name of the person sending messages in a group chat.

here is an example in Facebook messenger, notice how 'Matt Jennings' appears above the message group.
![image](https://user-images.githubusercontent.com/15869505/75124978-5a9ad580-56fe-11ea-8789-043a5bf5ec91.png)

In our app, its pre

[2020-02-24 05:28] charltongroves commented on #147
Managed to implement this myself
[code]

Results in the name showing up next to the timestamp
![image](https://user-images.githubusercontent.com/15869505/75130477-3e0c9680-571a-11ea-8735-b9c06509e9c4.png)

Was still quite a lot of work though for something that should probably be there by default

[2020-02-24 05:28] #147 closed

[2020-02-24 05:50] charltongroves opened #148 "Bug · Messages not being auto marked as read while inside channel"
**Describe the bug**
Hey,
When you open a channel, it immediately marks all messages as read. However, if you stay in that channel and talk to someone, all of the messages that get sent in that channel will stay marked as 'unread' until you re-open the channel.

This doesn't make much sense, if you have a channel open, then presumably you are reading the messages that are coming through, so these

[2020-02-24 07:53] charltongroves opened #149 "UX Bug · Reactions are clunky"
**Describe the bug**
While they work as intented, the current reactions UX could use a lot of improvement.

1. Android has overflowing elements and weirdly low opacity emoji
![image](https://user-images.githubusercontent.com/15869505/75135470-533ef080-572d-11ea-8bcf-de5f3ede2967.png)

2. Pressing a reaction doesn't actually update the UI until (im guessing) the request succeeds. This means there i

[2020-02-25 02:07] vishalnarkhede commented on #145
Hey @charltongroves , let me check and get back to you!!

[2020-02-25 02:25] vishalnarkhede commented on #149
Hey @charltongroves , sorry to hear that you are having bad experience with reactions and keyboard. I will take a look at reactions in next few days and see what improvements can be done. I will get back to you on it.

Regarding animation of MessageList - in latest version (v0.6.6) of our sdk, I added support for custom animation duration. You can find description here - https://github.com/GetStre

[2020-02-25 10:19] familywiser1 commented on #146
It's easy to get count unread messages. You could do something like this - https://getstream.io/chat/docs/unread/?language=js
register the event during the componentDidUpdate and unregister (client.off) the event during componentWillUnmount

Also if you are using expo - you can also show count of unread message on your app icon -

[code]

[2020-03-02 18:29] familywiser1 commented on #145
I am also noticing the same problem whenever a user is added as a member by making a backend call (using server-side API). We have livestream channels and allow user to add themself to channels by making a backend call.

I also noticed the following exception whenever a channel is updated via backend (server side API).

`0, [TypeError: undefined is not an object (evaluating 'channels[channelIndex]

[2020-03-10 00:51] charltongroves commented on #146
@familywiser1
I'm aware of that, it's not perfect though because if you re-mount, you'll need to wait until an event fires in order to get the latest unread message count, until that happens you will be showing whatever the unread message count was when you first fired 'setUser'.

I did exactly what you described in the code i attached, but i had to add a ton of workarounds to make it actually kee

[2020-03-13 16:01] kusalshrestha commented on #63
What is the status of this issue? I'm facing this now

[2020-03-25 13:34] vishalnarkhede commented on #149
@charltongroves this should be published soon, I will let you know once this is out :)

[2020-03-26 00:42] charltongroves commented on #149
awesome thanks!

[2020-03-26 13:53] vishalnarkhede commented on #63
@bogdan-getstream

[2020-03-26 14:16] bogdan-getstream commented on #63
Hi @kusalshrestha, we did many changes to our internal push notifications system, I need more details from you if you still have same issue

[2020-03-27 11:00] vishalnarkhede commented on #147
@charltongroves I am working on similar example on this PR - https://github.com/GetStream/stream-chat-react-native/pull/152
And building the doc for same - https://github.com/GetStream/stream-chat-react-native/blob/vishal/docs-improvement/src/components/docs/examples/index.md

So it can set ready made examples of these use cases. Maybe I will make these components part of repo as well. But its sti

[2020-04-07 22:07] capacitivellc opened #180 "Image Uploads totally inconsistent"
**Describe the bug**
When any user trues to send an image in chat, the spinner spins, then stops without completing the upload.

Seems to happen with anything over just a few kb in size.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
stream-chat-react-native 0.9.2

- react-native or expo version
react-na

[2020-04-07 22:09] mattimck opened #181 "Implementing into an existing app - styled.withTheme.withConfig is not a function"
We are having some difficulty implementing this into an existing (rather messy) ReactApp. The error we receive whenever `stream-chat-react-native` is imported (even if we don't put the components in the view, just import the package at all), is this:

[code]

We are confident it's something in our app, as it works fine with the same version of React, and Stream (and `styled-components`) running in

[2020-04-08 07:39] vishalnarkhede commented on #181
Hey @mattimck I will check and get back to you on this one :)

[2020-04-08 09:03] vishalnarkhede commented on #181
@mattimck Can you please give me following information (which may give me some more clue for debugging this issue)?

1. Your rollup config
2. Babel config
3. devDependencies

[2020-04-08 16:19] #63 closed

[2020-04-08 23:10] mattimck commented on #181
Thanks for the quick reply @vishalnarkhede! I'm not sure we have a rollup config, but here are the other parts you requested:

Babel config:
[code]

devDependencies:
[code]

[2020-04-09 07:16] vishalnarkhede opened #184 "Cookbook - additions/improvements"
We recently added a cookbook to this react-native sdk, to help users of this library easily get sample codes or examples or rough answers to generic "How to implement x with y component?" questions.

Please check current version here (screenshots coming soon) - https://github.com/GetStream/stream-chat-react-native/blob/master/docs/cookbook.md

Here are some more things that I will add soon:

- [ ]

[2020-04-11 02:55] cenzovit opened #186 "openReactionSelector deprecated improperly and new function openReactionPicker not functional"
**Describe the bug**
MessageSimple openReactionSelector has been deprecated but is not referencing the old functionality correctly. Even when making calls to the new openReactionPicker, the reaction picker is not opening in the correct location

1. Set the onPress or onLongPress of MessageSimple as per docs
[code]
2. Press a message and see that you get a deprecation warning but the reaction picke

[2020-04-12 13:48] vishalnarkhede commented on #180
Hey @capacitivellc we did some fixes around photo/file uploads on backend yesterday. So can you please check again if you are facing the issue?

[2020-04-12 14:41] Antoine-C opened #187 "Event channel.hidden doesn't hide the channel from the channel list"
Hello,

**Describe the bug**
When a user is a member of a list of channels and one of them is hidden then the current list of channels is not updated to exclude the hidden one.

**Dev environment info (please complete/provide the following information):**

- Package version : stream-chat-react-native 0.10.0-rc.0
- RN : 0.61.5
- iOS simulator 13.3 (type iPhone 11).
- MacOS Catalina

**To Reproduce*

[2020-04-12 17:02] vishalnarkhede commented on #187
@Antoine-C thanks for bringing this up. It looks like ChannelList doesn't handle `channel.hidden` event. I will include it in next release :)

[2020-04-12 17:03] vishalnarkhede commented on #186
THanks @cenzovit . Will fix it in next publish :)

[2020-04-12 17:06] Antoine-C commented on #187
Hi @vishalnarkhede
Awesome thanks ! Do you want a PR to tackle this or it's not necessary (given it's not a big change) ?

[2020-04-12 21:26] vsavitskiy opened #188 "Native handler was not registered"
Hi! I have an issue with the expo ejected project on Android. After messages loading appears an error. But `stream-chat-react-native` and other necessary libraries are installed

[code]

package.json
[code]

[code]

What could I miss? Or is it problem because of some package version? Thank you in advance!

[2020-04-13 04:47] mattimck commented on #181
Hi @vishalnarkhede vishalnarkhede, I was able to have another go at this today, and from what I can see, it is very similar to the issue at https://github.com/styled-components/styled-components/issues/2681.

I was able to get things running well in app, but I needed to import `withTheme` differently in  `MessageTextContainer.js`.

As per https://github.com/styled-components/styled-components/issu

[2020-04-13 16:58] vishalnarkhede commented on #188
Hey @vsavitskiy , please use `v0.10.0`of `stream-chat-react-native`. For a day our `latest` tag was pointing to wrong (unstable) version.

[2020-04-13 17:23] vsavitskiy commented on #188
Now it works. Thank you :)

[2020-04-13 17:23] #188 closed

[2020-04-13 23:32] cenzovit commented on #186
Also, you use to be able to pass props along to MessageContent (because it was receiving the props from the parent MessageSimple); however, that no longer appears to be the case. We used to be able to set the delayLongPress attribute of the touchable.

[2020-04-14 07:02] vishalnarkhede commented on #186
@cenzovit thats strange. We still forward all the props to `MessageContent` - https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/MessageSimple/index.js#L413

Can you should me your code please?

[2020-04-14 09:30] vishalnarkhede commented on #187
@Antoine-C PR would be really helpful. If you are planning to file a PR, please try to check the following checklist:

- [ ] Channel gets removed from list when `channel.hidden` is received.

- [ ] Introduce a new prop - `onChannelHidden`, which can be used to override default handler, similar to `onMessageNew` or `onChannelTruncated`

- [ ] Add the new prop `onChannelHidden` to PropType list with

[2020-04-14 09:32] Antoine-C commented on #187
@vishalnarkhede not a problem I'll submit a PR by the end of the day

[2020-04-14 10:41] vishalnarkhede commented on #181
Hey @mattimck thanks for investigation. I understand the issue now ... let me see what I can do about it.

[2020-04-14 21:19] mattimck commented on #181
Sorry @vishalnarkhede, i'm at a loss why it makes any difference either. But I've switched just those lines back and forward over and over and without fail it fixes it/breaks it each time. 🤷‍♂️

I don't fully understand how the rollup output works exactly, so I'm having trouble getting any further, and unfortunately it doesn't look like the commenter in https://github.com/styled-components/styled-

[2020-04-15 02:21] kgstaley commented on #145
We are also having this problem regarding the ChannelList component not being most up-to-date with latest data. But Charlton's workaround would not work in our case. We have tried passing extraData through to the underlying Flatlist using the additonalFlatListProps prop to force a rerender of the list but as the other two have found, it seems as though the listener / query aren't correctly receivi

[2020-04-15 08:32] vishalnarkhede commented on #145
Hey @charltongroves @kgstaley @familywiser1 sorry for delays on this one.

Ok here is how it is supposed to work ideally:

1. App goes to background
2. After 10-15 seconds websocket connection breaks
3. App comes to foreground
4. Websocket connection recovers in client
5. client emits `connection.recovered` event
6. ChannelList has listener for this event. Once the event is received, we refetch/re

[2020-04-15 09:36] vishalnarkhede commented on #149
**Update**

@charltongroves the commits which had optimistic UI updates had to be reverted unfortunately because of some edge cases. Next week I will get back on it and try to make this change in some other way :)

[2020-04-15 09:40] vishalnarkhede commented on #181
@mattimck I will do more investigation and get back to you!

[2020-04-15 12:06] vishalnarkhede commented on #181
@mattimck I think I found the issue. Can you add following alias in your babel config:

[code]

So basically your full babel config will be as following:

[code]

Don't forget to reset cache - `react-native start --resetCache` or `yarn start --reset-cache` for updated babel config to work :)

Let me know if it works!!

[2020-04-15 13:24] #187 closed

[2020-04-15 17:54] kgstaley commented on #145
Hi @vishalnarkhede, thanks for getting back. I added an event listener for the connection.recovered event type and it seems as though it never fires. Still seeing stale data / no refresh on when a user is added to a newly created conversation / new messages to channels.

I should add that we are also having a problem with stale / no refetch of data regarding switching users for the chat client. Ou

[2020-04-16 05:00] vishalnarkhede commented on #145
Ok that might be an issue. I will test this scenario in our sample app get back to you early next week.

Regarding this. can you provide me with some logs - that will help me debug the issue.

[code]

And then please do the steps to reproduce the issue and post here the logs :)

[2020-04-16 05:35] charltongroves commented on #149
ahhh shame, but understandable.

Thanks

[2020-04-16 15:48] vishalnarkhede commented on #181
@mattimck ^^

[2020-04-16 19:22] kgstaley commented on #145
Ok after running it again today, everything seems to work as it should and both ChannelLists and new messages are loading appropriately.

[2020-04-16 20:24] andrewschenk-linx commented on #180
Still seeing upload times bloated by 1000% from expectations.

For reference: 0.9.2 of stream-chat-react-native.  Approximately 50 seconds to upload an image.
https://youtu.be/hIKeAUqc2-c

Release build
iPhone Xs
iOS 13.3.1

RN 61.5

After updating to
stream-chat-react-native 0.10.1

https://youtu.be/FYTsQWfOi2o

It is about 20 seconds to upload.   👍  A hefty improvement, but still not a first cla

[2020-04-16 21:25] mattimck commented on #181
Hi @vishalnarkhede - sorry for slow reply, i've been unwell the last couple of days! I have tried this quickly this morning, and unfortunately it doesn't appear to resolve the proble - however I will try again later today and see if I can get any further progress with more time applied to it. Thank you again for your help!

[2020-04-17 04:18] kgstaley opened #195 "MessageAvatar for custom Message shows up unexpectedly, seemingly at random."
**Describe the bug**
When using a custom Message for MessageList, we are disabling the showing of the current user avatar, but we show the avatar of the recipient. Sometimes, seemingly at random, the avatar of the other user shows on the righthand side of the conversation (side of current user messages). **The random avatar disappears after the current user sends a message to the chat.**

**Dev en

[2020-04-17 06:32] vishalnarkhede commented on #180
@andrewschenk-linx I am looking into switching to `react-native-image-crop-picker`, which offers option of image compression OOTB.

[2020-04-17 07:05] vishalnarkhede commented on #195
@kgstaley thanks for detailed description. I will test the your code in our sample app and get back to you asap :)

[2020-04-17 07:38] vishalnarkhede commented on #195
@kgpasta I think that user avatar on right side is coming from `MessageStatus`. It basically indicates that the other user (`Kerry Tester` in this case) has read your message.

                      ownMessage={props.isMyMessage(props.message)}
                      theme={theme}
                      {...props}
                    />

Whats the value of `theme` prop that you have provided to `Cha

[2020-04-17 09:07] vishalnarkhede commented on #181
@mattimck
So basically what my suspicion is, when your webpack (assuming you are using webpack) resolves modules, its using `@stream-io/styled-components/dist/styled-components.cjs.js` instead of `@stream-io/styled-components/native/dist/styled-components.native.cjs.js`.

Can you please confirm if thats not the case, by adding some `throw Error('not using correct package')` in `@stream-io/styled-c

[2020-04-17 10:42] vishalnarkhede commented on #180
@andrewschenk-linx @capacitivellc So I did some testing with `react-native-image-crop-picker`. It works really well. Adding it to our library OOTB and testing everything along with docs may take some time. But you don't need to wait for it.

1. Install  `react-native-image-crop-picke` in your project. Please pay attention to the version that you are installing. If you are using  RN 0.61+, then may

[2020-04-17 17:05] kgstaley commented on #195
Hey thanks for getting back so quickly. The theme prop that we are passing is just an object that contains hexcode values for color.
i.e.
[code]

So I don't see how that might cause an issue, as I'm only using it for styling the colors of the messages.

[2020-04-17 18:17] andrewschenk-linx commented on #180
Have it down to about 5 or 6 seconds now by compressing images to a max width/height of 1500 pixels.  No noticeable decline in quality for a big performance boost.

For anyone else that follows along this issue.  I did have to implement my own Alert to allow picking from camera as the above code will only show photo library.

[2020-04-17 19:47] kgstaley commented on #195
After digging into our custom styles for chat, it does indeed seem to be an issue regarding the MessageStatus component. Below I have pasted our custom theme as well as my debug code to wrap the status readByContainer
[code]

We apply this to the Chat and its children via the style prop on Chat:
[code]

[2020-04-18 01:52] mattimck commented on #181
@vishalnarkhede - thanks, I tried this, but it did _not_ throw the error.

Just to be sure though, I did try to add the same code into `@stream-io/styled-components/native/dist/styled-components.native.cjs.js` and it _did_ throw the error, so i'm pretty sure it's using the correct one?

I also tried changing my babel config to deliberately use `@stream-io/styled-components/dist/styled-components.c

[2020-04-19 08:04] Antoine-C opened #196 "Channel visible event is not handled by ChannelList"
**Describe the bug**
Similar to #187 the _channel.visible_ event is not handled and thus when a channel is hidden it will disappears from the list but when the channel is shown again unless you unmount / mount the ChannelList component you won't see it.

@vishalnarkhede I was thinking of doing a PR to handle this unless it's a wip on your side ? If not could you guide me on how you'd like it to be

[2020-04-19 08:21] vishalnarkhede commented on #196
@Antoine-C its not WIP on my side. Feel free to file a PR.

I am not sure if you have setup this library on your machine. Please do so, so that you can test the changes:

1. Instructions for dev setup: https://github.com/GetStream/stream-chat-react-native/wiki/Dev-setup-for-contributing-to-the-library
2. Cli tool: https://github.com/GetStream/stream-cli. This will help you with execute actions suc

[2020-04-20 16:22] capacitivellc opened #197 "Crash caused by KeyboardAvoidingView"
**Describe the bug**
Randomly while resuming our app using the standard Stream components we we get a crash caused by KeyboardAvoidingView.

![IMG-20200420-WA0001](https://user-images.githubusercontent.com/35151612/79774728-0e2bda80-82e8-11ea-90fa-a2c8bfe368ab.jpg)

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-cha

[2020-04-20 16:49] capacitivellc opened #198 "Slow and inconsistent KeyboardCompatibleView behavior"
**Describe the bug**
KeyboardCompatibleView used by the MessageList, MessageInput components is slow to open (500ms) and very very frequently does not work. That is to say the MessageInput renders below the native keyboard. Some times navigation back from the conversation and opening it again helps, but not consistently.

**Dev environment info (please complete/provide the following information):*

[2020-04-20 23:01] bawolf opened #199 "Crashes relating to KeyboardCompatibilityView."
We're seeing crashes in our crashlytics like:
[code]
It seems to be caused by component:
https://github.com/GetStream/stream-chat-react-native/blob/1eec0783cfb5400d6874213aeb009e61dcdbdc4e/src/components/KeyboardCompatibleView.js#L122

I haven't had any luck making a sample app to reproduce yet, but it seems to happen most when a few people are typing back and forth quickly.

[2020-04-21 09:07] vishalnarkhede commented on #198
Hey @capacitivellc thanks for bringing this up. Keyboard functionality has always been a bit little crumbly. It heavily depends on keyboard events and layout calculations.

Please find more details [here](https://github.com/GetStream/stream-chat-react-native/blob/master/docs/cookbook.md#keyboard).

You can tweak the animation duration of KeyboardCompatibleView easily. Please checkout this example

[2020-04-21 09:09] vishalnarkhede commented on #197
@capacitivellc thanks for brining it up. I will take a look and get back to you as soon as possible. Some extra checks around this functionality should fix the issue :)

[2020-04-21 09:10] vishalnarkhede commented on #199
Thanks for bringing this up @bawolf . I will look into it and get back to you :)

[2020-04-21 11:31] vishalnarkhede commented on #195
Hey @kgstaley you can take a look at this example - https://github.com/GetStream/stream-chat-react-native/blob/master/docs/cookbook.md#customdifferent-style-for-received-and-sent-messages

Here I am adding different styles for sent message and received messages.

Let me know if you have any doubts :)

[2020-04-22 02:28] cenzovit opened #201 "MessageList does not allow caller to get the ref of the underlying FlatList"
**Describe the bug**
It is not possible to safely get a reference to the underlying FlatList of MessageList (in order to programmatically scroll the view).

**To Reproduce**
Steps to reproduce the behavior:

1. Attempt to pass additionalFlatList prop to MessageList with ref key set.
2. Send a message and see that MessageList dangerously calls scrollToIndex on it's own internal (and now not defined

[2020-04-22 03:06] cenzovit commented on #186
If you look at MessageContent you can see that only specific props are passed along (contentProps). Additional feedback, when wrapping the MessageInput in an InputAccessoryView, when a modal opens (in this case the reactionpicker), the accessory view / keyboard disappears and the reaction picker opens in the wrong spot

[2020-04-22 21:44] cenzovit opened #203 "MessageSystem does not leave margin for typing indicators when they are the very last message"
**Describe the bug**
MessageSystem does not leave margin for typing indicators when they are the very last message. Probably MessageList itself should have a margin instead of individual messages checking if they are the very last message...

**To Reproduce**
Steps to reproduce the behavior:

1. Send a system message to a channel
2. See that no margin is left below the very last message and that t

[2020-04-22 22:09] cenzovit commented on #186
To clarify, the major issue is that the openReactionPicker()  method does not open the reaction picker in the correct location. Formerly this could be worked around by calling _setReactionPickerPosition directly but this is no longer accessible as it has been moved from MessageSimple to ReactionPickerWrapper.

[2020-04-23 08:10] vishalnarkhede commented on #195
@kgpasta any update? Did it work?

[2020-04-23 10:19] vishalnarkhede commented on #186
Can you should me a screen recording if possible? And also what code you are using?

The PR linked to this issue should fix your issues imo :)

[2020-04-23 15:54] samzer opened #205 "Error: 1st Example of React Native Tutorial"
**Describe the bug**
First example in the react-native tutorial is not working properly with the stream-chat-react-native library whereas the 2nd example which is Multiple conversations works properly

The only change to code that I made is renaming "stream-chat-expo" to "stream-chat-react-native";

The screenshot is attached below

**Dev environment info (please complete/provide the following inf

[2020-04-23 19:58] bscharfstein commented on #186
Here is a screen recording:
[RPReplay_Final1587670041.MP4.zip](https://github.com/GetStream/stream-chat-react-native/files/4524777/RPReplay_Final1587670041.MP4.zip)

We're using 0.10.0 of stream-chat-react-native. Here is the function we call:
[code]

[2020-04-24 07:11] samzer commented on #205
It seems to be working now although don't know why. Closing the issue.

[2020-04-24 22:17] kgstaley commented on #195
Hi sorry, got caught up with some other work. What I ended up doing was passing a conditional statement into the style prop of our custom message component, like so:
[code]
Works like a charm thanks!

[2020-04-24 22:17] #195 closed

[2020-04-24 22:34] kgstaley commented on #148
We are also seeing this behavior, would love to know if there is a workaround or fix.

[2020-04-28 18:44] Ingibjorg commented on #198
@vishalnarkhede @capacitivellc I'm experiencing the same issue. This issue for when the keyboard hides the MessageInput only happens for me in Release mode. The KeyboardCompatibleView works fine in debug mode. @vishalnarkhede I'm able to reproduce the issue with your example code: https://github.com/GetStream/stream-chat-react-native/blob/master/examples/NativeMessaging/App.js#L103

[2020-04-28 20:21] WitleyInc commented on #198
I'm having the same issue as well. The MessageInput component renders behind the native keyboard because the MessageList occupies too much space.

[2020-04-29 14:55] #143 closed

[2020-04-29 16:03] vishalnarkhede commented on #199
Hey @bawolf fix has been published on `0.10.2`. Please reopen the issue if you still see the error :)

[2020-04-29 16:03] #199 closed

[2020-04-29 16:05] vishalnarkhede commented on #198
Hey @capacitivellc @WitleyInc @Ingibjorg , I have published some improvements/fixes in keyboard functionality in `0.10.2`. Please let me know if this issue is fixed for you on the latest version :)

[2020-04-29 16:05] vishalnarkhede commented on #197
Hey @capacitivellc  fix has been published on `0.10.2`. Please reopen the issue if you still see the error :)

[2020-04-29 16:05] #197 closed

[2020-04-29 16:07] vishalnarkhede commented on #203
Hey @cenzovit  fix has been published on `0.10.2`. Please reopen the issue if you still see the error :)

[2020-04-29 16:07] #203 closed

[2020-04-29 16:08] siddharthJadhav commented on #66
@Nekuromento Did you find any solution because I am also facing the same issue.

[2020-04-29 16:09] vishalnarkhede commented on #201
@cenzovit I have added a prop `setFlatListRef` prop to ChannelList and MessageList. on `0.10.2` .Please use it instead to get access to ref of FlatList

[code]

[2020-04-29 17:18] Ingibjorg commented on #198
Thank you for the quick response @vishalnarkhede. I can confirm that version `0.10.2` fixes the issue.

[2020-04-29 19:30] WitleyInc commented on #198
@vishalnarkhede Thank you for the quick response. However, the fix is still not working on the latest version. When I navigate to the screen with the `Channel Component` containing the `MessageList` and `MessageInput` components, the keyboard is still being pushed under the screen by the `MessageList`. However, I notice that if I click and drag the home indicator of the iPhone X, then the `Message

[2020-04-30 08:47] nemoNoboru commented on #205
I'm running into this issue too. Could you try to reproduce what you did to have it working?

[2020-04-30 08:57] vishalnarkhede commented on #205
Hey @nemoNoboru I published a fix for this in 0.10.2. Can you please confirm is version of stream-chat-expo or stream-chat-react-native is 0.10.2?

[2020-04-30 09:13] nemoNoboru commented on #205
Thanks for your quick reply!
Indeed, i was using the version `0.10.1` of the `stream-chat-react-native` package.
I updated it to 0.10.2 on the package.json and did a rm -rf node_modules && npm install
I can confirm that i'm using the version 0.10.2 now but the problem continues happening in android and ios. I'm running the metro bundler with the --reset-cache flag set.

[2020-04-30 11:00] vishalnarkhede commented on #205
Hey @nemoNoboru I am looking into it. I will get back to you shortly :)

[2020-04-30 12:03] vishalnarkhede commented on #205
@nemoNoboru Can you try removing `packge-lock.json` and then `npm install`

[2020-04-30 12:16] nemoNoboru commented on #205
Hello @vishalnarkhede, I did just that. The problem is still there. i checked out my `package-lock.json` and it's like this
[code]
This is the code that i'm trying to run. Maybe I'm doing something wrong?
[code]
Also, the problem only happens if there is more than 1 message sent.

[2020-04-30 17:46] capacitivellc commented on #198
@vishalnarkhede Thanks for the update. I can't really tell if this resolved our issue. To be clear I am using the CustomizedKeyboardView now with low 200ms animation delay. On all iphone simulators the keyboard seems to pop up quickly. However on real devices it is still very slow. I suspected something was causing re-renders on the chat screen but when I look at perf monitor the JS drops to 3 eve

[2020-05-01 08:14] vishalnarkhede commented on #198
@WitleyInc I think you are referring to different issue than @capacitivellc . In @capacitivellc 's case, when you open the keyboard, channel height doesn't get adjusted properly. Please correct me if I am wrong. Just want to make sure I understand both of your issues correctly

[2020-05-01 18:48] WitleyInc commented on #198
@vishalnarkhede I apologize for misunderstanding the issue. The channel height adjusts properly when I open the keyboard and the animation is fine as well. My issue is that the `MessageList` component's initial height when the component is mounted is larger than it is supposed to be, and the `MessageInput` component is being pushed outside of the screen. However, dragging the home indicator in iPh

[2020-05-01 21:50] WitleyInc commented on #198
@vishalnarkhede One thing I have also noticed is that the`MessageInput` component is not being pushed out of the screen if there's no message in the channel.

[2020-05-03 06:52] vishalnarkhede opened #206 "react-native-web support"
Support for RNW is currently work in progress at following PR - https://github.com/GetStream/stream-chat-react-native/pull/190

- [x]  Introduced a new NPM package - `stream-chat-react-native-web`
- [x] Move native dependencies such as react-native-document-picker, react-native-image-picker, NetInfo from core component library (stream-chat-react-native-core) to package level - stream-chat-react-na

[2020-05-03 08:42] vishalnarkhede commented on #96
Continuing on https://github.com/GetStream/stream-chat-react-native/issues/206

[2020-05-03 08:42] #96 closed

[2020-05-04 07:12] vishalnarkhede commented on #186
@cenzovit @bscharfstein can you please test once on 0.10.2 and let me know. I can see from your comments that the issues fixed in 0.10.2 are un-related to your issues. But just want to make sure you are still facing the issue on latest version before I dive again in this.

[2020-05-04 13:30] nemoNoboru commented on #205
I don't have any idea how or why. But is fixed now.
Thanks a lot for your help. You can close this issue :)

[2020-05-04 13:37] #205 closed

[2020-05-04 14:34] bscharfstein commented on #186
Unfortunately 0.10.2 does not fix the issue

[2020-05-08 13:52] losetchi commented on #184
Hello. My issue refers to the groupStyles on messages with attachments. Currently, if a message is in the top/middle/bottom of a message group and it has attachments, it will be considered a 'single' message and thus adding a margin-bottom which I do not want. From what I've seen [here](https://github.com/GetStream/stream-chat-react-native/blob/4a45dd6330ac95e6849dba1817e6e21073f0a6f1/src/componen

[2020-05-08 19:42] WitleyInc opened #208 "withKeyboardContext is missing"
I am trying to dismiss the keyboard inside the `Channel` component when I press a customized button. I notice that it can't be done with the native `Keyboard.dismiss()` function. Therefore, I read the document and find out that I need to use the `withKeyboardContext` function to pass the `dismissKeyboard` function to props. However, `withKeyboardContext` is missing in v0.10.2. How should I dismiss

[2020-05-10 10:40] vishalnarkhede commented on #208
Hey @WitleyInc

`withKeyboardContext` is exported from the library - https://github.com/GetStream/stream-chat-react-native/blob/master/src/index.js#L11

Can you please show me some code?

[2020-05-11 09:06] WitleyInc commented on #208
Ok, it is being exported from the library. It's just Visual Studio not showing the `withKeyboardContext` function in the import {...} from 'stream-chat-react-native'.
However, I have run into an TypeError when I am trying to follow the document on how to use `withKeyboardContext`.
![Simulator Screen Shot - iPhone 11 - 2020-05-11 at 01 55 01](https://user-images.githubusercontent.com/47505922/81543

[2020-05-11 09:19] vishalnarkhede commented on #208
Can you please share your code around `withKeyboardContext`?

[2020-05-11 09:22] vishalnarkhede commented on #198
Hey @WitleyInc @capacitivellc we are investigating these issues. We will get back to you soonish.

[2020-05-11 19:49] WitleyInc commented on #208
[code]

[2020-05-12 01:49] YohaanYoon opened #209 "About weird line breaks in stream-chat-react-native"
**Describe the bug**
A clear and concise description of what the bug is.
- When users write sentences with line breaks and special symbols (`!`, `?`, `.`, `,` and so on) in MessageInput component, it looks weird in MessageList Component as follows pics.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native 0.10.1
- react-native 0.59.10
- both of

[2020-05-12 09:26] #134 closed

[2020-05-12 09:26] #201 closed

[2020-05-12 20:10] virdesai commented on #208
@WitleyInc can you try adding `static themePath = '';` to the ConversationScreen
 Component and seeing if that solves your issue?

[2020-05-12 20:15] WitleyInc commented on #196
@vishalnarkhede  @Antoine-C I believe I have the similar issue with you before. Did you call `channel.stopWatching()` before `channel.hide()`? I think Stream is still watching your channel despite you have called `channel.hide()`. That is why the `channel.visible` is not being handled instead it is going to be a channel event, `messages.new`, which will not show your hidden channel. So my fix is t

[2020-05-12 20:59] WitleyInc commented on #208
@virdesai It still returns the same error
![Screen Shot 2020-05-12 at 1 58 57 PM](https://user-images.githubusercontent.com/47505922/81744939-bdc41a80-9458-11ea-9b46-91d2eab3789a.png)

[2020-05-13 05:31] virdesai commented on #198
@WitleyInc I think the issue may be safe area view related. using the tutorial code, I was able to recreate your issue with the message input being at the bottom of the screen with the notch. I upgraded some packages and converted class to functional components but overall this made the render look correct

package.json
[code]
and then App.js
[code]

[2020-05-13 05:47] virdesai commented on #208
@WitleyInc hmmm, from reading through these docs https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/docs/withKeyboardContext.md and https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/docs/KeyboardContext.md, can we confirm that this `ConversationScreen` component is embedded within a `Channel` as `withKeyboardContext` need to be used only

[2020-05-13 19:37] WitleyInc commented on #208
@virdesai so there's no way to dismiss the keyboard manually without using the `KeyboardCompatibleView`?

[2020-05-13 20:31] virdesai commented on #208
@WitleyInc so if the React Native `Keyboard.dismiss()` isn't working then I'd say maybe not as even if you override the MessageInput by passing in Input and taking that `dismissKeyboard` prop off of there, that prop only exists if the MessageInput is a consumer of the KeyboardContext. So because the `dismissKeyboard` prop is declared within the `KeyboardContext` (`KeyboardCompatibleView`), it is o

[2020-05-14 13:07] vishalnarkhede commented on #208
Hey @WitleyInc , also can you share full code for `ConversationScreen` either here or via email? That will give us clearer picture where the error regarding `themePath` is coming from.

[2020-05-15 14:59] vishalnarkhede commented on #184
Hey @losetchi currently doesn't look like there is any easy way to do this. But we shall ponder and come-up with some clean way to achieve this

[2020-05-15 15:12] vishalnarkhede commented on #209
Hey @YohaanYoon please check `0.10.3`. We have published a fix for this :)

Let us know if it fixes your issue!!

[2020-05-18 02:08] YohaanYoon commented on #209
I will check it out.

[2020-05-19 21:44] virdesai commented on #148
@charltongroves @kgstaley I am not able to recreate this issue. Can you try updating to the latest version and seeing if the issue is resolved or not. I can dig deeper if that doesn't help fix it

[2020-05-20 14:50] wildvalcom commented on #184
Hi guys,
In my project I'm developing a channel info screen. On that screen like in all other messengers I want to display shared content (attachments): links, files, images.
Is there any way how can I grab that data? I see that a workaround could be to loop though all the messages but this is inefficient.

Thanks.

[2020-05-28 18:31] bscharfstein commented on #186
nor does v0.10.3 as far as we can tell

[2020-05-29 08:53] vishalnarkhede commented on #186
Hey @bscharfstein pardon me, been busy with some pressing issue. I will take a look earlier next week on this :)

[2020-05-29 12:35] theRealSheng opened #214 "Token Error: {"code":5,"StatusCode":401,"message":"WS failed with code 5 and reason - JWTAuth error: json: cannot unmarshal number into Go struct field StreamJWTClaims.user_id of type string","isWSFailure":false}"
**Describe the bug**
I get the following error after chatClient.setUser(user, token)

{
"code":5,
"StatusCode":401,
"message":"WS failed with code 5 and reason - JWTAuth error: json: cannot unmarshal number into Go struct field StreamJWTClaims.user_id of type string",
"isWSFailure":false
}

A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the fol

[2020-06-01 14:41] theRealSheng commented on #53
@vishalnarkhede how to I obtain the token by creating a user in the stream-CLI?

Thanks in advance!

[2020-06-05 08:41] vishalnarkhede commented on #214
Hey @theRealSheng currently we don't support integer as user_id! Its in our backlog though!

[2020-06-05 13:40] vicnicius commented on #186
Hello, @bscharfstein and @cenzovit.

I've spent a couple of hours investigating the issues mentioned here to see if I could help, but I wasn't able to reproduce them entirely. If I understood correctly, there have been three problems reported:
1. The `openReactionSelector` function was wrongly deprecated (meaning that the functionality was not there anymore).
2. Even after you worked around the fi

[2020-06-05 16:42] aleplusplus commented on #51
Any update on this?

[2020-06-09 14:18] manhncse02926 commented on #184
![image](https://user-images.githubusercontent.com/21988274/84158557-350bbf00-aa96-11ea-82b9-e5246746f677.png)
Hi @vishalnarkhede Thank for your services
I am looking for the solution to move the avatar to the top of the messages? Could you give me some suggestions

[2020-06-09 15:56] vishalnarkhede commented on #184
@manhncse02926 Currently you can do it following way:

[code]

I will soon (next week) add an explicit prop to put avatar at top message instead of bottom message. It seems like a common usecase!!

[2020-06-10 01:28] DobritoiuBogdan747 commented on #184
Hello I have problems with the Cookbook's PushNotification examples
The problem others are facing are described here  [https://github.com/GetStream/stream-chat-js/issues/100](url)

I've tried both of them and can't get it to update the UI after _setupConnection() I can still send messages but no more UI updates are triggered using AppState with wsConnection.disconnect() when it's in the background

[2020-06-10 01:47] manhncse02926 commented on #184
Thank you for your reply.
I wanna change the position of the avatar to the top of a bubble. Your example seems like only show the avatar of the first message.

[2020-06-10 19:20] bscharfstein opened #219 "Optimistic image upload"
**Describe the bug**
You can't send a message / image if there is an image uploading

**To Reproduce**
Try and upload an image and send it to chat. Even compressed this takes ~5 seconds.

**Expected behavior**
Should optimistically send image to chat and upload in the background (like iMessage or any other chat tool)

[2020-06-12 11:15] vishalnarkhede commented on #184
@DobritoiuBogdan747 I will need more details regarding this. Maybe use [logger](https://github.com/GetStream/stream-chat-js/blob/master/docs/logging.md) and send me logs during the app state transition to support@getstream.io

[2020-06-12 16:28] DobritoiuBogdan747 commented on #184
Fixed by doing client.queryChannels(). When I do this after reconnect it will update the UI.
It appears it needs another request to unblock itself.

[2020-06-13 07:52] vishalnarkhede commented on #184
Hey @manhncse02926 I will get back on monday for this!!

[2020-06-16 07:21] DobritoiuBogdan747 opened #221 "KeyboardCompatibleView.removeListeners crash even when disabled"
**Describe the bug**
KeyboardCompatibleView returns an error when I take app into background or close the the screen.

**Error:**
'TypeError cannot read property 'remove' of undefined'
KeyboardCompatibleView.removeListeners

I've tried to add disableKeyboardCompatibleView prop as well as creating a component like the cookbook says:

[code]
I've also tried without the KeyboardAvoidingView just in c

[2020-06-16 08:53] vishalnarkhede commented on #221
Hey @DobritoiuBogdan747 can you please upgrade to 0.12.0 and check. I have fixed issues regarding `disableKeyboardCompatibleView ` prop on Channel component.

[2020-06-16 08:54] vishalnarkhede commented on #219
Hey @bscharfstein we are planning to implement this once offline support for react-native sdk is published (which is still couple of months away from publishing)

[2020-06-16 17:17] DobritoiuBogdan747 commented on #221
Working properly. Thanks!

[2020-06-16 17:17] #221 closed

[2020-06-16 19:13] billiemead opened #222 "ERROR in ./node_modules/react-navigation-tabs/src/views/MaterialTopTabBar.js"
[code]

I did try to add @babel/preset-flow  to the 'presets' section of the Babel config, but error persists.

[2020-06-17 09:54] mking-keeper opened #223 "Fix react native peer dependency"
**Describe the bug**
Can you update the package to work with react native 0.62 (the latest stable version)? This is the react native version we're using in our app.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native): 0.11.0
- We are using react-native
- Device/Emulator (android/ios) and OS version: N/A

**To Reproduce**
Step

[2020-06-17 12:56] vishalnarkhede commented on #223
@mking-keeper Thanks for bringing this up!! We will fix this asap :)

[2020-06-18 13:12] manhncse02926 commented on #184
I am building dark mode for my application. How can I config for typing text (TypingIndicator)

[2020-06-19 00:50] bscharfstein commented on #219
why do you need offline support to implement this?

[2020-06-22 07:43] vishalnarkhede commented on #219
@bscharfstein maybe I misunderstood the question/request. But could you please shade more details on what UX are you expecting exactly?

[2020-06-22 16:17] bscharfstein commented on #219
Sure, happy to.
*UX today
When I try to send an image, the UI blocks me from pressing the send button (and thus sending any other messages) until the image has been uploaded to the server.

*Desired UX
When I try to send an image, it immediately is put in chat on my screen even before it is uploaded. I can continue to send other messages.

I've attached a video of how this works on iMessages. Noti

[2020-06-23 10:48] manhncse02926 opened #225 "ChannelList is too slow on real device"
**Describe the bug**
 We are using ChannelList to load all user's channels but in the real devices, it's a bit slow. Can we choose the values needed to display instead of all as current to improve performance?  Or is there a way to improve the speed of loading data filters
Thank you.
**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native 0.11.0
-

[2020-06-23 17:09] shodgetts commented on #225
Hello, What are the filters you are currently using please?

[2020-06-24 00:02] manhncse02926 commented on #225
Hi , here is my filter:
` inActivefilter: {
          type: 'messaging',
          members: {$in: [_.get(this.props, 'user.id')]}, // dynamic value
          muted: true, // dynamic value
          id: {$in: idList}, // dynamic value
        },`

Thank you

[2020-06-24 09:06] vishalnarkhede commented on #184
@manhncse02926

You can style the following keys:

[code]

[2020-06-24 18:14] plotic commented on #119
Hey guys can you please provide a sample that would work with functional component ?

[2020-06-25 20:55] plotic commented on #184
Hey guys any chance to get some steps how to pass a custom Attach/Send button ? Basically i'm looking for changing the icons

[2020-06-26 21:21] vishalnarkhede commented on #222
Hey @billiemead , can you please try giving more details. Just the error gives me no information about what exactly the issue is!!

[2020-06-27 05:39] vishalnarkhede commented on #184
I am going to close this issue. We created this with the intention of crowdsourcing ideas for cookbook material. But its being used to raise issues and kinda getting hard to keep track of. So please raise the separate tickets for your questions and we will take it from there :)

cc @plotic @manhncse02926

[2020-06-27 05:39] #184 closed

[2020-06-27 05:41] vishalnarkhede commented on #209
@YohaanYoon Closing this for now. Please reopen if needed :)

[2020-06-27 05:41] #209 closed

[2020-06-27 05:45] vishalnarkhede commented on #225
@manhncse02926 you can do something like following!
[code]

[2020-06-27 05:48] vishalnarkhede commented on #208
@WitleyInc do you still need help with this?

[2020-06-27 05:49] vishalnarkhede commented on #198
@WitleyInc @capacitivellc do you still need help with this issue?

[2020-06-27 06:30] vishalnarkhede commented on #181
Hi @mattimck Did you manage to fix this or do you still need help with it?

[2020-06-27 09:54] manhncse02926 commented on #225
Thank you. I found the solution

[2020-06-27 10:30] #225 closed

[2020-06-27 10:31] manhncse02926 commented on #219
can you add an option to resize the image?

[2020-06-27 12:49] manhncse02926 opened #227 "Reconnect call set the old value of user"
**Describe the bug**
I have an update function for the user that can change their information. I call `chatClient.upsertUser(user);`. It works well until I disconnect ( locked screen, background, unavailable internet...) then the client reconnects to GetStream. It will use old value to set to Getstream instead of value.
Example:
I have a user with the username is Naruto. I  updated to Uzumaki Naru

[2020-06-28 08:05] manhncse02926 opened #228 "Add reaction make the top message become the bottom message"
**Describe the bug**
A clear and concise description of what the bug is.
This problem also occurs in your example (clone slack example). When we add a reaction to the top message, the user name and avatar will disappear.
Currently, I used the groupstyles[0] (top or bottom) property to set the location of the avatar and username (User and avatar only show for the top message). If we add a reaction,

[2020-06-29 08:22] vishalnarkhede commented on #219
Hi @bscharfstein ,

Thanks for the details

When I try to send an image, it immediately is put in chat on my screen even before it is uploaded. I can continue to send other messages.

The problem here is, if I put the message on chat screen and if the user leaves chat screen (component unmounts) before the message is actually sent to server, it might be confusing. Since enduser saw the message in

[2020-06-29 08:23] vishalnarkhede commented on #219
Hi @manhncse02926 please check this example for cropping/resizing - https://github.com/GetStream/stream-chat-react-native/blob/master/docs/cookbook.md#image-upload-takes-too-long-how-can-i-fix-it

[2020-06-29 14:55] vishalnarkhede commented on #208
Closing this! Please reopen if needed!

[2020-06-29 14:55] #208 closed

[2020-06-29 14:55] vishalnarkhede commented on #181
Closing this for now! Please reopen if needed!

[2020-06-29 14:55] #181 closed

[2020-06-29 15:47] WitleyInc commented on #198
Hello,

Yes, this item can be closed.

Cheers,
The Witley Team

On Jun 26, 2020, at 10:49 PM, Vishal Narkhede <notifications@github.com> wrote:

﻿

@WitleyInc<https://github.com/WitleyInc> @capacitivellc<https://github.com/capacitivellc> do you still need help with this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/G

[2020-06-29 15:47] WitleyInc commented on #208
Hi,

Thank you for checking back. Yes, this can be closed.

Cheers,
The Witley Team

On Jun 29, 2020, at 7:55 AM, Vishal Narkhede <notifications@github.com> wrote:

﻿

Closing this! Please reopen if needed!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/GetStream/stream-chat-react-native/issues/208#issuecomment-651174373>, o

[2020-06-29 15:54] bscharfstein commented on #219
@vishalnarkhede understood. I actually still think this would be better than it is today although I understand that for many users it would not.

One relatively easy solution would be to pop a modal if a user tries to navigate away telling them that they need to wait or else not send their message. Something like "Your photo has not yet been delivered. If you leave this screen you'll need to resen

[2020-06-30 13:38] #198 closed

[2020-06-30 19:26] shodgetts opened #230 "Stephen testing again"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
- react-native or expo version
- Device/Emulator (android/ios) and OS version

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2020-06-30 19:57] shodgetts commented on #230
test here

[2020-06-30 20:02] shodgetts opened #233 "second test"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
- react-native or expo version
- Device/Emulator (android/ios) and OS version

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2020-06-30 20:02] #233 closed

[2020-07-01 17:58] shodgetts commented on #230
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4281'>Zendesk ticket #4281</a>:

this works yeah

[2020-07-08 14:36] vishalnarkhede commented on #228
Hey @manhncse02926 sorry for the delays. We will check and get back to you

[2020-07-09 01:23] manhncse02926 commented on #228
Thank you for your hard work. Could you have a look at this error?
https://github.com/GetStream/stream-chat-react-native/issues/227

[2020-07-15 16:24] wildvalcom opened #238 "Theme for the FileUploadPreview component"
**Describe the bug**
 Impossible to apply custom styles for the **FileUploadPreview** component.

**Dev environment info:**

- Package version 0.13 (stream-chat-react-native)
- react-native

**Expected behavior**
It should be possible to apply custom styles through the theme, as for the **ImageUploadPreview** component:
https://github.com/GetStream/stream-chat-react-native/blob/a9f454bae06930138d4

[2020-07-15 18:32] shodgetts commented on #238
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4456'>Zendesk ticket #4456</a>:<br><br>Assigned to Vishal Narkhede​

[2020-07-15 19:24] leesolway opened #239 "ActionSheet - componentWillReceiveProps warnings"
The dependency on react-native-actionsheet is throwing warnings in the current version of react. Is there any plans to change this dependency?

[code]

gz#4460

[2020-07-15 19:33] shodgetts commented on #239
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/4460'>Zendesk ticket #4460</a>:<br><br>Assigned to **Vishal Narkhede**​

[2020-07-15 20:06] virdesai commented on #239
@leesolway so that's an issue with a third party library we are using. we are undergoing some bigger changes soon which may address this issue or replace this library but for the time being you should be able to disable the warning with https://reactnative.dev/docs/debugging#console-errors-and-warnings (latest react native) or https://reactnative.dev/docs/0.62/debugging#warnings (previous react na

[2020-07-16 05:56] AleenaJoseph426 opened #240 "Getstream Chat Error: AnimatedValue: Attempting to set value to undefined"
I am working with Getstream chat SDk in react native,
My package.json file looks like:
"dependencies": {
"@react-native-community/masked-view": "^0.1.10",
"@react-native-community/netinfo": "^5.9.4",
**"react": "16.13.1",
"react-native": "0.63.1",**
"react-native-device-info": "^5.6.2",
"react-native-document-picker": "^3.5.3",
"react-native-fast-image": "^8.1.5",
"react-native-gesture-handler": "

[2020-07-16 08:25] plotic commented on #240
Same here with latest version 0.13.1

[2020-07-16 08:41] plotic opened #241 "Crash on image upload - Missing request token on react-native 0.63"
**Describe the bug**
Crash on image upload

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native)
- react-native
- Device/Emulator - ios
- stream version 0.13.1

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Upload works without crashing

**Additional context**
User token initialisation using -

[2020-07-16 09:24] shodgetts commented on #241
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4473'>Zendesk ticket #4473</a>:<br><br>Hi,

Thanks for the report.
I'm transferring this on to our React Native team.
They'll get back to you as soon as they possibly can.

Best regards,
Seni

[2020-07-16 10:33] vishalnarkhede commented on #240
Hey @plotic @AleenaJoseph426 this is only happening on react-native 0.63.

We are working on preparing the fix. Will update you soon :)

[2020-07-16 19:33] vishalnarkhede commented on #240
Hey @plotic @AleenaJoseph426

Please use stream-chat-react-native@0.14.0. It has been fixed :)

[2020-07-17 08:15] AleenaJoseph426 commented on #240
Yes. Its solved in stream-chat-react-native@0.14.0. Thanks for your timely update. :)

[2020-07-17 08:50] vishalnarkhede commented on #241
Hey @plotic , we are looking into this. Will get back to you shortly :)

[2020-07-17 08:54] plotic commented on #241
Not sure if it helps, for me it's reproducible when upgrading "react-native" to "0.63.1"

[2020-07-17 09:02] vishalnarkhede commented on #241
@plotic yeah I noticed that as well. Looks like it has already been raised by quite few people:

https://github.com/facebook/react-native/issues/29364
https://github.com/facebook/react-native/issues/29021

[2020-07-17 09:08] #240 closed

[2020-07-17 09:09] vishalnarkhede commented on #238
Hey @wildvalcom thanks for bringing this up. We will add custom style support as soon as possible and get back to you!

[2020-07-17 19:11] fractalmarc commented on #206
Awesome to see this making progress! My company's Expo app runs on iOS, Android, and Web all with one codebase and we would love to try moving to stream if RN-web was supported.

[2020-07-22 01:59] anthony1110 commented on #241
I also have same issue. I use hack for this https://github.com/facebook/react-native/issues/29021#issuecomment-662196480.

[2020-07-28 09:27] namnv16 opened #252 "Event history not showing in MessageList"
**Describe the bug**
The eventHistory object of MessageList is not get data. Therefore the EventIndicator is not showing for any event in the past

https://github.com/GetStream/stream-chat-react-native/blob/b8f32e99b80f961e5aa961712de5d1b8d2c62786/src/components/MessageList/MessageList.js#L121

**Dev environment info (please complete/provide the following information):**

- Package version: stream

[2020-07-29 14:30] TobyColeman commented on #209
We're still experiencing this issue after upgrading to latest.

**Describe the bug**
- Same as OP

**Dev environment info (please complete/provide the following information):**
- stream-chat-react-native 0.15.0
- react-native 0.61.5
- ios

**To Reproduce**
- Same as OP

<img width="438" alt="Screenshot 2020-07-29 at 15 23 32" src="https://user-images.githubusercontent.com/8971184/88812647-e1714400

[2020-07-30 19:17] giautm opened #265 "[v1] Missing export from MessageSimple"
In [MessageStatus.js](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/Message/MessageSimple/MessageStatus.js), export is using [`export default`](https://github.com/GetStream/stream-chat-react-native/blob/59618adbc238763cf7fd3d5ba3dd0304012877de/src/components/Message/MessageSimple/MessageStatus.js#L133). But, In Message.js everythings was exported as
https://githu

[2020-07-31 21:00] vishalnarkhede commented on #265
Hey @giautm ,

This has been fixed as part of v1.1.0.

[2020-07-31 21:00] #265 closed

[2020-08-01 06:38] giautm opened #270 "[v1.1.0] this.attachActionSheet.show is not a function"
I ran into this issue after upgrade to v1.1.0

![image](https://user-images.githubusercontent.com/12751435/89095755-1c1aec80-d3fb-11ea-845a-acd595fa6a7c.png)

https://github.com/GetStream/stream-chat-react-native/blob/10f94551dc9cd09865728ea2f27e466329baac08/src/components/MessageInput/MessageInput.js#L906

https://github.com/GetStream/stream-chat-react-native/blob/10f94551dc9cd09865728ea2f27e4663

[2020-08-01 11:50] giautm commented on #270
I also working on refactor MessageInput to using hooks, and fix this bug. Will send PR before next Monday.

[2020-08-03 07:42] espadon54 opened #272 "RangeError: Maximum call stack size exceeded"
Hi,

Playing with getStream since 2/3 weeks and it's awesome. I just have an issue I can't fix. I have a "Unhandled JS Exception: RangeError: Maximum call stack size exceeded" when receiving a new message on a channel while I am in the channel screen.

I am suspecting one of the getStream component might be causing of this error.

![Screen Shot 2020-08-03 at 11 22 40 AM](https://user-images.github

[2020-08-03 15:30] vishalnarkhede commented on #272
Hi @espadon54 could you please share some code around Stream's chat component from your side?

[2020-08-03 15:49] espadon54 commented on #272
Hi yes sure,
What I do is that I initialize the client once and then using redux the same client is used between the views which need it.

Can this kind of implementation be an issue?

<img width="458" alt="Screen Shot 2020-08-03 at 7 46 43 PM" src="https://user-images.githubusercontent.com/59118978/89201143-1ae7ec00-d5c2-11ea-9961-5bd2e5f65efa.png">

Lmehdi

[2020-08-03 16:06] #270 closed

[2020-08-03 16:41] vishalnarkhede commented on #272
Hi @espadon54

I am not able to reproduce the issue unfortunately. Is it possible for you to setup [expo snack](https://snack.expo.io/) with reproducible issue? That will help us with debugging

[2020-08-03 23:22] dcsena commented on #149
^ Ping Would like to know as well.

[2020-08-04 07:21] espadon54 commented on #272
Ok I find out where this came from. It was actually from my implementation using the event listening part to update the number of unread messages.

<img width="421" alt="Screen Shot 2020-08-04 at 11 14 44 AM" src="https://user-images.githubusercontent.com/59118978/89264487-1237fa00-d644-11ea-93c1-feea77c81e0e.png">

[2020-08-04 09:30] #272 closed

[2020-08-08 06:46] patriciam97 opened #278 "MessageList component gives Error while updating property "src" of a view managed by: RCTImageView (Android)"
**Describe the bug**
Not sure if there was a recent update but for the past 2 days I keep getting the following error: Error while updating property "src" of a view managed by: RCTImageView coming from the MessageList component.

This happens in all branches even older ones that didn't have a change for sometime.  This occurs only in the Android app. iOS works fine.

I tried the following things b

[2020-08-11 13:55] patriciam97 commented on #278
Hey @vishalnarkhede , is there something I can do to fix this?

[2020-08-12 13:07] vishalnarkhede commented on #278
Hey @patriciam97 , we will look into this and get back to you soonish. Could you please share some code around chat components?

[2020-08-12 13:14] patriciam97 commented on #278
I attached this bit which is pretty much where the error occurs:

`
 <Chat client={this.props.chatClient} style={listTheme}>
            <View style={{ display: 'flex', height: '100%', padding: 10 }}>
              <ChannelList
                LoadingIndicator={customLoadingIndicator}
                LoadingErrorIndicator={this.customErrorIndicator}
                filters={{
                  typ

[2020-08-13 01:35] panda919 opened #283 "Which method I have to use for call auto focus on messageInput of stream-chat-react-native"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native: 1.1.1 )
- react-native : 0.63.2

**Expected behavior**
I gonna apply autofocus on stream-chat-react-native message input when open channel screen. But I couldn't find a matched function. In order apply

[2020-08-13 13:42] vishalnarkhede commented on #283
Hey @panda919 , you can try the following

[code]

[2020-08-13 16:36] patriciam97 commented on #278
Hi @vishalnarkhede !

It seems like the component was crashing because a url of a user's avatar was broken. We have removed that user and the problem has been fixed.

[2020-08-13 16:36] #278 closed

[2020-08-14 21:06] kmanj-pixel opened #284 "ReactionList does not show up after reaction is selected"
**Describe the bug**
A clear and concise description of what the bug is.

When selecting a reaction from the reaction picker, the reaction picker hides but reaction list does not show up.

From what I can tell, the reaction picker is still "visible" so the reaction list doesn't show up. Additional attempts to open the reaction picker (custom behavior is clicking the message) does not result in the

[2020-08-16 19:36] ZhymonNorman opened #285 "question: possible to not show date separators"
currently using a message list within a channel and I don't want date separators to be shown at all. Is this possible ?

current layout :

[code]

gz#5350

[2020-08-17 04:23] brandonhall opened #286 "Android Styled ActionSheet on iOS"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- "stream-chat-react-native": "^1.1.1",
- "react-native": "0.62.2",
- iOS Simulator running 13.6

**To Reproduce**
Steps to reproduce the behavior:

1. Add new message
2. Long press message to reveal action sheet
3. Notice the action sheet is the

[2020-08-17 08:24] vishalnarkhede commented on #285
@ZhymonNorman

[code]

[2020-08-17 13:43] ZhymonNorman commented on #285
Thank you @vishalnarkhede

[2020-08-17 13:43] #285 closed

[2020-08-17 13:57] vishalnarkhede commented on #284
Hey @kmanj-pixel this is a known issue. It happens when you try to use custom `MessageContent` component. I can suggest some alternative if you tell me the reason why you are using custom MessageContent component?

We are currently refactoring our react-native sdk to start using hooks. We will take care of this issue as part of that refactoring.

[2020-08-17 17:08] kmanj-pixel commented on #284
1. What is the ETA on the refactor?

2. We want the reaction picker to open on message press. It seems like the only way to access `openReactionPicker` is via 'MessageContentUIComponentProps`.

[2020-08-17 17:45] AlexeyJersey commented on #285
I used to use CustomDateSeparator with `"stream-chat-react-native": "0.12.3"`,
like this:

`
<MessageList
  DateSeparator={CustomDateSeparator}
/>
`

But after update to `"stream-chat-react-native": "1.1.1"` few days ago,
seems like DateSeparator became not customizable.

<MessageList DateSeparator={() => null} /> - also not hiding him.

Help pls.

[2020-08-18 08:34] vishalnarkhede commented on #286
Hey Brandon,

We use external library `react-native-actionsheet` for displaying action menu, which renders the UI (shown by you in video) on both iOS and android platform. We are currently going through major refactoring of our react-native components. And we will soon be replacing this actionsheet with platform specific menu (e.g. context menu for iOS).

[2020-08-18 08:38] vishalnarkhede commented on #284
Hey,

1. ETA for refactor of message related components is around 2-3 weeks.
2. You can do it the following way:

[code]

[2020-08-18 08:38] vishalnarkhede commented on #283
Hey @panda919 please reopen the issue if you have more questions.

[2020-08-18 08:38] #283 closed

[2020-08-18 08:54] vishalnarkhede commented on #252
Hey @namnv16 ,

I won't recommend you to use eventHistory or EventIndicator anymore. It will be removed from new versions soon.

Instead, when you add member to channel, you can add corresponding system message to it.

[code]

This message will appear in your MessageList as [MessageSystem](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/MessageList/MessageSystem.js

[2020-08-18 19:19] kmanj-pixel commented on #284
Alright thanks, that works for now. There is another use case where we use MessageContent, so please keep me posted on the more appropriate fix.

[2020-08-18 19:19] #284 closed

[2020-08-21 15:45] jjmcmillan opened #294 "MessageSimple can lose text if message is a certain length."
**Describe the bug**

When writing and sending a new message, some words can be "cut-off" from MessageSimple. This seems to be an issue with displaying the full message, rather than the actual content of the message - it is clear once trying to edit the message, the full message still exists.

**Dev environment info (please complete/provide the following information):**

- "stream-chat-react-nativ

[2020-08-24 10:08] vishalnarkhede commented on #294
Hey @jjmcmillan ,

Are you also setting some custom theme on Chat component? If yes, can you please show me the value of theme?

[2020-08-24 10:09] vishalnarkhede commented on #252
@namnv16 please reopen if you have more questions.

[2020-08-24 16:21] jjmcmillan commented on #294
Hi @vishalnarkhede, yes we are setting custom theme:

[code]
 I realised this is causing the issue, and after removing text styling it shows the full message. However, we would still like to increase the font size and use a custom font family in our messages - is it still possible to achieve this without text being "cut-off" from a message? Thank you for your help.

[2020-08-26 14:20] amardeepranu opened #302 "Full screen "useNativeDriver" error when viewing an image attachment"
On the latest version the `react-native-image-zoom-viewer` always throws a warning to set `useNativeDriver`. This can be fixed by updating the library to 3.0.1: https://github.com/ascoders/react-native-image-viewer/issues/398

![Simulator Screen Shot - iPhone 11 Pro - 2020-08-26 at 10 18 42](https://user-images.githubusercontent.com/7548096/91315298-85d1b080-e785-11ea-8322-904893f885f0.png)

gz#55

[2020-08-26 15:37] shodgetts commented on #302
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5571'>Zendesk ticket #5571</a>:<br><br>thanks for the report

[2020-08-26 16:16] DanC5 commented on #302
I see the latest version of `react-native-image-zoom-viewer` has added `useNativeDriver` to all the animated timings, upgrading in our library now!

[2020-08-26 19:09] thegitparticle commented on #302
@DanC5 when can we expect the update for this? Or meanwhile is there any way to fix it for now?

[2020-08-26 19:46] DanC5 commented on #302
The upgrade has already been merged to master, so as soon as @vishalnarkhede makes a new release it'll be out in the wild.

[2020-08-28 18:05] virdesai commented on #294
@jjmcmillan hi, looking through our code, could you try putting `messageList.messageSystem.text.css` instead of `messageList.messageSystem.text`? if that's the issue you're having

[2020-08-30 16:43] thegitparticle commented on #302
@DanC5 Also, the actionsheets keep throwing the same error. Is the package which manages them also add the native drive support and has been updated by you?

[2020-08-31 05:16] haivle opened #307 "Message object in notification template does not work as expected"
**Describe the bug**
Here is the template we are using in firebase data push notification template:
[code]

Although the message is sent from a thread, the parentId and type field is still empty

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native 1.2.x
- react-native 0.63.1
- Device: iOS

**To Reproduce**
- Change notification

[2020-08-31 05:48] shodgetts commented on #307
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5662'>Zendesk ticket #5662</a>:<br><br>Hi Haivle

Thanks for reporting it to us.
We will investigate this issue and get back.

Cheers
Seetha

[2020-08-31 15:53] DanC5 commented on #302
I just looked into this and the action sheet package we're using, `react-native-actionsheet`, doesn't specify the native driver in their animated timings. Revamping the action sheet is something that's on our to-do list though, so thanks for another ping on this.

[2020-09-01 08:35] vishalnarkhede commented on #294
Hey @jjmcmillan could you confirm if the issue is only because of following style?

[code]

[2020-09-02 22:34] jjmcmillan commented on #294
Hey @virdesai and @vishalnarkhede, apologies for the delay in getting back to you. I've been doing some playing around using your suggestions, but noticed the issue of certain words being "cut-off" exists even when all styling is removed, and Stream's default styling is used. As you can see from the image below, I have removed all styling, but the message has still cut off the final word as the me

[2020-09-03 14:59] tharun208 commented on #124
@vishalnarkhede , I like to work on this

[2020-09-04 06:51] virdesai commented on #294
@jjmcmillan seems like the whole message displays within our example app ![image](https://user-images.githubusercontent.com/9044436/92208527-64de1f00-ee59-11ea-86aa-46b211265de6.png)

[2020-09-04 11:34] jjmcmillan commented on #294
@virdesai Okay thanks for confirming, I'll test on a few more devices to see if it might be a device issue. Thank you.

[2020-09-04 15:53] #238 closed

[2020-09-04 15:53] virdesai commented on #238
@wildvalcom whenever the next release is made this should be resolved from the recently merged PR

[2020-09-04 20:38] ferhatelmas commented on #307
@haivle Missing fields were not a part of the context that is building the template, we added them and it will be deployed on Monday.

[2020-09-09 14:03] jackel119 opened #315 "Feature Request: Enable a custom MessageSystem component prop to be passed into MessageList"
**Feature**
I want to be able to customize the system message from the default, all-caps with line appearance.

**Dev environment info (please complete/provide the following information):**

**Expected behavior**

To be able to use the following code:
[code]

**Additional context**
Searched on the cookbook but couldn't find anything regarding a custom MessageSystem component.

gz#5876

[2020-09-10 16:29] ferhatelmas commented on #307
@haivle this is deployed so closing. Let us know otherwise.

[2020-09-10 16:29] #307 closed

[2020-09-11 15:43] #315 closed

[2020-09-11 17:25] jjmcmillan commented on #294
Hello, I've done some testing on different devices and we have narrowed this down to be an issue with android. We have been able to reproduce the issue on various different android devices without any theme applied, using Streams latest SDK. This is a message sent on an android device:

![Screenshot_20200911-181124](https://user-images.githubusercontent.com/18230292/92954612-9fe4e180-f45b-11ea-9d8

[2020-09-11 22:16] #180 closed

[2020-09-11 22:16] #241 closed

[2020-09-11 22:34] #230 closed

[2020-09-11 22:35] virdesai commented on #222
closing as this is stale with no info

[2020-09-11 22:35] #222 closed

[2020-09-11 22:36] virdesai commented on #145
closing as this seems to no longer be an issue

[2020-09-11 22:36] #145 closed

[2020-09-12 08:31] girish-trabacus opened #325 "MessageInput does not reposition after dismissing keyboard."
**Describe the bug**
When the the user clicks on the MessageInput the keyboard opens and the MessageInput moves up to avoid being hidden by the keyboard. After the user is done typing, they dismiss the keyboard. At this point the MessageInput should go back to its original position, but it does not. It stays in the middle of the screen even after the keyboard is dismissed. Refer to the image below

[2020-09-14 02:12] shodgetts commented on #325
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5948'>Zendesk ticket #5948</a>:<br><br>Hi Girish

Thanks for reaching out to us.
Will get this checked with our Engineer and let you know.
Meanwhile, can you please share your User ID and APP ID. Thanks.

Cheers
Seetha

[2020-09-14 09:17] shodgetts commented on #294
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/5477'>Zendesk ticket #5477</a>:<br><br>Hey,

Can you send us the complete code around Stream's chat components?

Thanks,
Vishal

[2020-09-14 10:14] jparksecurity opened #326 "Gallery Not Wanted SafeAreaView for ImageViewer"
**Describe the bug**
[SafeAreaVeiw in Gallery](https://github.com/GetStream/stream-chat-react-native/blob/014f4accc64ab93aa8bd5ddb98417d90ec3203d4/src/components/Attachment/Gallery.js#L124) doesn't work well for my case. I'd like an ImageViewer to be full screen not safe area screen when a user clicks a photo. I believe I can build a custom Gallery component, but I was wondering if it's something

[2020-09-14 14:39] ZhymonNorman opened #327 "[Question] how would I style the 'New Message' notification in the MessageList component."
I would like to do things like change the background color, add padding or margin, font etc. I have already looked at using the CSS styling like for the message list and that did not work.

[2020-09-14 15:09] shodgetts commented on #326
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5967'>Zendesk ticket #5967</a>:<br><br>thank you for the request - we will look into this.

[2020-09-15 08:00] shodgetts commented on #325
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/5948'>Zendesk ticket #5948</a>:<br><br>Hey Girish,

Currently we are working on releasing 1.3.0 of stream-chat-react-native, where we have fixed lot of Keyboard related issues. So I would recommend you to kindly wait until end of this week (or maximum middle of next week) until we publish the stable version.

[2020-09-15 17:25] virdesai commented on #327
@ZhymonNorman are these CSS styling overrides not working for you? https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/MessageList/MessageNotification.js#L9:L27

[2020-09-15 21:25] decamps-enmanuel opened #330 "How to render a custom component inside the MessageList View?"
I have a custom component that allows me to add coupons to my app and I would like to render it inside the MessageList component. I have fiddled with the Attachment component (still outside of MessageList) and achieved some semblance of functionality if all else fails. If it's possible I'd like to use mine, since it looks like a coupon and allows me to modify the coupon codes programmatically. If

[2020-09-15 23:05] shodgetts commented on #330
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6012'>Zendesk ticket #6012</a>:<br><br>Hi

Thanks for reaching out to us.
I just noticed you are on an expired chat trial. Are you considering a paid plan?

Can you please give us a bit more detail about the use case?

Cheers
Seetha

[2020-09-16 00:11] decamps-enmanuel commented on #330
Yes. I am actively developing an app and we're relying on GetStream to
reach our customer base on a more personal level. We currently have a list
of businesses that customers can subscribe to via our app and this enables
the chat functionality. Once this happens businesses (on the business app)
can chat with customers/send promotions/coupons/deals/changes in their menu
and so on. We work with reac

[2020-09-18 16:41] jjmcmillan commented on #294
Hi all, good news. After much frustration we have been able to narrow down the cause of this bug to two things:

1. I am running my development app on a OnePlus 6t and their OnePlus Slate font is problematic and was causing the text to be "cut off" even when all stream custom styling was removed.

2. Increasing the font size of messages also causes this bug.

We have solved number one, however, th

[2020-09-19 12:54] thegitparticle opened #339 "Unable to select, copy, paste from messages, links sent as messages"
Long press on messages typically gives options to copy the text or link. But here, when long pressed, only reply, reaction options popup as part of the action sheet without a copy option. How can the user copy text of messages? Or atleast copy links shared in the chat?

gz#6120

[2020-09-21 01:08] haivle commented on #307
Hi @ferhatelmas, looks like the bug is still there, I'm still receiving empty parentId from the data template mentioned above

[2020-09-21 02:04] shodgetts commented on #339
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6120'>Zendesk ticket #6120</a>:<br><br>Hi

Thanks for reaching out to us.
Unfortunately, this isn't actually supported in the SDK right now, according to our developers.  It will hopefully be coming later this year as we continue to add customizations to the SDK.

Please keep an eye on our git hub releases. Please le

[2020-09-21 08:58] giautm opened #340 "uuid@8.3.0 required a polyfill, so it crash on Expo < 39"
@nhannah, @vishalnarkhede  This update crash Expo SDK 38, `uuid` require a polyfill for `crypto.getRandomValues `
(https://github.com/uuidjs/uuid#react-native)
But, `import 'react-native-get-random-values';` only support from SDK-39. So, This update crash SendMessage method.

_Originally posted by @giautm in https://github.com/GetStream/stream-chat-react-native/pull/282#discussion_r488437462_

gz#

[2020-09-21 09:22] vishalnarkhede commented on #339
Hey @thegitparticle we will  add some example of this usecase to our cookbook soon.

[2020-09-21 09:23] vishalnarkhede commented on #340
Hey @giautm thanks for bringing this up. We will investigate and fix this asap!!

[2020-09-21 10:02] ferhatelmas commented on #307
@haivle I need your app details to investigate your case. Could you write to https://getstream.io/support mentioning this issue? Thanks!

[2020-09-21 12:48] vishalnarkhede commented on #330
Hey @decamps-enmanuel ,

How do you define a coupon? Does it contain some image or is it just a plain text (with some custom styling)?

[2020-09-21 12:58] virdesai commented on #326
@jparksecurity there are a lot of different scenarios we have to deal with for supporting this so it's on our roadmap to consider implementing but just with an unknown ETA. For now you are able to create and use your own custom Gallery component which can support this rendering until we have any progress on this from our end

[2020-09-21 15:03] jparksecurity commented on #326
@virdesai Gotcha. Thank you for the comment! I'm gonna create a custom Gallery component for now.

[2020-09-21 18:24] #340 closed

[2020-09-21 20:34] thegitparticle commented on #339
@shodgetts Thanks, will try the library. @vishalnarkhede Sure, looking forward for it.

[2020-09-21 23:29] sclavijo93 opened #345 "Custom chat preview is not showing the name"
**Describe the bug**
I'm using the doc's example for customizing the chat preview from [Customize channel preview](https://getstream.io/chat/react-native-chat/tutorial/#) but I can't get the channel name.

I've logged the channel.data prop in the console and this is the JSON I got:
[code]

I can't find the channel's name. Could you help me please?

**Dev environment info (please complete/provide t

[2020-09-22 00:09] sclavijo93 commented on #124
Hi, any news with this? 😅

[2020-09-22 00:31] shodgetts commented on #345
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6146'>Zendesk ticket #6146</a>:<br><br>Hi

Thanks for reaching out to us.
I will get this checked for you.

Cheers
Stream Team

[2020-09-22 09:26] #327 closed

[2020-09-22 09:50] vishalnarkhede commented on #345
Hey @sclavijo93 , `name` is a custom property on channel. Are you sure you have set this property on channel? If not, please update the channel using

[code]

[2020-09-22 17:30] sclavijo93 commented on #345
Sorry, what a shame, I'll close this issue because I found my mistake. My backend team doesn't set that property so I would never find it 😅  sorry again @vishalnarkhede

[2020-09-22 17:30] #345 closed

[2020-09-22 18:00] decamps-enmanuel commented on #330
Hi! It's a react card component that may contain images, links, styling, buttons, basically any functionality available for a react component. If you need further information I can whip up an image.

[2020-09-23 10:27] jjmcmillan commented on #294
@vishalnarkhede @virdesai hope you are well. Have you managed to look into the query (increasing font size without losing text)? We're hoping to launch an update on Sunday so would be amazing to have this fixed by then. Thank you :)

[2020-09-23 11:13] vishalnarkhede commented on #294
Hey @jjmcmillan sorry for the delay. I will check it today and get back to you!!

[2020-09-23 12:41] vishalnarkhede commented on #228
@manhncse02926 we have fixed this in 1.3.0 which should be released by end of week :)

[2020-09-24 16:55] jjmcmillan commented on #294
@vishalnarkhede awesome thank you

[2020-09-25 23:17] decamps-enmanuel commented on #330
Looking through your docs, I stumbled upon MML and that's exactly what I need. How do I enable them? My employer needs to see a working demo before commiting to GetStream and the documentation is very hit or miss.

[2020-09-26 11:58] manhncse02926 commented on #228
cool !! Thank you.

[2020-09-26 11:58] #228 closed

[2020-09-28 11:27] vishalnarkhede commented on #294
@jjmcmillan So after some spending some hours of debugging, it turns out `paddingHorizontal`  causes issue on android. E.g., I can see same issue on following sample code (which is not related to Stream). If you remove paddingHorizontal, everything works fine.

[code]

I am not completely sure yet how to fix it. But atleast we know whats causing the issue. I will get back to you once I find a solu

[2020-09-28 11:36] jjmcmillan commented on #294
@vishalnarkhede thank you for taking the time to look into this - good to hear you're closer to a solution. Hopefully fixing this bug will be a great addition to the SDK. Let me know when it's solved :)

[2020-09-28 12:14] vishalnarkhede commented on #294
@jjmcmillan Seems like this issue has been fixed on react-native's side in 0.63. What version are you using of react-native?

[2020-09-28 22:05] sclavijo93 commented on #302
Hi, any news about this? 😅

[2020-09-28 23:10] sclavijo93 opened #356 "Attachment styling"
Hi, is there a way to change the style of the attachment image? I need to apply border radius to all the image corners not only the top two.

The component is <Attachment ... />

gz#6304

[2020-09-29 00:12] shodgetts commented on #356
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6304'>Zendesk ticket #6304</a>:<br><br>This request was closed and merged into request #6305 "Component styling".

[2020-09-29 12:45] DanC5 commented on #302
Hey Saul, while we haven't removed this package yet, we have allowed the ability to customize the action sheet component. If you use the `ActionSheet` prop on the `MessageSimple` component, you can create your own action sheet and override the default behavior which calls the `react-native-actionsheet` dependency.

[2020-10-01 12:19] #326 closed

[2020-10-01 21:12] jjmcmillan commented on #294
@vishalnarkhede Hi Vishal, great to hear you have identified a solution. Unfortunately we haven't got round to updating to that version of React Native just yet but hope to do so soon and will let you know if that resolves the issue. Thanks so much for your support throughout this issue.

[2020-10-06 07:45] rgkobashi commented on #72
Probably the author of this has solved the issue already, but for those who haven't (this behavior caught me for surprise too) what I did was creating our own local notification:

[code]

Notice that this code is for the iOS client. But the important thing to notice is that, when the app is sent to background, Stream listens for new messages through a web socket, until the OS stops (not kill) the

[2020-10-06 09:38] thegitparticle opened #374 "Version 1.3.2 - Keyboard is glitching - jumping, close does not work and send button needs to be tapped 3-4 times to send message, frame rates on JS thread drop to negatives when trying to use keyboard inside a channel."
**Describe the bug**
1) After upgrading to 1.3.2; the keyboard in glitching really bad. Isn't this supposed to be solved with the latest upgrades to the library??? When opening it pushes the input box to the top with huge gap in between. And while closing keyboard, it keeps jumping, and sometimes need to try closing it 3-4 times to close.

2) The send button needs to be tapped 3-4 times to send th

[2020-10-06 09:48] vishalnarkhede commented on #374
Hey @thegitparticle can you please try the following solution?

[code]

Please let me know if it fixes the issue.

[2020-10-06 10:08] thegitparticle commented on #374
This is better in terms of not making the keyboard jump too much.

But 1) Send button issue still exists of course; 2) And the text of the message already sent stays in the input box sometimes even after the message sent appearing in the message list. Need to delete it all if need to type another message.
Also, the JS thread is still hitting negatives when using Chat channel - scroll and all work

[2020-10-06 10:09] thegitparticle commented on #374
This is better in terms of not making the keyboard jump too much.

But 1) Send button issue still exists of course; 2) And the text of the message already sent stays in the input box sometimes even after the message sent appearing in the message list. Need to delete it all if need to type another message.
Also, the JS thread is still hitting negatives when using Chat channel - scroll and all work

[2020-10-06 10:10] vishalnarkhede commented on #374
@thegitparticle can you share some code around chat components?

[2020-10-06 10:14] thegitparticle commented on #374
`
[code]
`

`
[code]
`

[2020-10-06 10:27] BrantApps commented on #72
Yes, this is how we worked around it at Candide too ... certainly not a fix to this issue - the library needs to listen for AppState changes and behave as the user would expect and as the developer would expect.

Lots of time has been wasted by paying customers of this library wondering why it can't do chat behaviours properly. 🙄

[2020-10-06 10:51] vishalnarkhede commented on #374
Hey @thegitparticle code seems to be fine. Can you also please try production build?

[2020-10-06 10:52] vishalnarkhede commented on #374
Also do you see this issue on iOS as well?

[2020-10-06 12:12] thegitparticle commented on #374
Tried it on Android 10, 9 and 8 - bundled app, not in debug mode.

The keyboard jumping is not happening. It's smooth, input taking is also much better than before. Although, still not as smooth. But now, there is white splash which appears when keyboard opens and closes. Is there any way to make the splash dark at-least? My app is dark mode and it hurts eyes when that splash occurs.

But the send

[2020-10-06 12:18] vishalnarkhede commented on #374
@thegitparticle can you please share some screenrecording, just to make sure I understand the issue correctly? You can share the link here or send it on support@getstream.io if you have any privacy issue.

[2020-10-06 12:24] vishalnarkhede commented on #325
Hey @girish-trabacus Can you please upgrade to `stream-chat-react-native@1.3.3` and try following solution:

[code]

[2020-10-06 13:14] thegitparticle commented on #374
@vishalnarkhede Link: https://ufile.io/4zbnhmxv

[2020-10-06 23:19] thegitparticle opened #375 "Version 1.3.2: Uploading image throws Network error on Android"
After upgrading to 1.3.2, the image upload throws network error on Android. Every thing else works fine, internet connection is solid but this happening.
This is probably due to the new image crop and picker library added, please check. Lot of RN image picker libraries throw this issue due to not able to set the file source rightly on Android.

Let me know how to fix this in this version?

gz#6494

[2020-10-07 05:31] shodgetts commented on #375
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6494'>Zendesk ticket #6494</a>:<br><br>Hi

Thanks for reaching out to us.
We will get this checked for you.

Cheers
Stream Team

[2020-10-07 07:21] vishalnarkhede commented on #375
Hey @thegitparticle can you please tell us what error are you seeing exactly? Screenshot or screenrecording will be even better :)

[2020-10-07 10:09] thegitparticle commented on #375
The image just does not upload. And console logs Network error.

Attaching image below...

![Uploading Screenshot_20201007-153839_Aye.jpg…]()

[2020-10-07 10:11] thegitparticle commented on #374
@vishalnarkhede any update on the Send button issue?

[2020-10-07 14:19] thegitparticle commented on #374
@vishalnarkhede any update?

[2020-10-07 14:19] thegitparticle commented on #375
@vishalnarkhede any update?

[2020-10-07 18:00] vishalnarkhede commented on #374
Hey @thegitparticle sorry for delays. I was busy with some other things. I will take a look at this tomorrow morning and get back!

[2020-10-07 20:23] DanC5 commented on #375
@thegitparticle I just built our current master branch to my android device and am not having any issue uploading an image. Can you upgrade to 1.3.3 and if you still have an issue send me a screenshot of the network error?

[2020-10-07 23:15] jackel119 opened #376 "Docs refer to wrong/outdated react-native-push-notifications library"
Whilst setting up push notifiications for my app, I followed the instructions [here](https://getstream.io/chat/docs/rn_push_initial/?language=js) and [here](https://getstream.io/blog/android-ios-push-notifications-with-stream-chat-and-react-native/). However, I simply could not get `react-native-push-notifications` token register handlers to work.

After a few hours, I encountered the issue: there

[2020-10-08 01:43] shodgetts commented on #376
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6511'>Zendesk ticket #6511</a>:<br><br>Hi Jackel

Thanks for reporting this to us.
Apologies for the discrepancies, we will get them rectified.

Cheers
Seetha

[2020-10-08 04:11] thegitparticle commented on #375
Tried with 1.3.3 and 0.63.2 - still facing the issue with image and file uploads.

[2020-10-08 08:08] vishalnarkhede commented on #375
Hey @thegitparticle Can you confirm I you have done all following steps:

1. Install react-native-image-crop-picker package in your app - `yarn add react-native-image-crop-picker`
2. `cd ios && pod install`
3. In Xcode open Info.plist and add string key NSPhotoLibraryUsageDescription with value that describes why you need access to user photos. More info here https://forums.developer.apple.com/thr

[2020-10-08 09:03] thegitparticle commented on #375
@vishalnarkhede I have react-native-image-crop-picker installed already. Tried with 0.34.1 and 0.35.0 as well,  both versions throw the same issue, Also, the issue is on Android, haven't tried it yet on iOS, so maybe not the issue with pods.

[2020-10-08 09:03] thegitparticle commented on #374
@vishalnarkhede Our launch is being delayed because of this, please get back soon.

[2020-10-08 10:22] vishalnarkhede commented on #375
@thegitparticle in case of android, can you confirm that you have followed steps mentioned here - https://github.com/ivpusic/react-native-image-crop-picker#android

[2020-10-08 10:24] vishalnarkhede commented on #374
@thegitparticle We are trying our best to reproduce the issue mentioned here. Can you also share the code for all the rest of the components - DateSeparator, EventView, additionalTextInputProps, actionsheetStyles

[2020-10-08 10:49] thegitparticle commented on #374
Date Seperator:

[code]

[code]

[code]

Let me know if any more is needed.

[2020-10-08 10:57] vishalnarkhede commented on #374
@thegitparticle EventView?

[2020-10-08 10:59] thegitparticle commented on #375
Yes, I did check. All the things are intact. Yet, the error persists.

I used to get similar error with react-native-image-picker by R-N-community a while back when using in a different component (unrelated to stream), and the solution for that was to upgrade my Flipper and embed file:/// to the path.

[code]

Maybe see if the this is the issue

[2020-10-08 11:00] thegitparticle commented on #374
[code]

[2020-10-08 12:52] thegitparticle commented on #375
@vishalnarkhede any update on this?

[2020-10-08 12:53] thegitparticle commented on #374
@vishalnarkhede any update on this?

[2020-10-08 13:40] vishalnarkhede commented on #374
Hey @thegitparticle I have published a dev release. Can you please try `stream-chat-react-native@1.3.4-dev.0` and see if it fixes the UX issues with send message functionality

[2020-10-08 13:43] thegitparticle commented on #374
Regular yarn install does or should I change it in all imports as welll?

[2020-10-08 13:45] vishalnarkhede commented on #374
You will need to manually change it in your package.json.

[2020-10-08 13:49] thegitparticle commented on #374
It still persists. Although this time multiple taps are not needed as far as I checked, but once you tap it disappears takes 2-3 secs to appear in the sent list.

[2020-10-08 13:58] vishalnarkhede commented on #375
`Hey @thegitparticle you can override our internal image picker functionality to try out the solution suggested by you:

[code]

[2020-10-08 14:02] thegitparticle commented on #375
where do I find this file?

[2020-10-08 14:07] thegitparticle commented on #375
Is it stream-chat-react-native > src > index.js ??? Is so, when I try to console.log image or res, I didn't get logged anything when I try to upload (use this functionality). that logging could help me insert the right prefix for the file.

Also, if this doesn't solve, could you tell me a way to change image-crop-picker to the previous library you were using? I really can not delay my launch even

[2020-10-08 14:15] vishalnarkhede commented on #375
This is how you can go to previous image picker functionality (haven't tested this ... but should work)

[code]

[2020-10-08 14:18] thegitparticle commented on #375
This change has to be done in here - [stream-chat-react-native > src > index.js] right?

[2020-10-08 14:19] vishalnarkhede commented on #375
No. ... you can do it in your app. You just need to call `registerNativeHandlers` function before rendering your chat components.

[2020-10-08 14:39] thegitparticle commented on #375
I did, just called the function as you said before the return (<Chat></Chat>), I am still getting Network error.

Is there anything else I missed in switching the library?

[2020-10-08 22:07] junminleeKS opened #377 "Error occurs when trying to customize "message.content.textContainer.rightBorderWidth""
**Describe the bug**
I am getting an error when trying to customize `message.content.textContainer.rightBorderWidth`. I am passing an object into the style prop of the `Channel` component. I ran into the following error:
`Error: Unknown theme key message.content.textContainer.rightBorderWidth`

**Dev environment info (please complete/provide the following information):**

- Package version
  - str

[2020-10-09 03:47] thegitparticle commented on #375
I created a new project and re implemented the whole thing. Yet, the error persists with both image-crop-picker and the old image-picker as well.

But, this time, the source of error as it shows seem diff for image-picker, attaching screenshot, @vishalnarkhede have a look please.

![Screenshot_20201009-090314_mock4](https://user-images.githubusercontent.com/12975157/95541141-316e5180-0a10-11eb-9bc

[2020-10-09 08:23] ivanph commented on #375
Hi everyone, I ran into this issue and I think I found the solution and cause.

**TLDR:  The `stream-chat` package v2.5.0 broke the format for the file object. Downgrade to a previous version.**

Same as OP all I could see was the `Network Error` in the app. I added a logger to the client to see if the issue was actually coming from the picker (which I was almost sure wasn't the case because the i

[2020-10-09 10:30] thegitparticle commented on #375
@ivanph I will try this out.

I downgraded stream to 1.2.0 and it worked. But the issue now is png files are not being uploaded, because seems like the default image format is put as image/jpeg. I am attaching the error screenshot below, @vishalnarkhede could you guide me here?
![Screenshot 2020-10-09 at 4 00 03 PM](https://user-images.githubusercontent.com/12975157/95573046-7f9f4700-0a48-11eb-888

[2020-10-09 13:28] thegitparticle commented on #374
this is fixed and keyboard is smooth when downgraded to 1.20.0. But still persists on above versions as far as the tests I've done.

[2020-10-09 17:46] ivanph commented on #375
@thegitparticle pngs are working for me.
 What I did was
[code]

[2020-10-09 18:14] virdesai commented on #375
@thegitparticle I've opened a PR fix for this with our JS client [here](https://github.com/GetStream/stream-chat-js/pull/464)

[2020-10-11 06:34] thegitparticle commented on #375
@ivanph will try this.

[2020-10-13 06:48] lokewk commented on #110
![Screenshot 2020-10-13 at 2 46 49 PM](https://user-images.githubusercontent.com/68896130/95825111-f008d980-0d62-11eb-873e-f872c7f9a4ce.png)

@vishalnarkhede I am facing the same issue, when a user clicks to add an attachment, then clicks 'Upload a file', then 'Cancel'. User will have the above message.

[2020-10-13 07:54] vishalnarkhede commented on #377
Hey @junminleeKS can you try the object format?

[code]

[2020-10-13 22:36] junminleeKS commented on #377
That fixed it! Thank you.

[2020-10-13 22:36] #377 closed

[2020-10-14 01:05] ivanph commented on #375
I can confirm that this is fixed after upgrading `stream-chat` to v2.6.0.
Thanks everyone.

[2020-10-14 09:52] lokewk opened #382 "push notification via Expo.io"
Hi, is there any sample of  push notification via Expo.io?
or can this even possible at this moment?

gz#6624

[2020-10-14 14:20] virdesai commented on #382
@lokewk unsure if these steps will work as the documentation states that you will need to eject from expo but you can first try to follow the expo push notification tutorial in their docs here: https://docs.expo.io/push-notifications/overview/ and then if you can retrieve a device token you can try to call `client.setDevice` with that token as shown here: https://getstream.io/chat/docs/rn_push_str

[2020-10-14 15:08] #375 closed

[2020-10-14 15:10] #356 closed

[2020-10-14 15:14] virdesai commented on #124
@sclavijo93 we are implementing this in some redesigns that are underway

[2020-10-14 15:16] virdesai commented on #148
closing from inactivity

[2020-10-14 15:16] #148 closed

[2020-10-14 15:17] virdesai commented on #149
we're working on a new reaction pick design

[2020-10-14 15:22] virdesai commented on #186
closing as ReactionPicker does not seem to have these problems on the latest version of the sdk

[2020-10-14 15:22] #186 closed

[2020-10-14 17:21] dcsena commented on #149
@virdesai awesome to hear - do you have an ETA on when we can use it ?

[2020-10-15 00:24] taschik opened #385 "Error: crypto.getRandomValues() not supported leads to Promise Rejection"
**Describe the bug**
Setting a user on the client leads to an unhandled Promise Rejection which renders the client library unusable for me. I cannot query any channels nor can I interact with the chat due to this issue.
[code]

**Dev environment info (please complete/provide the following information):**
[code]

[code]

**To Reproduce**

1. Initialize a chat client in any screen or App.js and use

[2020-10-15 03:05] virdesai commented on #385
@taschik you need to add this https://github.com/LinusU/react-native-get-random-values#installation

[2020-10-15 06:33] girish-trabacus commented on #325
@vishalnarkhede Thanks, updating the package has fixed the issue.

[2020-10-15 06:33] #325 closed

[2020-10-15 08:14] lokewk commented on #382
Thank you for your suggestion.
I have test it out, we manage to get the device tokens.
But the push notification did not get tru. i got the error messages below.

from APN:
![Screenshot 2020-09-17 at 11 02 20 AM](https://user-images.githubusercontent.com/68896130/96095518-46138380-0f01-11eb-82df-5d29934d9b12.png)

from Firebase:
![Screenshot 2020-10-15 at 4 13 26 PM](https://user-images.githubuser

[2020-10-15 13:01] #385 closed

[2020-10-15 13:01] #376 closed

[2020-10-15 13:02] vishalnarkhede commented on #330
Hey @decamps-enmanuel MML part is currently in progress only for our react sdk, not for react-native sdk.

[2020-10-15 13:03] #302 closed

[2020-10-15 13:03] #239 closed

[2020-10-15 13:04] #214 closed

[2020-10-15 13:05] vishalnarkhede commented on #374
Hey glad that issue is fixed. I will still recommend you to upgrade to 1.3.4 and test again. Closing the issue for now, please reopen if you have more questions.

[2020-10-15 13:05] #374 closed

[2020-10-15 13:08] vishalnarkhede commented on #294
@jjmcmillan any update?

[2020-10-15 13:09] vishalnarkhede commented on #286
Stream is working on building new UI components. Revamp of actionsheet is part of that project.

[2020-10-15 13:09] #286 closed

[2020-10-15 13:12] vishalnarkhede commented on #124
Closing this for now. Please keep an eye for next major release for new UI components :)

[2020-10-15 13:12] #124 closed

[2020-10-15 16:58] taschik commented on #385
Thanks @virdesai that worked. Since I had a new installation I didn't even look at the upgrade guide. But it all works now. 🙏

[2020-10-18 06:07] lokewk commented on #382
@vishalnarkhede @virdesai any idea? really need to resolve this.

[2020-10-19 15:11] panda919 commented on #375
I got network  error yet on get-stream-react-native 2.0.0-beta.0 yet on android .

![image](https://user-images.githubusercontent.com/25161426/96470016-70967100-1260-11eb-8364-78386e3d31e7.png)

[2020-10-19 22:30] junminleeKS opened #390 "GIPHY buttons not working"
**Describe the bug**
The GIPHY actions (Send, Shuffle, and Cancel) do not do anything after being pressed.

**Dev environment info (please complete/provide the following information):**
- stream-chat v2.6.0 (^2.2.2)
- stream-chat-expo v1.3.4
- Android and iOS devices

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a channel
2. Type /giphy followed by any text and then send the message

[2020-10-20 03:33] virdesai commented on #382
@lokewk have you tried ejecting as described here: https://getstream.io/chat/docs/rn_push_initial/?language=js

[2020-10-20 03:54] virdesai commented on #149
@dcsena tough to say but the work is underway in [this](https://github.com/GetStream/stream-chat-react-native/pull/384) PR and the redesigns/customizations of this and many other areas of the SDK are a top priority of ours this quarter

[2020-10-20 05:48] lokewk commented on #382
@virdesai we do not have the options to eject. is it possible to do this without ejecting?

[2020-10-20 23:08] melissafzhang opened #392 "Encountered two children with the same key"
**Describe the bug**
Messages are being displayed twice and causing the error `Encountered two children with the same key`

**Dev environment info (please complete/provide the following information):**

- stream-chat-expo v 1.3.4
- expo version 39.0.0, react native 39.0.3
- iOS Emulator

**To Reproduce**
Steps to reproduce the behavior:

1. Go to message list
2. Send message
3. Message shows up tw

[2020-10-20 23:20] melissafzhang commented on #382
I was also wondering the same thing. Someone from support told me that the only way to get this to work with non-ejected expo app is to use webhooks. Would love to know if there's another workaround since adding webhooks is not an option for us right now

[2020-10-21 05:42] mahboubii commented on #392
hey @melissafzhang, please use `stream-chat@v2.6.0` at the moment. It should be addressed in the next patch release.

[2020-10-21 16:36] melissafzhang commented on #392
@mahboubii which `stream-chat-expo` version is that? Looks like there's only the beta version released.

[2020-10-22 08:57] mahboubii commented on #392
Any version of `stream-chat-expo` should be fine. Currently, the last compatible version `stream-chat` is [v2.6.0](https://www.npmjs.com/package/stream-chat/v/2.6.0)

[2020-10-22 15:34] melissafzhang commented on #392
I’m currently experiencing the issue with stream-chat-expo v2.6.0.

On Thu, Oct 22, 2020 at 01:57 Amin Mahboubi <notifications@github.com>
wrote:

[2020-10-22 17:08] melissafzhang commented on #392
@mahboubii I'm experience this issue with the latest `stream-chat-expo` v1.3.4. Do I need to install `stream-chat` in addition to `stream-chat-expo`?

[2020-10-22 17:14] melissafzhang commented on #392
Installing `stream-chat` separately worked!

[2020-10-23 14:53] #392 closed

[2020-10-23 21:21] taschik opened #396 "Tap on error state of chat doesn't try to reload the chat."
**Describe the bug**
If the chat cannot be loaded, for what ever reason, the error state's retry mechanisms doesn't work. A tap on the error message doesn't reload the chat.

**Dev environment info (please complete/provide the following information):**
[code]

[code]
Happens on iOS 14.1 Simulator as well as physical device. Tested on iPhone XS.

**To Reproduce**
1. Disconnect from the internet bef

[2020-10-26 05:34] virdesai commented on #382
@lokewk @melissafzhang have you followed both of these guides? https://docs.expo.io/push-notifications/push-notifications-setup/ and https://docs.expo.io/push-notifications/using-fcm/

where are you seeing those errors? to me it reads like a response from the APN/FCM side not having registered the device or token that's trying to be used properly

[2020-10-26 05:52] lokewk commented on #382
@virdesai  i am seeing those errors on my test devices (not simulator).
registering the device is not done by getstream API?

[2020-10-26 15:51] radekcy opened #397 "Attempted to remove more RCTKeyboardObserver listeners than added"
**Describe the bug**
When I'm connected to chat channel using my local build, I send the app to background and bring it back to foreground. Doing it the second time causes an exception: _**Attempted to remove more RCTKeyboardObserver listeners than added**_

**Dev environment info (please complete/provide the following information):**

- Package version: stream-chat-react-native: ^1.3.4
- react-na

[2020-10-26 16:01] virdesai commented on #382
@lokewk the gestream API takes the device token which is returned to it from the push notification implementation in your code. it then uses that device token to tell the APN/FCM service that a push notification is trying to be sent to that device token. the push services recognizing that device as a valid device to send to (correct key, no previous failures, app IDs registered to allow push notif

[2020-10-26 16:49] shodgetts commented on #397
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6864'>Zendesk ticket #6864</a>:<br><br>Thanks for the bug report.

[2020-10-26 18:46] melissafzhang opened #398 "Error uploading image"
**Describe the bug**
When trying to upload an image on simulator, I get this error
`StreamChat error code 4: UploadImage failed with error: "request Content-Type isn't multipart/form-data"`

**Dev environment info (please complete/provide the following information):**

-  "stream-chat": "2.6.0"
- "stream-chat-expo": "^1.3.4"
- "react-native": "39.0.3"
- "expo": "^39.0.0",
- iOS simulator

**To Rep

[2020-10-26 18:54] shodgetts commented on #398
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6874'>Zendesk ticket #6874</a>:<br><br>Thanks for the report. An engineer will look into this shortly.

-Stephen

[2020-10-26 18:57] melissafzhang commented on #398
Actually this is an issue with the debugger I use which doesn't work with image uploading. Thanks!

[2020-10-26 18:57] #398 closed

[2020-10-26 20:30] melissafzhang commented on #390
I'm also experiencing this issue! Is there a way to turn off Giphy while this is getting fixed?

[2020-10-26 21:23] melissafzhang opened #399 "Unable to dismiss keyboard after typing"
**Describe the bug**
There's no way to dismiss the keyboard after typing. We have tab navigation that show up behind the keyboard but there's no way to dismiss the keyboard.

**Dev environment info (please complete/provide the following information):**

"stream-chat": "2.6.0"
"stream-chat-expo": "^1.3.4"
"react-native": "39.0.3"
"expo": "^39.0.0",
iOS simulator

**To Reproduce**
Steps to reproduce

[2020-10-26 21:28] shodgetts commented on #399
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6879'>Zendesk ticket #6879</a>:<br><br>Hello, thank you for the report. The RN team will look into this shortly. Can you email support@getstream.io with future issues? We'd love to hear what you're building.

[2020-10-26 21:49] melissafzhang commented on #399
Actually clicking on the chat messages dismisses the keyboard. However, if there are only a few messages, clicking above the messages does not dismiss the keyboard.

[2020-10-27 08:58] vishalnarkhede commented on #397
Hey @radekcy , please upgrade to v1.3.5. We have fixed this issue in that patch.

[2020-10-28 03:24] lokewk commented on #110
@vishalnarkhede any update on this?

[2020-10-28 03:28] lokewk commented on #382
@virdesai i have given up on direct push notification from getstream.io chat. i am using webhook method to my AWS SNS now. will be great if  push notification from getstream.io chat works with Expo apps moving forward. thanks.

[2020-10-28 03:30] lokewk opened #401 "When Cancelling add attachment app crashes"
https://github.com/GetStream/stream-chat-react-native/issues/110#issue-545695006

Hi folks, i still have this issue still. Anyone else still facing this issue?

gz#6911

[2020-10-28 04:34] #397 closed

[2020-10-28 06:56] vishalnarkhede commented on #401
What version of stream-chat-react-native are you on?

[2020-10-28 07:20] lokewk commented on #401
![Screenshot 2020-10-28 at 3 20 19 PM](https://user-images.githubusercontent.com/68896130/97404467-1cab1c80-1931-11eb-815c-4db8d26c61d7.png)
@vishalnarkhede I am on expo.

[2020-10-29 05:28] lokewk opened #404 "Reply message not response"
can't reply messages from messageslist component. When select reply, nothing happens. Please advise.
i am on:
    "expo": "^39.0.0",
    "stream-chat": "2.6.0",
    "stream-chat-expo": "^1.3.4"

![Screenshot 2020-10-29 at 1 27 32 PM](https://user-images.githubusercontent.com/68896130/97529273-820f1400-19ea-11eb-80f4-016ac3f964d0.png)

gz#6966

[2020-10-29 06:29] vishalnarkhede commented on #404
You need to add prop on MessageList component:

[code]

Please check the example app - https://github.com/GetStream/stream-chat-react-native/blob/master/examples/NativeMessaging/App.js

[2020-10-29 11:21] vishalnarkhede commented on #399
@melissafzhang you can try the following:

[code]

[2020-10-30 04:05] melissafzhang commented on #399
Awesome that worked!

[2020-10-30 04:05] #399 closed

[2020-10-30 04:05] melissafzhang commented on #390
This was fixed in the latest release fyi!

[2020-10-30 06:35] vishalnarkhede commented on #390
@melissafzhang glad to head that its fixed :)

[2020-10-30 06:35] #390 closed

[2020-10-30 06:44] lokewk commented on #404
@vishalnarkhede Thank you for your clear guide. I managed to recreate this function.

[2020-10-30 06:46] vishalnarkhede commented on #401
Hey @lokewk , we have fixed this issue on v2.x.x. Can you please try to upgrade and check?

Following links will help with upgrade:
- https://github.com/GetStream/stream-chat-react-native/blob/master/examples/ExpoMessaging/App.js
- https://github.com/GetStream/stream-chat-react-native/wiki/Upgrade-helper

[2020-10-30 06:48] vishalnarkhede commented on #396
Thanks for bringing this up @taschik. We will fix this soon on 2.x.x :)

[2020-10-30 08:27] isabellaskc opened #406 "Is forwarding messages available?"
Long press a chat message enables users to edit / delete / add reaction to a message. Is forwarding message available? (Forwarding a message from the current channel to another existing channel).
Can't seem to find any working examples or information in the docs.

gz#7016

[2020-10-30 10:48] vishalnarkhede commented on #406
@isabellaskc we currently don't have example of forward message UX.

[2020-11-02 08:46] isabellaskc commented on #406
@vishalnarkhede will the function be available?

[2020-11-03 15:33] vishalnarkhede commented on #406
@isabellaskc we don't currently have it on the roadmap to provide it OOTB.

[2020-11-03 23:03] haivle opened #407 "Encountered two children with the same key in MessageList"
**Describe the bug**
Encountered two children with the same key in MessageList

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native v2.0.0; stream-chat 2.7.0
- react-native
- Device/Emulator iOS 14

**To Reproduce**
Steps to reproduce the behavior:

1. Open a thread
2. Reply to a thread
3. The warning shows up sometimes, can't c

[2020-11-03 23:25] shodgetts commented on #407
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/7099'>Zendesk ticket #7099</a>:<br><br>Thanks for letting us know, we'll be fixing this in an upcoming release. We appreciate your patience.

[2020-11-03 23:30] haivle opened #408 "Calculate groupStyles incorrectly, which affects the hasMarginBottom and isVeryLastMessage in MessageSimple"
**Describe the bug**
Calculate groupStyles incorrectly, which affects the hasMarginBottom and isVeryLastMessage in MessageSimple

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native v2.0.0
- react-native
- Device/Emulator iOS 14

**To Reproduce**
Steps to reproduce the behavior:

1. Open a channel with message 0 is sent by me
2.

[2020-11-03 23:36] haivle commented on #408
This does not happen in version 1.x

[2020-11-04 00:28] haivle opened #409 "Mention and action are nog triggers"
**Describe the bug**
Mention and action are nog triggers

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native v2.0
- react-native
- Device/Emulator iOS 14

**To Reproduce**
Steps to reproduce the behavior:

1. Open a channel
2. Start typing / or @
3. Warning pops up and no suggestion panel is shown

**Expected behavior**
Action

[2020-11-04 00:34] haivle commented on #407
#392 Downgraded to stream-chat 2.6.0 might solve the issue

[2020-11-04 04:01] lokewk commented on #225
@manhncse02926 Mind sharing the solution you found. I am having the same issues.

[2020-11-05 03:18] haivle commented on #408
when I console log the output in getGroupStyles, it gives the correct results. However, when I console log in MessageList render method, the values are not updated.

[2020-11-05 03:24] haivle commented on #408
we have fixed this issue by update equal function of MemoizedDefaultMessage
[code]

[2020-11-05 06:00] #409 closed

[2020-11-06 17:13] #406 closed

[2020-11-10 11:18] manhncse02926 commented on #225
Sorry for the late reply.
We have to save the channel name on our backend and search via our services before use Getstream's filter

[2020-11-14 13:24] amardeepranu commented on #407
I'm also getting this on the latest version along with a strange flickering of the message list after sending a message

[2020-11-16 09:54] #408 closed

[2020-11-16 09:54] vishalnarkhede commented on #401
@lokewk any update?

[2020-11-16 10:26] lokewk commented on #401
Is alright now, after upgrading. thanks

[2020-11-16 10:26] #401 closed

[2020-11-16 10:40] lokewk opened #429 "Missing Readby Data"
Describe the bug
When using a custom Message for MessageList, we want to show list of users that have read the message. We have lost this feature after following this Example "Message bubble with name of sender" from this link, https://github.com/GetStream/stream-chat-react-native/blob/master/docs/cookbook.md#message-bubble-with-name-of-sender

Dev environment info (please complete/provide the fol

[2020-11-16 11:02] vishalnarkhede commented on #429
@lokewk can you please show me the code of custom message component?

[2020-11-16 11:06] lokewk commented on #429
here it is.
[code]

[2020-11-16 12:07] vishalnarkhede commented on #396
Hey @taschik , this has been fixed in `2.0.2`. Please reopen the issue if it doesn't work for you :)

[2020-11-16 12:07] #396 closed

[2020-11-16 14:53] amardeepranu opened #431 "If token refresh promise fails the channel list keeps refreshing"
On the latest version (v2.0.2) when the userTokenOrProvider is provided to the setUser method: if the user refreshes and the token refresh promise fails for any reason the list keeps refreshing indefinitely with no way to make it stop.

[2020-11-16 14:53] vishalnarkhede commented on #431
Thanks for brining this up @amardeepranu . We will look into it and prepare a fix soon :)

[2020-11-16 15:11] amardeepranu opened #432 "No sending state animation for message"
On the latest version v2.0.2, the 'loading/sending' state of the message does not show the 'loading.gif' asset at all in the MessageList.

gz#7391

[2020-11-16 15:34] amardeepranu opened #433 "Red full screen error when viewing an image in chat"
On the latest version (v2.0.2) I'm getting full red screen error when opening an image:

![IMG_40FA79921090-1](https://user-images.githubusercontent.com/7548096/99273574-3684a480-27f7-11eb-862a-a92b48f134dd.jpeg)

I believe this line is the culprit:
https://github.com/GetStream/stream-chat-react-native/blob/0985105e84fdb107ccf6ab385d16083e4bf4e02e/src/components/Attachment/Gallery.tsx#L101

gz#739

[2020-11-16 16:10] virdesai commented on #433
@amardeepranu that line isn't new to 2.0.2 however this issue seems more related to the installation setup you have with another 3rd party setup which requires a change to the iOS Info.plist build file

[2020-11-18 11:58] amardeepranu opened #435 ""Error while loading, please reload/refresh" doesn't go away"
On the latest version (2.0.2) when reconnecting from a connection loss on the channel list the "Error while loading, please reload/refresh" header never goes away - the app must be force quit. To recreate: go into airplane mode on the channel list -> pull to refresh the list -> wait for the error header -> reenable airplane mode.

gz#7434

[2020-11-18 12:04] amardeepranu opened #436 "Failed messages can't be resent and are lost on restart"
On the latest version (2.0.2) failed messages don't resend. When a failed message is tapped to resend, it doesn't. To reproduce: go into a channel and turn on airplane mode -> send some messages -> disable airplane mode -> tap to retry sending. Once the app is force quit the messages are permanently lost.

gz#7435

[2020-11-19 00:02] shodgetts commented on #429
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/7382'>Zendesk ticket #7382</a>:<br><br>Hello, what is the Stream AppID or key that you are using please?

[2020-11-19 00:19] shodgetts commented on #432
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/7391'>Zendesk ticket #7391</a>:<br><br>Hello. what is your Stream organization please? We'd like to reach out.

-Stephen

[2020-11-19 10:13] lokewk commented on #429
8j99xmpyrrtu
this is my AppID

[2020-11-19 16:29] #435 closed

[2020-11-19 16:29] #436 closed

[2020-11-23 17:41] megantaylor opened #441 "client.setUserAgent is undefined"
**Describe the bug**

When I try to open my app in Expo client, i get an error that `client.setUserAgent` is undefined in stream-chat-react-native-core/src/components/Chat.tsx and cannot finish loading the app.

**Dev environment info (please complete/provide the following information):**

- "stream-chat-expo" v2.0.2
- expo v39
- iOS Simulator iPhone 12 Pro Max v14.2

**To Reproduce**
Steps to rep

[2020-11-23 18:23] shodgetts commented on #441
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/7501'>Zendesk ticket #7501</a>:<br><br>Hi There,

I'd like to explore this issue a bit further but will need some additional details. Would you mind emailing support@getstream.io with your app ID as well as a full code snippet of where the error is occurring?

[2020-11-23 18:32] vishalnarkhede commented on #441
@megantaylor what version of `stream-chat` are you using?

[2020-11-23 19:46] megantaylor commented on #441
@vishalnarkhede we have stream-chat-expo 2.0.2, stream-chat-react-native-core 2.0.2, stream-chat-react 1.2.5, stream-chat 2.7.0 and stream-chat 1.12.1...ooh, i bet thats the problem! will update if that resolves the issue.

[2020-11-23 19:57] megantaylor commented on #441
@vishalnarkhede @shodgetts that did the trick! thanks! #monorepoProblems

[2020-11-23 19:57] #441 closed

[2020-11-24 03:56] lokewk commented on #429
@shodgetts Any update on this?

[2020-11-24 06:11] lokewk commented on #149
hey, have the fix been push?
I am facing this issue too.

[2020-11-24 23:00] dcsena commented on #206
+1

[2020-11-25 10:09] vishalnarkhede commented on #429
@lokewk are you setting `forceAlign` prop on `CustomMessagePreview` by any chance?

[2020-11-25 23:57] Jeancpdamke commented on #429
I am getting the same issue, the avatars of the users that read the message are not showing, just the time of when the message was sent.

I investigated a bit and I saw that the MessageStatus component does a check to see if `message.id === lastReceivedId`, and then renders the avatars. In our case, both props from our CustomMessage (which renders MessageSimple) and our CustomMessageContent (which

[2020-11-26 02:28] lokewk commented on #429
@vishalnarkhede no i m not setting `forceAlign` prop on `CustomMessagePreview`

[2020-11-26 09:23] vishalnarkhede commented on #429
Hey @Jeancpdamke thanks for the investigation. This in-fact is the issue it seems. I will check and get back to you why this is happening.

[2020-11-26 12:09] amardeepranu opened #444 "Entire screen is unresponsive after sending a few messages"
I'm using react navigation with stream chat react native 2.0.2, I just added a tab bar to my application, no other change. When I type a few messages the entire screen is frozen and the keyboard disappears, the entire app has to be force quit. No errors reported. I am using example code. I've attached a video:

![Image](https://user-images.githubusercontent.com/7548096/100349352-4d28b980-2fb6-11eb

[2020-11-26 12:16] vishalnarkhede commented on #433
@amardeepranu ping ^^

[2020-11-26 12:17] amardeepranu commented on #444
Disabling swipe to back gestures in react navigation for the channel screen fixes this issue FYI. I assume theres something conflicting there thats causing this lock up.

[2020-11-26 12:18] vishalnarkhede commented on #432
This might be related to https://github.com/GetStream/stream-chat-react-native/issues/429

[2020-11-26 13:19] amardeepranu commented on #433
Sounds good!

[2020-11-26 17:19] lexin commented on #72
Can I ask for your help? I tried to setup local notifications just like it is mentioned
_Notifications.shared.localNotificationContent = { (message, channel) in
            let content = UNMutableNotificationContent()
                  content.title = "\(message.user.name) @ \(channel.name ?? "")"
                  content.body = message.text
                  content.sound = UNNotificationSound.d

[2020-11-27 03:40] rgkobashi commented on #72
Are you watching the channels? In my app `ChannelsViewController` is on a tab and I didnt get those notifications (local ones) until I switched to that tab.

The thing is, you will get local notifications after you watch the channels, this means after you show `ChannelsViewController ` which Stream starts  watching them automatically for you, or you start watching them manually.

Took me a while t

[2020-11-27 08:24] vishalnarkhede commented on #339
@thegitparticle Actually you should definitely take a look at how we added custom action sheet in our slack-clone project. This will help your case - https://github.com/GetStream/slack-clone-react-native/blob/master/src/components/MessageSlack.js#L27

[2020-11-27 09:16] lexin commented on #72
Thank you for your response. Yes, I am watching channels.
And I tried to turn on watching in two different ways:
1 add option .watch to query
2 call watch for each channel manually.

 is it important when and where to call the code
_Notifications.shared.localNotificationContent = { (message, channel) in
            let content = UNMutableNotificationContent()_

I do it just after a successful Clie

[2020-11-27 09:26] rgkobashi commented on #72
hmmm... 🤔
Are you able to see the code of the SDK, what I did to realized about this behavior (and a lot more) was setting breakpoints on the SDK code, you can check `Notifications` source code, `Notifications.showIfNeeded(message:channel:)` is a good start point.

Oh, one more thing, somewhere in your code are you conforming to `UNUserNotificationCenterDelegate`? Since `UNUserNotificationCenter`

[2020-11-27 09:51] lexin commented on #72
Unfortunately, I don't see the code itself. I just installed the GetStream via cocoapod and get the framework only.
Probably, it's to ask tech support from getstream team. Thank you.

[2020-11-27 10:03] rgkobashi commented on #72
I also installed it with cocoapods and I can see the code, it has been very useful, it is well documented, but yeah, it will probably be better to contact support 👍

<img width="293" alt="Screen Shot 2020-11-27 at 7 01 50 PM" src="https://user-images.githubusercontent.com/4319094/100436768-24eaa900-30e3-11eb-8499-7a48ac19736b.png">

[2020-11-27 13:24] lexin commented on #72
Just made an own solution
 _let subscriptionEvent = Client.shared.subscribe { (event) in
            if ((event.type == .messageNew) || (event.type == .notificationMessageNew)) {
                switch event {
                case .messageNew(let message, let unreadCount, _, let channelID, _):
                    let channelname = self.getLocalChannel(id: channelID?.id ?? "123" )?.channel.name ??

[2020-11-27 19:29] damithsynapsys commented on #375
using the latest version of stream,

and get the same error;

[code]

![image](https://user-images.githubusercontent.com/57521888/100479630-cd653100-3114-11eb-907f-ba7cba4c5959.png)
![Screenshot 2020-11-28 at 00 58 44](https://user-images.githubusercontent.com/57521888/100479661-df46d400-3114-11eb-8bf0-81c1520be654.png)

[2020-12-01 01:37] isabellaskc commented on #429
Hi @vishalnarkhede , any updates on @Jeancpdamke 's investigation?

[2020-12-01 19:25] #433 closed

[2020-12-01 23:34] jjmcmillan commented on #294
@vishalnarkhede so sorry for the long delay in getting back to you. It's been a very busy time for us and we had to hold off on upgrading react native to identify if it would resolve this bug. The good news is that it indeed seems to have fixed it! I'm closing this ticket. Thanks again for your support with this, I hope you are well.

[2020-12-01 23:34] #294 closed

[2020-12-04 03:07] isabellaskc opened #445 "Deleted a channel but messages were restored"
A 1 to 1 conversation was created, upon deleting the channel, the channel is removed from the channel list. However, when the same party starts a new conversation, all old messages were being restored.

The following method was used to delete the channel:
const destroy = await channel.delete();

![IMG_A35FDAA10BBD-1](https://user-images.githubusercontent.com/68898532/101117074-340cb200-3621-11eb-8

[2020-12-04 04:39] shodgetts commented on #445
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/7761'>Zendesk ticket #7761</a>:<br><br>Hi

We would like to know how is the new conversation started? A video would be helpful.
Also, can we please know the version of stream-chat and stream-chat-react-native? Thanks.

FYI, If you delete a channel and try to recreate it, all the older messages will not be restored.

[2020-12-04 08:44] LevanIlashvili commented on #445
@isabellaskc, you can use `truncate` method, which will remove all messages and then use `delete`

Source: https://getstream.io/chat/docs/channel_delete/?language=js#truncating-a-channel

[2020-12-05 11:54] vishalnarkhede commented on #431
Moving this issue to js client, since it needs to be fixed there!!

[2020-12-05 12:16] vishalnarkhede commented on #429
@isabellaskc @Jeancpdamke We have fixed the issue - https://github.com/GetStream/stream-chat-react-native/commit/b6df565e2cc1f0a899aa6977c3a27bbe5c94854f

It will be released in next patch, early next week :)

[2020-12-05 12:17] vishalnarkhede commented on #407
@amardeepranu @haivle Please upgrade to latest packages - stream-chat-react-native@2.0.2 and stream-cha@2.8.4. These issues are fixed :)

[2020-12-05 12:17] vishalnarkhede commented on #339
@thegitparticle please reopen if the above example didn't help :)

[2020-12-05 12:17] #339 closed

[2020-12-05 12:18] vishalnarkhede commented on #432
Closing this as duplicate of #429 :)

[2020-12-05 12:18] #432 closed

[2020-12-05 12:18] vishalnarkhede commented on #330
@decamps-enmanuel please reopen if you have any more questions :)

[2020-12-05 12:18] #330 closed

[2020-12-05 12:21] vishalnarkhede commented on #444
@amardeepranu I would help us if you can setup an expo snack to reproduce the issue and share with us. Or if you can reproduce it on one of the example apps.

[2020-12-05 12:22] vishalnarkhede commented on #445
@isabellaskc As mentioned @LevanIlashvili , you should truncate the channel before deleting in this case :)

[2020-12-05 12:22] #445 closed

[2020-12-05 12:24] #219 closed

[2020-12-05 12:24] vishalnarkhede commented on #407
Please reopen, if you face the issue even after the upgrade :)

[2020-12-05 12:24] #407 closed

[2020-12-07 17:41] vishalnarkhede commented on #429
@Jeancpdamke @isabellaskc Please use `stream-chat-react-native@2.1.0` - https://github.com/GetStream/stream-chat-react-native/releases/tag/v2.1.0

[2020-12-07 17:43] shodgetts commented on #432
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/7391'>Zendesk ticket #7391</a>:<br><br>Hey,

Please upgrade to stream-chat-react-native@2.1.0. We have fixed this issue :)

Thanks,
Vishal

[2020-12-08 08:12] Jeancpdamke commented on #429
@vishalnarkhede  Thanks a lot, it's working again for me!

[2020-12-08 08:17] #429 closed

[2020-12-08 21:09] rodrigowpl opened #448 "How to take the blue dot component rendered on the right bottom corner in MessageList off"
**Describe the bug**
I was not able to figure out how to take off this blue dot in the corner (see print). Could you please help me?

Sorry to ask this here, but I did not find any reference on the doc and cookbook. Maybe  I've missed it. Appreciate your help!

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native version: 1.3.4
- react-native ve

[2020-12-08 21:16] virdesai commented on #448
@rodrigowpl For the messages you do not want to show the MessageAvatar, pass this `showAvatar` prop in as `false` to a customized `Message` component within the `MessageList`

[2020-12-08 22:16] rodrigowpl commented on #448
@virdesai but is not about avatar right?, is about this dot here:
![image](https://user-images.githubusercontent.com/18172307/101547927-ceeeee80-3989-11eb-9198-45a6a7287f05.png)