[2020-12-09 08:53] vishalnarkhede commented on #448
@rodrigowpl this should help :)
[code]

[2020-12-09 10:51] rodrigowpl commented on #448
thank you @vishalnarkhede ! Is that what I was looking for

[2020-12-09 10:51] #448 closed

[2020-12-11 13:10] rodrigowpl opened #451 "After some time using/talking the messages state stop to auto-refresh in MessageList"
**Describe the bug**
One issue starts to happen after some time connected (like some minutes) or totally periodic:
- Messages simply stop to auto-increment automatically in the `MessageList` component

I've attached my code in the **To Reproduce** section.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native version: 2.1.0
- react-native versio

[2020-12-11 13:23] rodrigowpl opened #452 "Push notification stop to being sent after some time"
**Describe the bug**
Push notification is configured and I've seemed working. But totally out of the blue stop being sent.
Look at the logs:
![image](https://user-images.githubusercontent.com/18172307/101908108-5317c080-3b9a-11eb-9521-f4b1829777b9.png)

The setup really works, but after some time just stop sending them and nothing appears in the logs anymore.

I've attached my code in the **To Rep

[2020-12-11 13:26] vishalnarkhede commented on #452
Hey @rodrigowpl we are in process of fixing this issue. I will update you once its fixed :)

[2020-12-11 13:33] rodrigowpl commented on #452
Thank you @vishalnarkhede

I know it's hard to ask that. But we are very close to release our beta version. So do you have an estimate for this? Just more or less to have an idea

[2020-12-12 15:25] rodrigowpl commented on #451
@vishalnarkhede I saw in the docs we have [events](https://getstream.io/chat/docs/event_object/?language=js). Maybe is there a way to update messages state manually listen to `message.new`?

[2020-12-12 18:52] rodrigowpl commented on #451
Another update: Trying debugging and looking for other alternatives and I've realized that channel events like `message.new` are stopping being received (the cause of the issue here).

Any idea?

[2020-12-12 19:19] 6ewis commented on #452
@vishalnarkhede I second what @rodrigowpl said.

[2020-12-14 09:31] vishalnarkhede commented on #451
@rodrigowpl Are you still facing this issue? Because we had an incident few days ago, and it caused some issues with websocket events. But it was fixed later - https://status.getstream.io/incidents/5b78zhwzpm9p

[2020-12-14 11:14] rodrigowpl commented on #451
@vishalnarkhede and still facing. Just testing more I've realized that when I keep the chat screen opened everything keep working normally. The channel events stop listen to when the screen is unmounted and mounted (where channel is initialized)

[2020-12-14 12:09] rodrigowpl commented on #451
Update: I've also tried to change the approach and move `setupChannel` to the same global provider and initialize only once. Since we just have one-to-one's conversation in our app we only need one channel always.

But anyway I got the same result in the same scenario reproduced. It's seem a `Chat` or `MessageList` state issue when it's re-rendered maybe

[2020-12-14 13:17] vishalnarkhede commented on #451
Hey @rodrigowpl thanks for the response. I am looking into your code now, I will get back soon :)

[2020-12-14 13:32] vishalnarkhede commented on #451
@rodrigowpl could you please try following hook, and check if this fixes the issue for you?

[code]

[2020-12-14 14:18] 6ewis commented on #451
@rodrigowpl should you also have `await setChannel(_channel)` ?

[2020-12-14 14:19] vishalnarkhede commented on #451
@6ewis no!!

[2020-12-14 14:20] 6ewis commented on #451
@vishalnarkhede i see. Can you explain a bit about how channel.watch() works internally?

[2020-12-14 14:23] rodrigowpl commented on #451
@vishalnarkhede yes I've already tried it. Same result

[2020-12-14 14:25] vishalnarkhede commented on #451
@rodrigowpl Can you please try one more thing?

[code]

[2020-12-14 14:26] rodrigowpl commented on #451
sure, testing here and I will let you know

[2020-12-14 14:28] vishalnarkhede commented on #451
@rodrigowpl I have updated code above a little :)

[2020-12-14 14:42] rodrigowpl commented on #451
ok testing and let you know, thanks!

[2020-12-14 15:37] rodrigowpl commented on #451
@vishalnarkhede for now good news, by doing your last suggestion there I'm not able to reproduce the issue anymore!
I will keep testing today afternoon but for now, everything is working normally.

If you don't mind could you please explain what your suggestion change?

[2020-12-14 16:28] vishalnarkhede commented on #452
@6ewis @rodrigowpl Can you please test the push notification issue now? We have deployed the fix!! I would recommend clearing app cache on test device

[2020-12-14 16:40] rodrigowpl commented on #452
@vishalnarkhede do I need to update some dependency?

[2020-12-14 16:49] vishalnarkhede commented on #452
@rodrigowpl No!! Fix was on backend side

[2020-12-14 17:00] rodrigowpl commented on #452
great gimme some time to test it and I will let you know, thanks!

[2020-12-14 19:02] rodrigowpl commented on #146
same issue here, is there another way to get the total account if not by setUser response`userResponse.me.total_unread_count;`?

cc @vishalnarkhede

[2020-12-14 19:03] rodrigowpl commented on #452
@vishalnarkhede it started worked again, but it was temportately and the stop to work again

[2020-12-15 11:44] rodrigowpl commented on #452
@vishalnarkhede here is the logs:
![image](https://user-images.githubusercontent.com/18172307/102210759-6041f180-3eb1-11eb-8388-da57aebb34dc.png)

As you can see, it seems after you said it was fixed the pushes started triggering successfully again for some time. But then it stopped and now it does not work anymore

[2020-12-15 13:07] rodrigowpl commented on #146
@charltongroves @familywiser1 any update on your approach? facing the same issue here

[2020-12-15 14:46] vishalnarkhede commented on #146
@rodrigowpl Whats your usecase here? Are you looking for separate api end point here to get unread count?

[2020-12-15 15:20] rodrigowpl commented on #146
Kinda @vishalnarkhede my issue is the same as @charltongroves reported:

This explains:

The problem is, when we unmount a component, that component cannot 'listen' for changes anymore, so when it gets remounted, it will have no idea how many unread messages there are (client.user.total_unread_count is only accurate immediately after setUser is called, and then is no longer reliable).

Currently w

[2020-12-15 16:52] rodrigowpl commented on #146
@vishalnarkhede another idea would be if you could retrieve the information when client connection is recovered

[2020-12-15 18:52] decamps-enmanuel opened #455 "Customize Loading Indicator?"
I want to modify the text when the chat is loading "Loading Channels...". Can I have an example since editing via theme only allows me to change positioning but not the placeholder. I also need to modify the "You have no channels" since it seems to have no formatting at all.

gz#8073

[2020-12-15 19:56] shodgetts commented on #455
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/8073'>Zendesk ticket #8073</a>:<br><br>Thanks, can you please let us know the app ID you are developing with?
-Stephen

[2020-12-15 20:18] decamps-enmanuel commented on #455
Hello! My app ID is 95784
Alsom can you attach this ticket to my zendesk stream.io account (
dev@fideclub.com?)

On Tue, Dec 15, 2020 at 3:56 PM Stephen Hodgetts <notifications@github.com>
wrote:

--
Enmanuel De Camps

[2020-12-17 08:43] vishalnarkhede commented on #452
@ferhatelmas ^^

[2020-12-17 10:51] ferhatelmas commented on #452
@rodrigowpl can I get an apikey to investigate ?

[2020-12-17 11:35] rodrigowpl commented on #452
@ferhatelmas send me your email so that I can send you

[2020-12-17 12:07] ferhatelmas commented on #452
@rodrigowpl apikey is public information. However, it seems support is scheduling a call to debug it with you in realtime.

[2020-12-17 12:40] rodrigowpl commented on #452
ok @ferhatelmas thanks, anyway the api key is: `bm8d5vnntp8x`

[2020-12-17 18:38] ferhatelmas commented on #452
@rodrigowpl one thing to note is that if you expect to use dev endpoint, mark development: true in app config. Otherwise, devices will be marked as disabled.

[2020-12-17 18:53] rodrigowpl commented on #452
I see. But anyway I've tested both in both ways, prod and dev

[2020-12-17 19:02] ferhatelmas commented on #452
Sure but the order matters. If device is disabled, you need to readd it to clear disabled field. Otherwise it will stay disabled and won't be tried to send pushes and no log will be generated in dashboard. Since you don't see any logs, it looks likely.

[2020-12-21 00:02] XavierJ03 opened #461 "App custom theme from styled-components gets mixed with the lib theme"
**Describe the bug**
The app theme from `styled-components` can be mixed with the one used is the library component

**Dev environment info (please complete/provide the following information):**

- Package version -> stream-chat-react-native@^2.1.0
- react-native -> 0.63.2
- Device/Emulator -> iPhone 12 Pro Max 14.3

**To Reproduce**
Steps to reproduce the behavior:

1. [Create a fresh react nativ

[2020-12-21 12:58] vishalnarkhede commented on #461
@XavierJ03 can you please try following change?

[code]

[2020-12-21 21:00] XavierJ03 commented on #461
@vishalnarkhede Thank you for your fast reply, unfortunately, the same error gets raised. Is the theme file used by stream-chat available somewhere? Maybe I can just add it to my app theme.

[2020-12-23 16:59] XavierJ03 commented on #461
Hey @vishalnarkhede , do you have any update on this one? Sorry

[2020-12-23 20:16] nhannah commented on #461
Hi @XavierJ03 the `ThemeProvider` from `stream-chat-react-native` is not 1:1 with styled-components provider. Instead we take the provided theme (via the `style` prop) and merge it with ours giving the provided one preference. You can pass the the `style` prop into the `Chat` component and it will provided to the `ThemeProvider` internally for all child components. The [base theme](https://github.

[2020-12-24 08:19] mayuri-pansuriya opened #467 "Getting `message failed` on uploading more than 10 images"
When uploading more than 10 images it just fails and return `message failed` how can we handle this smoothly.

gz#8241

[2020-12-28 14:20] decamps-enmanuel commented on #455
Hello??

[2020-12-30 06:15] virdesai commented on #455
@decamps-enmanuel you can [pass in your own](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/ChannelList/ChannelListMessenger.tsx#L131) `LoadingIndicator` to the `ChannelList` component and adjust the props you pass to the component to change the text: https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/Indicators/LoadingIndicator.tsx#L

[2020-12-30 06:18] virdesai commented on #51
we're working to make this happen sometime in Q1

[2021-01-04 03:01] isabellaskc opened #473 "Possible incoming chat conversation bug"
**Describe the bug**

When user1 is in a specific conversation ( with user2 ) and user2 sends a message to user1. User1 receives the message sent from user 2, upon receiving a notification, user1 gets redirected to the channelList screen. ( No action was made to be redirected to the screen ). Possible data loss?

Chat conversation gets updated before the user receives the notification, upon receiv

[2021-01-04 14:14] vishalnarkhede commented on #451
Hey @rodrigowpl

Pardon me for delayed response. This could be a possible bug with our underlying js client (stream-chat-js). Although when you watch the channel, we add the channel to list of activeChannels list automatically. Its not yet clear to me, why it didn't work for your case. This is something I need to investigate in deeper. Hopefully I will do it this week and get you more explanation

[2021-01-05 00:54] XavierJ03 commented on #461
Hi @nhannah, thank you for your feedback.

I've already wrapped components inside `Chat` and also added `style` prop to `Chat` component. Unfortunately, the same error is happening.
I've also tried to use the [base theme](https://github.com/GetStream/stream-chat-react-native/blob/65d556d68cfd84a6537f524f8a2ab8bfdf138638/src/styles/themeConstants.ts#L327) but it seems like its properties don't get

[2021-01-05 01:45] XavierJ03 commented on #461
@nhannah
[code]

[2021-01-05 09:12] vishalnarkhede commented on #473
Hey @isabellaskc ,

Could you please share some screen recording to demonstrate the issue. Its quite unclear to me from the description.

[2021-01-05 09:35] isabellaskc commented on #473
Hi @vishalnarkhede ,

A video has been attached here. Please ignore the screen recording alert as it also happen when the screen is not recording.

https://user-images.githubusercontent.com/68898532/103629797-bb7c7680-4f7b-11eb-966c-784bc474de05.mp4

Extra detail:
The conversation updates nicely, notification comes in slightly later, after the notification comes in, almost immediately it redirects

[2021-01-06 00:01] XavierJ03 commented on #461
@nhannah @vishalnarkhede` By digging further in the library, this is what I found.
In `ThemeContext.tsx` L19, the theme generated by `useTheme` misses some required properties like messageInput.
[code]

By using defaultTheme directly, the errors mentioned before get cleared.

[2021-01-06 03:30] lokewk opened #479 "iPhone unable to upload a video via upload a file"
**Describe the bug**
For iPhone, when upload a file is pressed, there is no option to select a video from phone gallery (only icloud drive, on my iphone , recently deleted and downloads is available)

**Dev environment info (please complete/provide the following information):**

"stream-chat": "2.6.0",
"stream-chat-expo": "^2.1.0",
"expo": "^39.0.0",
iPhone X iOS 13.6.1

**To Reproduce**
Steps to

[2021-01-06 03:50] shodgetts commented on #479
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8428'>Zendesk ticket #8428</a>:<br><br>Hi

Thanks for the details.
We will check this and get back to you soon.

Cheers
Seetha

[2021-01-07 05:59] josemak25 commented on #461
@XavierJ03

By using the default theme directly from the package file could lead to potential errors for new engineers when they try starting up the code on their machines.
A quick fix for this would be to extend stream-chat typings, for our infrastructure this is what we did to solve this issue

[code]

[code]

[code]

[2021-01-07 20:16] XavierJ03 commented on #461
Thank you for your feedback @josemak25, I don't clearly understand how this change would solve the issue. By the way, I'm not using expo nor typescript.

Got it! A quick fix would be to understand why the theme retrieved from `useTheme` lacks properties such as `messageInput.`

[2021-01-08 05:10] lokewk commented on #479
Any updates? @shodgetts

[2021-01-08 10:14] damithsynapsys opened #480 "last_active Time inconsistency"
I'm having an issue with inconsistency. herewith have a use case :

User A is showing "5 mins back" to User B and we stop the application on user B and then start the application on user A send a message and stop it, it should show "few seconds or 1 min" back on user B but it shows "6 mins" back which means user A did not update the information to the server correctly, to reverify it we checked on

[2021-01-09 03:31] virdesai commented on #479
@lokewk can you leave the app and go find the video within Photos. then long press it to open the context menu and then select `Share`. then scroll down to the `Save to Files` option and select that. you should now be able to access that video in your files within the app. I believe iOS segregates photos from files in some odd way because they provide this option so it's not able to be navigated t

[2021-01-09 06:12] isabellaskc commented on #473
Hi @vishalnarkhede ,

Is there any update on this?

[2021-01-10 12:32] rodrigowpl commented on #146
@vishalnarkhede Any update here? This still happens

[2021-01-10 12:41] rodrigowpl commented on #451
Hi @vishalnarkhede

Maybe this can be related:

As I've said the original issue solved using your solution. But sometimes after the app, sometimes stays minimized the WS is losing the connection and is not recovered stopping to auto-refresh the message list.

**This only happens if keep the chat open(The channel component). If navigate away and open it again (unmount and mount the Channel componen

[2021-01-10 12:49] rodrigowpl commented on #452
@vishalnarkhede @ferhatelmas it seems started worked now, the p8 approach worked.

But I've realized another issue quite relevant. Currently, regarding receiving pushes I see two issues:

1 -  If I have the Channel component opened and the app minimized, the client understands I'm still online and it does not send a push. This might confuse the user. We can't require him to navigate away from the

[2021-01-11 05:01] haivle opened #482 "Encountered two children with the same key in MessageList"
**Describe the bug**
Encountered two children with the same key in MessageList

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native v2.0.0; stream-chat 2.7.0
- react-native
- Device/Emulator iOS 14

**To Reproduce**
Steps to reproduce the behavior:

1. Open a thread
2. Reply to a thread
3. The warning shows up sometimes, can't c

[2021-01-11 05:01] haivle commented on #482
reopen of issue #407

[2021-01-11 05:04] virdesai commented on #482
@haivle did you try upgrading like the linked issues says? Seems like you're using the same version of the library that had issues that were resolved

[2021-01-11 15:15] haivle commented on #482
Im using stream-chat 2.9.0 and the latest react-native stream-chat

[2021-01-11 22:28] vishalnarkhede commented on #452
@rodrigowpl Please check this section - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-(2.x.x)#caveats

[2021-01-11 22:30] vishalnarkhede commented on #451
Hey @rodrigowpl could you please try this? https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-(2.x.x)#caveats

[2021-01-12 02:43] lokewk commented on #479
@virdesai Thanks for the explanation. sadly is not acceptable from UX point. Will there be any update from your side to overcome this?

[2021-01-12 03:50] lokewk opened #484 "download image attachments"
We noticed there is no function to download image attachment.
if there is, we may have over looked it.
Please advise.

gz#8559

[2021-01-12 04:00] shodgetts commented on #484
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8559'>Zendesk ticket #8559</a>:<br><br>Hi

Thanks for reaching out to us.
We will get back to you soon.

Cheers
Stream Team

[2021-01-12 22:19] XavierJ03 commented on #461
@nhannah @vishalnarkhede @josemak25 Do you have a fix for this issue, I can also request a PR.

[2021-01-12 23:21] shodgetts commented on #480
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/8497'>Zendesk ticket #8497</a>:<br><br>Hello, this is related to our online presence which updates every 15 minutes internally. We have plans on our product roadmap to improve online presence in Q1 of this year, so we will try to address these sort of problems.

[2021-01-13 10:09] vishalnarkhede commented on #461
@XavierJ03 Will get back soon on this :)

[2021-01-13 10:09] vishalnarkhede commented on #480
Closing this issue for now!!

[2021-01-13 10:09] #480 closed

[2021-01-13 10:16] vishalnarkhede commented on #484
@lokewk Unfortunately we don't have image download functionality. So far we were dependent on this external library for image viewer - https://github.com/ascoders/react-native-image-viewer#readme

Last time I checked, `saveToLocalByLongPress ` prop on this component didn't work properly, so we kept this feature disabled - https://github.com/GetStream/stream-chat-react-native/blob/master/src/compon

[2021-01-13 10:20] vishalnarkhede commented on #479
@lokewk I guess thats a platform limitation. We use this library for file picker functionality, which is pretty standard library in RN community - https://github.com/rnmods/react-native-document-picker

[2021-01-13 12:12] vishalnarkhede commented on #482
Hey @haivle just to confirm, can you please share your yarn.lock file?

[2021-01-13 13:08] vishalnarkhede commented on #455
Please reopen if you have more questions @decamps-enmanuel :)

[2021-01-13 13:08] #455 closed

[2021-01-13 13:16] vishalnarkhede commented on #146
@rodrigowpl  You can check this component, on how we do it in upcoming SampleApp for our chat product :)
https://github.com/GetStream/stream-chat-react-native/blob/v2-designs/examples/SampleApp/src/components/UnreadCountBadge.tsx#L23

[2021-01-13 23:00] haivle commented on #482
[yarn.txt](https://github.com/GetStream/stream-chat-react-native/files/5811444/yarn.txt)

[2021-01-14 11:53] vishalnarkhede commented on #482
Hey @haivle I see that you are using `@carrybible/react-native-stream-chat` instead of `stream-chat-react-native`. Could you please switch and check again. Or could you tell me why you are using this other package? We don't maintain @carrybible/react-native-stream-chat package.

[2021-01-14 22:04] haivle commented on #482
@vishalnarkhede we made some custom hooks and add some custom props, so we forked from your repo. we renamed the package for our internal naming convention. We sync the repo frequently with your upstream. Can you help us to take a look into the fork to see the part that fix the duplicate children key is correctly merged?

We have received your email and make it the repo private asap.
Thanks

[2021-01-15 01:20] builtbyproxy opened #486 "Deactivated Chat User still receiving information"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version:
	- `"stream-chat": "^1.7.2"`
	- `"stream-chat-react-native": "^0.10.0"`
- react-native or expo version:
	- `"react-native": "0.61.5"`
- Device/Emulator (android/ios) and OS version
	- `iPhone X - 12.4`

**To Reproduce**
Steps to

[2021-01-15 01:40] shodgetts commented on #486
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8638'>Zendesk ticket #8638</a>:<br><br>Hi

Thanks for reaching out to us.
We will get back to you soon.

Cheers
Stream Team

[2021-01-15 01:42] builtbyproxy commented on #486
thanks @shodgetts
I recognise it's a difficult one to debug given it's a production environment with no public code, but any help is appreciated! Currently a black hole of working network requests when everything I see is failing 😂

[2021-01-15 02:44] shodgetts commented on #486
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8638'>Zendesk ticket #8638</a>:<br><br>Hi

A deactivated user cannot connect to Stream chat, probably you might want to deactivate and disable UI / disconnect as well.
Also, you might want to call `channel.stopWatching()` as this user (Deactivated Richard) is not unsubscribed from the channel yet.

I will let the Rea

[2021-01-15 04:21] builtbyproxy commented on #486
Thanks for getting back to me!

I'll have a look on my end about implementing that. Could you please explain why a user could still be securely subscribed to a channel when they are deactivated?
That goes against the definition of deactivation, not to mention seems like a huge security risk

Thanks!

[2021-01-15 17:41] marcod1419 commented on #206
My team and I would like to see support for this, is it still in development?

[2021-01-18 12:48] rodrigowpl opened #489 "How to send custom push notification template with custom title based on some if statement"
First of all, really sorry to break your PR template but I think it is for a good reason and it will also help others

I'm checking your docs related to push templates
https://getstream.io/chat/docs/push_template/?language=js

And I see you have support to if/else statements. But can you please provide more examples of how this works?

Let me show you one edge case that I need:

I need to send a c

[2021-01-18 14:27] ferhatelmas commented on #489
dup

[2021-01-18 14:27] #489 closed

[2021-01-18 14:29] ferhatelmas commented on #489
For the sake documentation, `{{#if message.promptMessage}}send X{{else}}send Y{{/if}}` because custom fields are accessible in the push context,

[2021-01-18 14:36] ferhatelmas commented on #489
By the way, it seems you use time as id such that `id: new Date().getTime().toString()`. I suggest not doing it because time isn't trustful in distributed systems. If you don't have a good scheme to generate ids, let the server generate for you.

[2021-01-18 14:54] rodrigowpl commented on #489
thanks @ferhatelmas

[2021-01-18 18:57] isabellaskc commented on #473
Hi? Is the video helpful? Were you able to get the gist of the mentioned issue?

@vishalnarkhede

[2021-01-19 14:52] rodrigowpl commented on #452
@ferhatelmas @vishalnarkhede The push notifications still seems unstable. It was working, for instance, yesterday and now it's not. And the weird thing is not all devices are receiving it. For ex: I'm talking to someone 1-1 chat, the other guy is receiving but I'm not.

Could you please check your internal logs? I'm not seeing anything in my side

[2021-01-19 15:11] rodrigowpl commented on #451
Thanks @vishalnarkhede tested and it's working.

We can close this issue. But I would kindly suggest to put this more clear in your documentation. Thanks!

[2021-01-19 19:17] vishalnarkhede commented on #451
Thanks for the feedback @rodrigowpl :)

[2021-01-19 19:17] #451 closed

[2021-01-22 11:57] himanshi7046 commented on #114
how can we show popup of choose image from photo or camera

[2021-01-22 12:56] vishalnarkhede commented on #114
@himanshi7046 I will setup an example in cookbook on how to do it :)

[2021-01-22 15:59] bojans1005 opened #494 "Not receiving messages after app comes from background"
**Describe the bug**
When the app comes from background after a long time, user is not receiving the messages anymore

**Dev environment info:**

- stream-chat-react-native: 2.1.1
- react-native: 0.62.2
- Device/Emulator: ios emulator

**To Reproduce**
Steps to reproduce the behavior:

1. Chat working fine with other user
2. Open another app or force the app to backgorund
3. After some time, open

[2021-01-22 16:25] shodgetts commented on #494
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8812'>Zendesk ticket #8812</a>:<br><br>Hi,

Thanks for reaching out. The web socket is automatically disconnected after a set amount of time when you background the App.

Please reference this doc on web socket behavior and set up related to when the App is backgrounded - https://github.com/GetStream/stream-c

[2021-01-22 16:38] bojans1005 commented on #494
I also tried that
[code]

It seems `chatClient.wsConnection.disconnect();` is working as I don't receive messages immediately after app goes to background, but `chatClient._setupConnection();` is not working

If I have these code disabled, I get messages if I return to the app from background within 10~15 seconds, but with this enabled, I don't receive any messages immediately

[2021-01-23 01:46] rodrigowpl commented on #452
@ferhatelmas @vishalnarkhede

After our last call, we've tried some implementation details. But without success.

Here is my final feedback:

**StreamChat** is the better chat API I've ever seen, it works pretty well.

But unfortunately StreamChat API is not **reliable** for **push notifications**.
Is not possible to understand why some devices receive and some not. There's no log. Nothing.

Maybe

[2021-01-23 07:24] vishalnarkhede commented on #452
@rodrigowpl I am setting up an example now, to reflect the scenario of real-life application.

[2021-01-25 09:08] himanshi7046 commented on #114
Can you please provide example as soon as possible

[2021-01-25 18:33] bojans1005 commented on #494
@shodgetts do you have any idea on this?

[2021-01-26 07:28] vishalnarkhede commented on #494
Hey @bojans1005 just to confirm something regarding the code that you shared above - both if and else condition are same. Did you try fixing it?

[2021-01-26 14:24] Matti93GL opened #498 "Double brackets break creating an empty bubble when entering the chat"
**Describe the bug**
When a message is sent with [][] regardless of the content that is put into it, when it is sent an empty bubble is seen inside the chat

**Dev environment info

- Package version `"stream-chat-react-native": "^2.1.0",`
- `"react-native": "0.62.2",`
- IOS and Android

**To Reproduce**
Steps to reproduce the behavior:

1. Enter to the chat
2. Write a message with [][]
3. Send th

[2021-01-26 14:48] SeniYG commented on #498
Hi,

Thanks for reaching out.
Are you using the MessageInput and ChannelList default components?

Best,

[2021-01-26 14:50] Matti93GL commented on #498
Hi @SeniYG yes, we are using the defaults

[2021-01-26 15:04] bojans1005 commented on #494
@vishalnarkhede the conditions are not same, first part is for app coming from background to active, `else if` part is for app going to background from `active` status

[2021-01-26 15:07] Matti93GL commented on #498
@SeniYG the issue happend on the stream-chat-react-native expo example too

[2021-01-26 15:14] vishalnarkhede commented on #494
@bojans1005 pardon me, I misread the code at first. Thats why I deleted my previous comment :)

[2021-01-26 15:15] bojans1005 commented on #494
@vishalnarkhede no problem

[2021-01-26 16:11] vishalnarkhede commented on #494
@bojans1005 Could you please share rest of the code as well? Around StreamChat and chat components

[2021-01-26 17:23] bojans1005 commented on #494
@vishalnarkhede
[code]

[2021-01-26 17:27] bojans1005 commented on #494
@vishalnarkhede is there any way we can get real time support?
we are very tight in timeline and will have to cancel subscription and look for other solutions if this can't be solved soon

[2021-01-26 18:44] AustinWood commented on #494
+1 fixing this is critical to using StreamChat for our business

[2021-01-26 20:19] vishalnarkhede commented on #498
@Matti93GL This has been fixed in `v2.1.3`

[2021-01-26 20:19] #498 closed

[2021-01-26 20:21] vishalnarkhede commented on #494
@bojans1005 Please get in touch with support@getstream.io

[2021-01-26 20:23] bojans1005 commented on #494
@vishalnarkhede thanks

[2021-01-26 20:27] vishalnarkhede commented on #494
@bojans1005 could you please also share ChatClientService?

[2021-01-26 20:29] bojans1005 commented on #494
[code]
This is what I got from slack clone repo

[2021-01-26 20:32] bojans1005 commented on #494
Here is the part where I create chat client on App.js

[code]

[2021-01-26 20:44] vishalnarkhede commented on #494
@bojans1005 IWhere is the `client.setUser` call?

[2021-01-26 20:45] bojans1005 commented on #494
@vishalnarkhede
That is done when login succeeds

[code]

[2021-01-26 23:29] 6ewis commented on #452
@vishalnarkhede when will the working example be available?

[2021-01-27 11:42] rodrigowpl commented on #146
hey guys, just an update:
This solves the problem very well:
https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-(2.x.x)#caveats

@charltongroves in the `wait client._setupConnection()` response you can get the unread counter updated

@vishalnarkhede I think we can close this issue

[2021-01-27 13:14] vishalnarkhede commented on #452
Hey @6ewis @rodrigowpl It will be ready by end of week.

[2021-01-28 01:03] rodrigowpl opened #500 "How can I disable "searching people" (Mention) in the Message Input?"
How can I disable this?
![image](https://user-images.githubusercontent.com/18172307/106074876-63084700-60eb-11eb-83dd-081820288ae8.png)

I don't want to appear that box when type '@'

Thanks!

gz#8939

[2021-01-28 01:29] shodgetts commented on #500
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8939'>Zendesk ticket #8939</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you.

Cheers
Stream Team

[2021-01-28 04:35] bojans1005 commented on #494
@vishalnarkhede
can this be related to https://github.com/GetStream/stream-chat-react-native/issues/451#issuecomment-744475053?
or is it already resolved?

[2021-01-28 13:52] vishalnarkhede commented on #500
@rodrigowpl Do you only want to turn off mentions, or commands as well?

[2021-01-28 13:58] vishalnarkhede commented on #494
@bojans1005

This was recently fixed within stream-chat package.

One of the common reasons that we have seen around the issue that you are facing is - having multiple websocket connections due to some wrong integration. We have published `stream-chat@2.12.0` which introduces singleton pattern on client.

So I would recommend you to upgrade to stream-chat@2.12.0 and initiate the client as followin

[2021-01-28 14:03] vishalnarkhede opened #502 "Chat hooks proposal"
Please check this discussion thread : https://github.com/GetStream/stream-chat-react-native/discussions/501#discussion-2227864

gz#8960

[2021-01-28 14:08] #502 closed

[2021-01-28 15:27] bojans1005 commented on #494
@vishalnarkhede
it still does not work
I guess socket connection is still alive as I get user is typing message on web app, when I am typing on mobile, but mobile socket does not receive message events somehow

[2021-01-28 15:33] bojans1005 commented on #494
@vishalnarkhede
number of users online becomes 1 (from 2) when I call `chatClient.wsConnection.disconnect();` but does not get updated back to 2 when I call `chatClient._setupConnection();`
I wonder how I get `user is typing` message even when online user count is 1 (web app user only)

[2021-01-28 16:30] 6ewis commented on #500
@vishalnarkhede how to turn off mentions, and/or commands?

[2021-01-28 17:18] rodrigowpl commented on #500
both @vishalnarkhede

[2021-01-29 11:25] vishalnarkhede commented on #500
Hey @rodrigowpl , you will need to add a custom `Input` component on `MessageInput` and disable `triggerSetting` prop

[code]

[2021-01-29 11:31] vishalnarkhede commented on #494
Hey @bojans1005 could you send me a copy of logs, when you call `_setupConnection`? You need to use logger available on js client - https://github.com/GetStream/stream-chat-js/blob/master/docs/logging.md#logging

[code]

[2021-01-29 11:35] vishalnarkhede commented on #500
@rodrigowpl Let me know if that works for you!!

[2021-01-29 12:43] vishalnarkhede commented on #375
@damithsynapsys So as part of recent investigation, we noticed few caveats around file uploads:

- Flipper interferes with file uploads on android, so please make sure you have updated version of flipper - where they have fixed the network interceptors
- Chrome debugger also interferes with upload requests on android. So please try testing without chrome debugger.

Please let me know if that fixes

[2021-01-29 13:55] rodrigowpl commented on #500
@vishalnarkhede it worked! Thanks.

Suggestion to put this in your cookbook. Things like that are really hard to figure in your component reference docs :D

Thanks for your help!

[2021-01-29 13:55] #500 closed

[2021-01-29 14:04] vishalnarkhede commented on #500
Thanks @rodrigowpl , added to cookbook, for other's benefit ;)

[2021-01-29 14:32] shodgetts commented on #486
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/8638'>Zendesk ticket #8638</a>:<br><br>Hey,

We have raised this issue with our backend team, and we will do a followup soon.
Thanks for bringing this to our attention.

Thanks,
Vishal

[2021-01-29 14:46] #484 closed

[2021-01-29 14:50] shodgetts commented on #484
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/8559'>Zendesk ticket #8559</a>:<br><br>Hey ,

I am going to go ahead and close this ticket for now. Please let us know if you have any more questions.

Thanks,
vishal

[2021-01-29 17:00] bojans1005 commented on #494
@vishalnarkhede
[code]

It seems socket receives the message also

[code]

But UI is not refreshing even when socket receives message

[2021-01-29 20:45] 6ewis commented on #452
@vishalnarkhede any update on this one please?

[2021-01-30 16:17] vishalnarkhede commented on #452
Hey @6ewis @rodrigowpl Due to ongoing projects, I couldn't yet do much progress on setting up push related resources. Really sorry about that. What I want to do is not just setup an example, but cover some production-app scenarios as @rodrigowpl mentioned and improve the docs around push to avoid the issues that you had in future. So this will need to wait another week.

But I can imagine urgency

[2021-01-31 22:02] builtbyproxy commented on #486
Thanks for the response @shodgetts

[2021-02-01 04:19] bojans1005 commented on #494
@vishalnarkhede I found one possible issue causing this
Initially when I get channel  chatClient has one active channel with `id` value undefined

![image](https://user-images.githubusercontent.com/67975929/106414411-41ff7780-6498-11eb-9293-2ad5be69e3a5.png)

But after some time, I find that there are 2 channels exactly same with different keys on activeChannels

![image](https://user-images.githu

[2021-02-01 04:22] bojans1005 commented on #494
@vishalnarkhede I can see this is happening at some point when this api call is made by chat client
[code]

[2021-02-01 17:46] croche-gl commented on #148
I'm seeing this behavior again on android devices. stream-chat version 2.9.0

[2021-02-02 10:14] vishalnarkhede commented on #494
Hey @bojans1005 , thanks for this info. I am looking into it now

[2021-02-02 13:58] croche-gl opened #507 "Messages not being auto marked as read while inside channel on android"
When you open a channel, it immediately marks all messages as read. However, if you stay in that channel and talk to someone, all of the messages that get sent in that channel will stay marked as 'unread' until you re-open the channel.

This doesn't make much sense, if you have a channel open, then presumably you are reading the messages that are coming through, so these messages should be auto ma

[2021-02-02 14:40] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>Hi,

Thanks for reaching out. I will look into this and get back to you shortly.

Best,
Ryan

[2021-02-02 15:25] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>Hey, which version of the Stream React-Native SDK are you using? I see you put down package version 2.9.0, which I am guessing relates to your emulator, since we are currently at 2.1.4 for our React-Native SDK releases. Also, please let me know which organization you are

[2021-02-02 15:28] croche-gl commented on #507
"stream-chat": "^2.9.0",
"stream-chat-react-native": "^2.1.3",
"stream-chat-react-native-core": "^2.1.1"

[2021-02-02 15:30] croche-gl commented on #507
I am from K4connect organization

[2021-02-02 17:07] jaimebiernaski opened #508 "Testing with Jest - SyntaxError: Cannot use import statement outside a module"
**Describe the bug**

It is not possible to test using  `Stream` with `Expo + Jest + React Native Testing Library`, even on the tutorial example, due the following error:

    /.../node_modules/stream-chat-expo/src/index.js:1
    import { registerNativeHandlers } from 'stream-chat-react-native-core';
    ^^^^^^

    SyntaxError: Cannot use import statement outside a module

**Dev environment info

[2021-02-02 17:12] klougod commented on #508
Same thing happening over here, would help a lot a solution for this!

[2021-02-02 17:36] shodgetts commented on #508
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9075'>Zendesk ticket #9075</a>:<br><br>Hi,

Thanks for reaching out. I am not as familiar with JEST, so I may need to redirect this internally, but looking at this error message it looks like there is quite a bit of information back from JEST. It also looks like you have import errors and there isn't a userTo

[2021-02-02 18:19] jaimebiernaski commented on #508
This exact same error occurs when testing our production app, with all the required setup. This erro impacts just the testing process, not the app itself.

[2021-02-02 19:33] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>Sounds good. Thank you for providing this information. Could you please upgrade you react-native sdk to 2.1.4 and see if the problem persists?

[2021-02-02 20:03] croche-gl commented on #507
I tried that but, unfortunately, the error stills there

[2021-02-02 21:24] virdesai commented on #508
@jaimebiernaski could you try to add this to your jest setup
`
    "transformIgnorePatterns": [
      "node_modules/(?!react-native|stream-chat-react-native-core)"
    ]
`

[2021-02-02 23:39] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>Could you please check the `read_events` value under client.configs? It should be set to true. Out of the box, Stream chat does not have this behavior and it shouldn't be the case, so best guess is something happened to the config file at some point.

[2021-02-03 06:12] damithsynapsys commented on #375
I have updated to 0.69.0 and the file upload started to work.

[2021-02-03 07:43] mikevercoelen opened #509 "The styleguidist docs are offline"
Title says it all, please help out

gz#9095

[2021-02-03 09:37] vishalnarkhede commented on #509
Thanks for bringing it to our attention. It has been fixed :)

[2021-02-03 09:37] #509 closed

[2021-02-03 13:20] croche-gl commented on #507
where is that "client.configs" file located? I don't see it on your code.

[2021-02-03 13:44] croche-gl commented on #507
I checked using "channel.getConfig().read_events" and it always true on android and also on ios.

[2021-02-03 16:34] dakshbhardwaj opened #510 "UX Bug - styling of "searching people" (Mention) in the Message Input?"
How can i change the styling of searching people in Message input ?

<img width="832" alt="Screenshot 2021-02-03 at 10 00 04 PM" src="https://user-images.githubusercontent.com/22423684/106777838-5c3d7f00-666b-11eb-8e75-534c2211bcd4.png">

**Dev environment info

Package version "stream-chat-react-native": "2.1.2",
"react-native": "0.63.2",
IOS and Android

gz#9106

[2021-02-03 16:36] vishalnarkhede commented on #510
Hey @dakshbhardwaj what kind of styling you want to do?

fyi ... we don't promise landscape support on components

[2021-02-03 16:41] dakshbhardwaj commented on #510
Hi @vishalnarkhede

customising the styling of the search people for landscape , so that we can click on the first member.

[2021-02-03 16:48] vishalnarkhede commented on #510
@dakshbhardwaj You can use customize the theme object

[code]

[2021-02-03 16:52] vishalnarkhede commented on #494
@bojans1005 I have published a patch - v2.2.1. Can you please upgrade and check?

[2021-02-03 16:53] vishalnarkhede commented on #482
@haivle do you still need help here?

[2021-02-03 16:55] dakshbhardwaj commented on #510
it worked thanks

[2021-02-03 16:56] #510 closed

[2021-02-03 17:18] jaimebiernaski commented on #508
Hi @virdesai, I've tried but it didn't solve the issue.

Some days ago I've tried with this version of transformIgnorePatterns with `|stream-chat-expo|@stream-chat-expo/.|stream-chat-react-native-core|@stream-chat-react-native-core/.`

[code]

But it gives the error

[code]

It seems don't find the components. I guess this issue could be related to some `transform`, `moduleNameMapper`  or `preset`

[2021-02-03 17:32] #461 closed

[2021-02-03 19:31] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>Sure thing. Our docs pages on Client & Users for react-native can guide you here - https://getstream.io/chat/docs/react-native/init_and_users/?language=js. Please let me know if you have any questions. Also, feel free to reach out to support@getstream.io. You company is

[2021-02-03 19:53] croche-gl commented on #507
that doc page just talk about additional options like timeout or a url, does not mention the other options. Could you please provide me a url to that options? Also you said "Stream chat does not have this behavior and it shouldn't be the case" are you talking about to mark automatically the messages on the list like readed?

[2021-02-03 20:19] shodgetts commented on #507
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9069'>Zendesk ticket #9069</a>:<br><br>This request was closed and merged into request #9118 "Messages not being auto marked a...".

[2021-02-03 20:26] virdesai commented on #508
@jaimebiernaski just want to test something before trying to make moves on our SDK side with our build process. can you try to go back to the point where the error was the package.json import. then go to `node_modules/stream-chat-react-native-core/lib` and creating a simple `package.json` like this and letting me know if that gets you past this error?
[code]
the directory structure of `lib` should

[2021-02-03 21:06] joseponsvega opened #511 "Cannot attach photos on Android"
**Describe the bug**
Cannot upload photos on Android using stream/expo.

**Dev environment info (please complete/provide the following information):**

"expo": "^40.0.0"
"stream-chat-expo": "2.2.1"
"react": "16.13.1",
"react-native": "https://github.com/expo/react-native/archive/sdk-40.0.0.tar.gz",

Reproduced on:

Google Pixel (Android 10)
Galaxy A20 (Android 10)

**To Reproduce**
Steps to reprod

[2021-02-03 21:40] bojans1005 commented on #494
@vishalnarkhede I tested with new version but it's still same

![image](https://user-images.githubusercontent.com/67975929/106813109-4dcb8380-66bc-11eb-8b44-c570efc09926.png)

[2021-02-03 22:14] jaimebiernaski commented on #508
Just a note: we are using the library  `"stream-chat-expo": "^2.0.0"`, provided by you and running the tests over the example available in the [stream website](https://getstream.io/chat/react-native-chat/tutorial/).  Is that relevant? Our project require using this libraries, once we are using expo in our apps...

[2021-02-04 02:03] vishalnarkhede commented on #494
@bojans1005 This is a different thing, just needs a bit of cleanup in js client during recovery, but its not really a concern here. Are you still not able to see updated channels on UI?

[2021-02-04 02:37] bojans1005 commented on #494
@vishalnarkhede I still don't receive messages when I come from background
In streamchat console, I can see messages arriving, but the UI is not being updated, I thought because there are multiple active channels, maybe the message is sent to the other channel

[2021-02-04 11:39] jaimebiernaski commented on #508
Hi @virdesai, I've tried the add the `package.json` an got different results :-)

[code]

The test passed, but it generate some errors related to the `Channel` and `Chat.tsx`

[code]

Here is the Jest config

[code]

[2021-02-04 19:37] virdesai commented on #508
@jaimebiernaski does that fail your test or do your tests successfully pass? we have updates coming in general to a lot of components which may fix this but want to ensure we're getting your tests to pass at a base level first, isolated of warnings

[2021-02-05 04:25] builtbyproxy commented on #486
Just want to check in on this and see how it's going?
Thanks

[2021-02-05 08:38] bojans1005 commented on #494
![image](https://user-images.githubusercontent.com/67975929/107009795-3b973580-67e1-11eb-914f-0b7b9bb1c1d6.png)
This is log when I go to background and come back, it seems connection is re-established but ui is not being updated

Can this be related to the multiple channels created?

[2021-02-05 10:32] mikevercoelen opened #514 "Opening camera NOT gallery"
Clicking the camera icon doesn't open the camera app to make a photo directly, but the gallery.

How do I make this work?

gz#9181

[2021-02-05 10:58] bojans1005 commented on #494
@vishalnarkhede I made some changes on stream chat typescript code, how can I build it and test it?

[2021-02-05 15:20] bojans1005 commented on #494
@vishalnarkhede I made a PR on `stream-chat-js` library, can you please check it?
https://github.com/GetStream/stream-chat-js/pull/610

[2021-02-05 16:55] jaimebiernaski commented on #508
@virdesai, I still can not run tests without errors... Add package.json just solve part of it...  I'm still getting errors/warning related to the stream libs. Not sure if its a matter of setup, but this is occurring when stream components are used. Some setup needed besides that ones in my last comment in order to avoid this kind of issues?

[code]

[2021-02-05 17:16] virdesai commented on #494
@bojans1005 if you pull these SDKs locally you can change the package.json version number to `"stream-chat": "link:../path/to/stream-chat-js-SDK"` and for your app you can change the `"stream-chat-react-native": "link:../path/to/stream-chat-react-native-SDK"`

[2021-02-05 17:23] virdesai commented on #494
@bojans1005 if you can get this local linking setup for testing, try to add this to `src/components/ChannelList/hooks/usePaginatedChannels.ts` and see if it fixes the problem
[code]

[2021-02-05 17:29] klougod commented on #508
@virdesai Hi, after looking up, I realized that this issue may be resolved by shipping the library transpiled instead of leaving it to be built in the user side although it is possible to make jest compile libs using transform and adding presets, but its a complicated way and until now I could not make it work.

[2021-02-05 19:06] virdesai commented on #508
@jaimebiernaski I'll try to look into this more at some point but I'm not sure if you're going to need to mock up a lot of stuff like we did within our tests for creating clients/channels with the API mocking too here https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/Channel/__tests__/Channel.test.js

[2021-02-06 05:42] vishalnarkhede commented on #494
@bojans1005 Do you only use Channel component or also use ChannelList component?

[2021-02-06 06:30] #479 closed

[2021-02-06 06:31] shodgetts commented on #479
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/8428'>Zendesk ticket #8428</a>:<br><br>Hey,

I am closing this ticket for now. Please let us know if you have more questions.

Thanks,
Vishal

[2021-02-06 14:50] bojans1005 commented on #494
@vishalnarkhede I only use channel component but not channel list
our business logic for chat is admin vs users, and not allow chat users vs users

[2021-02-07 10:21] vishalnarkhede commented on #494
@bojans1005 thanks for the response. I can see the issue now!!

[2021-02-07 10:47] bojans1005 commented on #494
@vishalnarkhede did you check my PR on `stream-chat-js` repo?
That did not completely solved my issue, but at least avoid multi channels getting created
I found that `user_id` was `undefined` on query response

https://github.com/GetStream/stream-chat-js/pull/610/files#diff-5b3bc0170c6b446a9fc0ef2adfe40432447d1716c48b63cdf212cfa96a77b20bR1254

[2021-02-07 15:06] vishalnarkhede commented on #494
@bojans1005 Could you please try v2.2.2 of stream-chat-react-native and see if that fixes the issue for you?

[2021-02-08 06:25] mikevercoelen opened #516 "Top margin on the first message"
<img width="608" alt="Screenshot 2021-02-08 at 14 24 23" src="https://user-images.githubusercontent.com/3009836/107183250-68359200-6a19-11eb-88d2-361bcc71d9bb.png">

In the first message here I would like to add top margin, to give it some space.

I tried adding top margin to the inner container but that's not nice because it's not within the scroll

gz#9214

[2021-02-08 06:28] #516 closed

[2021-02-08 06:34] mikevercoelen opened #517 "EmptyPlaceholder not showing with deleted messages"
My app doesn't show "this message has been deleted" messages, I hide them manually.

I do want to show the EmptyPlaceholder but it's not working correctly because `MessageList.tsx` is basing the empty state on `messageList.length`, the `messageList` also contains deleted messages>

`MessageList.tsx` there's this piece of code:

[code]

How can make it work? Is there an options somewhere to NOT loa

[2021-02-08 09:34] bojans1005 commented on #494
@vishalnarkhede it works now, thanks for your help

[2021-02-08 09:42] vishalnarkhede commented on #494
Glad to hear that !! :)

[2021-02-08 09:42] #494 closed

[2021-02-08 10:09] bojans1005 commented on #494
@vishalnarkhede please check my PR for stream chat library
https://github.com/GetStream/stream-chat-js/pull/610
That might also help preventing multiple channels created when creating channel from member list

[2021-02-08 12:21] vishalnarkhede commented on #517
@mikevercoelen this is something, which can easily be handled on app level. If you take an example of our [NativeMessaging](https://github.com/GetStream/stream-chat-react-native/blob/master/examples/NativeMessaging/App.js) app -

[code]

[2021-02-08 15:49] #517 closed

[2021-02-08 21:42] shodgetts commented on #486
The team is working on a solution to disconnecting websockets for users who have been deactivated, so solid ETA on the release though.

[2021-02-08 23:04] builtbyproxy commented on #486
Amazing to hear this! Thank you very much @shodgetts and team!

[2021-02-09 08:26] mikevercoelen commented on #494
@vishalnarkhede even with the latest version I'm still having issues, something is broken and it's pretty bad.

What's happening is:

Editing / reactions are working fine until the app is hidden, so no longer in focus, and wait for about 1 / 2 minutes and then open the app again and start editing / posting reactions.

The changes ARE being made, but they aren't updated in the UI.

Checkout this vi

[2021-02-09 08:27] mikevercoelen opened #519 "Urgent: editing or reacting messages are NOT updated correctly"
Editing / reactions are working fine until the app is hidden, so no longer in focus, and wait for about 1 / 2 minutes and then open the app again and start editing / posting reactions.

The changes ARE being made, but they aren't updated in the UI.

These are the versions I'm on:

[code]

Here's a video:

https://user-images.githubusercontent.com/3009836/107336082-b028e780-6af3-11eb-9b98-74e722b28

[2021-02-09 11:20] mikevercoelen commented on #519
@vishalnarkhede can we please get some feedback? We're paying big bucks for GetStream, and it's crucial for our business that it works correctly.

[2021-02-09 13:46] SeniYG commented on #519
Hi @mikevercoelen , sorry for the delay here. Our React-Native developers are kept busy with some pressing issues.
They'll jump here to help you shortly as soon as they can.
Best,

[2021-02-09 14:08] mikevercoelen commented on #519
@SeniYG Understood, would be great if you can confirm that this is an issue on your end

[2021-02-09 14:37] dakshbhardwaj opened #520 "How can i stop sending empty messages?"
How can i stop sending empty messages?

I have tried by triming the value but thats stop the attachement going on.

![Simulator Screen Shot - iPhone 11 - 2021-02-09 at 20 05 09](https://user-images.githubusercontent.com/22423684/107468802-ae603200-6b8e-11eb-85ae-e88e3e411e8a.png)

gz#9291

[2021-02-09 14:51] #382 closed

[2021-02-09 15:42] shodgetts commented on #520
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/9291'>Zendesk ticket #9291</a>:<br><br>Hi there,

Can you please send over which version of the SDK you're using?

[2021-02-09 15:47] vishalnarkhede commented on #520
@dakshbhardwaj could you please also share code around Stream's chat components?

[2021-02-09 15:50] dakshbhardwaj commented on #520
versions ,
"stream-chat": "2.11.1",
"stream-chat-react-native": "2.2.2",
"react-native": "0.63.2"

code around

 [   <TouchableOpacity
          style={styles.sendButton}
          onPress={() => {
            props.sendMessage && props.sendMessage();
          }}>
          <Image source={sendMessage} />
        </TouchableOpacity>](url)

   using the props of messageInput

[2021-02-09 16:00] dakshbhardwaj commented on #520
ZenDesk link is not working

[2021-02-09 16:25] jaimebiernaski commented on #508
Ok @virdesai, it would be greate to have this working with no problems. This erros just occurs when components are imported from `stream-chat-expo` in the code
[code]
I've mocked and tested the `stream-chat` with no problems.
[code]

[2021-02-09 22:29] joseponsvega commented on #511
@vishalnarkhede is there any other info that would help with this bug? Thanks!

[2021-02-10 06:32] vishalnarkhede commented on #520
@dakshbhardwaj Could you please show code around input box as well?

[2021-02-10 06:57] dakshbhardwaj commented on #520
[<View style={styles.container}>
        <View style={styles.leftContainer}>
          <AutoCompleteInput
            {...props}
            additionalTextInputProps={{
              maxLength: maxTextLimit,
              multiline: true,
              style: styles.textInput,
              placeholder: props.placeholder,
              placeholderTextColor: 'rgba(0,60,67,0.6)',
              autoC

[2021-02-10 13:45] wodow opened #521 "StreamChat error code 4: UploadImage when adding image to message before send"
**Describe the bug**
When attempting to upload an image using default `<MessageInput />` I receive the error

[code]

**Dev environment info (please complete/provide the following information):**

- `stream-chat: "^2.12.0"`
- `stream-chat-expo: "^2.2.2"`
- `expo: "~40.0.0",`
- iPhone Xs with iOS 14.4

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Chat
1. Click on + and add photo
1. I

[2021-02-10 13:54] vishalnarkhede commented on #520
@dakshbhardwaj you can just disable send button, if text is empty

[code]

[2021-02-10 14:16] dakshbhardwaj commented on #520
@vishalnarkhede that is stopping the attachement to be send  if  put  the check for props.value

[2021-02-10 15:55] wodow commented on #521
I can see the app make a POST to `https://chat-us-east-1.stream-io-api.com/channels/messaging/!members-<rest-of-channel-id>/image?...` with

* `Content-Type: application/json;charset=utf-8`
* request payload of `{_parts: ["file", {uri, name, contentType, type}]}`
  *   in which `contentType` and `type` are both `"image/jpeg"`.

The response is HTTP 400 with body:

[code]

Could it be a mismatch be

[2021-02-11 08:04] vishalnarkhede commented on #519
@mikevercoelen I am checking right now :)

[2021-02-11 08:13] vishalnarkhede commented on #519
@mikevercoelen Could you please share some code around Chat components?

[2021-02-11 08:15] mikevercoelen commented on #519
What exactly?

[2021-02-11 08:16] mikevercoelen commented on #519
Got whatsapp: +31611186123

[2021-02-11 08:17] vishalnarkhede commented on #519
- How you initiate chat client or channel
- Which components are you using from RN sdk
- Do you have any AppState related implementation
- What kind of custom components are you using etc.

[2021-02-11 08:21] vishalnarkhede commented on #519
Basically I just want to replicate the issue that you are referring to!!

[2021-02-11 08:23] mikevercoelen commented on #519
I can invite you to our repo, that would prob be easiest

[2021-02-11 08:24] vishalnarkhede commented on #519
@mikevercoelen sure :)

[2021-02-11 08:25] mikevercoelen commented on #519
Got slack / email / whatsapp to communicate directly, that makes it easier?

[2021-02-11 08:27] vishalnarkhede commented on #519
support@getstream.io

[2021-02-11 08:30] vishalnarkhede commented on #519
@mikevercoelen  Could you please point me to Chat related functionality in your repository? Or screen where you import components from stream-chat-react-native

[2021-02-11 08:32] mikevercoelen commented on #519
Mailed

[2021-02-11 13:08] shodgetts commented on #521
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/9319'>Zendesk ticket #9319</a>:<br><br>Hey,

Could you please test image upload feature in one of our example apps, and see if you are able to replicate the issue?
https://github.com/GetStream/stream-chat-react-native#expo-example

Thanks,
Vishal

[2021-02-11 15:12] jaredpiedt opened #522 "initialValue not working as expected in MessageInput component"
**Describe the bug**
When setting `initialValue` prop on the `MessageInput` component, it doesn't populate the input box with the provided text.

**Dev environment info (please complete/provide the following information):**

- stream-chat-expo: `2.2.2`
- expo: `40.0.0`
- iOS 14.2

**To Reproduce**
Steps to reproduce the behavior:

1. Set `initialValue` prop on `MessageInput` container:
[code]

**E

[2021-02-11 15:46] shodgetts commented on #522
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/9363'>Zendesk ticket #9363</a>:<br><br>Hi there,

You'll actually need to customize the autoCompleteInput component to achieve your desired results. I'll link you to that documentation here: https://getstream.github.io/stream-chat-react-native/#autocompleteinput.

[2021-02-11 20:28] virdesai commented on #508
@jaimebiernaski the wrapping act warnings that are being thrown shouldn't be causing any actual issues. we see those in tests as just stuff piped out into the console but not stopping it from working

[2021-02-11 21:01] jaredpiedt commented on #522
@shodgetts will `initialValue` from the `MessageInput` component be propagated through in the `value` prop for `AutoCompleteInput`?

[2021-02-11 21:08] jaimebiernaski commented on #508
@virdesai, so our best solution for making the

**Stream & Expo + Jest + React Native Testing Library**

work together is:

1. Use the `transformIgnorePatterns` proposed by  us in this [comment](https://github.com/GetStream/stream-chat-react-native/issues/508#issuecomment-773243858);
2. [Generate](https://github.com/GetStream/stream-chat-react-native/issues/508#issuecomment-772799433) a `package.j

[2021-02-11 21:13] virdesai commented on #508
@jaimebiernaski yeah we'll definitely work on addressing the `package.json` issue in our build process

[2021-02-12 09:26] iMonk777 commented on #521
Hi @wodow , Did you have any success in solving this? Seems we are having issues too. The image keeps loading, when uploaded to the message. It happens only on IOS. Android Works fine.

[2021-02-12 13:55] jaimebiernaski commented on #508
Hi @virdesai , I found A work around but stills requires the manual `package.json` setup. I was working to fix that warnings problems, and looking in your repo, I've found the following [jest-setup.js](https://github.com/GetStream/stream-chat-react-native/blob/master/jest-setup.js)

[code]

I've create this file in my code, replacing the

`import { registerNativeHandlers } from './src/native';`
..

[2021-02-13 11:01] vishalnarkhede commented on #511
Hey @joseponsvega Could you please try to run our [ExpoMessaging](https://github.com/GetStream/stream-chat-react-native#expo-example) app and see if you are still able to reproduce the issue there as well?

[2021-02-15 16:16] XavierJ03 commented on #514
Having the same issue, In `MessageInput` props, I receive `_pickImage` and `_pickDocument` but there is no function related to the user camera. We could add a custom behavior for this use case by using `ImagePicker` but we won't be able to display the same image preview that the sdk provides.

[2021-02-16 13:07] deepesh-kn opened #524 "Slowness while sending a new message"
**Describe the bug**
  The following actions take a long time when the items in the message list are large.
  1. Sending a new message
  2. Opening of the action sheet on long press

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
  stream-chat-react-native: 2.2.2

- react-native or expo version
  React na

[2021-02-17 07:38] #149 closed

[2021-02-18 13:42] deepesh-kn commented on #524
@vishalnarkhede , any suggestions?

[2021-02-19 07:08] vishalnarkhede commented on #524
@deepesh-kn Could you try to check this issue on `strean-chat-react-native@2.0.2`?

[2021-02-19 08:29] deepesh-kn commented on #524
@vishalnarkhede , its slow on `strean-chat-react-native@2.0.2` too.

[2021-02-19 11:09] vishalnarkhede commented on #524
@deepesh-kn Is this the first implementation for react-native chat? How far are you in integration at this point? Is the chat feature already live in your app?

[2021-02-19 12:19] deepesh-kn commented on #524
Yes, the first version is live, we want to optimize it further.

[2021-02-19 17:09] vishalnarkhede commented on #524
@deepesh-kn Would you be interested in upgrading to `[3.0.0-beta.x`](https://github.com/GetStream/stream-chat-react-native/wiki#v300-betax)?

[2021-02-20 06:31] deepesh-kn commented on #524
Sure, if this will solve the issue we will upgrade it, when will be the stable version released?

[2021-02-20 07:46] vishalnarkhede commented on #524
We are already in process of testing this version with few users and been going pretty well. We are planning to publish either rc or stable somewhere by the end of next week.

[2021-02-20 07:53] vishalnarkhede commented on #524
Also if you don't mind me asking, are you integrating chat in OpenST product?

[2021-02-21 02:09] charlsefrancis opened #528 "expo-sharing@8.5.0 is not recommended version for SDK 40.0.0"
expo-sharing@8.5.0 is not recommended version  for SDK 40.0.0 UPDATE TO ~8.5.0

gz#9571

[2021-02-23 00:41] joseponsvega commented on #511
@vishalnarkhede that seems to work actually.

I did notice that the image picker on that example app is different than what shows up for mine (mine is in the screenshots here):

![Screenshot_20210222-163934](https://user-images.githubusercontent.com/15931897/108788410-bd4ec900-752c-11eb-8e8b-9d1110a0cc32.png)
![Screenshot_20210222-163929](https://user-images.githubusercontent.com/15931897/10878841

[2021-02-23 06:19] deepesh-kn commented on #524
No this is for another project.

[2021-02-24 08:55] vishalnarkhede commented on #522
@jaredpiedt This looks like a bug, is it the first integration of chat in your application? Or are you already using Stream chat in production?

[2021-02-25 06:20] sergeyzhukov commented on #514
The same issue. It looks like we need to use registerNativeHandlers and use another picker inside to achieve the needed behavior.

[2021-02-25 12:34] vishalnarkhede commented on #524
Hey @deepesh-kn we have published v3.0.0. Please feel free to upgrade, we are going to keep it a high priority to help everyone with upgrade :)

[2021-02-25 12:37] vishalnarkhede commented on #528
@charlsefrancis could you please provide more regarding this? Is this mentioned in Expo documentation somewhere?  Or are you facing some issues because of it?

[2021-02-25 12:38] vishalnarkhede commented on #528
Also please try to put relevant title for the issues that you raise, it will help us help you better, in future!!

[2021-02-25 17:26] vishalnarkhede commented on #473
Hey @isabellaskc , sorry for the delays. Do you still need help with this?

[2021-02-26 06:13] deepesh-kn commented on #524
Thanks, @vishalnarkhede

[2021-03-01 08:15] sergeyzhukov commented on #514
@mikevercoelen

you can use `uploadNewImage` prop and just use any picker you want.

`export const AttachButton = memo(({ uploadNewImage }) => {
  const actionSheetRef = React.useRef<ActionSheet>()

  const openActionSheet = () => {
    actionSheetRef.current.show()
  }

  const handleSheetPress = React.useCallback(async index => {
    try {
      if (index === 0) {
        launchCamera({ mediaTyp

[2021-03-01 09:43] krinish291 commented on #520
https://github.com/GetStream/stream-chat-react-native/pull/534

[2021-03-01 09:50] vishalnarkhede commented on #514
@sergeyzhukov thanks alot for adding a example here, really appreciate it :)

I will include this example in cookbook as well

[2021-03-01 09:52] vishalnarkhede commented on #514
Also @sergeyzhukov we have quite a new UX and designs for attachment picker in v3 of this SDK - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#input-and-attachment-picker-components

Just in case if you would like to upgrade :)

[2021-03-02 14:30] sergeyzhukov commented on #72
@vishalnarkhede any updates on

**Members that are currently online do not receive push messages**

?

Our service needs to send push notifications for users across multiple devices. And if a user is active on the web (but not in the channel where the new message received) - a push notification should be sent to the iOS device.

[2021-03-02 18:10] vishalnarkhede commented on #528
@charlsefrancis ping ^^

[2021-03-03 09:51] ferhatelmas commented on #72
@sergeyzhukov this is the behavior of v1 of the push. v2 which is in the process of being live at the end of this month, has app and user level configurations. One of them is to be able to send irrespective online status, by setting that flag, apps can retrieve notifications even if they are online in other devices. For the online device, client should ignore it though.

[2021-03-03 17:21] fedex995 commented on #521
Hey @vishalnarkhede having the same problem here, I'm not being able to upload files, both on IOS devices and simulators.

- `stream-chat: "^2.12.0"`
- `"stream-chat-react-native": "^2.1.2"`

Any updates on this issue?

[2021-03-04 21:55] junminleeKS opened #537 "Android: Significant FPS drop when a channel contains five or more images"
**Describe the bug**
The UI FPS observed in the Performance Monitor drops significantly when a channel has five or more images on Android. Deleting images to reduce the total number of images back to four or less fixes the issue.

**Dev environment info (please complete/provide the following information):**
- Package version (stream-chat-react-native/stream-chat-expo)
stream-chat-expo: 3.0.0
- rea

[2021-03-04 22:30] junminleeKS opened #538 "stream-chat-expo: takePhoto issues"
**Describe the bug**
Pressing the camera button inside the message input does nothing. Two issues exist on the takePhoto function inside the registerNativeHandlers function in stream-chat-expo that cause this:
1. It uses `ImagePicker.getCameraPermissionAsync()` which means it only checks for the Camera permission and does not ask for it. Seems like `ImagePicker.requestCameraPermissionsAsync()` sho

[2021-03-04 22:44] junminleeKS opened #540 "stream-chat-expo: getPhotos does not work for iOS"
**Describe the bug**
getPhotos inside the registerNativeHandlers function only checks/asks for permission on Android. If the MediaLibrary permission has not been set elsewhere then the ImagePicker does not work on iOS.

**Dev environment info (please complete/provide the following information):**
- Package version (stream-chat-react-native/stream-chat-expo)
stream-chat-expo 3.0.0
- react-native or

[2021-03-05 02:11] choibles opened #541 ""Invalid Hook Call" error when using OverlayProvider w/ streamchat 3.0"
**Describe the bug**
When including the <OverlayProvider> as directed in the tutorial (just inside the NavigationContainer from `react-navigation`), an error is thrown to crash the app which says "Invalid Hook Call"

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native
- react-native version
- iPhone X, OS 14.4

**To Reproduce**
Steps to reprodu

[2021-03-05 02:20] shodgetts commented on #541
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/9915'>Zendesk ticket #9915</a>:<br><br>Hi

Hope `connectUser` issue is resolved.

To support updating the unread count in real-time, you can listen to these events:

- `notification.message_new`
- `notification.mark_read`
These two events include the fields `total_unread_count` and `unread_channels`. You can listen t

[2021-03-05 02:21] shodgetts commented on #541
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/9915'>Zendesk ticket #9915</a>:<br><br>Hi

Please ignore the previous message.

Cheers
Seetha

[2021-03-05 17:54] nhannah commented on #541
@choibles could you send your full package file? I think there may be a mismatch in the react versions. It is normal to include react as both a `dev` and `peer` dependency. The dev dependency should only be installed if you are developing the project; you can see the same patter in the [react-native](https://github.com/facebook/react-native/blob/772fbf0a7d77ad2a4fa66829fac14a8c72703d8e/package.jso

[2021-03-06 16:18] fwdevin opened #542 "Nesting example Expo app in tab navigator"
**Describe the bug**
The example [Expo app](https://github.com/GetStream/stream-chat-react-native/tree/master/examples/ExpoMessaging) works as a standalone app, but when I nest it as a component in a [react-navigation](https://reactnavigation.org/) screen I get the error:
`Error: component(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothi

[2021-03-06 19:38] nhannah commented on #542
@fwdevin The sample app is using a NavigationContianer itself which there should only be one of in your project generally. If you provide your tabs implementation I can likely point to the issue; most likely something in navigation. The OverlayProvider will need to wrap your tabs to function properly as well as it overlays the entire screen (including tabs).

[2021-03-07 16:57] ericlifs opened #545 "Types errors on yarn workspaces monorepo"
**Describe the bug**
I have installed stream-chat-react-native into my monorepo project that uses yarn workspaces and I'm seeing a lot of types error on my console as you can see in the following screenshot:

![image](https://user-images.githubusercontent.com/7376892/110255646-8ab4bf80-7f73-11eb-812c-8f00d4298a52.png)

**Dev environment info**

- App architecture: Yarn Workspaces Monorepo
- Pacakg

[2021-03-07 22:04] ericlifs opened #546 "StreamChatRN not working on monorepo setup"
**Describe the bug**
I have installed `stream-chat-react-native` version 3.0.0 and all it dependencies into my app which is architectured under a yarn workspaces monorepo and the chat screen is crashing as soon as it gets mounted due to a lot of Reanimated v2 errors. I have seen bunch of issues on their repo talking about this:

* https://github.com/software-mansion/react-native-reanimated/issues/

[2021-03-07 23:27] builtbyproxy commented on #486
How is this going @shodgetts

[2021-03-08 00:42] nhannah commented on #545
@ericlifs what version of typescript are you using?

[2021-03-08 00:45] nhannah commented on #546
@ericlifs please use Reanimated 2.0.0-rc.0, it is noted in the docs that currently that is the version we support. Currently that is the latest version that is supported by expo, and as we support expo we are currently waiting for them to update before we can: https://docs.expo.io/versions/latest/sdk/reanimated/ .

[2021-03-08 02:41] ericlifs commented on #545
@nhannah I was using an old one, I upgraded it to the one from the tutorial and it worked!

Thank you very much!

[2021-03-08 02:41] #545 closed

[2021-03-08 02:45] ericlifs commented on #546
@nhannah Hey, thanks for answering! I'm not using expo, I created all my apps by using react-native-cli. The thing is that Reanimated 2.0.0-rc.0  doesn't support yarn workspaces (as you can see in the issues I posted on the issue description), and that's blocking me from using stream-chat-react-native v3.0.0 on my project that uses yarn workspaces and I had to rely on the v2.2.2.

Isn't there a wa

[2021-03-08 03:41] fwdevin commented on #542
Here's a snippet of the nested screen:

[code]

Here's the nesting tab navigator:
[code]

[2021-03-08 03:41] fwdevin commented on #542
@nhannah Thank for looking

[2021-03-08 08:56] rgkobashi commented on #72
Hi @ferhatelmas thanks for the response.
One more question, are we going to get notified about this once it is available? Or where does this flag needs to be enable, on the server side or on Stream dashboard?
TIA

[2021-03-08 13:21] jaredpiedt commented on #522
@vishalnarkhede this is the first integration of chat in our application

[2021-03-08 15:46] shodgetts commented on #486
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/8638'>Zendesk ticket #8638</a>:<br><br>Hello, we're working on a feature for token invalidation and it's likely we'll use this to solve this problem. Sorry, the issue of remotely closing the client websocket connections is not a trivial one, it turns out. Thanks for your patience.

[2021-03-08 17:51] nhannah commented on #546
@ericlifs What I was trying to point out is that we can't upgrade to Reanimated rc.3 yet because we have expo support, so we are on rc.0 in the package until expo upgrades, or we drop expo support for a few version. Ranimated 1 -> 2 is a significant change so there is no backward compatibility as we have moved to the new worklet / sharedValue implementation and do not use the v1 declarative style.

[2021-03-08 18:08] nhannah commented on #542
I see you have `<AppContext.Provider value={{ channel, setChannel, setThread, thread }}>` do you have that setup?

[2021-03-08 18:12] #540 closed

[2021-03-08 18:12] #538 closed

[2021-03-08 18:36] fwdevin commented on #542
Here's the rest of it:
[code]

[2021-03-08 19:14] choibles commented on #541
Hey @nhannah, thanks for touching base, and that's a good point re: the `react-native` repo. Here's our `package.json`. Appreciate your time and help!

[code]

[2021-03-08 21:22] builtbyproxy commented on #486
Thanks for the update @shodgetts!

[2021-03-09 02:35] choibles commented on #541
Hi – just wanted to note that I resolved this by switching to yarn for dep mgmt. It was somehow able to resolve the dependencies that npm could not. Thanks for the help anyway!

[2021-03-09 02:35] #541 closed

[2021-03-10 01:06] BrianLi101 opened #547 "Exception in native call from JS (flat-list-mvcp on Android)"
Flagging this breaking issue so that hopefully the setup docs can be amended or changes can be made to [flat-list-mvcp](https://github.com/GetStream/flat-list-mvcp).

My team has been dealing with a bug for the last few days associated with using this package and the wrong version of [flat-list-mvcp](https://github.com/GetStream/flat-list-mvcp) that results in the following exception when you atte

[2021-03-10 13:13] vishalnarkhede commented on #547
@BrianLi101 thanks for reporting this. I will take a look - 0.0.9 actually should have fixed it.

[2021-03-11 13:16] vishalnarkhede commented on #540
@junminleeKS fyi, this will be released with next patch :) Early next week

[2021-03-11 15:09] shodgetts commented on #524
Hello, did the upgrade help?

[2021-03-11 18:17] lucaswhitman opened #549 "Android crashes on render due to issues in dependencies"
**Describe the bug**
Hi all, we're trying to move to 3.0 and I'm working through getting all the dependent libraries set up and I'm stuck on one and I'm just looking to see if anyone has encountered and solved this issue. iOS is working fine, but when I try and open my screen on Android it just crashes. I pulled up `adb logcat` and found logs that pointed me towards these issues in one of the new

[2021-03-11 18:39] shodgetts commented on #549
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/10122'>Zendesk ticket #10122</a>:<br><br>Thanks for getting in touch. We'll get an engineer to check up on this. In the meantime, do you mind please letting us know the Stream organization or app_id (they are public) that you are working with please?
-BS

[2021-03-11 18:41] lucaswhitman commented on #549
@shodgetts our org name is `ourfabriq`, I'm also hunting through PRs and open issues on the other library so if I find a workaround I'll post it here.

[2021-03-11 18:48] shodgetts commented on #549
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/10122'>Zendesk ticket #10122</a>:<br><br>Thank you very much. I've assigned an engineer who will be able to check in when they are available.

[2021-03-11 19:09] lucaswhitman commented on #549
Actually, seems like this is solved in the underlying android lib. A `patch-package` seems to resolve it:

[code]

[2021-03-12 05:22] deepesh-kn commented on #524
@shodgetts , the upgrade is in progress, we have encountered few issues while integrating it, I will raise the tickets and provide the reference here.

[2021-03-12 11:57] vishalnarkhede commented on #549
Hey @lucaswhitman thanks for bringing this up. We have actually seen this issue, and we are going to include this patch in our docs. Currently the issues that we have seen, do get resolved from the patch you mentioned. But in future if we do see some issue which is not solvable, we will look for alternative for our usage of blurring effect.

[2021-03-12 14:51] lucaswhitman commented on #549
Thanks @vishalnarkhede, looking forward to the first few patches. I've got another item but I'll raise it in another issue for clarity.

[2021-03-12 15:56] lucaswhitman commented on #549
Actually, still seeing this issue locally. I'm cleaning and building a few times in a row and I'm still getting this when I close the messenger screen we've got set up. I thought it was a different error but when I went up a bit in the logs I saw the same error being thrown.

[2021-03-12 16:07] vishalnarkhede commented on #549
@lucaswhitman To unblock you for now, can you try following solution? This basically overrides the `BlurView`

[code]

[2021-03-12 16:09] vishalnarkhede commented on #549
Please let me know if this gets rid of the error!!

[2021-03-12 16:14] lucaswhitman commented on #549
@vishalnarkhede that worked! Adding some notes to our code, but this should allow us to move forward a bit. Thank you!

[2021-03-12 19:55] vishalnarkhede commented on #547
@BrianLi101 could you please share some code around chat components? I want to reproduce this issue on our end!!

[2021-03-12 20:00] BrianLi101 commented on #547
Hi Vishal! We were actually able to make this happen without adding any custom code around chat components. Just using the demo typescript app was enough to replicate this error. If it helps, I can make some screen recordings and send them over.

[2021-03-12 20:13] vishalnarkhede commented on #547
@BrianLi101 that will be quite helpful, thanks :)

[2021-03-12 20:24] vishalnarkhede commented on #537
@junminleeKS do you see drop in FPS when you open the image or in general loading of channel?

[2021-03-12 21:28] junminleeKS commented on #537
General loading of the channel. I found that loading a different channel that does not have five or more images will fix the FPS drop.

[2021-03-12 21:55] virdesai commented on #508
@jaimebiernaski merged in a fix for the versioning issue https://github.com/GetStream/stream-chat-react-native/pull/553
should be out with a new release that we plan on pushing soon

[2021-03-12 22:37] jaimebiernaski commented on #508
Thanks!

Jaime Biernaski

Keep your dreams alive!

[2021-03-14 20:58] vishalnarkhede commented on #206
Closing this for now. Will reopen once we get back to it!!

[2021-03-14 20:58] #206 closed

[2021-03-14 20:59] #514 closed

[2021-03-14 21:00] vishalnarkhede commented on #520
This will be published in next version, early next week :)

[2021-03-14 21:00] #520 closed

[2021-03-14 21:01] #146 closed

[2021-03-14 21:02] vishalnarkhede commented on #444
@amardeepranu I would recommend you to to upgrade to v3 of our SDK. We have addressed this issue :)

[2021-03-14 21:02] #444 closed

[2021-03-14 21:02] #482 closed

[2021-03-14 21:03] vishalnarkhede commented on #196
We have added this to our backlog, and will be released soon :)

[2021-03-14 21:03] #196 closed

[2021-03-14 21:05] vishalnarkhede commented on #528
Closing due to inactivity. Please reopen if needed!!

[2021-03-14 21:05] #528 closed

[2021-03-14 21:06] vishalnarkhede commented on #519
Closing this, since conversation moved to other channel!! Please reopen if anyone is facing the same issue

[2021-03-14 21:06] #519 closed

[2021-03-14 21:09] #549 closed

[2021-03-14 21:11] #98 closed

[2021-03-14 21:13] vishalnarkhede commented on #51
Offline support has been moved to Q2!!

[2021-03-14 21:22] vishalnarkhede commented on #522
@jaredpiedt If you are not too far with chat integration, I would recommend you to upgrade to v3!!

[2021-03-15 05:10] teeaaspoon opened #555 "ChannelList sort props change does not query again"
**Describe the bug**
I'm trying to filter my messages by unread, but it doesn't seem like theres an option to filter by {has_unread: -1}

Instead, I have opted for sorting by {has_unread: -1} which does work.
However, when I change the props of my sort object from {last_message_at: -1} to {has_unread: -1} the component does not update.

**Dev environment info (please complete/provide the following

[2021-03-15 08:52] shodgetts commented on #524
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/9441'>Zendesk ticket #9441</a>:<br><br>Hey Deepesh,

I am closing this ticket for now. Please feel free to raise the issues when you are ready. We are soon (today or tomorrow) going to release 3.1.0 of our SDK as well
Changelog for 3.1.0 is here - https://github.com/GetStream/stream-chat-react-native/blob/3c

[2021-03-15 09:35] vishalnarkhede commented on #542
Hey @fwdevin would love to help solving this issue. Can you please do quick setup on [expo snack](https://snack.expo.io/) to reproduce this issue? It will be easier for us to debug the issue that way

[2021-03-15 11:09] vishalnarkhede commented on #555
Hey @teeaaspoon I have added this to our backlog. We will try to sort it out, in upcoming minor release either 3.2.0!!

Until then, you can simply force re-render the ChannelList component, when sort changes (by updating `key`)

e.g., here after 5 seconds, channellist will render with new sort object:

[code]

[2021-03-15 11:10] #524 closed

[2021-03-15 11:21] vishalnarkhede commented on #555
@teeaaspoon closing this for now. Please reopen if you have more questions :)

[2021-03-15 11:21] #555 closed

[2021-03-15 11:33] vishalnarkhede commented on #537
@junminleeKS is it possible for you to share some screenrecording?

[2021-03-15 11:44] vishalnarkhede commented on #511
@joseponsvega Is it possible for you to upgrade to v3 of stream-chat-expo? It might be worth it at this point.

[2021-03-15 11:45] #507 closed

[2021-03-15 12:03] vishalnarkhede commented on #467
@mayuri-pansuriya Sorry for delays, do you still need help with this? If yes, could you please give versions of following packages you are using

- stream-chat-react-native
- stream-chat

[2021-03-15 14:11] vishalnarkhede commented on #508
@jaimebiernaski we have published `v3.1.0`, where this issue should be fixed. Could you please confirm?

[2021-03-15 14:12] vishalnarkhede commented on #538
@junminleeKS this issue has been fixed in `v3.1.0`!!

[2021-03-15 14:12] vishalnarkhede commented on #540
@junminleeKS this issue has been fixed in `v3.1.0`!!

[2021-03-16 00:52] haivle opened #558 "Disable thread reply in version 3.x"
I can't find a way to disable thread reply, i think that is possible in version 2.x

gz#10222

[2021-03-16 05:53] ericzhou27 opened #559 "Inline date separator?"
Is there a way to add the date separator back in? It appears to be in older versions (i.e. the slack clone tutorial you guys have linked, and also at https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/MessageList/DateHeader.tsx) but it's been taken out and replaced with a sticky header in the newest version. The sticky header is interesting, but we think that having t

[2021-03-16 06:28] ericzhou27 commented on #558
Same here. It looks like it's in the documentation as a property of the Channel component, but the property doesn't work/show when I try it. https://getstream.github.io/stream-chat-react-native/v3/#messageActions

[2021-03-16 06:38] ericzhou27 commented on #558
Never mind! Upon further inspection, it looks like they added it back in four days ago.
https://github.com/GetStream/stream-chat-react-native/commit/52a842c50a995ca47ef5c6c653d5f0d550b16f9c#diff-624046ce3fcb308fb7a7c3684e23408f7c045874cea00ca2f4183257a97415b6

[2021-03-16 07:31] ericzhou27 commented on #558
After working for a bit, I have two quick follow ups for anyone at Stream. My current implementation taken from the documentation:

`
         messageActions={({
              blockUser,
              muteUser,
              copyMessage,
              deleteMessage,
              editMessage,
              flagMessage,
              reply,
              retry,
              threadReply,

[2021-03-16 07:42] vishalnarkhede commented on #559
Hey @ericzhou27 we are already discussing this internally. We will mostly add these inline date separators next week. I will let you know :)

[2021-03-16 07:46] vishalnarkhede commented on #558
@ericzhou27 This is the exhaustive list of values, which you can access in `messageActions`:

[code]

So you can use `isMyMessage` value to decide which actions to render!!

[2021-03-16 07:47] ericzhou27 commented on #559
Thanks so much! I'll stay tuned!

[2021-03-16 07:49] ericzhou27 commented on #558
Thanks Vishal! After doing some digging I found the "canModifyMessage" prop and was using that but this is much better!

[2021-03-16 07:51] vishalnarkhede commented on #558
Glad that it helped :)

[2021-03-16 07:51] #558 closed

[2021-03-16 16:49] junminleeKS commented on #537
https://youtu.be/izkH-fEoKXo

The video starts before loading the channel that will drop the FPS. After loading the channel with more than five images you will see the FPS drop. I then back out to show that the FPS issue persists outside of the channel. I end by loading a channel that has less than five images which fixes the FPS issue.

[2021-03-16 17:41] jehartzog opened #560 "v3.1.0 breaks TypeScript imports"
**Describe the bug**
After upgrading from `3.0.0` to `3.1.0`, TypeScript fails to pull correctly types from `stream-chat-react-native`.

**Dev environment info (please complete/provide the following information):**

- `stream-chat-react-native` `v3.1.0`
- `TypeScript` `v4.2.3`
- `react-native` `v0.64`

**To Reproduce**
Steps to reproduce the behavior:

1. Have `stream-chat-react-native` at `v3.0.0

[2021-03-17 01:56] teeaaspoon opened #561 "disable long press, or prevent overlay from showing."
**Describe the bug**
I don't want the overlay at all. How do I stop it from coming up when it's long pressed?

I tried removing OverlayProvider from the root of my app but it will crash without it.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo) 3.1.0
- react-native or expo version 0.63.4
- Device/Emulato

[2021-03-17 04:14] haivle opened #562 "myMessageTheme does not work on 3.1.0"
Q1:
<Channel
    messageActions={messageActions}
    channel={channel}
    initialScrollToFirstUnreadMessage
    enforceUniqueReaction
    myMessageTheme={{ colors: { grey_gainsboro: 'red' } }}
/>

this code work on version 3.0.0 but does not work on 3.1.0

Q2:
We have hashtag in text message, but it keeps rendering that text into headings1, how can we avoid this situation?

gz#10265

[2021-03-17 05:39] vishalnarkhede commented on #561
@teeaaspoon We are already working on this in linked PR. We will release it in next minor version :)

[2021-03-17 11:45] rodrigowpl opened #563 "Question: APNs provider API requirement starts March 31"
From apple regarding APN Push:

The HTTP/2-based Apple Push Notification service (APNs) provider API lets you take advantage of great features, such as authentication with a JSON Web Token, improved error messaging, and per-notification feedback. If you still send push notifications with the legacy binary protocol, make sure to upgrade to the APNs provider API as soon as possible. APNs will no lon

[2021-03-17 11:54] vishalnarkhede commented on #563
@rodrigowpl let me get back to you about it!!

[2021-03-17 11:54] vishalnarkhede commented on #562
Hey @haivle let me check and get back to you :)

[2021-03-17 12:26] vishalnarkhede commented on #560
@jehartzog I will take a look and get back to you :)

[2021-03-17 12:58] vishalnarkhede commented on #562
@haivle could you show me rest of the code around chat component?

[2021-03-17 13:55] vishalnarkhede commented on #562
@haivle

Please refer to this doc - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#message-bubble-with-custom-text-styles--fonts

[2021-03-17 15:09] vishalnarkhede commented on #546
@ericlifs Could you please share with us package.json for your monorepo workspaces and root? Curious if you tried using `nohoist` on dependencies coming from stream-chat-react-native package.

[2021-03-17 15:13] #560 closed

[2021-03-17 16:47] vishalnarkhede commented on #560
@jehartzog Please upgrade to `3.1.2`. We have fixed this issue!!

[2021-03-17 17:13] jehartzog commented on #560
@vishalnarkhede Confirmed that `3.1.2` fixes the issue. Thanks for quick patch and release.

[2021-03-18 11:59] rodrigowpl commented on #563
@vishalnarkhede Thank you!

Even if it's not ready now, we need at least know the plans about that since the date is very close. It's part of our sprint goal :)

[2021-03-18 15:05] fwdevin commented on #542
Hi @vishalnarkhede do you have [this example](https://github.com/GetStream/stream-chat-react-native/tree/master/examples/ExpoMessaging) as a snack? There seems to be an issue resolving the `stream-chat-expo` dependency. Locally I have `"stream-chat-expo": "link:../../expo-package"` in package.json which works, not sure what this resolves to though -> https://snack.expo.io/@fwdevin/stream-chat-expo

[2021-03-19 09:19] tuneerclixlogix commented on #404
@vishalnarkhede I am having same issue, I don't want another thread to open. I wan't to reply to the message in the same channel like in whatsapp or facebook messenger

[2021-03-19 11:54] vishalnarkhede commented on #542
Hey @fwdevin I am looking into it. Expo snack does cause trouble many times with dependency not being cached.

[2021-03-19 13:16] vishalnarkhede commented on #563
@rodrigowpl We are preparing notes for response for this question. Please bare with us.

[2021-03-19 16:32] fwdevin commented on #542
Ok

[2021-03-20 21:29] teeaaspoon commented on #382
@virdesai @lokewk @vishalnarkhede is there any fix to this currently? I want to use push notifications for expo as well without ejecting my app.

[2021-03-21 07:28] vishalnarkhede commented on #404
@tuneerclixlogix We have added inline reply or quote message feature as part of v3!!

[2021-03-21 10:17] lokewk commented on #404
@vishalnarkhede do you have a sample code in expo.io javascript?

[2021-03-21 10:39] lokewk commented on #404
@vishalnarkhede i noticed the v3 example is on vanilla react native. is there an example on expo?

[2021-03-21 11:06] vishalnarkhede commented on #404
@lokewk you can check this expo example app - https://github.com/GetStream/stream-chat-react-native/tree/master/examples/ExpoMessaging

[2021-03-22 13:17] ferhatelmas commented on #563
@rodrigowpl We're already on new protocol, no change is needed.

[2021-03-22 13:17] #563 closed

[2021-03-22 13:20] rodrigowpl commented on #563
Thank you!

[2021-03-22 16:03] sergeyzhukov commented on #72
@ferhatelmas @vishalnarkhede Any updates related to push notifications delivery logic?

[2021-03-22 16:39] ferhatelmas commented on #72
@sergeyzhukov More or less next week, docs should be updated on how to enable v2, update general app config and send user preferences for further customization.

[2021-03-23 08:19] #404 closed

[2021-03-23 08:20] vishalnarkhede commented on #467
Please reopen if you still need help here :)

[2021-03-23 08:20] #467 closed

[2021-03-23 08:20] #508 closed

[2021-03-23 08:21] vishalnarkhede commented on #522
@jaredpiedt Next minor version will include this fix :)

[2021-03-23 08:24] vishalnarkhede commented on #546
@ericlifs ping ^^

[2021-03-23 12:04] jaimebiernaski commented on #508
Hi,

We are working on a critical rollout process. When possible I'll check
this. Thanks!

*Jaime Biernaski*
***@***.*** ***@***.***>*
*Skype: jaime.biernaski*

*Keep your dreams alive!*

On Tue, Mar 23, 2021 at 5:20 AM Vishal Narkhede ***@***.***>
wrote:

[2021-03-23 15:00] virdesai commented on #521
@wodow @iMonk777 @fedex995 I see reference to the issue on iOS only but not Android. are you possibly trying to upload an image that appears in your image picker but is stored on iCloud instead of your device? there are some odd tie-ins with the PHAssets from iCloud that require that image to be downloaded to the device before being able to be uploaded as the file path we receive from an iCloud im

[2021-03-24 07:16] lokewk opened #575 "DateSeparator not consistent"
"expo": "^39.0.0"
    "stream-chat": "2.6.0"
    "stream-chat-expo": "^2.1.0"

Hi, we notice DateSeparator is not consistent shown in our chatlist.
Please advise.

gz#10478

[2021-03-24 08:13] vishalnarkhede commented on #575
@lokewk Could you please provide more details around, what you mean by not-consistent?

[2021-03-24 08:49] lokewk commented on #575
![Screenshot_chat](https://user-images.githubusercontent.com/68896130/112281046-9832af00-8cc0-11eb-86c3-7b149ecf7094.png)

the screenshot on the left is showing messages send in different day and is missing the DateSeparator.
but in the 2nd screenshot DateSeparator is shown. please advise.

[2021-03-24 12:47] ericlifs commented on #546
Hey @vishalnarkhede! Sorry I was OOO these days, I will take a look again now and let you know. I have not tried by using the `nohoist` yet.

[2021-03-25 02:31] isabellaskc commented on #575
Hi, any update to this issue?

[2021-03-25 12:20] vishalnarkhede commented on #537
Hey @junminleeKS could you please try upgrading to 3.2.0? We have introduced plenty of performance optimizations around MessageList.

[2021-03-25 14:09] ericlifs commented on #546
@vishalnarkhede Finally I was able to install reanimated 2 within my monorepo setup, I had to modify the metro config and it started working. I don't know if you had the time to take a look at the designs I have sent you, since some of the things are not on the docs.

Thanks,

Eric.

[2021-03-25 14:45] vishalnarkhede commented on #546
@ericlifs thats great to hear that its working. Would you mind sharing the changes that you made to make it work, it may help other developers as well :)

Regarding the design changes, we will put up our slack clone early next week, where you will find tons of customisation, quite similar to what you are trying achieve.

[2021-03-25 16:24] ericlifs commented on #546
@vishalnarkhede I applied these same changes https://github.com/brunolemos/react-native-web-monorepo/commit/af2a79a60a8ff3136caaa75ea8a6b84e96567687 to my react-native app.

Right now I'm facing a lot of other issues, for example, I'm trying to get rid of the out of the box MessageSimple component and start writting one from my own from scratch and I'm getting this error:

![image](https://user-im

[2021-03-25 16:38] vishalnarkhede commented on #546
@ericlifs could you show us what type are you assigning your custom message component?

[2021-03-25 16:56] ericlifs commented on #546
@vishalnarkhede this is my entire MessageSimple component:

![image](https://user-images.githubusercontent.com/7376892/112512117-d76d0880-8d71-11eb-90db-18c0433eb8f5.png)

[2021-03-25 16:56] jaredpiedt commented on #522
@vishalnarkhede 🙌   thank you for the fix and building such an awesome library! We were able to integrate chat into our app in less than a week thanks to Stream and this library.

[2021-03-25 17:12] vishalnarkhede commented on #522
Hey @jaredpiedt really glad to hear integration went well :)

Am curious to know which version of `stream-chat-expo` are you using?

[2021-03-25 18:03] jaredpiedt commented on #522
@vishalnarkhede we're currently using `2.2.2` but planning to upgrade to v3 when we get the time.

[2021-03-25 18:46] virdesai commented on #575
@lokewk just so I try to reproduce this issue on the same version, within your lock file can you tell me which version of stream-chat-expo was actually installed? and have you done anything custom within your MessageList or DateSeparator components?

[2021-03-25 18:56] ericlifs commented on #546
@vishalnarkhede I have started using the provided `MessageUIComponentProps` instead of my `MessageSimpleProps` and I was able to remove the types error. Now I'm seeing another issue where even after editing my component, those changes are not reflected on the web.

[2021-03-25 19:11] virdesai commented on #562
@haivle for Q2, if you look [here](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/Channel/Channel.tsx#L252) you can pass this prop into your `Channel` component to get rid of `heading1` if you want. [Here](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/Message/MessageSimple/utils/renderText.tsx#L200:L214) are some built-in custom

[2021-03-25 19:12] virdesai commented on #562
@haivle as for the `myMessageTheme` issue. could you please try on our latest version `3.2.0` and let us know if the problem still exists for you?

[2021-03-26 02:18] lokewk commented on #575
@virdesai the stream-chat-expo installed is 2.1.0 (within lock file). No customisation has been done within the DateSeparator. However, for MessageList, 'Message={CustomMessagePreview}' has been added (Would this be considered as a customisation within a MessageList? Could this be a cause?)

[2021-03-26 02:36] teeaaspoon opened #578 "Refreshing channel after updateMessage"
**Describe the bug**
I'm using client.updateMessage to manually trigger a message edit from my code.
I went into explorer and saw that my message data was updated.
However my react native application does not show the updated message until I either send a new message, or navigate to another page and come back.

Is there a command that will automatically trigger a channel refresh after I updateMess

[2021-03-26 08:31] isabellaskc commented on #473
@vishalnarkhede I no longer need help with this. Thank you

[2021-03-26 08:35] #473 closed

[2021-03-26 09:39] #561 closed

[2021-03-26 14:58] virdesai commented on #578
@teeaaspoon you said you built a custom MessageContainer component. Did you mean MessageContent or MessageTextContainer? This is likely a memoization issue which we possibly need to provide customization to you for or you could fully override the necessary component to not use our component memoization and the data change should then trigger rerenders

[2021-03-26 15:30] vishalnarkhede commented on #546
Perfect!! Closing this issue for now :)

[2021-03-26 15:30] #546 closed

[2021-03-26 15:30] #522 closed

[2021-03-26 17:22] teeaaspoon commented on #578
@virdesai yes, i meant i built a custom MessageTextContainer that showed additional custom data that i provided to the message. I managed to work around by just updating the "text" value in the message too.

Are there any documents on how the memoization works. I would like to read more on it since I'm not too familiar.

[2021-03-26 17:38] virdesai commented on #542
@fwdevin just curious but if you replace our Stream screen that you're navigating to and having this error returned with a simple screen of your own, does the error still exist? I don't think the problem is from the SDK as the example runs fine on it's own so it may be the setup of the navigation logic but I just want to confirm that theory

[2021-03-26 17:40] virdesai commented on #542
@fwdevin also `"stream-chat-expo": "link:../../expo-package"` is pointing to the `expo-package` within our repo so it would link to that package build locally if you had our entire repo cloned and were running your code as a new app within our `examples` directory

[2021-03-26 17:50] virdesai commented on #578
@teeaaspoon good to hear! we'll work on allowing this custom data rerender control soon. thanks for pointing it out!

as far as memoization goes, [here's](https://reactjs.org/docs/react-api.html#reactmemo) the React documentation about it. essentially it's the functional component equivalent of the class based PureComponent shouldComponentUpdate functionality to allow you to control of when your c

[2021-03-26 17:50] #578 closed

[2021-03-26 22:42] junminleeKS commented on #537
Unfortunately I am still experiencing the FPS drop on Android. For full transparency I only upgraded stream-chat-expo from 3.1.0 to 3.2.0 and have done nothing else. I will check to see if I have to make any additional changes but I wanted to report back with the results from only upgrading.

[2021-03-27 22:40] lc3t35 commented on #547
I have the same error with "@stream-io/flat-list-mvcp": "^0.0.9", "react-native-bidirectional-infinite-scroll": "^0.3.2",

[2021-03-29 04:19] haivle commented on #562
thanks @virdesai it works

[2021-03-29 04:21] haivle commented on #562
I'm trying to add a new rule to markdownRules but I could not get it running

`
import _ from 'lodash'
import { defaultRules, ParseFunction, parseInline, ReactNodeOutput } from 'simple-markdown'
import React from 'react'
import { Text } from 'react-native'

const regEx = new RegExp(`^(#\\S+)`, 'g')
const match = source => regEx.exec(source)

const hashTagReact: ReactNodeOutput = (node, output, { .

[2021-03-29 04:23] haivle commented on #562
I'm receiving this error when trying to run the above code

![Simulator Screen Shot - iPhone 11 - 2021-03-29 at 15 21 06](https://user-images.githubusercontent.com/52659811/112786726-a27af180-90a2-11eb-9270-1a6d815c65ed.png)

[2021-03-29 04:24] haivle commented on #562
even <Channel markdownRules={SimpleMarkdown.defaultRules} /> gives the same error

[2021-03-29 04:25] virdesai commented on #562
@haivle what is within `group` that you're passing to `channel`? specifically what's within `group.state.messages`?

[2021-03-29 04:30] haivle commented on #562
@virdesai I've also tried to use default rules of simple-markdown, it also crashes and gives the same error as above

[2021-03-29 04:30] haivle commented on #562
`<Channel markdownRules={SimpleMarkdown.defaultRules} />` gives the same error

[2021-03-29 10:46] wodow commented on #521
@iMonk777 I discovered that this only occurred whilst I had React Native Debugger connected. Its intercepts were the cause.

[2021-03-30 00:08] #562 closed

[2021-03-30 01:17] haivle opened #582 "Cannot custom SendButton"
Q1/
I try to custom SendButton using the following code, but it does not work
`<Channel
      channel={this.state.group}
      thread={this.state.thread}
      SendButton={props => <Button.Icon icon="send" onPress={props.sendMessage} />}

       <Thread />
 </Channel>`

Q2/
Is there any reason you are using TouchableOpacity from 'react-native-gesture-handler' in this line? This causes the button n

[2021-03-30 07:20] vishalnarkhede commented on #582
@haivle

Q1. As part of v3, we are moving away from prop drilling architecture. So all the values should be accessed from context.
For example in your case:

[code]

Q2. We are using RNGH to utilise platform native touch system.

I don't think this should be an issue. I tried in one of our sample app, and seems to be fine. Could you please share some code around your chat components and whats the

[2021-03-30 07:30] vishalnarkhede commented on #575
@lokewk Could you share code for `CustomMessagePreview`. My suspicion would be that there is a deleted message right before the message, where ideally there should be a date separator - https://github.com/GetStream/stream-chat-react-native/blob/v2-legacy/src/components/MessageList/utils/insertDates.ts#L101

If you could confirm, that would be great!!

[2021-03-30 07:31] vishalnarkhede commented on #537
@junminleeKS we are working on re-rendering optimizations with gallery this week. That should hopefully fix this issue!!

[2021-03-30 12:12] tuneerclixlogix opened #583 "Issue with react native animated"
Which version of react-native-animated has to be used 1.13.2 or the 2.0.1 ?
i am facing issues with the both the versions
First I was using version 1.13.2 and i was facing the following issue with the <MessageList>
![image](https://user-images.githubusercontent.com/72122766/112986422-1a1e4e80-917f-11eb-96c7-516fb6b88bba.png)

Then i upgraded the react-native-animated to 2.0.1 and did the babel cha

[2021-03-30 12:15] vishalnarkhede commented on #583
@tuneerclixlogix is this android or iOS? Also did you follow the setup steps mentioned here?

https://docs.swmansion.com/react-native-reanimated/docs/installation/#android

[2021-03-30 12:17] tuneerclixlogix commented on #583
This is for the iOS, yes i upgraded the package then updated the pods and also added

[2021-03-30 14:17] tuneerclixlogix commented on #583
@vishalnarkhede I tried in android too its giving following error
![image](https://user-images.githubusercontent.com/72122766/113003682-979e8a80-9190-11eb-8a76-dd5558986223.png)
![image](https://user-images.githubusercontent.com/72122766/113003752-a71dd380-9190-11eb-894d-ab6dd07b707f.png)

[2021-03-30 14:40] tuneerclixlogix commented on #583
While displaying <MessageInput /> I get this
![image](https://user-images.githubusercontent.com/72122766/113007066-8440ee80-9193-11eb-862f-4619e948f790.png)
This is the way am using it
<Chat client={client} style={theme}>
  <Channel
    channel={channel}
    keyboardVerticalOffset={headerHeight}

    <MessageList
      TypingIndicator={TypingComponent}
      LoadingIndicator={MessageLoader}

[2021-03-30 16:56] vishalnarkhede commented on #583
@tuneerclixlogix we have following examples

- https://github.com/GetStream/stream-chat-react-native/tree/master/examples
- https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#custom-components

Whats the `setImages` call for in your code?

[2021-03-30 17:03] nhannah commented on #583
Hi @tuneerclixlogix If you have the OverlayProvider properly setup around the app https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#OverlayProvider and restart (I suggest resetting the cache to be sure), then this issue should not occur.

[2021-03-30 17:21] nhannah commented on #537
@junminleeKS Also just for clarity is this running on the expo app or a production build? The performance difference is significant in production especially on Android with images on RN.

[2021-03-31 03:23] lokewk commented on #575
@vishalnarkhede nope, we have checked, there isn't any deleted messages right before the messages in the new day. even if there is the date separator needs to be shown too ya?

below is the request code for `CustomMessagePreview`

[code]

[2021-03-31 06:50] tuneerclixlogix commented on #583
Thanks @nhannah @vishalnarkhede , the errors were because i was missing the OverlayProvider.
Now when i select the image from the default MessageInput i get the following error
2021-03-31 12:07:03.791 11496-11496/com.app.trueflutterdating E/unknown:ReactNative: Exception in native call
    com.facebook.react.uimanager.IllegalViewOperationException: stack size 8192KB
        at com.facebook.react.R

[2021-03-31 14:09] tuneerclixlogix commented on #583
Its not happening on image uploading but happening anytime while texting or image uploading. And working fine on iOS now.
I will create another issue with complete logs.

[2021-03-31 14:09] #583 closed

[2021-03-31 14:19] tuneerclixlogix opened #584 "Crash issues on Android with version 3.2.0"
I don't have any specific scenario for these crashes but on android it crashes frequently while texting or sending images. On iOS its working fine
I think some crashes are because of react-native-animated version 2.0.1
I am facing 3 different crashes and attaching the logs for them in comments

[2021-03-31 14:21] tuneerclixlogix commented on #584
id.view.ViewGroup.dispatchDraw(ViewGroup.java:5093)
        at com.facebook.react.views.view.ReactViewGroup.dispatchDraw(ReactViewGroup.java:703)
        at android.view.View.draw(View.java:23918)
        at android.view.View.draw(View.java:23787)
        at android.view.ViewGroup.drawChild(ViewGroup.java:5336)
        at android.view.ViewGroup.dispatchDraw(ViewGroup.java:5093)
        at com.face

[2021-03-31 14:21] tuneerclixlogix commented on #584
2021-03-31 19:25:02.274 31967-956/com.app.trueflutterdating I/ReactNativeJS:                           banned: false,
                              online: true,

2021-03-31 19:25:02.901 31967-675/com.app.trueflutterdating I/ueflutterdatin: NativeAlloc concurrent copying GC freed 113860(4702KB) AllocSpace objects, 42(696KB) LOS objects, 50% free, 17MB/34MB, paused 373us total 138.737ms
2021-03-31

[2021-03-31 14:22] tuneerclixlogix commented on #584
2021-03-31 19:43:31.834 32350-32350/com.app.trueflutterdating W/unknown:ViewManagerPropertyUpdater: Could not find generated setter for class com.facebook.react.views.image.ReactImageManager
2021-03-31 19:43:31.837 32350-32350/com.app.trueflutterdating E/unknown:UIManagerHelper: Unhandled SoftException
    com.facebook.react.bridge.ReactNoCrashSoftException: Cannot get UIManager because the contex

[2021-03-31 14:27] vishalnarkhede commented on #584
@tuneerclixlogix this crash seems to be coming from BlurView package. Just to confirm, do you already use BlurView package in your app?

[2021-03-31 14:29] vishalnarkhede commented on #584
If you just add patch mentioned here, using [patch-package](https://www.npmjs.com/package/patch-package), it shoulld fix it:

https://github.com/GetStream/stream-chat-react-native/issues/549#issuecomment-796974121

[2021-03-31 14:35] tuneerclixlogix commented on #584
Thanks @vishalnarkhede , I will try the patch-package. And yes we are using blurview but only for iOS and on iOS its working fine

[2021-03-31 15:24] fedex995 commented on #561
@vishalnarkhede do you have an estimated release date for this issue?

[2021-03-31 22:02] nhannah commented on #575
Hi @lokewk, Do you plan on updating to v3.x ? I have a PR open now that includes changes that I expect fix the issue you see. https://github.com/GetStream/stream-chat-react-native/pull/581 , 3.x is a large update to the SDK just FYI.

If not could you send a log of the messages in that section? I want to check it against the 2.x logic to see where it could have failed to add a separator (a deleted

[2021-04-01 09:31] lokewk commented on #575
Hi @nhannah, yes we have plans for updating but is not our top priority now also this update will take up a fair bit of our development resource, as this upgrade isn't as simple compare to "Upgrade from 0.x.x to 2.x.x".

[2021-04-01 13:09] tuneerclixlogix opened #586 "checkIcons is always double blue ticks"
1. I sent a message from one device and on another side the user was not online and has not seen the message but still in status of messages double blue ticks are visible.
2. To resolve first point I created my custom component to handle this and used MessageStatus prop in channel where i am using following code
`const messageContext = useMessageContext();
return (
        <>
            {messageC

[2021-04-01 20:25] #559 closed

[2021-04-02 18:38] nhannah commented on #575
@lokewk could you still send the messages from that range of messages so I can compare them to the logic in the date separator for v.  2.x? I want to narrow down the cause so I can propose a solution. Thanks!

[2021-04-03 23:32] elleryfamilia opened #587 "Build failing"
This latest version isn't building:

********************************************
src/components/MessageList/utils/getGroupStyles.ts:17:1 - error TS6133: 'FormatMessageResponse' is declared but its value is never read.

17 import type { FormatMessageResponse } from 'stream-chat';
[code]

[2021-04-04 06:40] vishalnarkhede commented on #587
The latest build has fixed it

[2021-04-04 06:40] #587 closed

[2021-04-05 12:09] nikolaydevico commented on #584
@vishalnarkhede Hello, I have the same issue on android with stream-chat v3.2.0. Also stream-chat example application (https://github.com/GetStream/stream-chat-react-native/tree/master/examples/SampleApp) has the same crash on android.
This crash happens in random moment when you are on the ChannelScreen and something happens (new message comes, you send new message, just typing, etc.).

I have pa

[2021-04-05 13:38] tuneerclixlogix commented on #584
@vishalnarkhede WIth this patch package do we need to also make any patch first or will it automatically fix these issues ?
I also added your hack for blurview
registerNativeHandlers({
  BlurView: () => (
    <View
        style={[
            StyleSheet.absoluteFillObject,
            {
                backgroundColor: 'some_background_color'
            }
        ]}
    />
  )
})
After installin

[2021-04-05 13:39] tuneerclixlogix commented on #584
Sometimes i get these logs
2021-04-05 11:27:00.729 5066-5066/com.app.trueflutterdating E/unknown:ReactInstanceManager: destroyRootView called
2021-04-05 11:27:00.729 5066-5066/com.app.trueflutterdating E/unknown:ReactInstanceManager: destroyRootView called, unmountReactApplication
2021-04-05 11:27:00.731 5066-5066/com.app.trueflutterdating A/ueflutterdatin: java_vm_ext.cc:578] JNI DETECTED ERROR I

[2021-04-05 14:36] tuneerclixlogix commented on #584
@vishalnarkhede
Flipper gave this crash report
![image](https://user-images.githubusercontent.com/72122766/113585746-4982fe80-964a-11eb-9caf-df13909befbd.png)

[2021-04-05 17:53] vishalnarkhede commented on #584
@tuneerclixlogix Please upgrade to `@stream-io/flat-list-mvcp@0.10.0`. I have added fix for this!!

[2021-04-05 19:09] rodrigowpl opened #588 "Question: How can we configure auto-sizing in MessageInput when typing long messages?"
Question:
How can I modify the `MessageInput` component to have a custom size based on the text typed size?

Example:

How it looks like currently (long text):
![image](https://user-images.githubusercontent.com/18172307/113615525-5bed4000-962a-11eb-9d51-78170c348290.png)

My `MessageInput` code:
![image](https://user-images.githubusercontent.com/18172307/113615589-6f001000-962a-11eb-85bb-a8835da44

[2021-04-05 19:24] virdesai commented on #588
@rodrigowpl what version of the `stream-chat-react-native` SDK are you on? on the v3 of our SDK you have the ability to pass in `numberOfLines` as a prop here https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/AutoCompleteInput/AutoCompleteInput.tsx#L124 and that should work more instead of passing it through `additionalTextInputProps`

[2021-04-05 19:29] rodrigowpl commented on #588
@virdesai I'm on `2.1.0`. Will numberOfLines will make the input auto-resizable based on text size like my example? If so I could update it

But anyway, is there a way to do this in the v2? (just checking)

[2021-04-05 19:41] virdesai commented on #588
@rodrigowpl it's likely possible within v2 but may be a lot more involved with `styles` of the `MessageInput` and `AutoCompleteInput` components. As you can see [here](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/AutoCompleteInp ut/AutoCompleteInput.tsx#L436:L477) within the redone v3 version of this component we do a few things around making sure the border aro

[2021-04-05 20:22] rodrigowpl commented on #588
Thanks, I gonna test it

[2021-04-06 08:02] NikitaNesterove opened #589 "Cannot read property 'length' of undefined."
**Describe the bug**
After I've updated stream-chat-react-native to 3.2.0 using cookbook installation, I get the error: Cannot read property 'length' of undefined.

**Dev environment info (please complete/provide the following information):**

- Package version stream-chat-react-native 3.2.0
- react-native
- Device/Emulator Android devise 10 QKQ1.190828.002

**To Reproduce**
1. Upgrade package:
ya

[2021-04-06 08:03] vishalnarkhede commented on #589
Hey @NikitaNesterove Could you please share some code around Chat components?

[2021-04-06 08:31] tuneerclixlogix commented on #584
Thanks @vishalnarkhede , this issue has been fixed.

[2021-04-06 09:28] NikitaNesterove commented on #589
@vishalnarkhede
import React, { FC, useEffect, useState } from 'react';
import {
  ImageSourcePropType,
  SafeAreaView,
  View,
  KeyboardAvoidingView,
  Platform,
  Keyboard,
  ActivityIndicator,
  TouchableOpacity,
} from 'react-native';
import { useIsFocused, useNavigation, useRoute } from '@react-navigation/native';
import { useDispatch, useSelector } from 'react-redux';
import * as Client fro

[2021-04-07 08:57] mogulist opened #593 "iOS App hangs on splash screen in debug mode"
**Describe the bug**
When I turn on `Debug` mode to debug with react-native-debugger, following happens:
`Invariant Violation: TurboModuleRegistry.getEnforcing(...): 'NativeReanimated' could not be found. Verify that a module by this name is registered in the native binary.`
iOS App stops at splash screen.

It is likely that this issue stems from react-native-reanimated v2.x
https://github.com/sof

[2021-04-07 12:28] vishalnarkhede commented on #589
@NikitaNesterove Just to confirm, could you also please share the code around OverlayProvider component?

[2021-04-07 13:18] NikitaNesterove commented on #589
@vishalnarkhede What component are you talking about?

[2021-04-07 13:19] vishalnarkhede commented on #589
https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#overlayprovider

[2021-04-07 13:42] vishalnarkhede commented on #582
Closing this issue for now. Please reopen if you have any more questions!!

[2021-04-07 13:42] #582 closed

[2021-04-07 15:45] virdesai commented on #593
@mogulist what didn't work about upgrading Flipper? when using Flipper you shouldn't need to use the RN Debug Menu to put that app into debug mode as Flipper will already pick up the logs and debug info necessary

[2021-04-07 17:18] nikolaydevico commented on #584
@vishalnarkhede hello, thank you for paying attention on this. I've updated library, but this issue is still there in some cases.
It happens not so often as before, but it's still there
`java.util.ConcurrentModificationException: null
    at java.util.ArrayList$Itr.next(ArrayList.java:860)
    at com.facebook.react.uimanager.UIManagerModule.onBatchComplete
    at com.facebook.react.bridge.NativeMo

[2021-04-07 17:30] junminleeKS commented on #537
@nhannah I was running it on the expo app. I definitely should have tried using a production build so I apologize.

[2021-04-07 21:28] vishalnarkhede commented on #584
@nikolaydevico Couple of questions here:

- do you have steps to reproduce the issue?
- Are you using the inline replies or quoted message functionality?

[2021-04-08 07:00] NikitaNesterove commented on #589
@vishalnarkhede Hi, I don't use this component, is it possible that the error appears because I don't have OverlayProvider?

[2021-04-08 08:25] vishalnarkhede commented on #589
@NikitaNesterove We didn't have OverlayProvider in 2.2.1. But this component is necessary as part of v3. Please check our example and docs for OverlayProvider:

- https://github.com/GetStream/stream-chat-react-native/blob/master/examples/TypeScriptMessaging/App.tsx
- https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#overlayprovider

[2021-04-08 09:49] vishalnarkhede commented on #589
@NikitaNesterove Please let me know if that fixes this issue!!

[2021-04-08 09:50] NikitaNesterove commented on #589
@vishalnarkhede Thank's, will try and the write you

[2021-04-08 11:21] vishalnarkhede commented on #589
Ok great!! I am closing this issue for now, please reopen if you still face this issue :)

[2021-04-08 11:21] #589 closed

[2021-04-08 11:29] TrisKnightGamer commented on #593
Can you copy full your log when install 1.13.2 version ?

[2021-04-08 11:33] TrisKnightGamer commented on #593
And how you had done when install 1.13.2 version ?

[2021-04-08 11:42] tuneerclixlogix commented on #584
@vishalnarkhede Yes few of our users are facing this crash
![image](https://user-images.githubusercontent.com/72122766/114020221-fb117200-988c-11eb-8ac3-3e397d8893f4.png)
![image](https://user-images.githubusercontent.com/72122766/114020484-44fa5800-988d-11eb-8c82-2302a2438408.png)

[2021-04-08 11:50] nikolaydevico commented on #584
@vishalnarkhede I'm trying to find out some cases where it produces crash, but without success. It crashes in random moments. Today it crashed when I just opened chat channel screen.

Re: Threads and replies
They works ok and does not crash application directly when I use them

[2021-04-08 15:51] vishalnarkhede commented on #584
@nikolaydevico @tuneerclixlogix Please upgrade to `@stream-io/flat-list-mvcp@0.10.1`. This version should fix this issue :)

[2021-04-08 20:47] nikolaydevico commented on #584
@vishalnarkhede thank you, I updated library and got one crash. On chat channel screen I put application to background with visible keyboard and after that put application to foreground, I started refreshing of message list and crashed. Don't know may it help or no, but this is what I remember before crash

[2021-04-08 20:57] vishalnarkhede commented on #584
@nikolaydevico did you try clean install? If not, could you please try that!!

[2021-04-08 21:01] nikolaydevico commented on #584
@vishalnarkhede I haven't clean this time, but I'm creating build in release mode in app center to distribute to some people so they can also test. It should be clean and with proper version of library. Will let you know if we see crashes, thank you!

[2021-04-08 22:52] sukrit007 commented on #584
WE are also creating builds in the App center, and notice crashes with 3.2 and 3.3

[2021-04-09 05:48] vishalnarkhede commented on #584
@sukrit007 are you on `@stream-io/flat-list-mvcp@0.10.1`?

[2021-04-09 19:17] Lucasdsk opened #602 "Event message.read is not fired"
**Describe the bug**
I'm creating a webhook to get the events `message.new` and `message.read` for analytics purposes. But I realized that the event `message.read` is fired only if the user is with the Chat opened and receives a new message.

**Dev environment info (please complete/provide the following information):**

- "stream-chat-react-native": "^2.1.0"
- "react-native": "0.63.4"
- iOS 14.4 E

[2021-04-09 21:24] ericlifs opened #603 "MessageList scrollTo is not a function error v2.2.2"
**Describe the bug**
I'm accessing the chat screen and once the messages are loaded I'm getting the following error `this._scrollRef.scrollTo is not a function` (more info on the screenshot). As soon as I remove the `<MessageList ... />`, I don't get the error anymore.

I have dived into the library code, and I figured out the issue is with this particular line:
![image](https://user-images.github

[2021-04-09 23:12] sukrit007 commented on #584
@vishalnarkhede  We just upgraded to 3.3.1 with  0.10.1.   The frequency of crashes has definitely reduced after this change.

[2021-04-09 23:13] Lucasdsk commented on #602
I'll close this issue because I figured out that we were using the `markAllRead` function when navigating to the Chat screen.

[2021-04-09 23:13] Lucasdsk commented on #602
I'll close this issue because I figured out that we were using the `markAllRead` function when navigating to the Chat screen.

[2021-04-09 23:13] #602 closed

[2021-04-10 07:48] vishalnarkhede commented on #584
@sukrit007 are you still able to see some crashes though, on latest version of your app?

[2021-04-10 08:09] sukrit007 commented on #584
@vishalnarkhede  Today we just saw 1 crash after the upgrade.   We were not able to replicate that crash though.  We will keep watching.

[2021-04-10 19:02] ericzhou27 opened #604 "Support for uploading videos via camera roll"
I'm looking for a way to handle the uploading of videos from the camera roll. Videos show up in the  when I set this:

<img width="364" alt="Screen Shot 2021-04-10 at 11 56 28 AM" src="https://user-images.githubusercontent.com/43918217/114281549-ca981800-99f3-11eb-8ddb-ced99c7df79d.png">

but they don't process correctly and fail to get uploaded. Would it be possible to add this?

<img width="826"

[2021-04-12 18:07] shravyaramesh commented on #64
Could you please tell me how you managed to achieve this?

[2021-04-12 18:22] sregg commented on #64
Ended up using [Sendbird](https://sendbird.com/) and [Gifted Chat](https://github.com/FaridSafi/react-native-gifted-chat)

[2021-04-12 18:25] shravyaramesh commented on #64
Wow okay! Thank you for letting me know. Really appreciate it. Is there a reason why you decided to make the switch?

[2021-04-13 00:15] teeaaspoon opened #606 "best way to know if user has unread messages"
**Describe the bug**

Not really a bug. I want to show on other pages of my app with a red dot indicating that they have unread messages.

Currently I am fetching all the channels, and sorting them by unread and checking to see if the first channel has unread messages.

This is inefficient because everytime I load the page I need to fetch all channels. is there a more efficient way to just know th

[2021-04-13 00:27] shodgetts commented on #606
Hello, the response from connectUser, which you'll be using at the top of your app somewhere is going to include two fields that will be useful to you. Please use these to render your unread indicators.

[code]

Then you will want to subscribe to changes in unread count in your app with an event handler such as this

[code]

If you have any further questions, please email support@getstream.io with

[2021-04-13 00:27] #606 closed

[2021-04-14 01:17] likeaj6 opened #608 "SocketRocket: In debug mode. Allowing connection to any root cert"
**Describe the bug**
A clear and concise description of what the bug is.

Getting this error message: `SocketRocket: In debug mode. Allowing connection to any root cert. `

Seems to be an underlying socket/connectivity issue, but unclear what's causing it/how to resolve it when it occurs. It happens relatively sporadically, but the messages in the channel all disappear when it occurs and so it's p

[2021-04-15 02:42] builtbyproxy opened #609 "When importing types, bundling failed, Unexpected token"
**Describe the bug**
When running my mobile app, the node_module `stream-chat-react-native-core` is failing to import types.

As soon as the dependency graph is loaded, I get the error: `bundling failed: SyntaxError <...> node_modules/stream-chat-react-native-core/src/utils/useStreami18n.ts: Unexpected token (3:12)`

**Dev environment info (please complete/provide the following information):**
- *

[2021-04-16 10:37] mogulist opened #610 "[Questions] Different bubble style for me and others and change border radius"
Hi,  I have two questions.
Firstly, I want to use blue background for my bubble and white background for others. I tried with my custom theme as below:
[code]
I could change colors of bubbles, but couldn't find any way to apply different color for the bubbles on the left side.

Secondly, I would like to change borders of bubbles. However I was able to change only bottom left and bottom right borde

[2021-04-16 10:42] vishalnarkhede commented on #610
Hey @mogulist You can provide `myMessageTheme` prop on Channel component.

[2021-04-16 13:42] NikitaNesterove commented on #589
Hi @vishalnarkhede I added OverlayProvider, for I receive error from channel screen:
![Screenshot 2021-04-16 at 16 38 44](https://user-images.githubusercontent.com/78030854/115032655-3685ef00-9ed2-11eb-88be-81d47114ec7d.png)

I send channel use navigation:
![Screenshot 2021-04-16 at 16 41 06](https://user-images.githubusercontent.com/78030854/115032947-8bc20080-9ed2-11eb-8b3d-0e664ef806a9.png)
![S

[2021-04-16 14:39] mogulist commented on #593
@virdesai , I was doing other things for a week. I will try and let you know next week what didn't work when I upgraded Flipper. I will also try using Flipper.

[2021-04-16 14:41] mogulist commented on #593
@TrisKnightGamer  I was doing other things for a week. I will share the log early next week. Thanks.

[2021-04-16 14:52] mogulist commented on #610
Dear @vishalnarkhede , it works. Left bubbles have white background. Thank you. Only now I found that `myMessageTheme` is stated in Cookbook v3.0. I missed that part.
![image](https://user-images.githubusercontent.com/25053780/115042656-ab771a00-9f0e-11eb-87ae-9bbc14fb0f53.png)

[2021-04-16 15:05] rmacuna opened #611 "Typing indicator still showing even if the user is not in the app"
Hello!

**Typing indicator still showing even if the user is not in the app**
I have a conversation with another user (just one person) and if I start typing, and suddenly close the app, the typing indicator still showing that I'm typing. This is not the correct behaviour because it's very likely to send a message and close the app (maybe I don't want to continue talking or I don't want an immedia

[2021-04-16 16:44] NikitaNesterove commented on #589
I fixed this, for now get error when open chat: message.type undefined

[2021-04-16 18:24] #610 closed

[2021-04-16 19:38] nhannah commented on #609
Hi @builtbyproxy can you confirm your TypeScript version? It looks like it may be an older version that did not support import type (pre 3.8).

[2021-04-16 20:31] nhannah commented on #609
I see you mention `Am I missing a typescript requirement? Do I need a package locally somewhere?` I think it is likely you already have an old TS version installed, or if I am wrong there you should install one. We use bob https://github.com/callstack/react-native-builder-bob for distro and therefore when running on `react-native` it uses the `index.ts` as an entry point to make debugging easier.

[2021-04-16 21:16] nhannah commented on #604
Hi @ericzhou27; you are correct there is not a good way to upload videos at the moment from the camera roll, it is in our roadmap to fully support videos but currently they are uploaded as files as noted. Using the built in UI to pull from the gallery into the file upload (as would be needed at the moment) would not be possible using the current component. I have noted this to our product owner an

[2021-04-16 22:09] nhannah commented on #603
Hi @ericlifs have you considered upgrading to V3? It is an overhaul of the library and will require some changes to integration, but I know this issue will not exist there. Based on checking that `.current` exists in the `if` check I am not sure offhand why you are getting this occurance.

[2021-04-17 02:04] mogulist commented on #610
@nhannah Oops, border radius issue is not resolved yet!

[2021-04-18 15:27] bgeisb commented on #53
## If someone has the same problem:

The following post solved my problem:
https://stackoverflow.com/questions/62054421/how-do-i-enable-devtokens-on-getstream-io

[2021-04-18 18:01] swifterman opened #613 "Problem with run sample"
I want to just add the  sample code which is from here:
https://github.com/GetStream/stream-chat-react-native/wiki/Tutorial-v3.0
but I'm facing with the error which I attached the screenshot here.
![Simulator Screen Shot - iPhone 11 - 2021-04-18 at 20 54 05](https://user-images.githubusercontent.com/80140790/115155462-bce43180-a088-11eb-9c0d-1da92cf30544.png)
![Simulator Screen Shot - iPhone 11 -

[2021-04-19 00:16] mogulist commented on #610
Since, this issue is closed, I posted my second question in discussion:
https://github.com/GetStream/stream-chat-react-native/discussions/614

[2021-04-19 11:42] wodow opened #615 "Upgrade helper wiki page is missing 2.x -> 3.x path"
https://github.com/GetStream/stream-chat-react-native/wiki/Upgrade-helper is prominently linked from the project's [main README](https://github.com/GetStream/stream-chat-react-native/blob/master/README.md) but does not mention the 3.x major version, or how to upgrade to it from 2.x

[2021-04-20 13:59] YohaanYoon opened #618 "HEIC format file browser not supported"
stram-chat-react: v5.1.6
stream-chat: v3.1.4

When users uploaded HEIC format images by android app, stream-chat-react did not displayed on browser.

![스크린샷 2021-04-16 오후 5 33 24](https://user-images.githubusercontent.com/6019966/114996532-e0b54500-9ed9-11eb-92fa-8bb8d4ed0e47.png)

[2021-04-20 14:00] DanC5 commented on #618
@YohaanYoon I've transferred your issue to the React Native repo. These guys will be with you soon, thanks!

[2021-04-21 06:58] dhruvtailor7 opened #622 "Attachment Picker does not resize after orientation change."
**Describe the bug**
When the attachment picker is opened after the orientation is changed, it does not resize itself according to the screen. It only works on the orientation in which the screen was opened.

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native : 3.3.2
- react-native : 0.64.0
- Any Android/iOS device

**To Reproduce**
Steps to r

[2021-04-21 10:29] vishalnarkhede commented on #622
Hey @dhruvtailor7 Currently we don't support landscape mode on Chat components. Its in our roadmap though. I can't give you exact timeline about it at the moment, but I will say somewhere around Q4 this year.

[2021-04-21 10:29] #622 closed

[2021-04-21 10:34] vishalnarkhede commented on #615
Hey @wodow We don't have upgrade helper for v3 of SDK, since it's a major architectural change to SDK and it's not possible to write down every change in upgrade helper. I would recommend you to read our HOC component descriptions here - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#components

[2021-04-21 10:34] #615 closed

[2021-04-21 11:41] vishalnarkhede commented on #609
@builtbyproxy ping ^^

[2021-04-21 13:37] wodow commented on #615
Understood. IMHO your post here would be a useful alternative to nothing in the Upgrade helper document!

[2021-04-21 23:28] builtbyproxy commented on #609
Thanks @vishalnarkhede
Sorry for the delay on this

[2021-04-22 08:18] deepesh-kn commented on #622
Hi @vishalnarkhede,

This feature was working on the old version i.e. before **3.0.0**. So the functionality that was working is now broken. This is a bug and not a feature request.

This will restrict us to upgrade to the new version of SDK.

Do you expect your users not to use SDK on Tablets? Given the nature of the product, restricting the orientation on tablets to portrait mode is not an optio

[2021-04-22 12:15] vishalnarkhede commented on #613
Hey @swifterman could you confirm if you have added `OverlayProvider` as a wrapper around navigation?

[2021-04-22 12:18] vishalnarkhede commented on #611
Hey @rmacuna I will get back on this shortly!!

[2021-04-22 13:21] vishalnarkhede commented on #618
@YohaanYoon Can you send us the URL to image from your screen?

[2021-04-22 13:22] vishalnarkhede commented on #609
I will close this one for now. Please reopen whenever you are ready ;)

[2021-04-22 13:22] #609 closed

[2021-04-23 09:36] vishalnarkhede commented on #575
@lokewk could you send a log of the messages in that section??

[2021-04-23 09:38] vishalnarkhede commented on #588
@rodrigowpl For v2, you can take a look at this example - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-(2.x.x)#growing-input-box-with-content

[2021-04-23 09:38] #588 closed

[2021-04-23 09:53] vishalnarkhede commented on #603
Do you still get this error if you remove following code?

<img width="270" alt="Screenshot 2021-04-23 at 11 51 59" src="https://user-images.githubusercontent.com/11586388/115854227-52d1e080-a42a-11eb-8ff9-ef960e6daae6.png">

[2021-04-23 20:07] rodrigowpl opened #625 "Android devices stop receiving push notifications"
Android devices stop receiving push notifications since yesterday and we did not change anything in our code or Firebase configuration. I'm also not seeing anything in the push logs in the dashboard.

Could we make a call with the engineering team or could you check your internal logs to try to figure out? I've also submitted a support ticket couple of minutes ago

[2021-04-24 08:54] alpfactory-alex commented on #206
Will RNW support be available anytime soon?

[2021-04-26 14:32] rodrigowpl commented on #625
Could you please take a look here @vishalnarkhede ?. I just need to see, at least, more logs to understand what's going on.

My support ticket code: 11357

[2021-04-26 18:22] jamesholcomb opened #626 "user_id is undefined in messageActions"
Trying to add a custom message action.  `message.user_id` is always undefined when long pressing a message, then tapping on the custom action (View User).

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
    "stream-chat": "3.7.0",
    "stream-chat-react-native": "3.3.1",
- react-native or expo version: 0.

[2021-04-27 10:12] mobeendev opened #627 "Not able to see the Channel Llist"
**Describe the bug**
Can not see the channel list.

**Dev environment info (please complete/provide the following information):**

{
  "name": "ReactNativeChatTutorial",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint ."
  },
  "dependenci

[2021-04-27 17:44] likeaj6 commented on #608
Wanted to follow up on this - I haven't been able to pinpoint whether the error message is the cause of the issue with messages disappearing and empty state being shown, but messages disappearing completely happens often enough in our solution for it to be a deal-breaker. We've tried adding a reload button to re-watch the channel, which appears to help sometimes, but is not a great solution.

We m

[2021-04-28 07:24] vishalnarkhede commented on #626
Hey @jamesholcomb I will check with backend team about whats happening here. But meanwhile, please use `message.user.id`.

[2021-04-28 07:24] #626 closed

[2021-04-28 07:30] vishalnarkhede commented on #608
Hey @likeaj6 we are looking into this. Will get back shortly

[2021-04-28 18:35] vishalnarkhede commented on #613
Closing this for now!! Adding OverlayProvider should solve this problem

[2021-04-28 18:35] #613 closed

[2021-04-30 12:39] YohaanYoon commented on #618
Please refer to a follow link:

https://singapore.stream-io-cdn.com/63314/images/64175652-ff02-4f65-ad17-378a2138502b.20210420_135249.heic?ro=0&amp;Expires=1620993882&amp;Signature=HAjF7MplX~4dlNIjFXpJHtwd3uXLY7MNoh6ae7R97eg62aW2O4qo5bDoPwGATRUVhltA3YAdWVDt8SxoFb8flkuWhOWjLUczr4ei4s0oqiY1BWPD~j0h42qjXvhEuq3B6vUQjaYogCO2ItJ0jt2tHvHNWtyV4ouF2OykHC~7czsbiIyEXuLBdlA8~8M8Jf7WHiodxNQaJrzZddzUPqq4vrg640c

[2021-05-01 03:20] sukrit007 commented on #584
@vishalnarkhede  Ok I found a path for reproducing this issue.  Attach a file to the message.  Now try to open the file,  but instead of specifying the application to open the current file,  press the back button.  Repeat this step 7-8 times,  and the app crashes.    I am using getstream react native 3.3.3

[2021-05-02 08:25] parakramadr opened #632 "How can I customize "searching people" (Mention) in the Message Input? Like sort the order?"

[2021-05-03 16:43] vishalnarkhede commented on #632
Hey @parakramadr I add an enhancement request on our backlog. But currently you can't update this sort.

[2021-05-03 16:43] #632 closed

[2021-05-04 04:06] parakramadr opened #635 "Can the messages already sent to the chat thread highlighted with some colors?"

[2021-05-04 04:12] parakramadr opened #636 "Once we click the mentioned user in the past message , can we redirect to that users profile screen like Slack?"

[2021-05-04 06:24] vishalnarkhede commented on #635
@parakramadr I don't think I understand the question correctly. Could you please share some more details or some screenshot?

[2021-05-04 09:07] parakramadr commented on #635
![Simulator Screen Shot - iPhone 12 - 2021-05-04 at 14 34 28](https://user-images.githubusercontent.com/8720962/116982005-e8e8ef00-ace5-11eb-9fe8-2d3efc7615f7.png)

I want to highlight some of the past chats with colors. Can I do that?.

[2021-05-04 09:52] vishalnarkhede commented on #635
@parakramadr Whats the criteria for highlighting?

[2021-05-04 10:40] parakramadr commented on #635
ITs just a client requirement to highlight some message texts. and is there any way that we can get the user id once we tap the @mentionuser in the message body?.

[2021-05-06 07:22] vishalnarkhede commented on #635
Hey @parakramadr please take a look at our docs about customing message bubble - https://github.com/GetStream/stream-chat-react-native/wiki/Cookbook-v3.0#How-to-customize-message-component

[2021-05-06 07:30] vishalnarkhede commented on #625
Moving conversation to ZD, since issue is not related to RN sdk!!

[2021-05-06 07:30] #625 closed

[2021-05-07 06:02] builtbyproxy commented on #609
I've done a check locally and can confirm I do not have any typescript installed
![image](https://user-images.githubusercontent.com/16897508/117404579-82660a00-af4d-11eb-941b-da993a95071a.png)

Nor do I have typescript in the actual application as we use Flow

[2021-05-07 08:23] builtbyproxy commented on #609
Disregard this for now ^ I believe it might be an issue with my babel version. I might need 7.9.0 of core yet have 7.4.0

[2021-05-07 10:05] #635 closed

[2021-05-07 10:29] thomas-shares opened #640 "App Crash with evaluating 'delete animationCopy.callBack'"
**Describe the bug**
I just upgraded my Expo App to Expo 41 and then I start the app I am getting this error:

undefined not an object (evaluating 'delete animationCopy.callBack')
This is the error I am getting on Android. On iOS I don't even get this error, the app just crashes and doesn't show anything.

**Dev environment info (please complete/provide the following information):**
I am running

[2021-05-07 10:37] thomas-shares commented on #640
oh, and I have tried cleaning everything up as well:

`npm cache clean --force  && rm -rf /tmp/metro-cache/ &&   rm -rf node_modules/ && npm install --legacy-peer-deps && npm start`

and that doesn't make the problem go away.

[2021-05-07 12:15] thomas-shares commented on #640
After some more experimenting it turns out that the fix described in the react-native-reanimated issue solves the problem. And thank you for this great product, it really has helped us a lot. Thank you!

[2021-05-07 12:15] #640 closed

[2021-05-10 23:06] lucaswhitman opened #655 "Contextual Reactions"
**Describe the question**

Hi all, I referenced the issue in the template to see if I could add a comment there but it appears that issue was closed. So I wanted to drop this here in case someone could help, if there's a new/updated location for questions like this please point me to it and I'll gladly move it.

I'm trying to understand supported reactions, and if there's a way to have a set of co

[2021-05-11 05:21] tuneerclixlogix opened #656 "PushNotifications stopped working on both ios and android"
Our application is live and the push notification suddenly stopped working. I have checked in the adb logcat and there is no event received for its push notifications.
We also tried the testPushSettings method from our server to send test push notification to specific id but in its response we are getting
data: {
      code: 4,
      message: 'CheckPush failed with error: "User has no enabled devi

[2021-05-12 05:28] tuneerclixlogix commented on #656
@vishalnarkhede I just checked and i don't think our this code is getting used, but we were getting notifications till now. Is it something that is also done from the sdk itself ?

[2021-05-12 10:40] vishalnarkhede commented on #656
No we don't add devices from RN sdk. It needs to be done on application side!!

[2021-05-12 10:46] tuneerclixlogix commented on #656
Okay @vishalnarkhede , It was working before somehow so I didn't noticed that . I added this method and now in debug mode for android I am receiving push notifications but not for iOS.
I tried following methods for iOS :
1. I sent the token generated by firebase package and kept the second parameter  as firebase (not receiving push)
2. I sent the token generated by @react-native-community/push-not

[2021-05-12 14:07] vishalnarkhede commented on #656
We are currently working on moving our docs to recommend firebase for both iOS and Android. You can take a peek at this draft for firebase implementation for iOS and Android - https://github.com/GetStream/stream-chat-react-native/blob/vishal/docu-markdown/docusaurus/docs/React%20Native/Guides/push_notifications.mdx

[2021-05-15 06:37] vishalnarkhede commented on #608
Hey @likeaj6 this issue has been fixed and published as part of 3.4.0!!

[2021-05-15 06:37] #608 closed

[2021-05-17 03:36] vokhuyetOz commented on #640
@thomas-shares , could you share with me which issue solves the problem?
Thank you

[2021-05-17 07:57] thomas-shares commented on #640
@vokhuyetOz  I have a fork which solves this issue: https://github.com/Blue-Feniks/react-native-reanimated
I will make a PR for this and hopefully this will get merged.

[2021-05-17 09:38] vokhuyetOz commented on #640
thanks. i had been resolved it by myself.

[2021-05-17 16:01] nandorojo commented on #51
Is this planned with `AsyncStorage`?

[2021-05-17 16:02] nandorojo commented on #206
Also curious, is web working? Reanimated 2 now works on web, as does RNGH.

[2021-05-18 11:00] RBrNx opened #670 "ImageGallery displays in reverse order"
**Describe the bug**
First of all, thank you for open sourcing these components, the ImageGallery is probably the best example of Pinch/Pan/Swipe gestures with Reanimated v2 I've found online!

I'm trying to implement the ImageGallery component in my own JS project, so I copied the code and removed all the types from it, but left everything else intact. I also added an `images` prop to it so that

[2021-05-18 11:03] RBrNx commented on #670
On another note, I believe there is also a small bug in the `onPan` handler. I think [Line 426](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/ImageGallery/ImageGallery.tsx#L426) should be a single equals `=` instead of an equality check `===`.

[2021-05-18 16:01] nhannah commented on #670
Good catch.

[2021-05-18 16:11] nhannah commented on #670
So for the reversal you will need to change some stuff in the components, this reversal was done after the original to fit our needs. `scaleX:  -1` needs to be removed from everywhere, there will also be other math changes I believe. This is the commit it was added in, you should be able to see the changes that were done to the math there. https://github.com/GetStream/stream-chat-react-native/comm

[2021-05-18 16:34] RBrNx commented on #670
@nhannah Ah fantastic, that's a great help, thank you!

While I've got you, would you be able to shed any light on the `AnimatedGalleryImage` component and the reasoning behind the choice to scale the image by 8x before translating and then reverting the scale back down?

[2021-05-18 16:43] #670 closed

[2021-05-18 16:48] nhannah commented on #670
Sorry closed before your questions appeared. Yes, that is a key to the whole thing actually, if you just scale the image you will see a quality loss going up from 0 -> X, if you try to change the image dimensions dynamically you will see very bad performance as the image will re-render on size change, this trick results in a high res zooming because you start the image at the largest zoom you allo

[2021-05-18 16:53] RBrNx commented on #670
Ahh that makes sense, I didn't even think about it from an image quality perspective! That's really helpful, thank you.

Hoping to try and reduce the number of "magic numbers" in some of the math, happy to PR those changes back into this codebase if I'm successful 😄

[2021-05-19 09:24] RBrNx commented on #670
@nhannah Apologies, wanted to go through the full code and pick out the numbers I wasn't totally sure on 😊

[Line 439](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/ImageGallery/ImageGallery.tsx#L439) - I wasn't sure what the `< 3` check was doing? (3 also seems to be used in multiple other places, [518](https://github.com/GetStream/stream-chat-react-native/blob/

[2021-05-19 10:56] leena-sharma commented on #561
@vishalnarkhede  Any update on this ?

[2021-05-19 17:14] nhannah commented on #670
Ah ok, the `3` is t account for some rounding with the animations, when you hit an edge and bounce back in a perfect world  `Math.abs(halfScreenWidth * (scale.value - 1) - offset.x.value)` would equal `0`, but it does not always, so there is a buffer.

The 1/3 is just a visual choice for how much the image should shrink when dragging it down and "away".

The `+8` was another choice by feel, basica

[2021-05-21 04:07] ericzhou27 opened #673 "Unable to resolve module `./InlineLoadingIndicator` from `node_modules/stream-chat-react-native-core/src/components/MessageList/MessageList.tsx`"
I've just upgraded stream-chat-react-native to version 3.4.0 from 3.1.0, and I'm getting the following error when building:

[code]

Any idea on how I could resolve this?

[2021-05-21 05:32] parakramadr opened #674 "MessageInput not autofocus keyboad when appending ."
Hi,

When I append the text (using appendText method of Input) to the MessageInput component for IOS devices the keyboard appear but for android devices the key board not appearing . To appear the keyboard in android I need to touch the input filed. I tried the autocous as below but not working. I want to focus the keyboard when the appending the text .

I tried this

  <MessageInput
          Inp

[2021-05-21 19:23] lucaswhitman opened #676 "Reactions in thread not reactive"
**Describe the bug**
Reactions are not immediately appearing in threads. You have to leave the thread and come back before they display. We've done a lot of customization but most of it is visual. Seems more like a reactivity problem.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
[code]
- react-native o

[2021-05-25 06:36] leena-sharma opened #677 "Loading indicator shown instead of message when coming from background"
HI,

When i am at the message window having messages list, If i set my app t background and come back it shows Loading indicator instead of messages and then show list,

What can i do if i have to remove loading indicator but chat should be updated ?

[2021-05-25 08:06] leena-sharma commented on #586
Hi,
@vishalnarkhede  Any update on this issue ?

[2021-05-25 12:19] vishalnarkhede commented on #677
Hey @leena-sharma , please upgrade to 3.4.0. We have fixed this issue :)

[2021-05-25 12:19] #677 closed

[2021-05-25 12:20] #586 closed

[2021-05-25 12:23] vishalnarkhede commented on #674
Have you tried following?

[code]

[2021-05-25 12:24] vishalnarkhede commented on #673
Hey @ericzhou27 have you tried clean install?

[code]

[2021-05-25 18:22] jehartzog opened #678 "Stale ChannelList after multiple quick renders with changing Filter prop"
**Describe the bug**
If the screen which creates the `filter` prop for `ChannelList` quickly renders two or more different `filters`, only the first filter will be fetched, with the subsequent filters being discarded. This results in a stale `ChannelList` until it is manually refreshed.

**Dev environment info:**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a screen with a

[2021-05-25 19:11] vishalnarkhede commented on #678
Hey @jehartzog I don't think you should render ChannelList component with filters - `{members: {$in: ['']}}`. You should simply show some loading indicator until `streamUuid` is ready. Otherwise you are requesting results, which don't belong to that user ... kinda security issue!!

[2021-05-25 19:39] jehartzog commented on #678
@vishalnarkhede Thanks for quick response!

I simplified the code a little bit to try to keep the reproduction free of our specific business logic, but thanks for the heads up on how to do with zero state.

Let me shift over to a more realistic version to show why the line of code I mentioned above is problematic.
[code]
Repro goes like this:

1. App is loaded, state data hydrated from AsyncStorag

[2021-05-25 20:35] sealabcore commented on #51
+1 are you all still planning on a Q2 launch of caching messages and images in the client (offline mode)? Loading channels / messages in a channel / images on slower phone internet connections is quite painful. Thanks in advance! Happy to test a pre-release if available 😄

[2021-05-26 06:24] YohaanYoon opened #680 "Date format is invalid in a message list"
**Describe the bug**
A clear and concise description of what the bug is.
I guess a date format or translation key of dayjs is invalid in a message list of stream-chat-react-native.
The date is displayed an attached image as follow:

<img src = https://user-images.githubusercontent.com/59902686/110083811-800ef480-7dd2-11eb-8a51-9fe2d02efdcf.jpg width = "40%">

**Dev environment info (please complet

[2021-05-26 07:04] vishalnarkhede commented on #680
@YohaanYoon Can you please try upgrading to 3.4.0? We have introduced inline date separators as part of latest releases which are better choice for message dates,

[2021-05-26 08:09] vishalnarkhede commented on #680
@YohaanYoon Well the format definitely exists https://day.js.org/docs/en/display/format#list-of-all-available-formats

Probably it doesn't work with the given language. Could you please tell me which language are you using?

[2021-05-26 08:26] YohaanYoon commented on #680
@vishalnarkhede
I am using Korean.
Anyway, I guess 'LL'  is more common date format.

[2021-05-26 14:56] diegobugs commented on #537
@vishalnarkhede @nhannah we are facing the same issue with FPS drop when there are more more than 4 images attached.

I recorded an example video about our app in release mode.
https://drive.google.com/file/d/1yUMjiulUZWlTqdfCB0HvaQfH_VJy-TSC/view?usp=sharing

Our environment info:
React Native:
- Version 0.64.1
- Hermes enabled

Package:
- stream-chat-react-native@3.4.0
- stream-chat@3.9.0

Devic

[2021-05-26 18:05] fwdevin commented on #542
@virdesai Pardon the delay. The error goes away when I have a different screen in the navigator. The app does work by itself.

[2021-05-26 22:50] nhannah commented on #680
LL is not the preferred structure for this as it gives long form month and year unnecessarily. You can replace any of these though....
[code]

will display `IamMAYinKO 26` today doing this.

[2021-05-26 22:50] #680 closed

[2021-05-26 23:24] lucaswhitman opened #684 "Disabling Markdown"
This isn't a bug so much as a question. We're wanting to disable any markdown, the docs here say it's possible but I've yet to find the actual steps to do this and I'm not seeing options in the code:

https://getstream.io/chat/docs/react-native/markdown/

Can you point me in the right direction @vishalnarkhede? Thanks in advance.

[2021-05-27 16:32] lucaswhitman commented on #684
Figured out how to override by passing in a set of `null` rules, I'd love to hear more if there's a better way to do it. Closing for now though.

[2021-05-27 16:32] #684 closed

[2021-05-28 18:03] lucaswhitman commented on #676
@vishalnarkhede just checking in, any thoughts on this one before we dive in and try and patch it?

[2021-05-28 21:00] #674 closed

[2021-05-28 21:02] vishalnarkhede commented on #678
@jehartzog let me take a look at it next week. Thanks for detailed explanation :)

[2021-05-28 21:03] vishalnarkhede commented on #676
Hey @lucaswhitman let me take a look at it next week. Thanks for bringing this up!!

[2021-05-29 15:48] parakramadr opened #691 "Images not uploading for when use onChange in AutoCompleteInput"
I use AutoCompleteInput like this. My prob is

[code]

@vishalnarkhede

[2021-05-31 02:03] YohaanYoon commented on #680
https://github.com/iamkun/dayjs/blob/06f88f425828b1ce96b737332d25145a95a4ee9d/src/locale/ko.js#L16

As you shown in github reference (the Korean translation for dayjs), D is needed one more character (일) in the Korean.
When you used `MMM D`, `MMM` looks fine, but, `D` looks very weird in the Korean.
If `LL` or `LLL` is too long, I recommend `L` format.
Please consider it and let me know the result

[2021-05-31 04:04] giautm opened #693 "react warning about state update on an unmounted component"
**Describe the bug**
[code]

I found the bug happened in: `useStreami18n.ts`, `usePaginatedChannels.ts` and `useIsOnline.ts`

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): 3.5.0
- react-native or expo version: 41.0.1
- Device/Emulator (android/ios) and OS version: iOS/Simulator

**To Reproduce**
Steps t

[2021-05-31 04:49] giautm opened #694 "i18n: missing translation for _Message deleted_"
https://github.com/GetStream/stream-chat-react-native/blob/344442379e419ead818c09d15018f254f6bc977e/src/components/Message/MessageSimple/MessageDeleted.tsx#L135

[2021-05-31 10:57] tuneerclixlogix opened #695 "Cannot read property 'user' of undefined"
@vishalnarkhede
versions:
"stream-chat": "^3.7.0",
"stream-chat-react-native": "^3.3.3",
Our users have recently faced crashes on android devices on 29th May, the crash report on crashlytics was
![image](https://user-images.githubusercontent.com/72122766/120182372-ecf82600-c22b-11eb-8bf5-9f32e3715b25.png)
Is this something that occurred for just the time being or there are some recent changes with

[2021-05-31 11:25] plotic opened #696 "Attachment Picker file filter option"
Is it possible to add a filter for file picker ? So we can limit types of files the user can attach.
Thanks

[2021-05-31 13:35] tuneerclixlogix commented on #656
@vishalnarkhede This issue was fixed after adding the device push notifications started working fine.

[2021-05-31 13:37] tuneerclixlogix commented on #584
@vishalnarkhede Our live users are still facing this crash , its being reported on crashlytics on several devices
![image](https://user-images.githubusercontent.com/72122766/120201818-7830e600-c243-11eb-86b0-fca1c5ea8020.png)

[2021-05-31 21:44] fwdevin commented on #542
I just updated the dependencies in [this snack](https://snack.expo.io/@fwdevin/stream-chat-expo-example), now the error is `Unable to fetch module snackager-1/stream-chat-expo@3.5.0 for web. Evaluating stream-chat-expo.js`. Seems like this won't work as a snack unless we can point to a local build?

[2021-06-01 20:13] #656 closed

[2021-06-01 21:55] jehartzog opened #697 "ChannelList default onAddedToChannel prop ignores filters prop"
**Describe the bug**
If you apply a set of filters to `ChannelList`, these are ignored by the default `onAddedToChannel` event. After being added to a channel, it will show up in the `ChannelList`, even if the filters should remove it. After a `ChannelList` refresh, the newly added channel will go away.

**Dev environment info:**

[code]

**To Reproduce**

1.
[code]
2. See that no channels are loa

[2021-06-02 06:57] vishalnarkhede commented on #694
Thanks for bringing this up @giautm , we will fix it in next patch!!

[2021-06-02 07:00] vishalnarkhede commented on #697
Hey @jehartzog we generally send `notification.added_to_channel` to all members of channel. We don't keep track of filters applied. So the solution which you used, is correct.

[2021-06-02 07:00] #697 closed

[2021-06-02 07:01] vishalnarkhede commented on #695
@tuneerclixlogix are you able to reproduce this locally?

[2021-06-02 07:03] vishalnarkhede commented on #691
@parakramadr where are you accessing `sendMessage` function in following line?
[code]

[2021-06-02 07:07] tuneerclixlogix commented on #695
No @vishalnarkhede , this happened on 28th and 29th may with few users after that there is no record of this crash , I am not able to generate this locally.

[2021-06-02 07:16] vishalnarkhede commented on #542
@fwdevin this SDK is not supported for web currently

[2021-06-02 11:47] parakramadr commented on #691
I use custom InputBox and access the get the sendMessage() method from there like below.

export const InputBox = forwardRef((props, ref) => {

  const {
    _pickFile,
    _pickImage,
    appendText,
    isValidMessage,
    sendMessage,
    updateMessage,
    _uploadImage,
  } = props;

after that once i click the custom send button it calls this method

onPressSend = async () => {
    setMention

[2021-06-02 11:55] vishalnarkhede commented on #691
@parakramadr you should access sendMessage from `MessageInputContext`. E.g., https://github.com/GetStream/react-native-samples/blob/main/projects/slack-clone/src/components/SendButton.js

[2021-06-02 14:34] parakramadr commented on #691
@vishalnarkhede I am using "stream-chat": "2.11.5", "stream-chat-react-native": "2.2.2". I cannot find MessageInputContext there. I cant upgrade to v3. how can I achieve that?

[2021-06-03 17:24] HighThereDev opened #700 "Introduction of React Native Reanimated"
Hey guys, we've recently upgraded out stream-chat-react-native from 2.0.0 to 3.0.0. So far the team is really enjoying all of the new stuff we get out of the box. The UI is beautiful and its just as easy to implement as before.

However, one thing irking the team is the introduction of Reanimated 2, and specifically the introduction of Turbo Modules and the conflict that creates with remote debugg

[2021-06-03 17:25] #700 closed

[2021-06-03 17:26] jamesdunay opened #701 "Introduction of Reanimated 2 prevents remote debugging"
** sorry for previous issue, made it under the company account.

Hey guys, we've recently upgraded out stream-chat-react-native from 2.0.0 to 3.0.0. So far the team is really enjoying all of the new stuff we get out of the box. The UI is beautiful and its just as easy to implement as before.

However, one thing irking the team is the introduction of Reanimated 2, and specifically the introduction

[2021-06-03 18:02] nhannah commented on #701
Hi James,

Flipper is currently the only solution for full debugging. But there are many uses of Reaniamted 2 throughout the SDK to provide gesture based interactions, the image picker, the [image gallery](https://github.com/GetStream/stream-chat-react-native/blob/master/src/components/ImageGallery/ImageGallery.tsx), the swipe gestures on overlays, plus all the smaller animations as noted. So the

[2021-06-03 18:12] fwdevin commented on #542
@vishalnarkhede To be clear this isn't running on web. So I guess this can't be reproduced via Expo snack?

[2021-06-04 17:09] junminleeKS commented on #537
Is there any update on the status of this issue? I have not tested any of the newer versions past 3.2.0 but based off of @diegobugs comment I am assuming this issue has not yet been resolved.

[2021-06-07 20:46] FabDuarte opened #703 "Trying to use a fork version. Native handler was not registered error."
Hi,
I know there are several ways to customize the chats, through themes and specific components, but still, we need to do some small changes to the Reply component.

We did a fork on Github and then we tried to use the fork URL in the `package.json` but we are getting an error saying "Native handler was not registered (see image below)"

**Dev environment info:**

- Package version: v3.5.0
- reac

[2021-06-07 20:49] vishalnarkhede commented on #703
@FabDuarte quick hint ... `stream-chat-react-native` package is this one https://github.com/GetStream/stream-chat-react-native/tree/master/native-package. The root directory is `stream-chat-react-native-core`

[2021-06-07 20:50] #703 closed

[2021-06-07 20:59] FabDuarte commented on #703
Let me know If I understand how we should do it:
We fork this repository and then in the package.json we'll have these dependencies?

[code]

Thanks

[2021-06-07 22:09] FabDuarte commented on #703
@vishalnarkhede I did what I commented earlier, the app is working now, but I don't see my changes on the forked version.
Do you know why?

[2021-06-08 04:16] liviavinci opened #704 "(0, _reactNativeReanimated.useSharedValue) is not a function. I was following this https://getstream.io/chat/react-native-chat/tutorial/#add-stream-chat-to-your-application tutorial to integration Stream Chat within my app. However I got this error."
TypeError: (0, _reactNativeReanimated.useSharedValue) is not a function. (In '(0, _reactNativeReanimated.useSharedValue)(0)', '(0, _reactNativeReanimated.useSharedValue)' is undefined)

This error is located at:
    in Spinner{spinner} (at LoadingIndicator.tsx:32)
    in RCTView (at View.js:34)
    in View (at LoadingIndicator.tsx:31)
    in LoadingIndicatorWrapper (at LoadingIndicator.tsx:64)

[2021-06-08 06:58] vishalnarkhede commented on #704
Hey @liviavinci you are missing the installationsteps for Reanimated package - https://docs.swmansion.com/react-native-reanimated/docs/2.0.0-rc.2/installation#installing-the-package

[2021-06-08 06:58] #704 closed

[2021-06-08 07:04] vishalnarkhede commented on #703
@FabDuarte maybe this is helpful? https://github.com/GetStream/stream-chat-react-native/wiki/Dev-setup-for-contributing-to-the-library#-300

[2021-06-08 17:16] #701 closed

[2021-06-09 00:08] FabDuarte commented on #703
@vishalnarkhede we couldn't make it work.
I think that document is outdated becasue if you run `yarn link;` inside the `stream-chat-react-native` folder, it will create a link for the core library instead. That's different on the documentation.

And when using the link reference on the package.json we are getting errors, the library is not found, even when we see it on the node_modules.

Are we mi

[2021-06-09 14:52] lucaswhitman commented on #676
@vishalnarkhede any progress?

[2021-06-14 14:58] shodgetts commented on #542
Hi @fwdevin 👋  I'm Stephen from the Customer Success department. The React-native team would love to get on a call with you to help you debug this. Can you please drop us an email ad support@getstream.io to get the ball rolling here. Let's set something up this week to get you unblocked.

[2021-06-14 15:49] spyshower commented on #541
I have the same problem. Can't use the package

[2021-06-14 19:09] fwdevin commented on #542
I reached out, thanks.

[2021-06-15 20:51] jamesdunay opened #711 "Shadow banned users still sending push notifications"
We're working on implementing the new shadow ban moderation feature and ran into an issue where users that have been globally shadow banned, i.e. shadowed:true are still generating push notifications when they message other users.

Was wondering if there was a way to exclude them from sending push notifications, since those are handled by stream?

[2021-06-16 21:55] lucaswhitman commented on #676
Okay, figured this out and patched ourselves since no one was responding.

[code]

[2021-06-22 15:41] vishalnarkhede commented on #542
As discussed on call, this has been resolved :)

[2021-06-22 15:41] #542 closed

[2021-06-22 15:50] jaredpiedt opened #719 "File Picker modal is cutoff at the bottom"
**Describe the bug**
File Picker modal is cutoff at the bottom.

**Dev environment info:**

- stream-chat-expo
- 3.6.0-rc.0
- iPhone 12 Pro, iOS 14.6

**To Reproduce**

1. Go to channel screen
2. Click on attachment icon
3. Click on file picker icon
4. Notice the "Recents" and "Browse" buttons are cut off

**Expected behavior**
Expect modal to not be cutoff

**Additional context**
This is reproduc

[2021-06-22 15:51] jaredpiedt commented on #719
This also happens on the camera screen as well:

<img src="https://user-images.githubusercontent.com/6234815/122957607-19e1b980-d350-11eb-8951-b138dc876a78.png" width="400px" />

[2021-06-23 11:32] kinjal34 opened #722 "Thread Screen align message as Top (as right now its bottom align)"
Image upload continue loading and pdf working fine, yes checked doc and also demo,

@AnatolyRugalev can you please check!

 Check attachment,

 also I am using react-native-steam-chat v 3.0.0

[2021-06-23 17:06] giautm commented on #694
Still not fix in the latest release 🥲

[2021-06-25 20:19] diegobugs commented on #537
For those having this same issue, I found a workaround.

Passing an empty component like this `() => null` to imageComponent on OverlayProvider fixes the FPS drop.

[code]

I will look into getStream code to try to find the issue and a possible fix.
@vishalnarkhede

[2021-06-26 04:25] StronkMan opened #726 "addMembers does not include any user properties"
**Describe the bug**
In demo, addMembers does not include the user properties but the `id`

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): 3.6.0
- react-native or expo version: 0.64.2
- Device/Emulator (android/ios) and OS version: iphonesimulator 14.5

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-29 13:57] vishalnarkhede commented on #722
Hey @kinjal34 Do you get some error in console?

[2021-06-29 14:10] kinjal34 commented on #722
@vishalnarkhede This is fixed now its working I changed customisation so working now!!

Now didn't find solution for emoji keyboard do you have any idea to open emoji keyboard ?

Below screen which contains button for emoji but not any solution for how to open emoji keyboard!

![deskk](https://user-images.githubusercontent.com/86356067/123812614-d9ff7100-d911-11eb-901c-f39f000efa73.png)

[2021-06-29 16:08] jamesdunay opened #729 "Crash on android 3.5.0"
Hey guys, we recently upgraded both AWS Amplify and stream-chat, (versions below) and have started running into crashes on any screen that has a ChannelList

I've tried both of the solutions offered in these two issues, but still no dice.
https://github.com/GetStream/stream-chat-react-native/issues/584
https://github.com/GetStream/stream-chat-react-native/issues/549#issuecomment-796974121

Some of

[2021-06-30 09:21] YohaanYoon commented on #618
@vishalnarkhede

Please check it again

[2021-06-30 09:26] vishalnarkhede commented on #729
@jamesdunay What version of react-native-reanimated are you using?

[2021-06-30 16:18] jamesdunay commented on #729
react-native-reanimated: "2.2.0"

[2021-07-02 00:24] russellsutt opened #732 "setImages undefined after attempted upgrade"
Trying to upgrade Stream Chat. Upgrade now produces setImage in MessageList is undefined.

- New Package version (stream-chat-react-native/stream-chat-expo)
        "stream-chat": "^3.11.0",
        "stream-chat-react-native": "^3.6.0",
        "react-native": "^0.62.0",

- Current, Working package versions:
         "stream-chat": "^1.7.0",
         "stream-chat-react-native": "^0.14.0",

[2021-07-02 05:32] kinjal34 commented on #722
@vishalnarkhede  can you please update as its minor UI change ?

how can we align thread all message align from top. right now its bottom align.

[2021-07-02 12:26] nhannah commented on #732
Please check you have implemented the OverlayProvider.

[2021-07-02 13:26] #732 closed

[2021-07-02 13:27] vishalnarkhede commented on #729
Ok for 2.2.0, I think you should upgrade to `stream-chat-react-native@3.6.0`

[2021-07-02 13:28] #729 closed

[2021-07-08 14:12] vishalnarkhede commented on #676
Hey @lucaswhitman sorry for the delays. But ideally we want the thread parent message to be non-interactive. We have added this change as part of v3.6.0

[2021-07-08 14:12] #676 closed

[2021-07-08 14:13] vishalnarkhede commented on #603
Closing this since there was no response. Please reopen if you still need help here.

[2021-07-08 14:13] #603 closed

[2021-07-10 11:26] liviavinci opened #741 "ERROR: make: *** No targets specified and no makefile found. Stop."
I followed the example app instruction:

git clone https://github.com/GetStream/stream-chat-react-native.git
cd stream-chat-react-native
make

When I ran "make" it give me error: make: *** No targets specified and no makefile found.  Stop.

[2021-07-10 17:58] tsirlucas commented on #741
Hey @liviavinci we are working on a few changes in the app structure on our development branch. If you're using it you can cd to `stream-chat-react-native/package` instead. Gonna keep this opened as a reminder to change the instructions on the README file. Let me know if things work out!

[2021-07-11 08:23] liviavinci commented on #741
@tsirlucas thank you very much! it works great!

[2021-07-13 09:20] NaumanMoazzam opened #744 "Invalid Hook call when using Channel List."
**Describe the bug**
I installed the package and tried to run it just like the instructions. I get the error, Invalid Hook call.

**Dev environment info (please complete/provide the following information):**

- Package version: stream-chat-react-native
- react-native
- Emulator: android

**Expected behavior**
I should get my channel lists.

![Screenshot_1626168040](https://user-images.githubuserco

[2021-07-13 11:38] vishalnarkhede commented on #744
Just to confirm, have you followed all the installation steps mentioned here - http://localhost:3000/chat/docs/sdk/reactnative/#installation

[2021-07-13 11:38] #741 closed

[2021-07-13 11:59] dakshbhardwaj opened #745 "White space when sending an ordered list message."
**Describe the bug**
White space when sending an ordered list message.

**Dev environment info (please complete/provide the following information):**
- stream-chat-react-native : 3.6.1
- react-native : 0.64.1
- Any Android/iOS device

**To Reproduce**
- Try to send any message in the ordered list.
   Ex - 1. abcd

**Expected behavior**
Full message should be displayed in chat.

**Additional contex

[2021-07-13 12:48] NaumanMoazzam commented on #744
@vishalnarkhede Yes, followed every step.

[2021-07-13 12:50] MilapKundalia opened #746 "Error: Invalid hook call. Hooks can only be called inside of the body of a function component."
Hello Team,

We are facing some weird issues when we try to fetch channel details using the chat id, please find more details below

**Error**: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Ru

[2021-07-13 13:13] vishalnarkhede commented on #746
Have you added `OverlayProvider`?

[2021-07-13 13:37] MilapKundalia commented on #746
Hello @vishalnarkhede
Tried adding OverlayProvider but haveing same error

[code]

Let me know if you need any other info

[2021-07-13 17:18] BenHurMartins commented on #746
Hi, if I am not wrong hooks only can be used inside a functional component, and the code you posted is a class component.

[2021-07-13 17:27] MilapKundalia commented on #746
yes @BenHurMartins we have used class components in the whole app we haven't used hooks in our class components

[2021-07-13 23:23] nhannah commented on #746
I would check #1 and #2, is something else using React or React Native as a dependency instead of peer dependency? Also the `Channel` component has a built in keyboard avoiding view that will likely collide in your current setup.

[2021-07-14 14:47] MilapKundalia commented on #746
@nhannah We solved the issue our react version was conflicting with the peer dependencies but now when I send a message we are getting **"TypeError: undefined is not an object (evaluating 'message.type)"**
![Simulator Screen Shot - iPhone 12 - 2021-07-14 at 20 13 16](https://user-images.githubusercontent.com/3378778/125641975-3b463a4f-e05c-401a-9fd8-1aa2380a01fc.png)

one more thing is we want to

[2021-07-14 14:50] vishalnarkhede commented on #746
Hey @MilapKundalia Please change the `Message` prop to `MessageSimple`. It looks like you are upgrading from v2 to v3. Some architectural changes were done between these version upgrades. I would recommend you to check our documentation for latest version - https://getstream.io/chat/docs/sdk/reactnative/basics/hello_stream_chat/

[2021-07-16 08:34] vishalnarkhede commented on #66
Hey we have published a new documentation for push with react-native - https://getstream.io/chat/docs/sdk/reactnative/guides/push-notifications/

[2021-07-16 08:34] #66 closed

[2021-07-16 08:34] vishalnarkhede commented on #452
https://getstream.io/chat/docs/sdk/reactnative/guides/push-notifications/

[2021-07-16 08:34] #452 closed

[2021-07-16 08:38] #746 closed

[2021-07-16 10:36] #673 closed

[2021-07-16 10:37] vishalnarkhede commented on #722
Hey @kinjal34 we have added this feature to our backlog. This involves implementing pagination support in forward direction, instead of backwards direction (the default behavior), so can't simply be a UI change.

[2021-07-16 10:37] #722 closed

[2021-07-16 11:02] vishalnarkhede commented on #744
@NaumanMoazzam couple of questions:

1. Are you using `npm` or `yarn`?
2. What version of react are you using in your app?

[2021-07-16 14:52] tsirlucas commented on #695
Hey @tuneerclixlogix can you send us the whole log? Gonna check that out and try to reproduce it somehow.

When you tested locally, were you using the same versions as the ones used in the app during the reported crashes? No need to do that now I'm asking in order to check if this is already fixed in newer versions once it didnt happen anymore.

Also, do you have some more info you used to try to

[2021-07-16 18:34] tsirlucas commented on #694
@giautm will be in the next one. probably early next week.

[2021-07-17 08:47] #694 closed

[2021-07-19 02:17] StronkMan commented on #726
Has this issue been looked into? @vishalnarkhede  This also happens when you update the channel server-side.

e.g.
Server: Receive webhook events after `channel.created` and promote the creator of the channel to a moderator.
Client: Channel receives ws push, then the updated `user` object within `member` is reduced to `id` only without other properties(name, image,...custom properties).

[2021-07-19 12:10] vishalnarkhede commented on #744
Also what version of stream-chat-react-native are you using? @NaumanMoazzam

[2021-07-19 15:59] vishalnarkhede commented on #694
:tada: This issue has been resolved in version 3.6.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/stream-chat-react-native-core/v/3.6.6)
- [GitHub release](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.6.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-20 12:29] #611 closed

[2021-07-20 13:05] vishalnarkhede commented on #611
:tada: This issue has been resolved in version 3.6.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/stream-chat-react-native-core/v/3.6.7)
- [GitHub release](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.6.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-20 13:08] vishalnarkhede commented on #561
@leena-sharma @fedex995 you can use this prop to remove onLongPress handler - https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#onlongpressmessage

[2021-07-20 16:50] #593 closed

[2021-07-24 09:30] alloystory opened #765 "No push notifications when app is in background"
**Describe the bug**
There seems to be additional websockets created when the app goes through a specific flow of steps (see repro section). This causes the app to have live websockets even when the app is in background. As a result, no push notifications come through until the app is forcibly closed.

**Dev environment info (please complete/provide the following information):**

- Package version

[2021-07-30 21:15] jehartzog opened #783 "Upgrade regression on stream-chat-js 3.11.0: ChannelList fails to load first time after app launch"
We upgraded today and immediately noticed a blocking regression. After a fresh load of the app the ChannelList fails to load any changes, leaving the loading animation running.

We can bypass the error state by trigger a fast refresh in dev, or by backgrounding for a while then resuming, but the app is currently unusable after the upgrade.

## Reproduction

1. Hard kill app
2. Open app with authen

[2021-08-02 09:46] vishalnarkhede commented on #744
Hey closing this due to inactivity. But seems like this issue occurs due to some conflicting version of `react`

[2021-08-02 09:46] #744 closed

[2021-08-02 09:48] vishalnarkhede commented on #765
Hey @alloystory could you please confirm how you are initiating the chat client?

1. `const chatClient = new StreamChat(apikey)`
2. `const chatClient = StreamChat.getInstance(apiKey)`

[2021-08-02 12:58] alloystory commented on #765
the second method

[2021-08-04 13:06] vishalnarkhede commented on #783
@jehartzog I will take a look at get back asap :)

[2021-08-05 05:10] Drzaln commented on #40
Hi, i get this bug too in v^3.6.1
I have bottom navigation and keyboard covering half of the text input

![image](https://user-images.githubusercontent.com/33492469/128294264-1a003907-7fc3-4b17-8cae-f09824ee6cfd.png)

[2021-08-05 07:49] vishalnarkhede commented on #40
Hey @Drzaln could you try this prop - https://getstream.io/chat/docs/sdk/reactnative/core-components/channel/#keyboardverticaloffset

[2021-08-06 10:47] gilbertl opened #792 "usePaginatedChannels doesn't reload if filters change quickly"
**Describe the bug**
usePaginatedChannels will use stale filters / sort conditions if filters change in quick succession

**Dev environment info (please complete/provide the following information):**

- stream-chat-react-native
- react-native 0.64
- Device/Emulator (android/ios): Android device

**To Reproduce**
Steps to reproduce the behavior:

1. Display <ChannelList >with a dynamic filter

[cod

[2021-08-07 16:03] giautm opened #794 "Feature Request: Support for custom avatar/name in SimpleMessage"
Currently, to custom avatar/name in a channel with multi-users. I have to write custom components (MessageAvatar and MessageFooter) for them.

Common case to see is: I have a group chat with employers from companies, they chat as their company. So, I have to show Company Logo and Company Name instead of their name. All information ready attached to User profile. But I can't custom it for now.

See

[2021-08-09 16:47] jehartzog commented on #792
Possible dup of #678. We ended up not using the `filter` prop dynamically, as it was too challenging to get the client to behave correctly. We instead use our API to add/remove users from channels as needed.

[2021-08-09 18:16] jehartzog commented on #783
I have confirmed GetStream/stream-chat-js#698 caused the regression we're seeing. We [forked and reverted that PR](https://github.com/ourfabriq/stream-chat-js/tree/fork/3.13.1-remove-regression), and the regression is gone.

[2021-08-09 21:46] Shaninnik opened #795 "OverlayProvider breaks react navigation createNativeStackNavigator on Android"
**Describe the bug**
Following docs I have my navigators wrapped with OverlayContainer. In my case I am using react-navigation/react-native-screens/createNativeStackNavigator for performance gains and native feel. Works perfect on iOS but on Android whenever I try pushing new screen into stack it starts to behave unpredictable and completely unusable. It looks like entire app container opacity cha

[2021-08-10 15:12] Shaninnik commented on #795
After some more debugging I've found the culprit: <BlurView> in <OverlayProvider> component. It seems like it might be connected with this issue: Kureev/react-native-blur/issues/428

Doing something like this in OverlayProvider line 223 completely fixes it for me:

[code]

As the side note I've noticed that BlurView is completely unpredictable on Android in general and I in my code I use it only o

[2021-08-11 19:27] NicholasBoccuzzi commented on #541
I had the same issue -- I switched to `yarn` the same as @choibles and the error is no longer occurring. @choibles do you know why this might be the case?

And @nhannah, is there any intention to resolve the issue? When attempting to follow the first tutorial provided through the getstream website, I was immediately met with the same error @choibles shared above: https://getstream.io/chat/react-na

[2021-08-11 20:54] NicholasBoccuzzi opened #798 "Tutorial Broken when using NPM Install (npm 7.20.3) but Yarn Install works (1.22.11)"
**Describe the bug**
Immediately receive the hooks error when attempting step 1 `Add Stream Chat to your application` from this tutorial: https://getstream.io/chat/react-native-chat/tutorial/

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
  - stream-chat `"^3.13.1`
  - stream-chat-react-native: `"^3.7.2"

[2021-08-12 19:36] tsirlucas commented on #798
Probably related to #541 and #744

[2021-08-12 19:51] tsirlucas commented on #798
Maybe related to this: https://github.com/facebook/react/issues/13991

@NicholasBoccuzzi can you run `npm ls react-dom`, `npm ls react-native` and  `npm ls react` as explained [here](https://reactjs.org/warnings/invalid-hook-call-warning.html#mismatching-versions-of-react-and-react-dom) or [here](npm ls react)

[2021-08-12 20:35] NicholasBoccuzzi commented on #798
Hi @tsirlucas! I received the following when running:

## npm ls react

[code]

[2021-08-13 22:49] tsirlucas commented on #798
Hey @NicholasBoccuzzi , Im sorry but I didnt have the change to have a look at it today. For what I see it seems like there are some conflicts of react and react native with some of the libraries we use internally. Gonna check that out on monday.

[2021-08-16 13:23] inbalvenn opened #801 "Can't add custom MessageOverlay"
**Describe the bug**
Following docs, I want to change OverlayMessage alignment and padding. Since it's not a functional change, I turned to work with theme, but it wasn't enough for my needs, so I tried to add my own MessageOverlay, using OverlayProvider, like this:
    <OverlayProvider value={{ style: theme }} MessageOverlay={CustomMessageOverlay}>...</OverlayProvider>
My custom MessageOverlay di

[2021-08-17 10:19] vishalnarkhede commented on #783
@jehartzog Do you receive some error regarding some failed api call?

[2021-08-17 14:26] jehartzog commented on #783
@vishalnarkhede no, only differences noticed are those listed under 'Error Details' above. I didn't troubleshoot very far, after I confirmed https://github.com/GetStream/stream-chat-js/pull/698 was causing the issue, I forked and reverted that PR which restored basic functionality.

I suspect minor timing differences in your connection code is triggering a race condition in the hooks/effects you u

[2021-08-17 16:10] tsirlucas commented on #798
Hey @NicholasBoccuzzi just pinging you to tell that we didnt forget about it. I've been working on some other stuff lately but just had a call with @vishalnarkhede and hes gonna take over from here

[2021-08-18 13:38] shodgetts opened #808 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo)
- react-native or expo version
- Device/Emulator (android/ios) and OS version

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '..

[2021-08-18 13:59] xsahil03x commented on #808
@shodgetts unable to reproduce, Closing in 5m

[2021-08-18 18:49] jeffjvick opened #809 "Channel unread count not reseting in <ChannelList> when message arrives when app is minimized."
**Describe the bug**
We are using <ChannelList> in our app in a fairly cookie cutter manner.  It is correctly displaying the channels and the unread counts on each channel when new messages come in.  We are seeing an issue though when new messages arrive when the app is minimized, you open the app and click on the channel and come back to the <ChannelList> and the unread count isn't getting reset.

[2021-08-18 19:42] decamps-enmanuel commented on #555
Has this been fixed? Custom sorting works until I send a message in any channel and the sort just forces last_message_at: -1.

[2021-08-19 06:29] petyosi opened #811 "Gitzen test"
testing Gitzen integration

[2021-08-19 06:30] petyosi opened #812 "gitzen test"
gitzen test

[2021-08-19 06:31] streamiosupport commented on #812
Agent comment from Petyo Ivanov in <a href='https://getstream.zendesk.com/agent/tickets/14445'>Zendesk ticket #14445</a>:<br><br>(wave) test
<br><p><em><small>°°°</small></em></p>

[2021-08-19 07:34] vishalnarkhede commented on #555
@decamps-enmanuel Please take a look at this guide for adding custom sorting on event based updates - https://getstream.io/chat/docs/sdk/reactnative/guides/customize-channel-list/#customizing-event-handlers

[2021-08-19 16:41] iMJumpmxn opened #815 "ReferenceError: Can't find variable: _stopObservingProgress"
**Describe the bug**
Hello, i got the following error after upgrading to react-native: 0.65

[code]

**Dev environment info (please complete/provide the following information):**

- Package version: 3.7.2
- react-native: 0.65
- Device: android

gz#14461

[2021-08-19 16:55] streamiosupport commented on #815
Agent comment from Cody Smith in <a href='https://getstream.zendesk.com/agent/tickets/14461'>Zendesk ticket #14461</a>:<br><br>Hi there,
Thanks for reporting this, I'll take a look with our react-native team to determine what this issue might be and get back to you as soon as I find anything out.

Regards,
Cody
<br><p><em><small>°°°</small></em></p>

[2021-08-19 23:36] alloystory opened #816 "similar mentions in message is not displayed correctly"
**Describe the bug**
example: `@abc @abcd hi guys`
in this case, the message will be displayed as `<link>@abc</link> <link>@abc</link>d hi guys` where `<link>` refers to the part of the text that is pressable

i think the main reason for this is because the logic to split the text by mentioned users uses a generic regex, where `@abc` is greedily matched for both cases

**Dev environment info (plea

[2021-08-19 23:42] streamiosupport commented on #816
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14467'>Zendesk ticket #14467</a>:<br><br>Hi

Thanks for reaching out to us.
Let me check this and come back to you soon.

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-08-20 12:47] tsirlucas commented on #815
Hey @iMJumpmxn did a quick research at the error message and it seems like the _stopObservingProgress is being used from `react-native-reanimated`. Which version of that library are you using? Can you try to update to the newest one?

Found a lot of issues about RN 0.65 compatibility in their repo so maybe theyre not supporting it yet.

[2021-08-20 14:42] tsirlucas commented on #798
Hey @NicholasBoccuzzi, we have a fix for that on #804. If you still have this problem after that fix is released, please have a look at [this comment](https://github.com/GetStream/stream-chat-react-native/pull/804#issuecomment-902740315) I've made talking about how I've fixed the same problem in our SampleApp.

[2021-08-20 14:43] NicholasBoccuzzi commented on #798
Hey Lucas! Thank you so much! Happy to hear that you were able to solve the
problem. I really appreciate it.

On Fri, Aug 20, 2021 at 10:42 AM Lucas Correia ***@***.***>
wrote:

[2021-08-20 15:10] vishalnarkhede commented on #798
:tada: This issue has been resolved in version 3.7.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/stream-chat-react-native-core/v/3.7.3)
- [GitHub release](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.7.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-20 15:11] tsirlucas commented on #798
Hey @NicholasBoccuzzi closing this for now please reopen if the problem persists!

[2021-08-20 15:11] #798 closed

[2021-08-20 15:12] tsirlucas commented on #541
Fixed on [v3.7.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.7.3)

[2021-08-20 15:12] tsirlucas commented on #744
Fixed on [v3.7.3](https://github.com/GetStream/stream-chat-react-native/releases/tag/v3.7.3)

[2021-08-20 20:54] vishalnarkhede commented on #815
@iMJumpmxn could you please try upgrading reanimated version to `2.3.0-alpha.2`?

[2021-08-23 06:12] streamiosupport commented on #816
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/14467'>Zendesk ticket #14467</a>:<br><br>Hi

I am sorry, I am unable to reproduce this issue locally.
If you don't mind, will it be possible for you to send a video recording of the issue?

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-08-23 15:44] ronbelson opened #819 "can't install stream-chat-expo @3.7.3 with expo@42.0.3"
npm  install stream-chat-expo
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: undefined@undefined
npm ERR! Found: expo@42.0.3
npm ERR! node_modules/expo
npm ERR!   expo@"^42.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer expo@"^41.0.1" from stream-chat-expo@3.7.3
npm ERR! node_modules/stream-cha

[2021-08-23 15:47] streamiosupport commented on #819
Agent comment from Zachery Converse in <a href='https://getstream.zendesk.com/agent/tickets/14529'>Zendesk ticket #14529</a>:<br><br>Hello,

Thanks for reaching out! Would you please provide your App ID and a description of your issue installing stream-chat-expo.

Feel free to let us know if you have any additional information or questions.

Cheers,
-Zachery
 Getstream.io
<br><p><em><small>°°°</sm

[2021-08-23 15:54] ronbelson commented on #819
Hi,

AppID: 1136143 {Newbie)

[2021-08-23 16:35] streamiosupport commented on #819
Agent comment from Zachery Converse in <a href='https://getstream.zendesk.com/agent/tickets/14529'>Zendesk ticket #14529</a>:<br><br>Hi Ron,

This does not seem to be a Stream issue so I will close it, but I can attempt to assist:

Usually using `--legacy-peer-deps` makes it work.

If that doesn't work, another option is to downgrade to `npm` 6.

And if all else fails, remove the `node_modules` di

[2021-08-23 17:12] #819 closed

[2021-08-23 21:30] Marcoo09 commented on #375
@damithsynapsys what library yo update to 0.69.0?

[2021-08-23 22:42] Marcoo09 commented on #375
I still have this error both on android and ios.
I tried upgrading flipper to 0.69.0 but not fix the error.
    "stream-chat-react-native": "3.0.0",
    "@react-native-community/cameraroll": "4.0.2",

Any suggestion? @vishalnarkhede

Thanks in advance!

[2021-08-24 06:26] vishalnarkhede commented on #375
@Marcoo09 Have you test without flipper? Also could you please try upgrading `stream-chat-react-native` to latest version - 3.7.2

[2021-08-24 13:12] vishalnarkhede commented on #795
Hey @Shaninnik sorry for the delays but glad that its resolve. Additionally you can take a look at this - https://getstream.io/chat/docs/sdk/reactnative/basics/troubleshooting/#android-5

[2021-08-24 13:12] #795 closed

[2021-08-24 15:04] Marcoo09 commented on #375
Thanks Vishal @vishalnarkhede for the quick response.

Now I installed the 3.7.2 and remove flipper from both, android and ios:

- On IOS its working now
- On android I continue with the network error
- On both I can send images as attachement or take a photo
<img width="372" alt="Screen Shot 2021-08-24 at 12 00 18" src="https://user-images.githubusercontent.com/18408823/130640693-3b8a4041-7ac8-48

[2021-08-24 15:31] Shaninnik commented on #795
@vishalnarkhede this is not resolved, I just found a solution/temp fix for the issue but you need to use `patch-package` to make changes in installed node_modules, it works but it is hardly ideal. The link you posted describes a NullPointerException/crash, my issue is different. Current implementation of `OverlayProvider` is completely unusable with `createNativeStackNavigator`. I am happy to make